{% extends '@App/admin/system_config/config.html.twig' %}

{% block tabBody %}
<div class="col-12 row">
    <div class="col-md-12 text-right p-0 mb-20">
        <a class="btn btn-theme-primary btn-add-doc" href="{{ path('system_country_new') }}" >
            <i class="fa fa-plus"></i> {{ 'system.country.add_country'|trans }}
        </a>
    </div>
    <div class="table-responsive col-12">
        <table class="table" id="doc-type-table">
            <thead>
            <tr>
                <th>{{ 'system.country.table.flag'|trans }}</th>
                <th>{{ 'system.country.table.name'|trans }}</th>
                <th>{{ 'system.country.table.currency'|trans }}</th>
                <th>{{ 'system.country.table.default_language'|trans }}</th>
                <th class="text-nowrap"></th>
            </tr>
            </thead>
            <tbody>
            {% for country in countries %}
                <tr data-value="{{ country.identifier }}">
                    <td><img width="35" src="{{ country.flag }}" alt="{{ country.name }} flag"></td>
                    <td>{{ country.name }}</td>
                    <td>{{ country.currencyName }}({{ country.currencySymbol }})</td>
                    <td>{{ country.defaultLanguage.name }}</td>
                    <td class="text-nowrap">
                        <button class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic disable-country-btn text-success {% if not country.enabled %} hidden {% endif %}"
                                data-url="{{ path('system_country_update_enable',{identifier:country.identifier}) }}" data-toggle="tooltip" data-original-title="{{'system.category.table.disable'|trans}}">
                            <i class="fas fa-toggle-on" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic enable-country-btn {% if country.enabled %} hidden {% endif %}"
                                data-url="{{ path('system_country_update_enable',{identifier:country.identifier}) }}" data-toggle="tooltip" data-original-title="{{'system.category.table.enable'|trans}}">
                            <i class="fas fa-toggle-off" aria-hidden="true"></i>
                        </button>
                        <a class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic"
                           href="{{ path('system_country_edit', {'identifier':  country.identifier}) }}">
                            <i data-toggle="tooltip" data-original-title="{{ 'system.documents.table.edit'|trans }}"
                               class="fas fa-cog" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
      $(document).ready(function(){
        $('.enable-country-btn').on('click', function () {
          let elem = $(this);
          $.ajax({
            url: elem.data('url'),
            method: 'PATCH',
            beforeSend: function () {
              elem.closest('tr').loading()
            },
            success: function (response) {
              elem.closest('tr').loading('stop');
              elem.addClass('hidden');
              elem.closest('tr').find('.disable-country-btn').removeClass('hidden');
              miniToaster.fire({
                type: 'success',
                title: response.message
              });
            },
            error: function (e) {
              elem.closest('tr').loading('stop')
            }
          });
        });
        $('.disable-country-btn').on('click', function () {
          let elem = $(this);
          $.ajax({
            url: elem.data('url'),
            method: 'PATCH',
            beforeSend: function () {
              elem.closest('tr').loading()
            },
            success: function (response) {
              elem.closest('tr').loading('stop');
              elem.addClass('hidden');
              elem.closest('tr').find('.enable-country-btn').removeClass('hidden');
              miniToaster.fire({
                type: 'success',
                title: response.message
              });
            },
            error: function (e) {
              elem.closest('tr').loading('stop')
            }
          });
        });
      });
    </script>
{% endblock %}