{% extends "AppBundle:admin/parts:layout.html.twig" %}
{% block title %}{{ 'side_menu.settings'|trans }} - {{ 'system.country.edit_country'|trans }} {% endblock %}
{% block stylesheets %}
    <style>
        #flag-preview {
            width: 150px;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('system_general') }}">{{ 'side_menu.settings'|trans }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('system_countries') }}">{{ 'system.country.title'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">{{ 'system.country.edit_country'|trans }}</li>
        </ol>
        <h1 class="page-title">{{ 'system.country.edit_country'|trans }}</h1>
    </div>
    <div class="page-content container-fluid">
        <div class="panel" data-plugin="matchHeight" data-by-row="true">
            {{ form_start(form) }}
            <div class="row p-20">
                {{ form_widget(form.identifier,{type:'hidden'}) }}
                {{ form_widget(form.flag,{type:'hidden'}) }}
                <div class="col-6 offset-3 text-center">
                    <img id="flag-preview" src="{{ country.flag }}" alt="{{ country.name }}">
                </div>
                <div class="form-group col-md-6 offset-3">
                    {{ form_label(form.name) }}
                    <div class="form-line">
                        {{ form_widget(form.name,{attr:{class:'form-control req'}}) }}
                    </div>
                </div>
                <div class="form-group col-md-6 offset-3">
                    {{ form_label(form.currencyName) }}
                    <div class="form-line">
                        {{ form_widget(form.currencyName,{attr:{class:'form-control req'}}) }}
                    </div>
                </div>
                <div class="form-group col-md-6 offset-3">
                    {{ form_label(form.currencySymbol) }}
                    <div class="form-line">
                        {{ form_widget(form.currencySymbol,{attr:{class:'form-control req'}}) }}
                    </div>
                </div>
                <div class="form-group col-md-6 offset-3">
                    {{ form_label(form.currencyCode) }}
                    <div class="form-line">
                        {{ form_widget(form.currencyCode,{attr:{class:'form-control req'}}) }}
                    </div>
                </div>
                <div class="form-group col-md-6 offset-3">
                    {{ form_label(form.currencyExchange ) }}
                    <div class="form-line">
                        {% for  currencyExchange in  form.currencyExchange %}
                            <div class="col-12 mt-5 row {% if  currencyExchange.vars.value.toCurrency == country.currencyCode%} hidden {% endif %}" style="line-height: 38px;padding: 0">
                                <div class="col-1">{{ currencyExchange.vars.value.toCurrency }}</div>
                                <div class="col-10">
                                    {{ form_widget(currencyExchange) }}
                                </div>
                            </div>
                        {% endfor %}
                        <small class="font-weight-bolder text-danger">
                            {{ 'system.country.currency_exchange_usd_alert'|trans }}
                        </small>
                    </div>
                </div>
                <div class="form-group col-md-6 offset-3">
                    {{ form_label(form.defaultLanguage) }}
                    <div class="form-line">
                        {{ form_widget(form.defaultLanguage,{attr:{class:'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group col-md-6 offset-3">
                    {% include '@App/admin/system_config/system-config-form.html.twig' with {'configForm':form.config,'config':country.config} %}
                </div>
                <div class="col-12 text-center mt-20">
                    <button type="submit"
                            class="btn btn-theme-primary">{{ 'system.country.update_country'|trans }}</button>
                </div>
            </div>
            {{ form_row(form._token) }}
            {{ form_end(form,{render_rest:false}) }}
        </div>
    </div>
{% endblock body %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/plugins/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('assets/admin/plugins/tinymce/jquery.tinymce.min.js') }}"></script>
    <script>
      $(document).ready(function () {
        $('.btn-add-profits').on('click', function (e) {
          e.preventDefault();
          let index = $('.profit-config-block').length;
          let inputName = $(this).data('name');
          let block = `
                   <div class="form-line d-flex profit-config-block mb-10">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">${$(this).data('min')}</span>
                                </div>
                                <input class="form-control number-validate config-input required" type="number" name="${inputName}[${index}][min]"
                                       value="0" data-min="0">
                            </div>
                            <span class="error-msg">${$(this).data('required-msg')}</span>
                        </div>
                        <div class="form-group ml-10">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">${$(this).data('max')}</span>
                                </div>
                                <input class="form-control number-validate config-input required" type="number" name="${inputName}[${index}][max]"
                                       value="0" data-min="0">
                            </div>
                            <span class="error-msg">${$(this).data('required-msg')}</span>
                        </div>
                        <div class="form-group ml-10">
                            <div class="input-group">
                                <input class="form-control number-validate config-input required" type="number" name="${inputName}[${index}][percent]"
                                       value="0" data-min="0" data-max="100">
                                 <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                 </div>
                            </div>
                            <span class="error-msg">${$(this).data('required-msg')}</span>
                        </div>
                        <div class="ml-10">
                            <button class="btn  btn-sm btn-icon btn-round waves-effect btn-flat btn-clean waves-classic
                                             waves-effect waves-classic btn-remove-profit" data-toggle="tooltip">
                                <i class="fa fa-trash-alt font-size-16"></i>
                            </button>
                        </div>
                    </div>
                `;
          $('#profits-container').append($(block));
        });
        $(document).on('click', '.btn-remove-profit', function (e) {
          e.preventDefault();
          $(this).closest('.profit-config-block').remove();
        });

        tinymce.init({
          selector: '.invoice-template',
          plugins: 'print preview searchreplace autolink directionality  visualblocks visualchars fullscreen image link  table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcount   imagetools  contextmenu colorpicker textpattern help',
          toolbar1: 'formatselect | bold italic underline strikethrough forecolor backcolor fontsizeselect fontselect | link | alignleft aligncenter alignright alignjustify  | table tabledelete | tableprops tablerowprops tablecellprops | tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol | numlist bullist outdent indent  | removeformat',
          height: 500,
          menubar: "file | edit | view| table | format | insert",
          toolbar: "print",
          relative_urls : false,
          remove_script_host : false,
          convert_urls : true,
          image_list: [
            {title: 'maatloob icon v1', value: '{{asset('assets/img/logo/logo.png')}}'},
            {title: 'maatloob icon v2', value: '{{asset('assets/img/logo/logo_v2.png')}}'},
            {title: 'maatloob icon v3', value: '{{asset('assets/img/logo/logo_v3.png')}}'},
          ],
          directionality : $('html').attr('dir'),
          language: $('html').attr('lang'),
        });
      });
    </script>
{% endblock %}