{% extends "AppBundle:admin/parts:layout.html.twig" %}
{% block title %}{{ 'side_menu.settings'|trans }} - {{ 'system.country.add_country'|trans }} {% endblock %}
{% block stylesheets %}
    <style>
        #flag-preview{
            width: 150px;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('system_general') }}">{{ 'side_menu.settings'|trans }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('system_countries') }}#countryConfig">{{ 'system.country.title'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">{{ 'system.country.add_country'|trans }}</li>
        </ol>
        <h1 class="page-title">{{ 'system.country.add_country'|trans }}</h1>
    </div>
    <div class="page-content container-fluid">
        <div class="panel" data-plugin="matchHeight" data-by-row="true">
            {{ form_start(form) }}

            <div class="panel-body container-fluid">
                <div class="text-center">
                    <select class="selectpicker bootstrap-select col-4" name="" id="country-selector" data-live-search="true"
                            title="{{ 'system.country.choose_country'|trans }}">
                        {% for key,country in countryList %}
                            {% if key|lower not in activeCountries|keys %}
                            <option data-icon-path="{{ asset('assets/img/countries/'~key|lower~'.png') }}"
                                    data-currency-code="{{ country['currency']['code'] }}"
                                    data-icon="flag-icon flag-icon-{{ key|lower }}" data-languages="{{ country['languages']|join(',') }}"
                                    data-currency-name="{{ country['currency']['name'] }}" data-currency-symbol="{{ country['currency']['symbol_native'] }}"
                                    value="{{ key|lower }}">{{ country['name'] }} {% if country['name']!=country['native'] %}( {{ country['native'] }} ) {% endif %}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row p-20 hidden" id="country-container">
                {{ form_widget(form.identifier,{type:'hidden'}) }}
                {{ form_widget(form.flag,{type:'hidden'}) }}
                <div class="col-6 offset-3 text-center">
                    <img id="flag-preview" src="{{ asset('assets/img/flags/default.png') }}" alt="">
                </div>
                <div class="form-group col-md-6 offset-3">
                    {{ form_label(form.name) }}
                    <div class="form-line">
                        {{ form_widget(form.name,{attr:{class:'form-control req'}}) }}
                    </div>
                </div>
                <div class="form-group col-md-6 offset-3">
                    {{ form_label(form.currencyName) }}
                    <div class="form-line">
                        {{ form_widget(form.currencyName,{attr:{class:'form-control req'}}) }}
                    </div>
                </div>
                <div class="form-group col-md-6 offset-3">
                    {{ form_label(form.currencySymbol) }}
                    <div class="form-line">
                        {{ form_widget(form.currencySymbol,{attr:{class:'form-control req'}}) }}
                    </div>
                </div>
                <div class="form-group col-md-6 offset-3">
                    {{ form_label(form.currencyCode) }}
                    <div class="form-line">
                        {{ form_widget(form.currencyCode,{attr:{class:'form-control req'}}) }}
                    </div>
                </div>
                <div class="form-group col-md-6 offset-3">
                    {{ form_label(form.defaultLanguage) }}
                    <div class="form-line">
                        {{ form_widget(form.defaultLanguage,{attr:{class:'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group col-md-6 offset-3">
                    {% include '@App/admin/system_config/system-config-form.html.twig' with {'configForm':form.config,'config':country.config} %}
                </div>
                <div class="col-12 text-center mt-20">
                    <button type="submit" class="btn btn-theme-primary">{{ 'system.country.save_btn'|trans }}</button>
                </div>
            </div>
            {{ form_row(form._token) }}
            {{ form_end(form,{render_rest:false}) }}
        </div>
    </div>
{% endblock body %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/plugins/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('assets/admin/plugins/tinymce/jquery.tinymce.min.js') }}"></script>
    <script src="{{ asset('assets/admin/pages/countries/new.js') }}"></script>
{% endblock %}