{% if pageCount > 0 %}
<div class="table-pager col-12 p-sm-0 mt-sm-10">
    <div class="col-6 row">
        <div class="pager-size col-4 col-md-2 pl-0 pr-5">
            <select class="form-control selectpicker bootstrap-select table-pagination-length"
                    data-url="{{ path('save_table_page_length') }}" data-reload="{{ updateUrl(app.request,{page: 1}) }}">
                <option {% if app.session.get('tableLength',10) ==10 %} selected {% endif %} value="10">10</option>
                <option {% if app.session.get('tableLength') ==25 %} selected {% endif %} value="25">25</option>
                <option {% if app.session.get('tableLength') ==50 %} selected {% endif %} value="50">50</option>
                <option {% if app.session.get('tableLength') ==100 %} selected {% endif %} value="100">100</option>
            </select>
        </div>
        <span class="pager-showing-info">
                {{ 'table.pagination.showing'|trans|replace({'_showing_':firstItemNumber~' - '~lastItemNumber,'_total_':totalCount}) }}
        </span>
    </div>
    {% set classAlign = (align is not defined) ? '' : align=='center' ? ' justify-content-center' : (align=='right' ? ' justify-content-end' : '') %}
    {% set classSize = (size is not defined) ? '' : size=='large' ? ' pagination-lg' : (size=='small' ? ' pagination-sm' : '') %}
    <ul class="pager-nav col-6 col-xl-5 offset-xl-1 {{ classAlign }}{{ classSize }}">
        {% if previous is defined %}
            <li class="previous">
                <a data-toggle="tooltip" data-title="first" href="{{ updateUrl(app.request,{page: 1}) }}" class="pager-link">
                    <i class="flaticon2-fast-back"></i>
                </a>
            </li>
            <li class="previous">
                <a data-toggle="tooltip" data-title="previous" href="{{ updateUrl(app.request,{page: previous}) }}" class="pager-link">
                    <i class="flaticon2-back"></i>
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <a class="pager-link" href="javascript:;" tabindex="-1">
                    <i class="flaticon2-fast-back"></i>
                </a>
            </li>
            <li class="disabled">
                <a class="pager-link" href="javascript:;" tabindex="-1">
                    <i class="flaticon2-back"></i>
                </a>
            </li>
        {% endif %}
        {% if startPage > 1 %}
            <li>
                <a class="pager-link" href="{{ updateUrl(app.request,{page: 1}) }}">1</a>
            </li>
            {% if startPage == 3 %}
                <li>
                    <a class="pager-link" href="{{ updateUrl(app.request,{page: 2}) }}">2</a>
                </li>
            {% elseif startPage != 2 %}
                <li class="disabled">
                    <a class="pager-link more-page">....</a>
                </li>
            {% endif %}
        {% endif %}
        {% for page in pagesInRange %}
            {% if page == current %}
                <li>
                    <a class="pager-link active"
                       href="{{  updateUrl(app.request,{page: page}) }}">{{ page }} </a>
                </li>
            {% else %}
                <li>
                    <a class="pager-link"  href="{{ updateUrl(app.request,{page: page}) }}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if pageCount > endPage %}
            {% if pageCount > (endPage + 1) %}
                {% if pageCount > (endPage + 2) %}
                    <li class="disabled">
                        <a class="pager-link more-page">....</a>
                    </li>
                {% else %}
                    <li>
                        <a class="pager-link" href="{{ updateUrl(app.request,{page: pageCount -1 }) }}">{{ pageCount -1 }}</a>
                    </li>
                {% endif %}
            {% endif %}
            <li>
                <a class="pager-link" href="{{ updateUrl(app.request,{page: pageCount}) }}">{{ pageCount }}</a>
            </li>
        {% endif %}

        {% if next is defined %}
            <li class="next">
                <a data-toggle="tooltip" data-title="next" class="pager-link" href="{{updateUrl(app.request,{page: next}) }}"
                   aria-label="Next">
                    <i class="flaticon2-next"></i>
                </a>
            </li>
            <li class="next">
                <a data-toggle="tooltip" data-title="last" class="pager-link" href="{{ updateUrl(app.request,{page: pageCount}) }}"
                   aria-label="Next">
                    <i class="flaticon2-fast-next"></i>
                </a>
            </li>
        {% else %}
            <li class="next disabled">
                <a href="javascript:;" class="pager-link">
                    <i class="flaticon2-next"></i>
                </a>
            </li>
            <li class="next disabled">
                <a href="javascript:;" class="pager-link">
                    <i class="flaticon2-fast-next"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</div>
{% endif %}