.old-text-header, .new-text-header {
    position: absolute;
    padding: 2px 10px;
}

.message-block textarea {
    padding-top: 25px;
}

.message-block {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid lightgrey;
}

.message-block textarea.empty {
    border: 2px solid #E24C4B;
}

.message-block textarea ~ img {
    position: absolute;
    right: 25px;
    top: 10px;
}

html[dir="rtl"] .message-block textarea ~ img {
    right: inherit;
    left: 25px;
}

.message-block textarea.empty ~ .error-trans {
    display: block !important;
}

.message-block textarea.valid ~ .success-trans {
    display: block !important;
}

.message-block textarea.valid {
    border: 2px solid #6AC258;
}

.error-trans, .success-trans {
    display: none;
}

form{
    overflow: hidden;
}