{% extends "AppBundle:admin/parts:layout.html.twig" %}
{% block title %}{{ 'side_menu.settings'|trans }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/system/config.css') }}">
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a></li>
            <li class="breadcrumb-item active">{{ 'side_menu.settings'|trans }}</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="" data-plugin="matchHeight" data-by-row="true">
            <div class="panel-body container-fluid pt-0">
                <div class="nav-tabs-horizontal nav-tabs-inverse col-12" data-plugin="tabs">
                    <ul class="nav nav-tabs nav-tabs-solid" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link {% if app.request.attributes.get('_route') in ["system_general"] %}active{% endif %}"
                               href="{{ path('system_general') }}" >
                                <img src="{{ asset('assets/img/icon/technical-support.png') }}"> {{ 'system.general.title'|trans }}
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link {% if app.request.attributes.get('_route') in ["system_documents"] %}active{% endif %}"
                               href="{{ path('system_documents') }}" >
                                <img src="{{ asset('assets/img/icon/id-card.png') }}"> {{ 'system.documents.title'|trans }}
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link {% if app.request.attributes.get('_route') in ["system_task_categories"] %}active{% endif %}"
                                href="{{ path('system_task_categories') }}" >
                                <img src="{{ asset('assets/img/icon/list.png') }}">  {{ 'system.category.title'|trans }}
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link {% if app.request.attributes.get('_route') in ["system_pages"] %}active{% endif %}"
                               href="{{ path('system_pages') }}" >
                                <img src="{{ asset('assets/img/icon/browser.png') }}"> {{ 'system.pages.title'|trans }}
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link {% if app.request.attributes.get('_route') in ["system_languages"] %}active{% endif %}"
                               href="{{ path('system_languages') }}" >
                                <img src="{{ asset('assets/img/icon/language.png') }}"> {{ 'system.language.title'|trans }}
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link {% if app.request.attributes.get('_route') in ["system_countries"] %}active{% endif %}"
                               href="{{ path('system_countries') }}" >
                                <img src="{{ asset('assets/img/icon/world.png') }}"> {{ 'system.country.title'|trans }}
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link {% if app.request.attributes.get('_route') in ["system_administrators"] %}active{% endif %}"
                               href="{{ path('system_administrators') }}" >
                                <img src="{{ asset('assets/img/icon/administrators.png') }}"> {{ 'system.administrator.title'|trans }}
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content pt-15">
                        <div class="tab-pane active" role="tabpanel" aria-expanded="true">
                            {% block tabBody %}

                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}