{% extends '@App/admin/system_config/config.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/admin/plugins/noUiSlider/nouislider.min.css') }}">
{% endblock %}
{% block tabBody %}
<div class="general-config">
    {{ form_start(configForm,{id:"system_config"}) }}
    {% include '@App/admin/system_config/system-config-form.html.twig' with {'configForm':configForm} %}
    {{ form_row(configForm._token) }}
        <div class="row col-md-12 text-right p-0">
            <button id="save_settings" class="btn btn-primary">{{ 'system.general.save'|trans }}</button>
        </div>
    {{ form_end(configForm,{render_rest:false}) }}
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/plugins/noUiSlider/nouislider.min.js') }}"></script>
    <script src="{{ asset('assets/admin/plugins/noUiSlider/wNumb.js') }}"></script>
    <script src="{{ asset('assets/admin/plugins/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('assets/admin/plugins/tinymce/jquery.tinymce.min.js') }}"></script>
    {{ parent() }}
    <script>
      let imageList = [
        {title: 'maatloob icon v1', value: '{{asset('assets/img/logo/logo.png')}}'},
        {title: 'maatloob icon v2', value: '{{asset('assets/img/logo/logo_v2.png')}}'},
        {title: 'maatloob icon v3', value: '{{asset('assets/img/logo/logo_v3.png')}}'},
      ];
    </script>
  <script src="{{ asset('assets/admin/pages/system/general.config.js') }}"></script>
{% endblock %}