<div class="form-group">
    {{ form_label(configForm.taskProfits) }}
    <div class="form-line" id="profits-container">
        {% if config is defined and config.taskProfits|length>0 %}
            {% for configValue in config.taskProfits %}
                <div class="form-line d-flex profit-config-block mb-10">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ 'filter.min'|trans }}</span>
                            </div>
                            <input class="form-control config-input required number-validate" type="number" name="{{ configForm.taskProfits.vars.full_name }}[{{ loop.index-1 }}][min]"
                                   value="{{ configValue['min'] }}" data-min="1">
                        </div>
                        <span class="error-msg">{{ 'validation.required'|trans }}</span>
                    </div>
                    <div class="form-group ml-10">
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ 'filter.max'|trans }}</span>
                            </div>
                            <input class="form-control config-input required number-validate" type="number" name="{{ configForm.taskProfits.vars.full_name }}[{{ loop.index-1 }}][max]"
                                   value="{{ configValue['max']??0 }}" data-min="0" data-toggle="tooltip"
                                   title="{{ 'system.general.max_infinite'|trans }}">
                        </div>
                        <span class="error-msg">{{ 'validation.required'|trans }}</span>
                    </div>
                    <div class="form-group ml-10">
                        <div class="input-group ">
                            <input class="form-control config-input required number-validate tva-input" type="number" name="{{ configForm.taskProfits.vars.full_name }}[{{ loop.index-1 }}][percent]"
                                   value="{{ configValue['percent'] }}" data-min="0" data-max="100">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                        <span class="error-msg">{{ 'validation.required'|trans }}</span>
                    </div>
                    {% if loop.index > 1 %}
                        <div class="ml-10">
                            <button class="btn  btn-sm btn-icon btn-round waves-effect btn-flat btn-clean waves-classic
                                     waves-effect waves-classic btn-remove-profit" data-toggle="tooltip">
                                <i class="fa fa-trash-alt font-size-16"></i>
                            </button>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div class="form-line d-flex profit-config-block mb-10">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ 'filter.min'|trans }}</span>
                        </div>
                        <input class="form-control number-validate config-input required" type="number" name="{{ configForm.taskProfits.vars.full_name }}[0][min]"
                               value="0" data-min="0">
                    </div>
                    <span class="error-msg">{{ 'validation.required'|trans }}</span>
                </div>
                <div class="form-group ml-10">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ 'filter.max'|trans }}</span>
                        </div>
                        <input class="form-control number-validate config-input required" type="number" name="{{ configForm.taskProfits.vars.full_name }}[0][max]"
                               value="0" data-min="0">
                    </div>
                    <span class="error-msg">{{ 'validation.required'|trans }}</span>
                </div>
                <div class="form-group ml-10">
                    <div class="input-group">
                        <input class="form-control number-validate config-input required tva-input" type="number" name="{{ configForm.taskProfits.vars.full_name }}[0][percent]"
                               value="0" data-min="0" data-max="100">
                        <div class="input-group-append">
                            <span class="input-group-text">%</span>
                        </div>
                    </div>
                    <span class="error-msg">{{ 'validation.required'|trans }}</span>
                </div>

            </div>
        {% endif %}
    </div>
    <div class="text-right">
        <button role="button" class="btn font-size-10 btn-sm btn-icon btn-round waves-effect mt-15
                    waves-classic  waves-effect waves-classic btn-primary btn-add-profits"
                data-required-msg="{{ 'validation.required'|trans }}"
                data-name="{{ configForm.taskProfits.vars.full_name }}" data-min="{{ 'filter.min'|trans }}" data-max="{{ 'filter.max'|trans }}">
            <i class="fa fa-plus"></i> {{ 'system.general.add_profits_config'|trans }}
        </button>
    </div>
</div>
<div class="checkbox-custom checkbox-primary col-md-12 mt-20 mb-20">
    {{ form_widget(configForm.includedTax,{attr:{required:false},required:false}) }}
    {{ form_label(configForm.includedTax) }}
</div>
<div class="form-group">
    {{ form_label(configForm.maxTaskProfits) }}
    <div class="form-line">
        {{ form_widget(configForm.maxTaskProfits,{attr:{class:'form-control config-input required'}}) }}
    </div>
    <span class="error-msg">{{ 'validation.required'|trans }}</span>
</div>
<div class="form-group">
    {{ form_label(configForm.enableMaatloobProfitsAfterDays) }}
    <div class="form-line">
        {{ form_widget(configForm.enableMaatloobProfitsAfterDays,{attr:{class:'form-control config-input required'},type:"number"}) }}
    </div>
    <span class="error-msg">{{ 'validation.required'|trans }}</span>
</div>
<div class="form-group">
    {{ form_label(configForm.minAcceptedTaskBudget) }}
    <div class="form-line">
        {{ form_widget(configForm.minAcceptedTaskBudget,{attr:{class:'form-control config-input required'},type:"number"}) }}
    </div>
    <span class="error-msg">{{ 'validation.required'|trans }}</span>
</div>
<div class="form-group">
    {{ form_label(configForm.minAllowedBalanceRecharge) }}
    <div class="form-line">
        {{ form_widget(configForm.minAllowedBalanceRecharge,{attr:{class:'form-control config-input required'},type:"number"}) }}
    </div>
    <span class="error-msg">{{ 'validation.required'|trans }}</span>
</div>
<div class="form-group">
    {{ form_label(configForm.allowWithdrawBalanceFrom) }}
    <div class="form-line">
        {{ form_widget(configForm.allowWithdrawBalanceFrom,{attr:{class:'form-control config-input required'},type:"number"}) }}
    </div>
    <span class="error-msg">{{ 'validation.required'|trans }}</span>
</div>
<div class="form-group">
    {{ form_label(configForm.countryTax) }}
    <div class="form-line">
        <div class="input-group">
            {{ form_widget(configForm.countryTax,{attr:{class:'form-control number-validate config-input required tva-input',"data-max":100,"data-min":0},type:"number"}) }}
            <div class="input-group-append">
                <span class="input-group-text">%</span>
            </div>
        </div>
        <span class="error-msg">{{ 'validation.required'|trans }}</span>
    </div>
</div>
<div class="form-group">
    {{ form_label(configForm.showReviewsAfter) }}
    <div class="form-line">
        {{ form_widget(configForm.showReviewsAfter,{attr:{class:'form-control number-validate config-input required',"data-min":0},type:"number"}) }}
    </div>
    <span class="error-msg">{{ 'validation.required'|trans }}</span>
</div>
<div class="form-group">
    {{ form_label(configForm.allowedTaskOfferBeforeVerification) }}
    <div class="form-line">
        {{ form_widget(configForm.allowedTaskOfferBeforeVerification,{attr:{class:'form-control number-validate config-input required',"data-min":0},type:"number"}) }}
    </div>
    <span class="error-msg">{{ 'validation.required'|trans }}</span>
</div>
<div class="form-group">
    {{ form_label(configForm.filterDistance) }}
    <div class="form-line d-flex">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">{{ 'filter.from'|trans }}</span>
                </div>
                <input class="form-control number-validate config-input required" type="number" name="{{ configForm.filterDistance.vars.full_name }}[min]"
                       value="{{ configForm.filterDistance.vars.value['min'] }}" data-min="0">
            </div>
            <span class="error-msg">{{ 'validation.required'|trans }}</span>
        </div>
        <div class="form-group ml-10">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">{{ 'filter.to'|trans }}</span>
                </div>
                <input class="form-control number-validate config-input required" type="number" name="{{ configForm.filterDistance.vars.full_name }}[max]"
                       value="{{ configForm.filterDistance.vars.value['max'] }}" data-min="0">
            </div>
            <span class="error-msg">{{ 'validation.required'|trans }}</span>
        </div>
    </div>
</div>
<div class="form-group">
    {{ form_label(configForm.filterPrice) }}
    <div class="form-line d-flex">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">{{ 'filter.min'|trans }}</span>
                </div>
                <input class="form-control number-validate config-input required" type="number" name="{{ configForm.filterPrice.vars.full_name }}[min]"
                       value="{{ configForm.filterPrice.vars.value['min'] }}" data-min="0">
            </div>
            <span class="error-msg">{{ 'validation.required'|trans }}</span>
        </div>
        <div class="form-group ml-10">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">{{ 'filter.max'|trans }}</span>
                </div>
                <input class="form-control number-validate config-input required" type="number" name="{{ configForm.filterPrice.vars.full_name }}[max]"
                       value="{{ configForm.filterPrice.vars.value['max'] }}" data-min="0">
            </div>
            <span class="error-msg">{{ 'validation.required'|trans }}</span>
        </div>
    </div>
</div>
<div class="form-group">
    {{ form_label(configForm.minMandatoryDocumentToVerifyAccount) }}
    <div class="form-line">
        {{ form_widget(configForm.minMandatoryDocumentToVerifyAccount,{attr:{class:'form-control number-validate config-input required',"data-max":10,"data-min":0},type:"number"}) }}
    </div>
    <span class="error-msg">{{ 'validation.required'|trans }}</span>
</div>
<div class="form-group">
    {{ form_label(configForm.referralToUserLimit) }}
    <div class="form-line">
        {{ form_widget(configForm.referralToUserLimit,{attr:{class:'form-control number-validate config-input required',"data-max":100,"data-min":1},type:"number"}) }}
    </div>
    <span class="error-msg">{{ 'validation.required'|trans }}</span>
</div>
<div class="form-group">
    {{ form_label(configForm.referralCredit) }}
    <div class="form-line">
        {{ form_widget(configForm.referralCredit,{attr:{class:'form-control config-input required'},type:"number"}) }}
    </div>
    <span class="error-msg">{{ 'validation.required'|trans }}</span>
</div>
<div class="form-group">
    {{ form_label(configForm.referringCredit) }}
    <div class="form-line">
        {{ form_widget(configForm.referringCredit,{attr:{class:'form-control config-input required'},type:"number"}) }}
    </div>
    <span class="error-msg">{{ 'validation.required'|trans }}</span>
</div>
<div class="form-group">
    {{ form_label(configForm.maxAllowedTaskCancel) }}
    <div class="form-line">
        {{ form_widget(configForm.maxAllowedTaskCancel,{attr:{class:'form-control number-validate config-input required',"data-max":100,"data-min":0},type:"number"}) }}
    </div>
    <span class="error-msg">{{ 'validation.required'|trans }}</span>
</div>
<div class="form-group">
    {{ form_label(configForm.taskCancelBanDuration) }}
    <div class="form-line">
        {{ form_widget(configForm.taskCancelBanDuration,{attr:{class:'form-control config-input required'},type:"number"}) }}
    </div>
    <span class="error-msg">{{ 'validation.required'|trans }}</span>
</div>
<div class="form-group">
    {{ form_label(configForm.minAllowedMaatloobBalance) }}
    <div class="form-line">
        {{ form_widget(configForm.minAllowedMaatloobBalance,{attr:{class:'form-control config-input required'},type:"number"}) }}
    </div>
    <span class="error-msg">{{ 'validation.required'|trans }}</span>
</div>
{#<div class="form-group">#}
{#    {{ form_label(configForm.invoiceTemplate) }}#}
{#    <div class="form-line">#}
{#        {{ form_widget(configForm.invoiceTemplate,{attr:{class:'invoice-template'}}) }}#}
{#    </div>#}
{#</div>#}
<div class="form-group">
    {{ form_label(configForm.taxIdentifier) }}
    <div class="form-line">
        {{ form_widget(configForm.taxIdentifier,{attr:{class:'form-control config-input'}}) }}
    </div>
    <span class="error-msg">{{ 'validation.required'|trans }}</span>
</div>
<div class="form-group">
    {{ form_label(configForm.transferFeeBank) }}
    <div class="form-line">
        {{ form_widget(configForm.transferFeeBank,{attr:{class:'form-control config-input number-percentage-validate',placeholder:'1000 , 0.0%'}}) }}
    </div>
    <span class="error-msg">{{ 'validation.required'|trans }}</span>
</div>
<div class="form-group">
    {{ form_label(configForm.transferFeeEWallet) }}
    <div class="form-line">
        {{ form_widget(configForm.transferFeeEWallet,{attr:{class:'form-control config-input number-percentage-validate',placeholder:'1000 , 0.0%'}}) }}
    </div>
    <span class="error-msg">{{ 'validation.required'|trans }}</span>
</div>
<div class="form-group">
    {{ form_label(configForm.supportedPaymentBrand) }}
    <div class="form-line col-md-4 p-0">
        {{ form_widget(configForm.supportedPaymentBrand,{attr:{class:'form-control selectpicker bootstrap-select'}}) }}
    </div>
    <span class="error-msg">{{ 'validation.required'|trans }}</span>
</div>
<div class="form-group">
    {{ form_label(configForm.taskCompleteTips) }}
    <div class="row">
        {% for tipField in configForm.taskCompleteTips %}
            {{ form_widget(tipField,{attr:{class:'form-control config-input col-md-2 col-sm-4 mr-10'}}) }}
        {% endfor %}
    </div>
</div>
{{ form_widget(configForm.id,{attr:{class:'form-control'},type:'hidden'}) }}
