<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payment interface</title>
</head>
<body>
{% if transaction is not null %}
    {% if transaction.toUser %}
        {% set user = transaction.toUser %}
    {% else %}
        {% set user = transaction.fromUser %}
    {% endif %}
    <form class="paymentWidgets" data-brands="{{user.country.config.supportedPaymentBrand|join(' ')}}"></form>
    <script src="{{ asset('assets/admin/plugins/jquery/jquery.js') }}"></script>
    <script>
      {% set locale = user.language %};
      var wpwlOptions = {
        locale: "{{locale}}"
      }
    </script>

    <script src="https://oppwa.com/v1/paymentWidgets.js?checkoutId={{ transaction.checkoutId }}"></script>
{% else %}
    <h3 style="color: #dc3545">Invalid checkout id . Press back , enter the amount and retry again !</h3>
{% endif %}
</body>
</html>
