<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Invoice template</title>
    <link rel="stylesheet" href="{{ asset('assets/admin/fonts/bahij/bahij-fonts.css') }}">
</head>
<body>
<h1 style="text-align: center;">
    <img src="{{ asset('assets/img/logo/logo_v2.png') }}" alt="maatloob icon v2" width="120" height="120"/>
</h1>
<h1 style="text-align: center;">
    <span style="font-family: 'Bahij TheSansArabic', cursive; color: #faca37;">Maatloob Inc.</span>
</h1>
<p style="text-align: center;">
    {{ maatloob_address }}
</p>
<table style="border-collapse: collapse; width: 82.426%; height: 84px; margin-left: auto; margin-right: auto;"
       border="1" cellpadding="10">
    <tbody>
    <tr style="height: 21px;">
        <td style="width: 50%; height: 21px;">{{ 'taskTitle'|transDb }}</td>
        <td style="width: 50%; height: 21px;">{{ task.title }}</td>
    </tr>
    <tr style="height: 21px;">
        <td style="width: 50%; height: 21px;">{{ 'taskCategory'|transDb }}</td>
        <td style="width: 50%; height: 21px;">{{ task.category.translate.name }}</td>
    </tr>
    <tr style="height: 21px;">
        <td style="width: 50%; height: 21px;">{{ 'paymentMethod'|transDb }}</td>
        <td style="width: 50%; height: 21px;">
            {% if task.paymentType == constant('PAYMENT_TYPE_WALLET',task) %}
                {{ 'payment_method_wallet'|transDb }}
            {% elseif task.paymentType == constant('PAYMENT_TYPE_CARD',task) %}
                {{ 'payment_method_card'|transDb }}
            {% else %}
                {{ 'payment_method_cash'|transDb }}
            {% endif %}
        </td>
    </tr>
    {% if task.category.isDelivery %}
        <tr>
            <td style="width: 50%;">{{ 'receivingAddress'|transDb }}</td>
            <td style="width: 50%;">
            {%  if task.address %}
                {{ task.address.place }}
            {% endif %}
            </td>
        </tr>
        <tr>
            <td style="width: 50%;">{{ 'deliveryAddress'|transDb }}</td>
            <td style="width: 50%;">
                {% if task.deliveryAddress %}
                    {{ task.deliveryAddress.place }}
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td style="width: 50%;">{{ 'address'|transDb }}</td>
            <td style="width: 50%;">
                {% if task.isOnlineWork %}
                    {{ 'task_type_remote'|transDb}}
                {% elseif task.address %}
                    {{ task.address.place }}
                {% endif %}
            </td>
        </tr>
    {% endif %}

    </tbody>
</table>
<p>&nbsp;</p>
<table style="border-collapse: collapse; width: 82.5374%; height: 63px; margin-left: auto; margin-right: auto;" border="1" cellpadding="10">
    <tbody>
    {% if taxNumber %}
    <tr style="height: 21px;">
        <td style="width: 50%; height: 21px; text-align: left;">{{'invoice_tax_identification_number'|transDb}}</td>
        <td style="width: 50%; height: 21px; text-align: left;">{{taxNumber}}</td>
    </tr>
    {% endif %}
    <tr style="height: 21px;">
        <td style="width: 50%; height: 21px; text-align: left;">{{'invoice_transaction_id'|transDb}}</td>
        <td style="width: 50%; height: 21px;">{{transactionId}}</td>
    </tr>
    <tr style="height: 21px;">
        <td style="width: 50%; height: 21px;">{{'invoice_date'|transDb}}</td>
        <td style="width: 50%; height: 21px;">{{date()|date('Y-m-d')}}</td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<table style="border-collapse: collapse; width: 81.8445%; height: 105px; margin-left: auto; margin-right: auto;"  border="1" cellpadding="10">
    <tbody>
    <tr style="height: 21px;">
        <td style="width: 50%; text-align: left; height: 21px;">{{'total_price'|transDb}}</td>
        <td style="width: 50%; height: 21px;">{{totalPrice}} {{ currentRegion().currencySymbol }}</td>
    </tr>
    <tr style="height: 21px;">
        <td style="width: 50%; height: 21px; text-align: left;">{{'maatloob_fees'|transDb}}</td>
        <td style="width: 50%; height: 21px;">{{ maatloobTax }} {{ currentRegion().currencySymbol }}</td>
    </tr>
    <tr style="height: 21px;">
        <td style="width: 50%; height: 21px;">{{'invoice_vat'|transDb}}</td>
        <td style="width: 50%; height: 21px;">{{countryTax}} {{ currentRegion().currencySymbol }}</td>
    </tr>
    <tr style="height: 21px;">
        <td style="width: 50%; height: 21px;">{{'total_taxes'|transDb}}</td>
        <td style="width: 50%; height: 21px;">{{totalTax}} {{ currentRegion().currencySymbol }}</td>
    </tr>
    <tr style="height: 21px;">
        <td style="width: 50%; height: 21px;">{{'net_profit'|transDb}}</td>
        <td style="width: 50%; height: 21px;">{{netProfit}} {{ currentRegion().currencySymbol }}</td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<div id="gtx-trans" style="position: absolute; left: 216px; top: 540.875px;">
    <div class="gtx-trans-icon">&nbsp;</div>
</div>
</body>
</html>
