<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ asset('assets/img/logo/logo_v2.png')}}" type="image/x-icon">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payment portal</title>
    <link rel="stylesheet" href="{{ asset('assets/front/css/xendit-payment.css') }}">
</head>
<body style="padding: 20px 10px">
{% if error %}
    <div style="text-align: center;background: #ff3d44;padding: 20px;color: white">
        <h3>{{ error }}</h3>
    </div>
{% endif %}
{% if transaction %}
<form id="payment-form" method="post">
<ul>
    <li>
        <h1 style="font-family: monospace">Credit Card</h1>
        <fieldset id="payment-card-container">
            <div class="card-wrapper"></div>
            <div class="form-container active">
                <p class="small">Start typing to enter your credit card information</p>
                <input type="radio" style="display: none" id="payment-card" name="paymentType" value="card">
                <div class="row collapse">
                    <div class="small-6 columns">
                        <input placeholder="Card number" type="text" name="number" id="card-number">
                    </div>
                    <div class="small-6 columns">
                        <input placeholder="Full name" type="text" name="name" id="card-holder-name">
                    </div>
                </div>
                <div class="row collapse">
                    <div class="small-3 columns">
                        <input placeholder="MM/YYYY" type="text" name="expiry" id="card-exp">
                    </div>
                    <div class="small-3 columns">
                        <input placeholder="CVC" type="password" name="cvc" id="card-cvc" autocomplete="false">
                    </div>
                    <div class="small-6 columns">
                        <input type="submit" value="Submit" id="submit-card" class="button postfix submit">
                    </div>
                    <small id="error" style="color: #c32222;margin-top: 10px"></small>
                </div>

            </div>
        </fieldset>
    </li>
    <li>
        <h1 style="font-family: monospace">E-Wallet</h1>
    </li>
    {% if "OVO" in transaction.toUser.country.config.supportedPaymentBrand %}
    <li class="tab-style">
        <input type="radio" id="payment-ovo" name="paymentType" value="OVO">
        <label for="payment-ovo">
            <a>
                <img width="100" src="https://dashboard.xendit.co/images/ovo-logo.svg" alt="">
            </a>
        </label>
    </li>
    {% endif %}
    {% if "DANA" in transaction.toUser.country.config.supportedPaymentBrand %}
    <li class="tab-style">
        <input type="radio" id="payment-dana" name="paymentType" value="DANA">
        <label for="payment-dana">
            <a>
                <img width="100" src="https://dashboard.xendit.co/images/dana-logo.svg" alt="">
            </a>
        </label>
    </li>
    {% endif %}
    {% if "LINKAJA" in transaction.toUser.country.config.supportedPaymentBrand %}
    <li class="tab-style">
        <input type="radio" id="payment-linkaja" name="paymentType" value="LINKAJA">
        <label for="payment-linkaja">
            <a>
                <img width="100" src="https://dashboard.xendit.co/images/linkaja-logo.svg" alt="">
            </a>
        </label>
    </li>
    {% endif %}
</ul>
</form>
<div class="overlay" style="display: none;"></div>
<div id="three-ds-container" style="display: none;">
    <iframe id="sample-inline-frame" name="sample-inline-frame"></iframe>
</div>
<script src="{{ asset('assets/front/js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ asset('assets/front/plugin/credit-card/jquery.card.js') }}"></script>
<script src="https://js.xendit.co/v1/xendit.min.js"></script>
<script>
  $(document).ready(function () {
    let paymentForm = $('#payment-form');
    let cardContainer = $('#payment-card-container');
    let submitCardBtn = $('#submit-card');
    let formBody = '  <div id="e-wallet-input" style="text-align: center;">\n' +
      '                <input type="tel" name="phone" placeholder="Phone Number eg 0812121223">\n' +
      '                <button class="pay-now-btn">Pay Now</button>\n' +
      '            </div>';
    $('form').card({
      container: '.card-wrapper',
      formSelectors: {
        numberInput: 'input#card-number',
        expiryInput: 'input#card-exp',
        cvcInput: 'input#card-cvc',
        nameInput: 'input#card-holder-name'
      },
      messages: {
        validDate: 'valid\ndate',
        monthYear: 'mm/yyyy',
      }
    });
    $('#card-number,#card-exp,#card-cvc,#card-holder-name').on('focus', function () {
      cardContainer.prop('readOnly',false);
      $('#payment-card').prop('checked', true).trigger('change');
    });
    $('[name="paymentType"]').on('change', function () {
      $('#e-wallet-input').remove();
      let checkedInput = $('[name="paymentType"]:checked');
      if (checkedInput.val() !== "card") {
        checkedInput.parent().append($(formBody));
      }
    });
    $(document).on('click', '#pay-now-btn', function () {
      let input = $(this).parent().find('input');
      if (input.val().empty()) {
        input.addClass('jp-card-invalid');
      }else{
        cardContainer.prop('disabled',true);
        paymentForm.submit();
      }
    });

    submitCardBtn.on('click',function () {
      hideResults();
      Xendit.setPublishableKey('{{ xenditPublicKey }}');
      // Disable the submit button to prevent repeated clicks:
      $(this).prop('disabled', true);
      // Request a token from Xendit:
      let tokenData = getTokenData();
      Xendit.card.createToken(tokenData, xenditResponseHandler);
      // Prevent the form from being submitted:
      return false;
    });

    function xenditResponseHandler(err, creditCardCharge) {
      submitCardBtn.prop('disabled', false);
      if (err) {
        return displayError(err);
      }
      if (creditCardCharge.status === 'APPROVED' || creditCardCharge.status === 'VERIFIED') {
        paymentForm.append($('<input type=hidden value="' + creditCardCharge.id + '" name="token">'));
        paymentForm.submit();
      } else if (creditCardCharge.status === 'IN_REVIEW') {
        window.open(creditCardCharge.payer_authentication_url, 'sample-inline-frame');
        $('.overlay').show();
        $('#three-ds-container').show();
      } else if (creditCardCharge.status === 'FRAUD') {
        displayError(creditCardCharge);
      } else if (creditCardCharge.status === 'FAILED') {
        displayError(creditCardCharge);
      }
    }

    function getTokenData() {
      return {
        amount: "{{ transaction.price }}",
        card_number: cardContainer.find('#card-number').val().replaceAll(' ', ''),
        card_exp_month: (cardContainer.find('#card-exp').val().split('/')[0]).trim(),
        card_exp_year: (cardContainer.find('#card-exp').val().split('/')[1]).trim(),
        card_cvn: cardContainer.find('#card-cvc').val(),
        is_multiple_use: false,
        should_authenticate: true
      };
    }

    function displayError(err) {
      $('#error').text(err['message']).show();
    }

    function hideResults() {
      $('#error').hide();
    }
  });
</script>
{% else %}
    <h1>Payment has been expired . please try again</h1>
{% endif %}
</body>
</html>
