<html lang="{{lang??'en'}}" {% if lang??'en'=='ar' %} dir="rtl" {% endif %}>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body {% if lang??'en'=='ar' %} dir="rtl" {% endif %} bgcolor="#fafafa" style="padding: 24px 24px 0;border: 1px solid #e0e0e0;border-radius: 2px;max-width: 600px;background: #fafafa;margin: auto">
    <table width="100%" align="center" bgcolor="#fafafa" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <table bgcolor="#fafafa" align="center" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="padding-bottom: 18px;text-align: center">
                            <img src="{{ base_url~'/assets/img/logo/logo_v3.png' }}"
                                 style="max-width: 130px;">
                        </td>
                    </tr>
                    <tr>
                        {% block body %}

                        {% endblock %}
                    </tr>
                    <tr>
                        <td style="padding-top: 20px;font-family: 'Open Sans', sans-serif;font-size: 14px;color: #757575;letter-spacing: 0;line-height: 21px">
                            {{ 'email_footer_greeting'|transDb({'#email#':support_email},lang??'en')|raw }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <table bgcolor="#fafafa" border="0" cellpadding="0" cellspacing="0" style="padding-bottom: 10px;margin-top: 50px">
                    <tr>
                        <td style="font-family: 'Open Sans', sans-serif; font-size: 11px; line-height: 10px; color: #ACABAB;">
                            {{ 'copyright'|transDb({'#year#':"now"|date('Y')},lang??'en') }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
