{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
    {%- autoescape false -%}
        {{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
    {%- endautoescape -%}
{% endblock %}

{% block body_html %}
    <table width="100%" align="center" bgcolor="#fff" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <table width="768" align="center" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="padding: 50px 136px 0;">
                            <table>
                                <tr>
                                    <td style="padding-bottom: 18px">
                                        <img src="{{ absolute_url(asset('assets/img/logo/logo_v2.png')) }}"
                                             style="max-width: 235px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 16px;font-family: 'Open Sans', sans-serif;font-size: 16px;color: #757575;line-height: 21px;">
                                        {{ 'hello'|transDb }} {{ user.fullname }} ! <br>
                                        {% if password is defined %}
                                        {{ 'email.register.confirm.congratulation'|transDb|raw }}<br>
                                        {{ 'email.register.confirm.your_username'|transDb({"#username#":user.email})|raw }}<br>
                                        {{ 'email.register.confirm.your_password'|transDb({"#password#":password})|raw }}<br>
                                        {% endif %}
                                        {% if not user.isAdmin %}
                                        {{ 'email.register.confirm.complete_to_activate'|transDb|raw }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 0 0 28px">
                                        <table border="0" align="left" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="display: inline-block;padding: 10px 28px 9px;font-family: 'Open Sans', sans-serif;font-size: 14px; line-height: 19px; color: #fff; border-color: #5C6AC4; background-color: #5C6AC4;">
                                                <span>
                                                    {% if user.isAdmin %}
                                                        <a href="{{ url('admin_login') }}" target="_blank" style="color:#fff;text-decoration: none;">{{ 'layout.login_page'|trans }}</a>
                                                    {% else %}
                                                        <a href="{{confirmationUrl }}" target="_blank" style="color:#fff;text-decoration: none;">{{ 'email.register.confirm.button_confirm'|transDb }}</a>
                                                    {% endif %}
                                                </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                {% if not user.isAdmin %}
                                <tr>
                                    <td style="padding-right: 26px;padding-bottom:45px;font-family: 'Open Sans', sans-serif;font-size: 14px;color: #757575;letter-spacing: 0;line-height: 21px;border-bottom: 1px solid #ededed;">{{ 'email.template.footer.greeting'|transDb|raw }}</td>
                                </tr>
                                {% endif %}
                            </table>
                        </td>

                    </tr>
                    <tr>
                        <td style="padding:0 136px;">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="padding-top:5px;font-family: 'Open Sans', sans-serif; font-size: 11px; line-height: 10px; color: #ACABAB;">{{ 'copyright'|transDb({'#year#':"now"|date('Y')}) }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}
