{% extends ':emails:base_mail.html.twig' %}
{% block body %}
    <td>
        <h3>{{ 'hello'|transDb }} {{ user.fullName }} !</h3>
        <p style="font-size: 16px;color: lightslategray;">{{ warningMessage }}</p>
    </td>
{% endblock %}