{% extends ':emails:base_mail.html.twig' %}
{% block body %}
    <td>
        <h3>{{ 'hello'|transDb({},lang) }} {% if name is defined%} {{ name }} ! {% endif %}</h3>
        <p style="font-size: 16px;color: lightslategray;">{{ body|raw }}</p>
        {% if extra is defined and extra['banReason'] is defined and   extra['banReason'] is not empty%}
            {{ 'account_suspended_for'|transDb({},lang) }} :<br>
            <p style="font-size: 16px;color: lightslategray;">{{ extra['banReason'] }}</p>
        {% endif %}
        {% if image is defined and image is not null %}
        <div style="margin: 30px auto auto;text-align: center">
            <img style="max-width: 200px" src="{{ base_url~image }}">
        </div>
        {% endif %}
    </td>
{% endblock %}