{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
    {%- autoescape false -%}
        {{ 'resetting.email.subject'|trans({'%username%': user.username}) }}
    {%- endautoescape -%}
{% endblock %}

{% block body_html %}
    <table width="100%" align="center" bgcolor="#fff" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <table width="768" align="center" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="padding: 50px 136px 0;">
                            <table>
                                <tr>
                                    <td style="padding-bottom: 18px">
                                        <img src="{{ absolute_url(asset('assets/img/logo/logo_v3.png')) }}"
                                             style="max-width: 235px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 16px;font-family: 'Open Sans', sans-serif;font-size: 16px;color: #757575;line-height: 21px;">
                                        {{ 'hello'|transDb }} {{ user.username }} ! <br/>
                                        {{ 'email.reset.info'|transDb|raw }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 0 0 28px">
                                        <table border="0" align="left" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="display: inline-block;padding: 10px 28px 9px;font-family: 'Open Sans', sans-serif;font-size: 14px; line-height: 19px; color: #fff; border-color: #5C6AC4; background-color: #5C6AC4;">
                                                <span>
                                                    <a href="{{ confirmationUrl }}" target="_blank"
                                                       title="Create password"
                                                       style="color:#fff;text-decoration: none;">{{ 'email.reset.new_pwd_btn'|transDb }}</a>
                                                </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-right: 26px;padding-bottom:45px;font-family: 'Open Sans', sans-serif;font-size: 14px;color: #757575;letter-spacing: 0;line-height: 21px;border-bottom: 1px solid #ededed;">
                                        {{ 'email.reset.greeting'|transDb|raw }}
                                    </td>
                                </tr>
                            </table>
                        </td>

                    </tr>
                    <tr>
                        <td style="padding:0 136px;">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="padding-top:5px;font-family: 'Open Sans', sans-serif; font-size: 11px; line-height: 10px; color: #ACABAB;">{{ 'copyright'|transDb({'#year#':"now"|date('Y')}) }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}