.dashboard .card, .dashboard .panel {
  height: -webkit-calc(100% - 30px);
  height:         calc(100% - 30px);
  margin-bottom: 30px;
}

.dashboard .card-block {
  border-radius: 3px;
}

#widgetLineareaOne .ct-chart .ct-area {
  fill-opacity: 1;
}

#widgetLineareaOne .ct-chart .ct-series.ct-series-a .ct-area {
  fill: #7986cb;
}

#widgetLineareaTwo .ct-chart .ct-area {
  fill-opacity: 1;
}

#widgetLineareaTwo .ct-chart .ct-series.ct-series-a .ct-area {
  fill: #ffd54f;
}

#widgetLineareaThree .ct-chart .ct-area {
  fill-opacity: 1;
}

#widgetLineareaThree .ct-chart .ct-series.ct-series-a .ct-area {
  fill: #4dd0e1;
}

#widgetLineareaFour .ct-chart .ct-area {
  fill-opacity: 1;
}

#widgetLineareaFour .ct-chart .ct-series.ct-series-a .ct-area {
  fill: #81c784;
}

#widgetJvmap path {
  fill: #c5cae9;
}

#widgetCurrentChart .ct-chart .ct-series.ct-series-a .ct-bar {
  stroke: #fff;
  stroke-width: 3%;
}

#widgetCurrentChart .ct-chart .ct-series.ct-series-b .ct-bar {
  stroke: rgba(232, 234, 246, .4);
  stroke-width: 3%;
}

#widgetCurrentChart .ct-chart .ct-label {
  font-size: 14px;
  color: #fff;

  fill: #fff;
}

#widgetCurrentChart > div {
  position: relative;
}

#widgetCurrentChart > div .btn-floating {
  position: absolute;
  top: 0;
  right: 20px;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
       -o-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

#widgetUserList .card-header .overlay-background {
  background-color: rgba(103, 58, 183, .8);
}

@media (max-width: 479px) {
  #widgetUserList .card-header .avatar {
    width: 80px;
  }
}

#widgetUserList .card-block {
  position: relative;
  height: auto;
}

#widgetUserList .card-block .list-group-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

#widgetUserList .card-block .list-group-item .media-body {
  vertical-align: bottom;
}

#widgetUserList .card-block .list-group-dividered .list-group-item:last-child {
  border-bottom: none;
}

#widgetUserList .card-block .btn-floating {
  position: absolute;
  top: 0;
  right: 20px;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
       -o-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

#chat .card-header {
  border-bottom: none;
}

#chat .card-header > * {
  padding: 0 30px;
  margin: 0;
  line-height: 50px;
}

#chat .card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
  border-top: none;
}

#projects .table > thead > tr > td,
#projects .table > tbody > tr > td,
#projects-status .table > thead > tr > td,
#projects-status .table > tbody > tr > td {
  vertical-align: middle;
}
.highcharts-credits{
  display: none;
}
.ws-5{
  word-spacing: 5px;
}
html[dir="rtl"] .ct-chart{
  transform: scaleX(-1);
}
.table td, .table th {
  padding: .3rem;
  vertical-align: top;
  border-top: 1px solid #e6edf5;
  height: inherit;
}

.table.headed thead {
  background-color: #edf2f9 !important;
  color: #344050 !important;
}

.table thead th {
  font-weight: 600;
}

table.dataTable thead th {
  position: relative;
  background-image: none !important;
}

table tr i.em {
  width: 15px;
  margin-top: -2px;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  position: absolute !important;
  top: 12px !important;
  right: 8px !important;
  display: block !important;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
}

table.dataTable thead th:before {
  content: none !important;
}

table.dataTable thead th.sorting:after {
  content: "\f0dc";
}

table.dataTable thead th.sorting_asc:after {
  opacity: 1;
  content: "\f0de";
}

table.dataTable thead th.sorting_desc:after {
  opacity: 1;
  content: "\f0dd";
}

#top-poster, #top-tasker {
  height: 400px;
}

#profits-chart {
  border-radius: 7px;
  background-image: -webkit-linear-gradient(135deg, #008fb4, #009bde);
  background-image: -o-linear-gradient(135deg, #008fb4, #009bde);
  background-image: linear-gradient(-45deg, #008fb4, #009bde);
  background-position: center;
}

.text-300 {
  color: #d8e2ef !important;
}

#profits-series-filter button {
  background-color: #fccc09!important;
}

#profits-series-filter button.inactive {
  background-color: #008fb4!important;
}

#profits-time button.active {
  background-color: #fccc09;
}

#delay-tasks-table_paginate .pagination .page-item > .page-link {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 2.25rem;
  min-width: 2.25rem;
  padding: 0.5rem;
  border-radius: 3px;
  position: relative;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  color: #93a2dd;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-left: 3px;
  background: #f0f3ff;
}

#delay-tasks-table_paginate .pagination .page-item.active > .page-link {
  background: #008fb4;
  color: white;
}

table .user-link {
  color: #008fb4;
  text-decoration: none;
  background-color: transparent;
  font-weight: 600;
}
html[dir="rtl"] .fa-chevron-right,
html[dir="rtl"] .fa-chevron-left{
  transform: scale(-1);
}
.owl-carousel .owl-item img.avatar-img {
  width: 40px;
  height: 40px;
}
.owl-carousel .owl-item .rating img{
  display: inline;
  width: auto;
}
.widget .table td,
.widget .table th{
  height: 55px;
}
.widget .owl-dots{
  display: none;
}
#server-storage .highcharts-title{
  top: 20px!important;
}
#server-storage .highcharts-container {
  max-height: 380px!important;
}
.btn-actions-pane-right {
  margin-left: auto;
  white-space: nowrap;
}
html[dir="rtl"] .btn-actions-pane-right {
  margin-left: inherit;
  margin-right: auto;
  white-space: nowrap;
}
.btn-slide{
  background: transparent;
  font-size: 16px;
  border:none;
  outline: none!important;
}