{% extends 'AppBundle:admin/parts:layout.html.twig' %}
{% import ":macro:sort.macro.html.twig" as sort_column %}
{% block title %}
    {{ 'side_menu.transactions.deposit'|trans }}
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.transactions.all'|trans }}</a></li>
            <li class="breadcrumb-item active">{{ 'side_menu.transactions.deposit'|trans }}</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="panel" data-plugin="matchHeight" data-by-row="true">
            <div class="panel-heading">
                <div class="pt-20 mb-10">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="row align-items-center">
                                {% include '@App/admin/widget/page-length.html.twig' %}
                                <div class="col-5 col-md-4">
                                    {% include '@App/admin/widget/search.html.twig' %}
                                </div>
                                <div class="col-1 col-md-4 col-lg-3 pl-sm-0">
                                    <div class="date-range" id="data-date-filter"
                                         data-start="{{ app.request.query.get('s_date') }}" data-end="{{ app.request.query.get('e_date') }}"
                                         data-url="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'s_date':'_start_','e_date':'_end_'})) }}">
                                        <i class="far fa-calendar-alt mr-10"></i>
                                        <span></span> <i class="fa fa-caret-down float-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body container-fluid">
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'transaction.table.date'|trans }}  {{ sort_column.sort("date") }}</th>
                            <th>{{ 'transaction.withdraw.table.from'|trans }}  {{ sort_column.sort("for") }}</th>
                            <th>{{ 'transaction.deposit.table.balance'|trans }} {{ sort_column.sort("price") }}</th>
                            <th>{{ 'transaction.deposit.table.method'|trans }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for deposit in deposits %}
                            <tr>
                                <td>{{ deposit.createdAt|date('d-m-Y H:i') }}</td>
                                <td>
                                    <div class="user-info">
                                        <div class="user-icon hidden-sm-down">
                                            {% if deposit.toUser.picture %}
                                                <img onerror="loadDefaultAvatar(this)" src="{{ asset( deposit.toUser.picture.path??'assets/admin/images/default-user.png') }}"
                                                     alt="{{ deposit.toUser.fullName }}">
                                            {% else %}
                                                <div class="user-badge">
                                                    {{ deposit.toUser.firstname|first|upper~deposit.toUser.lastname|first|upper }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="user-details">
                                            <a href="{{ path('user_details', {'id': deposit.toUser.id}) }}">{{ deposit.toUser.firstname~' '~deposit.toUser.lastname }}</a>
                                            <div data-plugin="rating" data-readonly="true" class="rating-sm"
                                                 data-score="{{ deposit.toUser.note|number_format(1,'.') }}"
                                                 data-toggle="tooltip"
                                                 data-title="{{ (deposit.toUser.userType == constant('TYPE_TASKER',deposit.toUser)?deposit.toUser.reviewAsaTasker:deposit.toUser.reviewAsaPoster)|length }} {{ 'layout.reviews'|trans }}">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ deposit.price }} {{ deposit.toUser.country.currencySymbol }}</td>
                                <td>{{ deposit.method }}</td>
                                <td>
                                    <a href="{{ path('admin_deposit_details', {'id': deposit.id}) }}"
                                       data-toggle="tooltip" data-title="{{ "transaction.table.details"|trans }}"
                                       class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic">
                                        <i class="fas fa-file-invoice-dollar"></i>
                                    </a></td>
                            </tr>
                        {% endfor %}
                        {% if deposits|length==0 %}
                            <tr>
                                <td colspan="7" class="text-center p-30 font-size-14">{{ 'transaction.table.deposit_no_data'|trans }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                        {% if totalResult is defined %}
                            <tr>
                                <td colspan="3" class="text-right">
                                    {{ 'transaction.table.total'|trans }}
                                </td>
                                <td colspan="1" class="text-right">
                                    <h5> {{ totalResult['total'] }} {{ currentRegion().currencySymbol }}</h5>
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
                <div class="row table-nav">
                    {{ knp_pagination_render(deposits, ':KnpPaginatorBundle/Pagination:site_defaut_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
