{% extends 'AppBundle:admin/parts:layout.html.twig' %}

{% block title %}
    {{ 'side_menu.transactions.deposit_details'|trans }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/transactions/deposit.details.css') }}">
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            </li>
            <li class="breadcrumb-item"><a
                        href="{{ path('admin_transactions_deposit') }}">{{ 'side_menu.transactions.deposit'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">{{ 'side_menu.transactions.deposit_details'|trans }}</li>
        </ol>
    </div>
    <div class="page-content container-fluid row">
        <div class="card col-12">
            <div class="card-content pt-20">
                <h6 class="card-sub-title">{{ 'transaction.deposit.details.deposit_info'|trans }}</h6>
                <div class="data-details row">
                    <div class="col-3">
                        <span class="data-details-title">
                            <em class="far fa-calendar-alt mr-5"></em>
                            {{ 'transaction.withdraw.details.requested_at'|trans }}
                        </span>
                        <span class="data-details-info large">{{ deposit.createdAt|date('d M,Y') }}</span>
                    </div>
                    <div class="col-3">
                        <span class="data-details-title">
                            <em class="fas fa-wallet mr-5"></em>
                            {{ 'transaction.withdraw.details.free_balance'|trans }}
                        </span>
                        <span class="data-details-info large">{{ deposit.toUser.wallet.totalBalance }} <small>{{ deposit.toUser.country.currencyCode }}</small></span>
                    </div>
                    <div class="col-3">
                        <span class="data-details-title">
                            <em class="fas fa-hand-holding-usd mr-5"></em>
                            {{ 'transaction.deposit.details.deposit_balance'|trans }}
                        </span>
                        <span class="data-details-info large">{{ deposit.price }} <small>{{ deposit.toUser.country.currencyCode }}</small></span>
                    </div>
                    <div class="col-3">
                        {% if deposit.status == constant('STATUS_PENDING',deposit) %}
                            <span class="data-details-title mb-5">{{ 'transaction.withdraw.table.status'|trans }}</span>
                            <span class="badge badge-soft-warning ucap">{{ 'transaction.withdraw.table.status_pending'|trans }}</span>
                        {% else %}
                            <span class="data-details-title mb-5">{{ 'transaction.withdraw.table.status'|trans }}</span>
                            <span class="badge badge-soft-success ucap">{{ 'transaction.deposit.table.status_completed'|trans }}</span>
                        {% endif %}
                    </div>
                </div>
                {% if deposit.status == constant('STATUS_COMPLETED',deposit) %}
                <h6 class="card-sub-title">{{ 'transaction.deposit.details.payment_info'|trans }}</h6>
                <ul class="data-details-list">
                    <li>
                        <div class="data-details-head">{{ 'transaction.deposit.details.payment_id'|trans }}</div>
                        <div class="data-details-des">{{ deposit.checkoutId }}</div>
                    </li><!-- li -->
                    <li>
                        <div class="data-details-head">{{ 'transaction.deposit.details.payment_brand'|trans }}</div>
                        <div class="data-details-des">
                            {% if (deposit.paymentInformation|json_decode).ewallet_type %}
                                {{ (deposit.paymentInformation|json_decode).ewallet_type }}
                            {% else %}
                                {{ (deposit.paymentInformation|json_decode).paymentBrand }}
                            {% endif %}
                        </div>
                    </li><!-- li -->
                </ul>
                {% endif %}
                <h6 class="card-sub-title">{{ 'transaction.withdraw.details.user_info'|trans }}</h6>
                <ul class="data-details-list">
                    <li>
                        <div class="data-details-head">{{ 'table.user.fullname'|trans }}</div>
                        <div class="data-details-des">{{ deposit.toUser.fullName }}</div>
                    </li><!-- li -->
                    <li>
                        <div class="data-details-head">{{ 'users.email'|trans }}</div>
                        <div class="data-details-des">{{ deposit.toUser.email }}</div>
                    </li><!-- li -->
                    <li>
                        <div class="data-details-head">{{ 'users.address.phone'|trans }}</div>
                        <div class="data-details-des">{{ deposit.toUser.phone }}</div>
                    </li><!-- li -->
                    <li>
                        <div class="data-details-head">{{ 'users.birthday'|trans }}</div>
                        <div class="data-details-des">{{ deposit.toUser.birthDate|date('d M,Y') }}</div>
                    </li><!-- li -->
                    <li>
                        <div class="data-details-head">{{ 'table.user.last_login'|trans }}</div>
                        <div class="data-details-des">{{ deposit.toUser.lastLogin|date('d M,Y') }}</div>
                    </li><!-- li -->
                    <li>
                        <div class="data-details-head">{{ 'table.user.join_date'|trans }}</div>
                        <div class="data-details-des">{{ deposit.toUser.createdAt|date('d M,Y') }}</div>
                    </li><!-- li -->
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/pages/transactions/deposit.details.js') }}"></script>
{% endblock %}
