{% extends 'AppBundle:admin/parts:layout.html.twig' %}
{% import ":macro:sort.macro.html.twig" as sort_column %}
{% block title %}
    {{ 'side_menu.transactions.completed'|trans }}
{% endblock %}
{% block stylesheets %}
    <style>
        .image-country{
            margin-left: -17px;
            position: absolute;
            z-index: 999;
        }
        html[dir="rtl"] .image-country{
            margin-left: 0;
            margin-right: -17px;
        }
        .image-country img{
            width: 20px!important;
            height: 20px!important;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            <li class="breadcrumb-item active">{{ 'side_menu.transactions.all'|trans }}</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="table-controls text-right col-md-12 text-right p-0 mb-15">
            <a class="btn btn-outline-primary " href="{{ path('admin_export_wallet_transactions') }}" download>
                <i class="fa fa-file-download"></i> {{ 'users.exports'|trans }}</a>
        </div>
        <div class="panel" data-plugin="matchHeight" data-by-row="true">
            <div class="panel-heading">
                <div class="pt-20 mb-10">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="row align-items-center">
                                {% include '@App/admin/widget/page-length.html.twig' %}
                                <div class="col-5 col-md-4">
                                    {% include '@App/admin/widget/search.html.twig' %}
                                </div>
                                <div class="col-4 col-md-3 pl-sm-0">
                                    <select title="{{ 'transactions.filter.type'|trans }}" id="transaction-type"
                                            class="form-control selectpicker bootstrap-select filter-selector">
                                        {% if app.request.query.get('type') %}
                                            <option selected value="{{ updateUrl(app.request,{'type':''}) }}">{{ 'transactions.filter.all'|trans }}</option>
                                        {% else %}
                                            <option disabled selected value>{{ 'transactions.filter.type'|trans }}</option>
                                        {% endif %}
                                        <option {% if app.request.query.get('type') == "task_complete" %} selected {% endif %}
                                                value="{{ updateUrl(app.request,{'type':'task_complete'}) }}">{{ 'transaction.type.task_complete'|transDb }}</option>
                                        <option {% if app.request.query.get('type') == "deal_cancelled" %} selected {% endif %}
                                                value="{{ updateUrl(app.request,{'type':'deal_cancelled'}) }}">{{ 'transaction.type.deal_cancelled'|transDb }}</option>
                                        <option {% if app.request.query.get('type') == "fees" %} selected {% endif %}
                                                value="{{ updateUrl(app.request,{'type':'fees'}) }}">{{ 'transaction.type.fees'|transDb }}</option>
                                        <option {% if app.request.query.get('type') == "country_tax" %} selected {% endif %}
                                                value="{{ updateUrl(app.request,{'type':'country_tax'}) }}">{{ 'transaction.type.country_tax'|transDb }}</option>
                                        <option {% if app.request.query.get('type') == "support_correction" %} selected {% endif %}
                                                value="{{ updateUrl(app.request,{'type':'support_correction'}) }}">{{ 'transaction.type.support_correction'|transDb }}</option>
                                        <option {% if app.request.query.get('type') == "compensation" %} selected {% endif %}
                                                value="{{ updateUrl(app.request,{'type':'compensation'}) }}">{{ 'transaction.type.compensation'|transDb }}</option>
                                        <option {% if app.request.query.get('type') == "task_tip" %} selected {% endif %}
                                                value="{{ updateUrl(app.request,{'type':'task_tip'}) }}">{{ 'transaction.type.task_tip'|transDb }}</option>
                                        <option {% if app.request.query.get('type') == "referral" %} selected {% endif %}
                                                value="{{ updateUrl(app.request,{'type':'referral'}) }}">{{ 'transaction.type.referral'|transDb }}</option>
                                    </select>
                                </div>
                                <div class="col-1 col-md-4 col-lg-3 pl-sm-0">
                                    <div class="date-range" id="data-date-filter"
                                         data-start="{{ app.request.query.get('s_date') }}"
                                         data-end="{{ app.request.query.get('e_date') }}"
                                         data-url="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'s_date':'_start_','e_date':'_end_'})) }}">
                                        <i class="far fa-calendar-alt mr-10"></i>
                                        <span></span> <i class="fa fa-caret-down float-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body container-fluid">
                <div class="table-responsive">
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th>{{ 'transaction.table.date'|trans }}  {{ sort_column.sort("date") }}</th>
                            <th>{{ 'transaction.table.from'|trans }}  {{ sort_column.sort("from") }}</th>
                            <th>{{ 'transaction.table.to'|trans }}  {{ sort_column.sort("for") }}</th>
                            <th>{{ 'transaction.table.type'|trans }}  </th>
                            <th class="text-center">{{ 'task.table.payment_type'|trans }}  </th>
                            <th>{{ 'transaction.table.price'|trans }}  {{ sort_column.sort("price") }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for transaction in transactions %}
                            <tr class="{% if transaction.id in indicator.items %}flagged{% endif %}">
                                <td>{{ transaction.createdAt|date('d-m-Y H:i') }}</td>
                                <td style="max-width: 120px">
                                    <div class="user-info position-relative">
                                        {% if transaction.type == constant('TYPE_TASK_COMPLETE',transaction) and transaction.toUser.country.identifier != transaction.fromUser.country.identifier%}
                                            <sup class="image-country" data-toggle="tooltip" data-title="{{ transaction.fromUser.country.name }}">
                                                <img class="img-circle" src="{{transaction.fromUser.country.flag}}" alt="">
                                            </sup>
                                        {% endif %}
                                        {% if transaction.fromUser %}
                                            <div class="user-icon hidden-sm-down">
                                                {% if transaction.fromUser.picture %}
                                                    <img src="{{ asset( transaction.fromUser.picture.path??'assets/admin/images/default-user.png') }}"
                                                         alt="{{ transaction.fromUser.fullName }}" onerror="loadDefaultAvatar(this)">
                                                {% else %}
                                                    <div class="user-badge">
                                                        {{ transaction.fromUser.firstname|first|upper~transaction.fromUser.lastname|first|upper }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="user-details">
                                                <a href="{{ path('user_details', {'id': transaction.fromUser.id}) }}">{{ transaction.fromUser.firstname~' '~transaction.fromUser.lastname }}</a>
                                                <div data-plugin="rating" data-readonly="true" class="rating-sm"
                                                     data-score="{{ transaction.fromUser.note|number_format(1,'.') }}"
                                                     data-toggle="tooltip"
                                                     data-title="{{ (transaction.fromUser.userType == constant('TYPE_TASKER',transaction.fromUser)?transaction.fromUser.reviewAsaTasker:transaction.fromUser.reviewAsaPoster)|length }} {{ 'layout.reviews'|trans }}">
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="user-icon">
                                                <img src="{{ asset('assets/img/logo/logo_v2.png') }}" alt="">
                                            </div>
                                            <div class="user-details">
                                                {{ 'layout.app_name'|trans }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </td>
                                <td style="max-width: 120px">
                                    <div class="user-info position-relative">
                                        {% if transaction.type == constant('TYPE_TASK_COMPLETE',transaction) and transaction.toUser.country.identifier != transaction.fromUser.country.identifier%}
                                            <sup class="image-country" data-toggle="tooltip" data-title="{{ transaction.toUser.country.name }}">
                                                <img class="img-circle" src="{{transaction.toUser.country.flag}}" alt="">
                                            </sup>
                                        {% endif %}
                                        {% if transaction.toUser %}
                                            <div class="user-icon hidden-sm-down position-relative">
                                                {% if transaction.toUser.picture %}
                                                    <img src="{{ asset( transaction.toUser.picture.path??'assets/admin/images/default-user.png') }}"
                                                         alt="" onerror="loadDefaultAvatar(this)">
                                                {% else %}
                                                    <div class="user-badge">
                                                        {{ transaction.toUser.firstname|first|upper~transaction.toUser.lastname|first|upper }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="user-details">
                                                <a href="{{ path('user_details', {'id': transaction.toUser.id}) }}">{{ transaction.toUser.firstname~' '~transaction.toUser.lastname }}</a>
                                                <div data-plugin="rating" data-readonly="true" class="rating-sm"
                                                     data-score="{{ transaction.toUser.note|number_format(1,'.') }}"
                                                     data-toggle="tooltip"
                                                     data-title="{{ (transaction.toUser.userType == constant('TYPE_TASKER',transaction.toUser)?transaction.toUser.reviewAsaTasker:transaction.toUser.reviewAsaPoster)|length }} {{ 'layout.reviews'|trans }}">
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="user-icon position-relative">
                                                <img src="{{ asset('assets/img/logo/logo_v2.png') }}" alt="">
                                            </div>
                                            <div class="user-details">
                                                {{ 'layout.app_name'|trans }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>
                                    {{ ('transaction.type.'~transaction.type)|transDb }}
                                </td>
                                <td class="text-center">
                                    {% if  transaction.paymentType == 1 %}
                                        <img data-toggle="tooltip" title="{{ 'task.payment_type.cash'|trans }}"
                                             width="28" src="{{ asset('assets/img/icon/cash.png') }}" alt="">
                                    {% elseif transaction.paymentType == 2 %}
                                        <img data-toggle="tooltip" title="{{ 'task.payment_type.wallet'|trans }}"
                                             width="28" src="{{ asset('assets/img/icon/wallet.png') }}" alt="">
                                    {% elseif transaction.paymentType == 3 %}
                                        <img data-toggle="tooltip" title="{{ 'task.payment_type.card'|trans }}"
                                             width="28" src="{{ asset('assets/img/icon/master-card.png') }}" alt="">
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{{ transaction.price }} {{ currentRegion().currencySymbol }}</td>
                                <td class="text-right" style="max-width: 100px">
                                    {% if transaction.task %}
                                        <a href="{{ path('task_show', {'id': transaction.task.id }) }}"
                                           data-toggle="tooltip" data-title="{{ "task.table.show_details"|trans }}"
                                           class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic">
                                            <i class="far fa-file-alt"></i>
                                        </a>
                                    {% endif %}
                                    {% include '@App/admin/parts/btn-flag-item.html.twig' with {'item': transaction.id ,'indicator':indicator} %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% if transactions|length==0 %}
                            <tr>
                                <td colspan="6"
                                    class="text-center p-30 font-size-14">{{ 'transaction.table.no_data'|trans }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                        <tfoot>
                        {% if totalResult is defined %}
                            <tr>
                                <td colspan="5" class="text-right">
                                        {{ 'transaction.table.total'|trans }}
                                </td>
                                <td colspan="1" class="text-right">
                                    <h5> {{ totalResult['total'] }} {{ currentRegion().currencySymbol }}</h5>
                                </td>
                            </tr>
                        {% endif %}
                        </tfoot>
                    </table>
                </div>
                <div class="row table-nav">
                    {{ knp_pagination_render(transactions, ':KnpPaginatorBundle/Pagination:site_defaut_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
