{% extends 'AppBundle:admin/parts:layout.html.twig' %}
{% import ":macro:sort.macro.html.twig" as sort_column %}
{% block title %}
    {{ 'side_menu.transactions.withdraw_requests'|trans }}
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">{{ 'side_menu.transactions.withdraw_requests'|trans }}</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="panel" data-plugin="matchHeight" data-by-row="true">
            <div class="panel-heading">
                <div class="pt-20 mb-10">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="row align-items-center">
                                {% include '@App/admin/widget/page-length.html.twig' %}
                                <div class="col-5 col-md-4">
                                    {% include '@App/admin/widget/search.html.twig' %}
                                </div>
                                <div class="col-4 col-md-3 pl-sm-0">
                                    <select title="{{ 'transaction.withdraw.table.status'|trans }}" id="transaction-status"
                                            class="form-control selectpicker bootstrap-select filter-selector">
                                        <option selected value="{{ updateUrl(app.request,{'status':''}) }}">{{ 'transaction.withdraw.table.status_all'|trans }}</option>
                                        <option {% if app.request.query.get('status') == "pending" %} selected {% endif %}
                                                value="{{ updateUrl(app.request,{'status':'pending'}) }}">
                                            {{ 'transaction.withdraw.table.status_pending'|trans }}
                                        </option>
                                        <option {% if app.request.query.get('status') == "processing" %} selected {% endif %}
                                                value="{{ updateUrl(app.request,{'status':'processing'}) }}">
                                            {{ 'transaction.withdraw.table.status_processing'|trans }}
                                        </option>
                                        <option {% if app.request.query.get('status') == "completed" %} selected {% endif %}
                                                value="{{ updateUrl(app.request,{'status':'completed'}) }}">
                                            {{ 'transaction.deposit.table.status_completed'|trans }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-1 col-md-4 col-lg-3 pl-sm-0">
                                    <div class="date-range" id="data-date-filter"
                                         data-start="{{ app.request.query.get('s_date') }}"
                                         data-end="{{ app.request.query.get('e_date') }}"
                                         data-url="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'s_date':'_start_','e_date':'_end_'})) }}">
                                        <i class="far fa-calendar-alt mr-10"></i>
                                        <span></span> <i class="fa fa-caret-down float-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body container-fluid">
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'transaction.table.date'|trans }}  {{ sort_column.sort("date") }}</th>
                            <th>{{ 'transaction.withdraw.table.from'|trans }}  {{ sort_column.sort("from") }}</th>
                            <th>{{ 'transaction.withdraw.table.balance'|trans }} {{ sort_column.sort("price") }}</th>
                            <th>{{ 'transaction.withdraw.table.method'|trans }}</th>
                            <th>{{ 'transaction.withdraw.table.status'|trans }} </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for request in requests %}
                            <tr class="{% if request.id in indicator.items %}flagged{% endif %}">
                                <td>{{ request.createdAt|date('d-m-Y H:i') }}</td>
                                <td>
                                    <div class="user-info">
                                        <div class="user-icon">
                                            {% if request.fromUser.picture %}
                                                <img src="{{ asset( request.fromUser.picture.path??'assets/admin/images/default-user.png') }}"
                                                     alt="{{ request.fromUser.fullName }}" onerror="loadDefaultAvatar(this)">
                                            {% else %}
                                                <div class="user-badge">
                                                    {{ request.fromUser.firstname|first|upper~request.fromUser.lastname|first|upper }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="user-details">
                                            <a href="{{ path('user_details', {'id': request.fromUser.id}) }}">
                                                {{ request.fromUser.firstname~' '~request.fromUser.lastname }}
                                            </a>
                                            <div data-plugin="rating" data-readonly="true" class="rating-sm"
                                                 data-score="{{ request.fromUser.note|number_format(1,'.') }}"
                                                 data-toggle="tooltip"
                                                 data-title="{{ (request.fromUser.userType == constant('TYPE_TASKER',request.fromUser)?request.fromUser.reviewAsaTasker:request.fromUser.reviewAsaPoster)|length }} {{ 'layout.reviews'|trans }}">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ request.price }} {{ currentRegion().currencySymbol }}</td>
                                <td>
                                    {{ ('transaction.withdraw.type.'~request.extras['method'])|trans }}
                                </td>
                                <td>
                                    {% if request.status == constant('STATUS_PENDING',request) %}
                                        <span class="badge rounded-capsule  badge-soft-warning">
                                        <i class="far fa-hourglass mr-5"></i>
                                        {{ 'transaction.withdraw.table.status_pending'|trans }}
                                    </span>
                                    {% elseif request.status == constant('STATUS_PROCESSING',request) %}
                                        <span class="badge rounded-capsule badge-soft-info">
                                        <i class="fas fa-cogs mr-5"></i>
                                        {{ 'transaction.withdraw.table.status_processing'|trans }}
                                    </span>
                                    {% elseif request.status == constant('STATUS_COMPLETED',request) %}
                                        <span class="badge rounded-capsule badge-soft-success">
                                        <i class="far fa-check-circle mr-5"></i>
                                        {{ 'transaction.deposit.table.status_completed'|trans }}
                                    </span>
                                    {% elseif request.status == constant('STATUS_CANCELLED',request) %}
                                        <span class="badge rounded-capsule badge-soft-danger">
                                        <i class="far fa-check-circle mr-5"></i>
                                        {{ 'transaction.deposit.table.status_cancelled'|trans }}
                                    </span>
                                    {% endif %}
                                </td>
                                <td class="text-right">
                                    <a href="{{ path('admin_withdraw_request_details', {'id': request.id }) }}"
                                       data-toggle="tooltip" data-title="{{ "task.table.show_details"|trans }}"
                                       class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic">
                                        <i class="fas fa-file-invoice-dollar"></i>
                                    </a>
                                    {% if request.status in [0,1] %}
                                    <button class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic btn-cancel-withdrawal"
                                            data-toggle="tooltip" data-title="{{ 'delete_user_modal.btn_cancel'|trans }}"
                                            data-url="{{ path('admin_withdraw_request_details', {'id': request.id }) }}">
                                        <i class="far fa-ban"></i>
                                    </button>
                                    {% endif %}
                                    {% include '@App/admin/parts/btn-flag-item.html.twig' with {'item': request.id ,'indicator':indicator} %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% if requests|length==0 %}
                            <tr>
                                <td colspan="6"
                                    class="text-center p-30 font-size-14">{{ 'transaction.table.withdraw_no_data'|trans }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                        {% if totalResult is defined %}
                            <tr>
                                <td colspan="4" class="text-right">
                                    {{ 'transaction.table.total'|trans }}
                                </td>
                                <td colspan="1" class="text-right">
                                    <h5> {{ totalResult['total'] }} {{ currentRegion().currencySymbol }}</h5>
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
                <div class="row table-nav">
                    {{ knp_pagination_render(requests, ':KnpPaginatorBundle/Pagination:site_defaut_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade small-modal danger-modal" id="cancel-withdrawal-modal" aria-labelledby="cancel-withdrawal-modal"
         role="dialog"
         tabindex="-1" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-simple modal-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalTitle">
                        <span class="delete-icon-title">
                            <i class="fa fa-trash-alt"></i>
                        </span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h4>{{ 'transaction.withdraw.cancel_modal.title'|trans }}</h4>
                    <p>{{ 'transaction.withdraw.cancel_modal.body'|trans }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-inverse"
                            data-dismiss="modal">{{ 'transaction.withdraw.cancel_modal.btn_abort'|trans }}</button>
                    <button type="button" id="btn-cancel-withdrawal"
                            class="btn btn-danger">{{ 'transaction.withdraw.cancel_modal.btn_confirm_cancel'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
          let cancelWithdrawalModal = $('#cancel-withdrawal-modal');
          let withdrawalToCancelPath = null;
          $('.btn-cancel-withdrawal').on('click',function () {
                cancelWithdrawalModal.modal('show');
                withdrawalToCancelPath = $(this).data('url');
          });
          $('#btn-cancel-withdrawal').on('click',function () {
            if(withdrawalToCancelPath){
              $.ajax({
                url: withdrawalToCancelPath,
                method: 'POST',
                data: {action: 'cancel'},
                beforeSend: function () {
                  cancelWithdrawalModal.addClass('loading-modal');
                },
                success: function (data) {
                  miniToaster.fire({
                    type: 'success',
                    title: data.message
                  });
                  cancelWithdrawalModal.removeClass('loading-modal');
                  cancelWithdrawalModal.modal('hide');
                  withdrawalToCancelPath = null;
                  window.location.reload();
                },
                error: function (error) {
                  Swal.showValidationMessage(
                    `Request failed: ${error}`
                  );
                  cancelWithdrawalModal.addClass('loading-modal');
                  cancelWithdrawalModal.modal('hide');
                  withdrawalToCancelPath = null;
                }
              });
            }
          });
        });
    </script>
{% endblock %}
