{% extends 'AppBundle:admin/parts:layout.html.twig' %}

{% block title %}
    {{ 'side_menu.transactions.withdraw_request_details'|trans }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/transactions/withdraw.request.detail.css') }}">
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            </li>
            <li class="breadcrumb-item"><a
                        href="{{ path('admin_withdrawal_request') }}">{{ 'side_menu.transactions.withdraw_requests'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">{{ 'side_menu.transactions.withdraw_request_details'|trans }}</li>
        </ol>
    </div>
    <div class="page-content container-fluid row">
        <div class="card col-12">
            <div class="card-content pt-20">
                <h6 class="card-sub-title">{{ 'transaction.withdraw.details.withdraw_info'|trans }}</h6>
                <div class="data-details row">
                    <div class="col-3">
                        <span class="data-details-title">
                            <em class="far fa-calendar-alt mr-5"></em>
                            {{ 'transaction.withdraw.details.requested_at'|trans }}
                        </span>
                        <span class="data-details-info large">{{ request.createdAt|date('d M,Y') }}</span>
                    </div>
                    <div class="col-3">
                        <span class="data-details-title">
                            <em class="fas fa-wallet mr-5"></em>
                            {{ 'transaction.withdraw.details.free_balance'|trans }}
                        </span>
                        <span class="data-details-info large">{{ request.fromUser.wallet.totalBalance }} <small>{{ request.fromUser.country.currencyCode }}</small></span>
                    </div>
                    <div class="col-3">
                        <span class="data-details-title">
                            <em class="fas fa-hand-holding-usd mr-5"></em>
                            {{ 'transaction.withdraw.details.requested_balance'|trans }}
                        </span>
                        <span class="data-details-info large">{{ request.price }} <small>{{ request.fromUser.country.currencyCode }}</small></span>
                    </div>
                    <div class="col-3">
                        {% if request.status == constant('STATUS_PENDING',request) %}
                            <span class="data-details-title mb-5">{{ 'transaction.withdraw.table.status'|trans }}</span>
                            <span class="badge badge-soft-warning ucap">{{ 'transaction.withdraw.table.status_pending'|trans }}</span>
                        {% elseif request.status == constant('STATUS_PROCESSING',request) %}
                            <span class="data-details-title mb-5">{{ 'transaction.withdraw.table.status'|trans }}</span>
                            <span class="badge badge-soft-info ucap">{{ 'transaction.withdraw.table.status_processing'|trans }}</span>
                        {% elseif request.status == constant('STATUS_COMPLETED',request) %}
                            <span class="data-details-title mb-5">{{ 'transaction.withdraw.table.status'|trans }}</span>
                            <span class="badge badge-soft-success ucap">{{ 'transaction.deposit.table.status_completed'|trans }}</span>
                        {% elseif request.status == constant('STATUS_CANCELLED',request) %}
                            <span class="data-details-title mb-5">{{ 'transaction.withdraw.table.status'|trans }}</span>
                            <span class="badge badge-soft-danger ucap">{{ 'transaction.deposit.table.status_cancelled'|trans }}</span>
                        {% endif %}
                    </div>
                    {% if request.extras['method'] == constant('WITHDRAW_TYPE_MANUAL_BANK_TRANSFER',request) %}
                    <div class="col-12 p-20">
                            {% if request.status == constant('STATUS_PROCESSING',request) %}
                        <form  method="post" class="text-center mt-20" enctype="multipart/form-data">

                        <div class="fileinput text-center col-sm-8 offset-sm-2 col-md-6 offset-md-3 ">
                                <div class="img-preview {{ errors is defined ? ' is-invalid' : '' }}"
                                     data-background="{{ asset('assets/img/image-placeholder.jpg') }}"
                                     style="background-image: url({% if request.withdrawInvoice is null %}
                                             {{ asset('assets/img/image-placeholder.jpg') }}
                                     {% else %}
                                             {{ request.withdrawInvoice.path }}
                                     {% endif %})"></div>
                                <div class="col-12 text-center fileinput-controls">
                                    <label class="btn btn-default btn-round btn-file mb-0  {{ errors is defined ? ' is-invalid' : '' }}">
                                        <span class="fileinput-new">{{ 'transaction.withdraw.details.invoice.select'|trans }}</span>
                                        <span class="fileinput-change">{{ 'transaction.withdraw.details.invoice.change'|trans }}</span>
                                        <input type="file" name="invoice"
                                               accept="image/png,image/jpeg,image/jpg"/>
                                    </label>
                                    <a href="#" class="btn btn-danger btn-round fileinput-delete"
                                       data-dismiss="fileinput">
                                        <i class="fa fa-times mr-5"></i>{{ 'transaction.withdraw.details.invoice.remove'|trans }}
                                    </a>
                                </div>
                            </div>
                            <a href="javascript:;" class="ml-20 btn btn-theme-primary btn-round btn-request-action mt-10" data-action="complete">
                                <i class="fa fa-check mr-5"></i>{{ 'transaction.withdraw.details.complete'|trans }}
                            </a>
                        </form>
                            {% elseif request.status == constant('STATUS_PENDING',request) %}
                                <form  method="post" class="text-center mt-20">
                                    <div class="col-12">
                                        <p>{{ 'transaction.withdraw.details.process_cancel_msg'|trans }}</p>
                                        <a href="javascript:;" class="btn btn-danger btn-round btn-request-action" data-action="cancel">
                                            <i class="fa fa-ban mr-5"></i>{{ 'transaction.withdraw.details.cancel'|trans }}
                                        </a>
                                        <a href="javascript:;" class="ml-20 btn btn-theme-primary btn-round btn-request-action" data-action="process">
                                            <i class="fa fa-check mr-5"></i>{{ 'transaction.withdraw.details.process'|trans }}
                                        </a>
                                    </div>
                                </form>
                            {% else %}
                                <div class="text-center col-sm-8 offset-sm-2 col-md-6 offset-md-3">
                                    <img style="max-width: 100%;" src="{{ path('admin-protected-file-access',{'file':request.withdrawInvoice.name,'id':request.withdrawInvoice.id,'extension':request.withdrawInvoice.extension}) }}"
                                         alt="{{ request.withdrawInvoice.name }}">
                                </div>
                            {% endif %}
                    </div>
                    {% endif %}
                </div>
                <h6 class="card-sub-title">{{ 'transaction.withdraw.details.user_info'|trans }}</h6>
                <ul class="data-details-list">
                    <li>
                        <div class="data-details-head">{{ 'table.user.fullname'|trans }}</div>
                        <div class="data-details-des">{{ request.fromUser.fullName }}</div>
                    </li><!-- li -->
                    <li>
                        <div class="data-details-head">{{ 'users.email'|trans }}</div>
                        <div class="data-details-des">{{ request.fromUser.email }}</div>
                    </li><!-- li -->
                    <li>
                        <div class="data-details-head">{{ 'users.address.phone'|trans }}</div>
                        <div class="data-details-des">{{ request.fromUser.phone }}</div>
                    </li><!-- li -->
                    <li>
                        <div class="data-details-head">{{ 'users.birthday'|trans }}</div>
                        <div class="data-details-des">{{ request.fromUser.birthDate|date('d M,Y') }}</div>
                    </li><!-- li -->
                    <li>
                        <div class="data-details-head">{{ 'table.user.last_login'|trans }}</div>
                        <div class="data-details-des">{{ request.fromUser.lastLogin|date('d M,Y') }}</div>
                    </li><!-- li -->
                    <li>
                        <div class="data-details-head">{{ 'table.user.join_date'|trans }}</div>
                        <div class="data-details-des">{{ request.fromUser.createdAt|date('d M,Y') }}</div>
                    </li><!-- li -->
                </ul>
                <h6 class="card-sub-title">{{ 'transaction.withdraw.details.bank_account_info'|trans }}</h6>
                <ul class="data-details-list">
                    <li>
                        <div class="data-details-head">{{ 'transaction.withdraw.details.bank_account.holder_name'|trans }}</div>
                        <div class="data-details-des">{{ request.fromUser.bankAccount.holderName }}</div>
                    </li><!-- li -->
                    <li>
                        <div class="data-details-head">{{ 'transaction.withdraw.details.bank_account.account_number'|trans }}</div>
                        <div class="data-details-des">{{ request.fromUser.bankAccount.accountNumber }}</div>
                    </li><!-- li -->
                    {% if request.fromUser.country.identifier == 'id' %}
                        <li>
                            <div class="data-details-head">{{ 'transaction.withdraw.details.bank_account.bank_code'|trans }}</div>
                            <div class="data-details-des">{{ request.fromUser.bankAccount.bankCode }}</div>
                        </li><!-- li -->
                    {% else %}
                        <li>
                            <div class="data-details-head">{{ 'transaction.withdraw.details.bank_account.sort_code'|trans }}</div>
                            <div class="data-details-des">{{ request.fromUser.bankAccount.routingNumber }}</div>
                        </li><!-- li -->
                    {% endif %}
                    <li>
                        <div class="data-details-head">{{ 'transaction.withdraw.details.bank_account.bank_name'|trans }}</div>
                        <div class="data-details-des">{{ request.fromUser.bankAccount.bankName }}</div>
                    </li><!-- li -->
                    <li>
                        <div class="data-details-head">{{ 'transaction.withdraw.details.bank_account.phone'|trans }}</div>
                        <div class="data-details-des">{{ request.fromUser.bankAccount.phone }}</div>
                    </li><!-- li -->
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/pages/transactions/withdraw.request.details.js') }}"></script>
{% endblock %}
