.data-details-list {
    border-radius: 4px;
    border: 1px solid #d2dde9;
}

.data-details-des {
    font-size: 14px;
    color: #495463;
    font-weight: 400;
    line-height: 20px;
    padding: 2px 20px 15px;
    flex-grow: 1;
    border-bottom: 1px solid #d2dde9;
    display: flex;
    justify-content: space-between;
}

.data-details-head {
    font-size: 13px;
    font-weight: 500;
    color: #758698;
    line-height: 20px;
    padding: 15px 20px 2px;
    width: 100%;
}

@media (min-width: 576px) {
    .data-details-list > li {
        display: flex;
        align-items: center
    }

    .data-details-docs {
        width: calc(100% - 190px);
        border-top: none
    }

    .data-details-head {
        width: 190px;
        padding: 14px 20px
    }

    .data-details-des {
        border-top: none;
        border-left: 1px solid #d2dde9;
        width: calc(100% - 190px);
        padding: 14px 20px
    }
}

.card-sub-title {
    text-transform: uppercase;
    color: #758698;
    letter-spacing: 0.1em;
    display: block;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 4px;
}
.data-details {
    border-radius: 4px;
    padding: 18px 20px;
    border: 1px solid #d2dde9;
}
.data-details-title {
    font-size: 14px;
    font-weight: 600;
    color: #758698!important;
    line-height: 20px;
    display: block;
}
.data-details-info {
    font-size: 14px;
    font-weight: 400;
    color: #495463!important;
    line-height: 20px;
    display: block;
    margin-top: 6px;
}
.data-details-info.large {
    font-size: 20px;
}
p{
    color: #758698;
}