#required-category-block {
    display: none;
}

.noUi-handle:after, .noUi-handle:before {
    content: none;
}

.noUi-handle :after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
    background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.irs-handle i {
    display: none !important;
}

.noUi-connect {
    background: #008fb4;
}

.noUi-marker {
    background-color: #e1e4e9;
    width: 1px;
    height: 4px;
}

.noUi-marker.noUi-marker-large {
    height: 8px;
}

.noUi-value {
    white-space: nowrap;
    text-align: center;
    font-size: 9px;
    color: #999;
    line-height: 9px;
    padding: 0 3px;
    margin-top: 5px;
}

.range-slider {
    height: 12px;
    background-color: #e1e4e9;
    border-radius: 4px;
    box-shadow: none;
    border: none;
}

.noUi-pips-horizontal {
    height: 40px;
}

.noUi-tooltip {
    color: white;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background-color: #208fb4;
    border-radius: 4px;
    border: none;
}

.noUi-handle {
    outline: none;
    background: white !important;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    width: 26px !important;
    height: 26px !important;
    position: absolute;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…Igd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    touch-action: pan-y;
}

button.remove-req-cat {
    padding: 9px;
    border-radius: 50%;
    margin-right: 6px;
    margin-top: -4px;
    line-height: 16px;
    position: absolute;
    font-size: 16px;
    right: -5px;
}
html[dir="rtl"] button.remove-req-cat {
    left: 2px;
    right: inherit;
}
li.req-cat {
    overflow: hidden;
    background: gainsboro;
    border-radius: 50px;
    line-height: 30px;
    position: relative;
    font-weight: 500;
    margin-right: 15px;
    margin-top: 10px;
    padding: 4px 10px 4px 10px;
    max-width: 150px;

}

li.req-cat .fa {
    font-weight: 400;
}

ul.category-list {
    list-style: none;
    padding: 0;
}

.iconpicker-popover {
    z-index: 100000;
}

.table .badge {
    border-radius: 20px;
    padding: 7px 10px;
}

.table .badge-danger {
    background: #F5CFCC;
    color: #CE8D87;
}

.table .badge-success {
    background: #D1EAD1;
    color: #8AC28F;
}

.input-group-text {
    max-height: 33px;
}
.language-box{
    max-width: 150px;
    margin-right: 37px;
    text-align: center;
    background: #eaecec80;
    border-radius: 9px;
    padding: 32px 25px 12px;
    box-shadow: 0 0 6px 0 #00000030;
    position: relative;
}
.language-box img{
    width: 80px;
    border-radius: 30%;
}
.language-box .btn-setting {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    color: lightslategrey;
}
#add-language{
    text-decoration: none;
}
#category-table tbody tr{
    cursor: move;
}