<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <style>
        body {
            background-color: #fff;
        }
        body>table {
            max-width: 560px;
            padding: 24px 24px 32px;
            background-color: #fafafa;
            border: 1px solid #e0e0e0;
            border-radius: 2px;
        }
    </style>
</head>
<body bgcolor="#fafafa" style="padding-top: 20px">
    <table width="768" align="center" cellspacing="0" cellpadding="0">
        <tr>
            <table bgcolor="#fafafa" width="100%" align="center" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="padding-bottom: 18px;text-align: center">
                        <img src="{{ absolute_url(asset('assets/img/logo/logo_v2.png')) }}"
                             style="max-width: 130px;">
                    </td>
                </tr>
                <tr>
                    <td>
                        {% block body %} {% endblock %}
                    </td>
                </tr>
            </table>
        </tr>
        <tr>
            <td>
                <table bgcolor="#fafafa" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="padding-top: 20px;font-family: 'Open Sans', sans-serif; font-size: 12px; line-height: 24px; color: #757575;text-align: right;">
                            Privacy Policy | CGU / CGV
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top:5px;font-family: 'Open Sans', sans-serif; font-size: 11px; line-height: 10px; color: #ACABAB;">
                            Copyright 2018 © maatloob
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
