<!doctype html>
<html lang='{{ (app.request.locale??'en') }}' {% if (app.request.locale??'en')=='ar' %}dir='rtl'{% endif %}>
<body><h3>{{ 'invoice_payment.details.delivery'|transDb }}</h3>
<div style='display: table'>
    <div style='display: table-row'>
        <div style='display:table-cell'>{{ 'invoice_payment.details.purchase_price'|transDb }} : </div>
        <div style='display:table-cell;text-align: end'>{{ invoicePrice }} {{ currentRegion().currencySymbol }}</div>
    </div>
    <div style='display: table-row'>
        <div style='display:table-cell'>{{ 'invoice_payment.details.delivery_price'|transDb }} : </div>
        <div style='display:table-cell;text-align: end'>{{ task.price }} {{ currentRegion().currencySymbol }}</div>
    </div>
    <div style='display: table-row'>
        <div style='display:table-cell'><b>{{ 'total'|transDb }}</b></div>
        <div style='display:table-cell;text-align: end'><b>{{ totalPrice }} {{ currentRegion().currencySymbol }}</b></div>
    </div>
    {% if  task.user.country.config.taxIdentifier %}
    <hr>
    <div style='display: table-row;padding-top: 20px'>
        <div style='display:table-cell'><b>{{ 'invoice_tax_number'|transDb }}</b></div>
        <div style='display:table-cell;text-align: end'><b>{{task.user.country.config.taxIdentifier}}</b></div>
    </div>
    {% endif %}
</div>
</body>
</html>
