<!doctype html>
<html lang="{{(app.request.locale??'en')}}" {% if (app.request.locale??'en')=='ar' %} dir="rtl" {% endif %} >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
        .text-right{
            text-align: {% if (app.request.locale??'en')!='ar' %} right {% else %} left {% endif %};
        }
        .text-left{
            text-align: {% if (app.request.locale??'en')!='ar' %} left {% else %} right {% endif %};
        }
        .invoice {
            position: relative;
            background-color: #FFF;
            min-height: 680px;
            padding: 15px
        }

        .invoice header {
            padding: 10px 0;
            margin-bottom: 20px;
            border-bottom: 1px solid #3989c6
        }
        .invoice .company-details {
            text-align: {% if (app.request.locale??'en')!='ar' %} left {% else %} right {% endif %};
        }
        .invoice .company-details .name {
            margin-top: 0;
            margin-bottom: 0
        }

        .invoice .contacts {
            margin-bottom: 20px
        }

        .invoice .invoice-to {
            text-align: {% if (app.request.locale??'en')!='ar' %} left {% else %} right {% endif %};
        }
        .invoice .invoice-to .to {
            margin-top: 0;
            margin-bottom: 0
        }

        .invoice .invoice-details {
            text-align: {% if (app.request.locale??'en')!='ar' %} left {% else %} right {% endif %};
        }
        .invoice .invoice-details .invoice-id {
            margin-top: 0;
            color: #3989c6
        }

        .invoice main {
            padding-bottom: 50px
        }

        .invoice main .thanks {
            margin-top: -100px;
            font-size: 2em;
            margin-bottom: 50px
        }
        .invoice main .notices {
        {% if (app.request.locale??'en')!='ar' %} padding-left: 6px;
            border-left: 6px solid #3989c6;
        {% else %} padding-right: 6px;
            border-right: 6px solid #3989c6;
        {% endif %}
        }
        .invoice main .notices .notice {
            font-size: 1.2em
        }

        .invoice table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            margin-bottom: 20px
        }

        .invoice table td,.invoice table th {
            padding: 10px;
            background: #eee;
            border-bottom: 1px solid #fff
        }

        .invoice table th {
            white-space: nowrap;
            font-weight: 400;
            font-size: 14px
        }

        .invoice table td h3 {
            margin: 0;
            font-weight: 400;
            color: #3989c6;
            font-size: 1.1em
        }
        .invoice table .total,.invoice table .unit {
            font-size: 1.1em
        }
        .invoice table .no {
            color: #fff;
            background: #3989c6
        }
        .invoice table .unit {
            background: #ddd
        }
        .invoice table .total {
            background: #3989c6;
            color: #fff
        }
        .invoice table tbody tr:last-child td {
            border: none
        }
        .invoice table tfoot td {
            background: 0 0;
            border-bottom: none;
            white-space: nowrap;
            text-align: right;
            padding: 10px 20px;
            font-size: 1.1em;
            border-top: 1px solid #aaa
        }
        html[dir="rtl"] .invoice table tfoot td{
            text-align: left;
        }
        .invoice table tfoot tr:first-child td {
            border-top: none
        }
        .invoice table tfoot tr:last-child td {
            color: #3989c6;
            font-size: 1.3em;
            border-top: 1px solid #3989c6
        }
        .invoice table tfoot tr td:first-child {
            border: none
        }
        .invoice footer {
            width: 100%;
            text-align: center;
            color: #777;
            border-top: 1px solid #aaa;
            padding: 8px 0
        }
        @media print {
            .invoice {
                font-size: 11px!important;
                overflow: hidden!important
            }

            .invoice footer {
                position: absolute;
                bottom: 10px;
                page-break-after: always
            }

            .invoice>div:last-child {
                page-break-before: always
            }
        }
        @page { margin: 0px; }
        body { margin: 0px; }
        html { margin: 0px}
        body { font-family: DejaVu Sans, sans-serif; }
        h5,h6{
            margin-bottom: 0;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
<div id="invoice">
    <div class="invoice overflow-auto">
        <div style="min-width: 600px">
            <header>
                <div class="row">
                    <table>
                        <tr style="background: transparent">
                            <td style="background: transparent;width: 66%">
                                <a target="_blank" href="{{ absolute_url('/') }}" style="position:absolute;">
                                    <img width="100" src="{{absolute_url(asset('assets/img/logo/logo_v3.png'))}}" data-holder-rendered="true" />
                                </a>
                            </td>
                            <td class="company-details" style="background: transparent">
                                <h2 class="name">
                                    <a target="_blank" href="">
                                        {{ 'layout.app_name'|trans }}
                                    </a>
                                </h2>
                                <div>{{maatloob_address}}</div>
                                <div>{{maatloob_phone}}</div>
                                <div>{{support_email}}</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </header>
            <main>
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="col invoice-to">
                            <div class="text-gray-light">{{ 'invoice_to'|transDb}}:</div>
                            <h3 class="to">{{ user.fullName }}</h3>
                            <div class="address">{{user.country.name~','~user.phone}}</div>
                            <div class="email">{{user.email}}</div>
                        </td>
                        <td class="col invoice-details">
                            <h3 class="invoice-id">{{ 'invoice'|transDb }} {{numberGenerator(9,'d')}}</h3>
                            <div class="date">{{ 'invoice_date'|transDb}}: {{date()|date('d-m-Y')}}</div>
                            <div class="date">{{ 'last_update'|transDb}}: {% if transactions|length>0 %} {{ (transactions|last).createdAt|date('d-m-Y h:i') }} {% else %} - {% endif %}</div>
                        </td>
                    </tr>
                </table>
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th style="max-width: 150px;"> {{ 'date'|transDb}}</th>
                        <th class="text-left">{{ 'details'|transDb}}</th>
                        <th> {{ 'paymentMethodes'|transDb}}</th>
                        <th class="text-center"> {{ 'income'|transDb}}</th>
                        <th class="text-center"> {{ 'outgoing'|transDb}}</th>
                        <th > {{ 'theBalance'|transDb}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set totalIncoming = 0 %}
                    {% set totalOutgoing = 0 %}
                    {% set countryTaxes = 0 %}
                    {% set maatloobFees = 0 %}
                    {% for transaction in transactions %}
                        {% if  transaction.type == constant('TYPE_FEES',transaction) %}
                            {% set maatloobFees = maatloobFees + transaction.price %}
                        {% elseif transaction.type == constant('TYPE_COUNTRY_TAX',transaction)  %}
                            {% set countryTaxes = countryTaxes + transaction.price %}
                        {% endif %}
                        <tr>
                            <td class="no" style="text-align: center">{{transaction.id}}</td>
                            <td  style="font-size: 16px;width: 170px;background: #ddd">{{transaction.createdAt|date('d-m-Y h:i')}}</td>
                            <td class="text-left">
                                <a href="">
                                    {{ ('transaction.type.'~transaction.type)|transDb }}
                                </a>
                                {% if transaction.type in  [
                                    constant('TYPE_TASK_COMPLETE',transaction),
                                    constant('TYPE_FEES',transaction),
                                    constant('TYPE_TASK_TIP',transaction),
                                    constant('TYPE_COMPENSATION',transaction),
                                    constant('TYPE_COUNTRY_TAX',transaction)
                                ]  and transaction.task is not null %}
                                    <h4><span style="color: #0D0A0A">{{ 'taskTitle'|transDb }}:</span> {{ transaction.task.title }}</h4>
                                {% endif %}
                            </td>
                            <td style="text-align: center">
                                {% if (transaction.type == constant('TYPE_TASK_COMPLETE',transaction) and transaction.task.paymentType == constant('PAYMENT_TYPE_CASH',transaction.task))%}
                                    {{ 'cash'|transDb}}
                                {% else %}
                                    {{ 'wallet'|transDb}}
                                {% endif %}
                            </td>
                            <td style="width: 80px;text-align: center">
                                {% if transaction.toUser and transaction.toUser.id == user.id %}
                                    {{transaction.price|number_format(2,'.',',')}}
                                    {% if not (transaction.type == constant('TYPE_TASK_COMPLETE',transaction) and transaction.task.paymentType == constant('PAYMENT_TYPE_CASH',transaction.task))%}
                                        {% set totalIncoming = totalIncoming + transaction.price %}
                                    {% endif %}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td style="width: 80px;text-align: center">
                                {% if transaction.fromUser and transaction.fromUser.id == user.id %}
                                    {{transaction.price|number_format(2,'.',',')}}
                                    {% if not (transaction.type == constant('TYPE_TASK_COMPLETE',transaction) and transaction.task.paymentType == constant('PAYMENT_TYPE_CASH',transaction.task))%}
                                        {% set totalOutgoing = totalOutgoing + transaction.price %}
                                    {% endif %}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td  style="min-width: 100px" class="total text-right">{{ currentRegion().currencySymbol }} {{(totalIncoming - totalOutgoing)|number_format(2,'.',',')}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4" class="text-right">{{ 'total'|transDb }}</td>
                        <td>{{ currentRegion().currencySymbol }} {{totalIncoming|number_format(2,'.',',')}}</td>
                        <td>{{ currentRegion().currencySymbol }} {{totalOutgoing|number_format(2,'.',',')}}</td>
                        <td>{{ currentRegion().currencySymbol }} {{(totalIncoming - totalOutgoing)|number_format(2,'.',',')}}</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right">{{'maatloob_fees'|transDb}}</td>
                        <td></td>
                        <td>{{ currentRegion().currencySymbol }} {{ maatloobFees|number_format(2,'.',',') }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right">{{'country_tax'|transDb}}</td>
                        <td></td>
                        <td>{{ currentRegion().currencySymbol }} {{ countryTaxes|number_format(2,'.',',') }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right">{{'total_taxes'|transDb}}</td>
                        <td></td>
                        <td>{{ currentRegion().currencySymbol }} {{ (countryTaxes + maatloobFees)|number_format(2,'.',',') }}</td>
                        <td></td>
                    </tr>
                    </tfoot>
                </table>
                {% if lockedBalance|length>0 %}
                    <h3>{{ 'lockedBalance'|transDb}}</h3>
                    <table border="0" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th > {{ 'date'|transDb}}</th>
                            <th class="text-left">{{ 'details'|transDb}}</th>
                            <th></th>
                            <th></th>
                            <th > {{ 'theBalance'|transDb}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set totalLocked = 0 %}
                            {% for locked in lockedBalance %}
                                {% set totalLocked = totalLocked + locked.price %}
                                <tr>
                                    <td class="unit" style="font-size: 16px">
                                        {% if instanceOfTask(locked) %}
                                            {{locked.publishedAt|date('d-m-Y h:i')}}
                                        {% else %}
                                            {{locked.createdAt|date('d-m-Y h:i')}}
                                        {% endif %}
                                    </td>
                                    <td colspan="3" class="text-left">
                                        {% if instanceOfTask(locked) %}
                                            <h6 class="mb-0">{{ 'transaction.locked_operation_task'|transDb }}</h6>
                                            <a style="font-size: 12px" class="text-primary" href="{{ path('task_show',{'id':locked.id}) }}">{{ locked.title }}</a>
                                        {% elseif  locked.type == constant('TYPE_TASK_INVOICE',locked) %}
                                            <h6>{{ 'transaction.type.task_invoice'|transDb }}</h6>
                                        {% else %}
                                            <h6>{{ 'transaction.type.withdraw'|transDb }}</h6>
                                        {% endif %}
                                    </td>
                                    <td style="min-width: 100px" class="total text-right">{{ currentRegion().currencySymbol }} {{locked.price}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4" class="text-right">{{ 'lockedBalance'|transDb }}</td>
                                <td>{{ currentRegion().currencySymbol }} {{totalLocked|number_format(2,'.',',')}}</td>
                            </tr> <tr>
                                <td colspan="4" class="text-right">{{ 'freeBalance'|transDb }}</td>
                                <td>{{ currentRegion().currencySymbol }} {{user.wallet.balance}}</td>
                            </tr>
                        </tfoot>
                    </table>
                {% endif %}
                <div class="thanks">{{'invoice_footer_thankyou'|transDb}}</div>
                <div class="notices">
                    <div>{{'invoice_footer_notice'|transDb}} :</div>
                    <div class="notice">{{'invoice_footer_notice_text'|transDb}}.</div>
                </div>
            </main>
            <footer>
                {{'copyright'|transDb({'#year#':date()|date('Y')})}}.
            </footer>
        </div>
        <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
        <div></div>
    </div>
</div>
</body>
</html>
