{% import ":macro:sort.macro.html.twig" as sort_column %}
{% extends "AppBundle:admin/parts:layout.html.twig" %}
{% block title %}{{ 'side_menu.tasks'|trans }}{% endblock %}
{% block stylesheets %}
    <style>
        .badge.badge-status {
            min-width: 55px;
            font-size: 12px;
            padding: 5px 15px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.statistics'|trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_stats_tasks') }}">{{ 'side_menu.statistics_tasks'|trans }}</a></li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="panel" data-plugin="matchHeight" data-by-row="true">
            <div class="panel-heading">
                <div class="pt-20 mb-10">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="row align-items-center">
                                {% include '@App/admin/widget/page-length.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body container-fluid">
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th>{{ "task.table.created_at"|trans }}</th>
                        <th>{{ "task.table.poster"|trans }}</th>
                        <th>{{ "task.table.title"|trans }}</th>
                        <th>{{ "task.table.price"|trans }}</th>
                        <th>{{ "task.table.due_date"|trans }}</th>
                        <th class="text-center">{{ "task.table.payment_type"|trans }}</th>
                        <th class="text-center">{{ "task.table.maatloob_profits"|trans }}</th>
                        <th class="text-center">{{ "task.table.status"|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.createdAt | date('d-m-Y') }}</td>
                            <td>
                                <div class="user-info">
                                    <div class="user-icon">
                                        {% if task.user.picture %}
                                            <img src="{{ asset( task.user.picture.path??'assets/admin/images/default-user.png') }}"
                                                 alt="">
                                        {% else %}
                                            <div class="user-badge">
                                                {{ task.user.firstname|first|upper~task.user.lastname|first|upper }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="user-details">
                                        <a href="{{ path('user_details', {'id': task.user.id}) }}">{{ task.user.firstname~' '~task.user.lastname }}</a>
                                        <div data-plugin="rating" data-readonly="true"
                                             data-score="{{ task.user.note|number_format(1,'.') }}"
                                             data-toggle="tooltip"
                                             data-title="{{ (task.user.userType == constant('TYPE_TASKER',task.user)?task.user.reviewAsaTasker:task.user.reviewAsaPoster)|length }} {{ 'layout.reviews'|trans }}">
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <b>{{ task.title|length > 20 ? task.title|slice(0, 20) ~ '...' : task.title }}</b>
                            </td>
                            <td>{{ task.price }} {{ currentRegion().currencySymbol }}</td>
                            <td>{{ task.date | date('d-m-Y')  }}</td>
                            <td class="text-center">
                                {% if task.paymentType == constant('PAYMENT_TYPE_CASH',task)  %}
                                    <img data-toggle="tooltip" title="{{ 'task.payment_type.cash'|trans }}"
                                         width="28" src="{{ asset('assets/img/icon/cash.png') }}" alt="">
                                {% elseif  task.paymentType == constant('PAYMENT_TYPE_CARD',task) %}
                                    <img data-toggle="tooltip" title="{{ 'task.payment_type.card'|trans }}"
                                         width="28" src="{{ asset('assets/img/icon/master-card.png') }}" alt="">
                                {% else %}
                                    <img data-toggle="tooltip" title="{{ 'task.payment_type.wallet'|trans }}"
                                         width="28" src="{{ asset('assets/img/icon/wallet.png') }}" alt="">
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if task.status >= constant('STATUS_ASSIGNED',task) and task.status <= constant('STATUS_COMPLETED',task) %}
                                    {{ currentRegion().currencySymbol }} {{ task.maatloobTax }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if task.status == constant('STATUS_DRAFT',task) %}
                                    <span class="badge badge-default badge-round badge-status">{{ "task.status.draft"|trans }}</span>
                                {% elseif task.status == constant('STATUS_PUBLISHED',task) %}
                                    <span class="badge badge-info badge-round badge-status"> {{ "task.status.published"|trans }}</span>
                                {% elseif task.status == constant('STATUS_ASSIGNED',task) %}
                                    <span class="badge badge-info badge-round badge-status">{{ "task.status.assigned"|trans }}</span>
                                {% elseif task.status == constant('STATUS_WAITING_PAYMENT',task) %}
                                    <span class="badge badge-warning badge-round badge-status">{{ "task.status.waiting_payment"|trans }}</span>
                                {% elseif task.status >= constant('STATUS_PAID',task) and task.status <= constant('STATUS_COMPLETED',task) %}
                                    <span class="badge badge-success badge-round badge-status">{{ "task.status.completed"|trans }}</span>
                                {% elseif task.status == constant('STATUS_CANCELLED',task) %}
                                    <span class="badge badge-danger badge-round badge-status">{{ "task.status.cancelled"|trans }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="no-result d-none">
                    <span>No data</span>
                </div>
                <div class="row table-nav">
                    {{ knp_pagination_render(tasks, ':KnpPaginatorBundle/Pagination:site_defaut_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
