{% extends 'AppBundle:admin/parts:layout.html.twig' %}
{% block title %}
    {{ 'side_menu.statistics'|trans }}/{{ 'side_menu.statistics_tasks'|trans }}
{% endblock %}
{% block body %}
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a></li>
        <li class="breadcrumb-item active">{{ 'side_menu.statistics'|trans }}</li>
        <li class="breadcrumb-item active">{{ 'side_menu.statistics_tasks'|trans }}</li>
    </ol>
</div>
<div class="page-content container-fluid row">
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="mt-0">{{ 'stats.task.new'|trans|raw }}</h5>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif">{{ stats['new'] }}</div>
                <div class="float-right mt--20"><a href="{{ path('admin_stats_task_details',{type:'new'}) }}"><small>{{ 'stats.more_details'|trans }}</small></a></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="mt-0">{{ 'stats.task.open'|trans }}</h5>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif">{{ stats['open'] }} </div>
                <div class="float-right mt--20"><a href="{{ path('admin_stats_task_details',{type:'open'}) }}"><small>{{ 'stats.more_details'|trans }}</small></a></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="mt-0">{{ 'stats.task.assigned'|trans }}</h5>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif">{{ stats['assigned'] }} </div>
                <div class="float-right mt--20"><a href="{{ path('admin_stats_task_details',{type:'assigned'}) }}"><small>{{ 'stats.more_details'|trans }}</small></a></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="mt-0">{{ 'stats.task.delayed'|trans }}</h5>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif">{{ stats['delayed'] }}</div>
                <div class="float-right mt--20"> <a href="{{ path('admin_stats_task_details',{type:'delayed'}) }}"><small>{{ 'stats.more_details'|trans }}</small></a></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="mt-0">{{ 'stats.task.problematic'|trans }}</h5>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif">{{ stats['problematic'] }}</div>
                <div class="float-right mt--20"> <a href="{{ path('admin_stats_task_details',{type:'problematic'}) }}"><small>{{ 'stats.more_details'|trans }}</small></a></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="mt-0">{{ 'stats.task.completed'|trans }}</h5>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif">{{ stats['completed'] }}</div>
                <div class="float-right mt--20"><a href="{{ path('admin_stats_task_details',{type:'completed'}) }}"><small>{{ 'stats.more_details'|trans }}</small></a></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="mt-0">{{ 'stats.task.deleted'|trans }}</h5>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif">{{ stats['deleted'] }} </div>
                <div class="float-right mt--20"><a href="{{ path('admin_stats_task_details',{type:'deleted'}) }}"><small>{{ 'stats.more_details'|trans }}</small></a></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="mt-0">{{ 'stats.task.cancelled'|trans }}</h5>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif">{{ stats['cancelled'] }} </div>
                <div class="float-right mt--20"><a href="{{ path('admin_stats_task_details',{type:'problematic'}) }}"><small>{{ 'stats.more_details'|trans }}</small></a></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="mt-0">{{ 'stats.task.awaiting_payment'|trans }}</h5>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif">{{ stats['awaiting_payment'] }}</div>
                <div class="float-right mt--20"><a href="{{ path('admin_stats_task_details',{type:'awaiting_payment'}) }}"><small>{{ 'stats.more_details'|trans }}</small></a></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="mt-0">{{ 'stats.task.expired'|trans }}</h5>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif">{{ stats['expired'] }}</div>
                <div class="float-right mt--20"><a href="{{ path('admin_stats_task_details',{type:'expired'}) }}"><small>{{ 'stats.more_details'|trans }}</small></a></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="mt-0">{{ 'stats.task.cash'|trans }}</h5>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif">{{ stats['payment_cash'] }}</div>
                <div class="float-right mt--20"><a href="{{ path('admin_stats_task_details',{type:'payment_cash'}) }}"><small>{{ 'stats.more_details'|trans }}</small></a></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="mt-0">{{ 'stats.task.wallet'|trans }}</h5>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif">{{ stats['payment_wallet'] }}</div>
                <div class="float-right mt--20"><a href="{{ path('admin_stats_task_details',{type:'payment_wallet'}) }}"><small>{{ 'stats.more_details'|trans }}</small></a></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="mt-0">{{ 'stats.task.expected_revenue'|trans }}</h5>
                <h6 class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif font-size-20">{{ stats['expected_revenue'] }} <small>{{ currentRegion().currencySymbol }}</small></h6>
                <div class="float-right mt--20"><a href="{{ path('admin_stats_task_details',{type:'expected_revenue'}) }}"><small>{{ 'stats.more_details'|trans }}</small></a></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="mt-0">{{ 'stats.task.total_locked_balance'|trans }}</h5>
                <h6 class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif font-size-20">{{ stats['locked_balance'] }} <small>{{ currentRegion().currencySymbol }}</small></h6>
                <div class="float-right mt--20"><a href="{{ path('admin_stats_task_details',{type:'locked_balance'}) }}"><small>{{ 'stats.more_details'|trans }}</small></a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}