{% import ":macro:sort.macro.html.twig" as sort_column %}
{% extends "AppBundle:admin/parts:layout.html.twig" %}
{% block title %}{{ 'side_menu.users.active'|trans }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/users/users.css') }}">
{% endblock %}
{% block body %}
    <div class="page-header row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            </li>
            <li class="breadcrumb-item"><a href="{{ path('users') }}">{{ 'side_menu.users.all'|trans }}</a></li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="panel" data-plugin="matchHeight" data-by-row="true">
            <div class="panel-heading">
                <div class="pt-20 mb-10">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="row align-items-center">
                                {% include '@App/admin/widget/page-length.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-body container-fluid pt-0">
                <table class="users-table table table-responsive mt-0">
                    <thead class="header-table">
                    <tr>
                        <th class="text-center" style="width:100px">{{ 'table.user.photo'|trans }}</th>
                        <th class="text-left">{{ 'table.user.name'|trans }} {{ sort_column.sort("name") }}</th>
                        <th class="text-center">{{ 'table.user.join_date'|trans }} {{ sort_column.sort("join") }}</th>
                        <th class="text-center">{{ 'table.user.status'|trans }} {{ sort_column.sort("status") }}</th>
                        <th class="text-center">{{ 'table.user.last_login'|trans }} {{ sort_column.sort("lastLogin") }}</th>
                        <th>{{ 'table.user.balance'|trans }} {{ sort_column.sort("balance") }}</th>
                        <th>{{ 'table.user.locked_balance'|trans }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="user-logo">
                                {% if user.picture %}
                                    <img src="{{ asset( user.picture.path??'assets/admin/images/default-user.png') }}"
                                         alt="">
                                {% else %}
                                    <div class="user-badge">
                                        {{ user.firstname|first|upper~user.lastname|first|upper }}
                                    </div>
                                {% endif %}
                            </td>
                            <td>{{ user.firstname ~' '~user.lastname }}</td>
                            <td class="text-center">{{ user.createdAt|date('d-m-Y') }}</td>
                            <td class="text-center">
                                {% if user.verified %}
                                    <span class="badge badge-success">{{ 'users.filter.status_verified'|trans }}</span>
                                {% else %}
                                    <span class="badge badge-danger">{{ 'users.filter.status_not_verified'|trans }}</span>
                                {% endif %}
                            </td>
                            <td class="text-center">{{ user.lastLogin|date('d-m-Y H:i') }}</td>
                            <td class="text-right"><span
                                        class="user-balance">{{ user.wallet.balance }}</span> {{ currentRegion().currencySymbol }}
                            </td>
                            <td class="text-right">{{ user.wallet.lockedBalance }} {{ currentRegion().currencySymbol }}</td>
                            <td class="text-right actions-btn">
                                <a class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic waves-effect waves-classic"
                                   data-toggle="tooltip" data-title="{{ 'table.user.actions.show_details'|trans }}"
                                   href="{{ path('user_details', {'id': user.id }) }}"><i
                                            class="fa fa-user-edit"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="no-result d-none">
                    <span>No data</span>
                </div>
                <div class="row table-nav">
                    {{ knp_pagination_render(users, ':KnpPaginatorBundle/Pagination:site_defaut_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
