{% extends 'AppBundle:admin/parts:layout.html.twig' %}
{% block title %}
    {{ 'side_menu.statistics'|trans }}/{{ 'side_menu.statistics_users'|trans }}
{% endblock %}
{% block body %}
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a></li>
        <li class="breadcrumb-item active">{{ 'side_menu.statistics'|trans }}</li>
        <li class="breadcrumb-item active">{{ 'side_menu.statistics_users'|trans }}</li>
    </ol>
</div>
<div class="page-content container-fluid row">
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="mt-0">{{ 'stats.users.total'|trans }}</h5>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif">{{ stats['banned']+stats['active']+stats['inactive'] }}</div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="mt-0">{{ 'stats.users.active'|trans }}</h5>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif">{{ stats['active'] }}</div>
                <div class="float-right mt--20"><a href="{{ path('admin_stats_user_details',{type:'active'}) }}"><small>{{ 'stats.more_details'|trans }}</small></a></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="mt-0">{{ 'stats.users.inactive'|trans }}</h5>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif">{{ stats['inactive'] }}</div>
                <div class="float-right mt--20"><a href="{{ path('admin_stats_user_details',{type:'inactive'}) }}"><small>{{ 'stats.more_details'|trans }}</small></a></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="mt-0">{{ 'stats.users.lost'|trans }} <small class="font-size-12">({{ 'stats.users.lost_info'|trans }})</small></h5>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif">
                    {{ stats['lost'] }}
                    {% if stats['lost']>0 %}
                    <button data-url="{{ path('admin_send_lost_users_email') }}" class="btn btn-small btn-outline btn-theme-primary ml-20 mt--10" id="btn-send-email-lost-users"  style="line-height: 10px;padding: 3px 5px;">
                        <i class="far fa-envelope mr-5"></i> <small>{{ 'stats.users.lost_send_email'|trans }}</small>
                    </button>
                    {% endif %}
                </div>
                <div class="float-right mt--20">
                    <a href="{{ path('admin_stats_user_details',{type:'lost'}) }}">
                        <small>{{ 'stats.more_details'|trans }}</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="mt-0">{{ 'stats.users.banned'|trans }}</h5>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif">{{ stats['banned'] }}</div>
                <div style="position:absolute; top: 10px;{{ app.request.locale!='ar'?'right:5px':'left:5px' }}">
                    <div class="text-muted">
                        {{ 'stats.users.banned_permanent'|trans }} :
                        <span class="ml-2">{{ stats['banned_permanent'] }}</span>
                    </div>
                    <div class="text-muted">
                        {{ 'stats.users.banned_temporarily'|trans }} :
                        <span class="ml-2">{{ stats['banned_temporarily'] }}</span>
                    </div>
                </div>
                <div class="float-right mt--20"><a href="{{ path('admin_stats_user_details',{type:'banned'}) }}"><small>{{ 'stats.more_details'|trans }}</small></a></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="mt-0">{{ 'stats.users.android'|trans }}</h5>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif">{{ stats['android'] }}</div>
                <div class="float-right mt--20"><a href="{{ path('admin_stats_user_details',{type:'android'}) }}"><small>{{ 'stats.more_details'|trans }}</small></a></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="mt-0">{{ 'stats.users.iphone'|trans }}</h5>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif">{{ stats['iphone'] }}</div>
                <div class="float-right mt--20"><a href="{{ path('admin_stats_user_details',{type:'iphone'}) }}"><small>{{ 'stats.more_details'|trans }}</small></a></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body position-relative">
                <h5 class="mt-0">{{ 'stats.users.new'|trans|raw }}</h5>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif">{{ stats['new'] }}</div>
                <div class="float-right mt--20"><a href="{{ path('admin_stats_user_details',{type:'new'}) }}"><small>{{ 'stats.more_details'|trans }}</small></a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
      $(document).on('click','#btn-send-email-lost-users:not(.disabled)',function () {
        let btn = $(this);
        btn.addClass('disabled');
        fetch(btn.data('url'),{method:'POST'})
          .then(e => e.json())
          .then(data => {
            miniToaster.fire({
              type: 'success',
              title: data.message
            });
            btn.remove();
          })
      });
    </script>
{% endblock %}