<!DOCTYPE html> <!--[if lt IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--> <!--[if IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]--> <!--[if IE 8]>
<html lang="en" class="no-js lt-ie9"> <![endif]--> <!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head> <!-- meta character set -->
    <meta charset="utf-8"> <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>maatloob</title> <!-- Meta Description -->
    <meta name="description" content="maatloob">
    <meta name="keywords"
          content="one page, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
    <meta name="author" content="maatloob"> <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <!-- Fontawesome Icon font -->
    <link rel="stylesheet" href="{{ asset('assets/front/css/font-awesome.min.css') }}"> <!-- bootstrap.min -->
    <link rel="stylesheet" href="{{ asset('assets/front/css/jquery.fancybox.css') }}"> <!-- bootstrap.min -->
    <link rel="stylesheet" href="{{ asset('assets/front/css/bootstrap.min.css') }}"> <!-- bootstrap.min -->
    <link rel="stylesheet" href="{{ asset('assets/front/css/owl.carousel.css') }}"> <!-- bootstrap.min -->
    <link rel="stylesheet" href="{{ asset('assets/front/css/slit-slider.css') }}"> <!-- bootstrap.min -->
    <link rel="stylesheet" href="{{ asset('assets/front/css/animate.css') }}"> <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{{ asset('assets/front/css/main.css') }}"> <!-- Modernizer Script for old Browsers -->
    <script src="{{ asset('assets/front/js/modernizr-2.6.2.min.js') }}"></script>
</head>
<link rel="shortcut icon" href="{{ asset('assets/front/img/favicon.png') }}">
<body id="body"> <!-- preloader -->
<div id="preloader">
    <div class="loder-box">
        <div class="battery"></div>
    </div>
</div> <!-- end preloader --> <!-- Fixed Navigation ==================================== -->
<header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
    <div class="container">
        <div class="navbar-header"> <!-- responsive nav button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span></button> <!-- /responsive nav button -->
            <!-- logo --> <h1 class="navbar-brand"></h1> <!-- /logo --><img src="{{ asset('assets/front/img/maatloob logo1.png')}}"
                                                                            class="pull-left" alt="member"></div>
        <!-- main nav -->
        <nav class="collapse navbar-collapse navbar-right" role="navigation">
            <ul id="nav" class="nav navbar-nav">
                <li><a href="#body">BerAnda</a></li>
                <li><a href="#testimonials">Tentang kami</a></li>
                <li><a href="#service">Cara kerja</a></li>
                <li><a href="#price">faq</a></li>
                <li><a href="#contact">kontak</a></li>
            </ul>
        </nav> <!-- /main nav --> </div>
</header> <!-- End Fixed Navigation ==================================== -->
<main class="site-content" role="main"> <!-- Home Slider ==================================== -->
    <section id="home-slider">
        <div id="slider" class="sl-slider-wrapper">
            <div class="sl-slider">
                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25"
                     data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                    <div class="bg-img bg-img-1"></div>
                    <div class="slide-caption">
                        <div class="caption-content"><h2 class="animated fadeInDown">Butuh solusi untuk </h2>
                            <h2>masalah sehari-hari Anda?</h2> <span class="animated fadeInDown"><p
                                        class="font-weight-bold">dan tidak tahu harus mencari bantuan kemana.</p></span></p>
                        </div>
                    </div>
                </div>
                <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15"
                     data-slice1-scale="1.5" data-slice2-scale="1.5">
                    <div class="bg-img bg-img-2"></div>
                    <div class="slide-caption">
                        <div class="caption-content"><h2>Buat project di maatloob. </h2> <span>Mengisi formulir sederhana, atur sebuah Kategori Project.</span>
                        </div>
                    </div>
                </div>
                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3"
                     data-slice1-scale="2" data-slice2-scale="1">
                    <div class="bg-img bg-img-3"></div>
                    <div class="slide-caption">
                        <div class="caption-content"><h2>Tunggu solusi masalah Anda </h2>
                            <h2>dari ahlinya.</h2>
                            <span>Tunggu pemberitahuan jika sudah ada ahlinya yang siap membantu.</span> <a href="#"
                                                                                                            class="btn btn-blue btn-effect">maatloob</a>
                        </div>
                    </div>
                </div>
            </div><!-- /sl-slider -->
            <!-- <nav id="nav-arrows" class="nav-arrows"> <span class="nav-arrow-prev">Previous</span> <span class="nav-arrow-next">Next</span> </nav> -->
            <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg"><a href="javascript:;"
                                                                                                 class="sl-prev"> <i
                            class="fa fa-angle-left fa-3x"></i> </a> <a href="javascript:;" class="sl-next"> <i
                            class="fa fa-angle-right fa-3x"></i> </a></nav>
            <nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg"><span
                        class="nav-dot-current"></span> <span></span> <span></span></nav>
        </div><!-- /slider-wrapper --> </section> <!-- End Home SliderEnd ==================================== -->
    <!-- about section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4 wow animated fadeInLeft">
                    <div class="recent-works"><h3>BUTUH BANTUAN DENGAN MASALAH SEHARI-HARI? </h3>
                        <div id="works">
                            <div class="work-item"><p>MAATLOOB SOLUSI ANDA : Apakah Anda merasa kewalahan dalam
                                    pekerjaan dan pendapatan. Juga tidak cukup untuk memenuhi kebutuhan?</p></div>
                            <div class="work-item"><p>MAATLOOB ADALAH PEMASUKAN TAMBAHAN : Oke mari kita bicarakan
                                    solusinya kamu ingin mewujudkan beberapa impian mu tapi membutuhkan pemasukan
                                    tambahan.</p></div>
                            <div class="work-item"><p>MAATLOOB AKAN MEMBERITAHUKAN BAGAIMANA CARANYA : Saya sangat
                                    memahami Anda , iya Anda ingin menjadi direktur yang mengatur diri sendiri tapi Anda
                                    tidak mengetahui bagaimana ? itu mudah.</p></div>
                            <div class="work-item"><p>OKE MAATLOOB SIAP MEMBANTU : Mari kita bicara bisnis ingin
                                    menyelesaikan banyak pekerjaan tapi anggaran tidak memungkinkan</p></div>
                            <div class="work-item"><p>MAATLOOB MENYELESAIKAN SEMUA MASALAH INI : Saya tantang Anda untuk
                                    menyelesaikan permasalahan yang rumit ini bagaimana kamu menyiapkan waktu mu kerja
                                    keras dan juga uang mu </p></div>
                            <div class="work-item"><p>MAALOOB SOLUSINYA : Sekarang Anda menjadi sibuk dan Anda memiliki
                                    permasalahan segudang, bingung penyelesaian nya?</p></div>
                            <div class="work-item"><p>MAATLOOB AKAN MENGENALKANNYA : Apakah Anda ingin mencari seseorang
                                    yang expert tapi kamu tidak bisa berkomunikasi dengannya </p></div>
                            <div class="work-item"><p>MAATLOOB KESEMPATAN KERJA UNTUK SEMUA</p></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
                    <div class="welcome-block"><h3>maatloob solusi masalah Anda </h3>
                        <div class="message-body"><img src="img/{{ asset('assets/front/img/member-1.jpg') }}" class="pull-left" alt="member">
                            <p>maatloob mempermudah Anda mendapatkan bantuan dalam menyelesaikan masalah keseharian. Dan
                                jika Anda memliki keahlian , Anda bisa menggunakannya untuk membantu menyelesaikan
                                masalah pengguna lain sebagai expert. Berikut alur kerja maatloob baik jika Anda
                                memiliki masalah atau Anda memiliki keahlian. </p></div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- end about section --> <!-- new video-->
    <section id="service">
        <div class="container">
            <div class="row">
                <div class="sec-title text-center">
                    <video width="480" height="480" controls autoplay>
                        <source src="{{ asset('assets/front/img/maatloobvideo.mp4') }}" type="video/mp4">
                    </video>
                </div> <!-- Service section -->
                <section id="service">
                    <div class="container">
                        <div class="row">
                            <div class="sec-title text-center"><h2 class="wow animated bounceInLeft">Cara kerja</h2>
                                <p class="wow animated bounceInRight">
                                <h3>PERMASALAHAN</h3></p> </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
                                <div class="service-item">
                                    <div class="service-icon"><i class="fa fa-gear fa-3x"></i></div>
                                    <h3>1</h3>
                                    <p>Pembuatan project, Isi dan lengkapi informasi permasalahan Anda dan tentukan
                                        anggaran yang Anda miliki</p></div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn"
                                 data-wow-delay="0.3s">
                                <div class="service-item">
                                    <div class="service-icon"><i class="fa fa-gear fa-3x"></i></div>
                                    <h3>2</h3>
                                    <p>Menerima tawaran dari expert yang sesuai kemudian lakukan administrasi. Keamanan
                                        uang Anda terjamin karena expert menkonfirmasinya jika pekerjaan selesai sesuai
                                        persetujuan </p></div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn"
                                 data-wow-delay="0.6s">
                                <div class="service-item">
                                    <div class="service-icon"><i class="fa fa-gear fa-3x"></i></div>
                                    <h3>3</h3>
                                    <p>Persetujuan selesai dan administrasi oleh pengguna, dan selesaikan pekerjaan yang
                                        Anda mampu </p></div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="sec-title text-center"><p class="wow animated bounceInRight">
                    <h3>KEAHLIAN</h3> </p> </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
                    <div class="service-item">
                        <div class="service-icon"><i class="fa fa-gears fa-3x"></i></div>
                        <h3>1 & 2 </h3>
                        <p>Anda pilih kategori pekerjaan dan kemudian lakukan subscribe sebagai expert. </p> Jika
                        menerima pemberitahuan proyek yang tepat Anda harus menerimanya, lalu anda juga dapat
                        menegosiasi anggarannya
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                    <div class="service-item">
                        <div class="service-icon"><i class="fa fa-gears fa-3x"></i></div>
                        <h3>3</h3>
                        <p>Ketika Anda sudah selesai, Anda dapat mencairkan bayaran ke akun Anda dan melengkapi data
                            bank di detil profil Anda </p></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
                    <div class="service-item">
                        <div class="service-icon"><i class="fa fa-gears fa-3x"></i></div>
                        <h3>4</h3>
                        <p> Berikan nilai dan kritik Anda untuk expert yang membantu Anda. Saat ini Expert yang baik
                            dapat Anda bantu untuk mendapatkan peluang besar, dan juga sebaliknya</div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
                    <div class="service-item">
                        <div class="service-icon"><i class="fa fa-gears fa-3x"></i></div>
                        <h3>5</h3>
                        <p>Semua informasi proyek dan pekerjaan dalam kategori dipilih, Anda akan memasuki aplikasi
                            maatloob dan tidak perlu mempublikasikan keahlian Anda dimanapun </p></div>
                </div>
            </div>
        </div>
    </section>
    <p>. <br> .</p> <!-- end Service section --> <!-- portfolio section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="sec-title text-center wow animated fadeInDown"><h2>FITUR PROJECT MAATLOOB</h2>
                    <p>Proyek yang akan ditangani oleh Expert dimasukkan ke dalam kategori berikut.</p></div>
                <ul class="project-wrapper wow animated fadeInUp">
                    <li class="portfolio-item"><img src="{{ asset('assets/front/img/portfolio/item.jpg') }}" class="img-responsive"
                                                    alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
                        <figcaption class="mask"><h3>maatloob</h3></figcaption>
                        <ul class="external">
                            <li><a class="fancybox" title="Araund The world" data-fancybox-group="works"
                                   href="{{ asset('assets/front/img/portfolio/item.jpg') }}"><i class="fa fa-search"></i></a></li>
                            <li><a href=""><i class="fa fa-link"></i></a></li>
                        </ul>
                    </li>
                    <li class="portfolio-item"><img src="img/portfolio/{{ asset('assets/front/img/portfolio/item2.jpg') }}" class="img-responsive"
                                                    alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
                        <figcaption class="mask"><h3>maatloob</h3></figcaption>
                        <ul class="external">
                            <li><a class="fancybox" title="Wall street" href="{{ asset('assets/front/img/slider/banner.jpg') }}"
                                   data-fancybox-group="works"><i class="fa fa-search"></i></a></li>
                            <li><a href=""><i class="fa fa-link"></i></a></li>
                        </ul>
                    </li>
                    <li class="portfolio-item"><img src="{{ asset('assets/front/img/portfolio/item3.jpg') }}" class="img-responsive"
                                                    alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
                        <figcaption class="mask"><h3>maatloob</h3></figcaption>
                        <ul class="external">
                            <li><a class="fancybox" title="Behind The world" data-fancybox-group="works"
                                   href="{{ asset('assets/front/img/portfolio/item3.jpg') }}"><i class="fa fa-search"></i></a></li>
                            <li><a href=""><i class="fa fa-link"></i></a></li>
                        </ul>
                    </li>
                    <li class="portfolio-item"><img src="{{ asset('assets/front/img/portfolio/item4.jpg') }}" class="img-responsive"
                                                    alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry.">
                        <figcaption class="mask"><h3>maatloob</h3></figcaption>
                        <ul class="external">
                            <li><a class="fancybox" title="Wall street 4" data-fancybox-group="works"
                                   href="{{ asset('assets/front/img/portfolio/item4.jpg') }}"><i class="fa fa-search"></i></a></li>
                            <li><a href=""><i class="fa fa-link"></i></a></li>
                        </ul>
                    </li>
                    <li class="portfolio-item"><img src="{{ asset('assets/front/img/portfolio/item5.jpg') }}" class="img-responsive"
                                                    alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
                        <figcaption class="mask"><h3>maatloob</h3></figcaption>
                        <ul class="external">
                            <li><a class="fancybox" title="Wall street 5" data-fancybox-group="works"
                                   href="{{ asset('assets/front/img/portfolio/item5.jpg') }}"><i class="fa fa-search"></i></a></li>
                            <li><a href=""><i class="fa fa-link"></i></a></li>
                        </ul>
                    </li>
                    <li class="portfolio-item"><img src="{{ asset('assets/front/img/portfolio/item6.jpg') }}" class="img-responsive"
                                                    alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
                        <figcaption class="mask"><h3>maatloob</h3></figcaption>
                        <ul class="external">
                            <li><a class="fancybox" title="Wall street 6" data-fancybox-group="works"
                                   href="{{ asset('assets/front/img/portfolio/item6.jpg') }}"><i class="fa fa-search"></i></a></li>
                            <li><a href=""><i class="fa fa-link"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section> <!-- end portfolio section --> <!-- Testimonial section -->
    <section id="testimonials" class="parallax">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="sec-title text-center white wow animated fadeInDown"><h2>maatloob</h2></div>
                    <div id="testimonial" class=" wow animated fadeInUp">
                        <div class="testimonial-item text-center"><img src="img/member-1.jpg" alt="Our Clients">
                            <div class="clearfix"><p>Smart online Trading Didirikan dengan ide memberikan solusi
                                    sehari-hari dan cara lepas pintar berdasarkan teknologi, SOM Memulai secara global
                                    dengan berbagai aplikasi dan solusi. Kami fokus pada indonesia karena dibutuhkan
                                    berbagai macam teknologi online untuk memenuhi kebutuhan sehari-hari Kami percaya
                                    bahwa dengan SOM, yang menyediakan inovasi teknologi berkelanjutan, selalu ada masa
                                    depan yang positif dan kehidupan yang mudah. </p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div> </section> <!-- end Testimonial section --> <!-- Price section -->
    <section id="price">
        <div class="container">
            <div class="row">
                <div class="sec-title text-center wow animated fadeInDown"><h2>Faq</h2>
                    <p>Download dan instal pada smartphone android Anda, mendapatkan bantuan ahli untuk solusi masalah
                        sehari-hari atau mendapatkan kesempatan untuk menjadi seorang ahli. </p></div>
                <ul class="project-wrapper wow animated fadeInUp">
                    <li class="portfolio-item"><img src="{{ asset('assets/front/img/portfolio/global-playstore.png') }}" class="img-responsive"
                                                    alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
                        <figcaption class="mask"><h3>playstore</h3>
                            <p>maatloob </p></figcaption>
                        <ul class="external">
                            <li><a class="fancybox" title="Araund The world" data-fancybox-group="works"
                                   href="{{ asset('assets/front/img/portfolio/global-playstore.png') }}"><i class="fa fa-search"></i></a></li>
                            <li><a href=""><i class="fa fa-link"></i></a></li>
                        </ul>
                    </li>
            </div>
        </div>
    </section> <!-- end Price section --> <!-- Social section -->
    <section id="social" class="parallax">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="sec-title text-center white wow animated fadeInDown"><h2>IKUTI KAMI</h2>
                        <p>maatloob</p></div>
                    <ul class="social-button">
                        <li class="wow animated zoomIn"><a href="#"><i class="fa fa-thumbs-up fa-2x"></i></a></li>
                        <li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i
                                        class="fa fa-youtube fa-2x"></i></a></li>
                        <li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i
                                        class="fa fa-instagram fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section> <!-- end Social section --> <!-- Contact section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="sec-title text-center wow animated fadeInDown"><h2>Kontak</h2>
                    <p>Tinggalkan pesan</p></div>
                <div class="col-md-7 contact-form wow animated fadeInLeft">
                    <form action="#" method="post">
                        <div class="input-field"><input type="text" name="name" class="form-control"
                                                        placeholder="Your Name..."></div>
                        <div class="input-field"><input type="email" name="email" class="form-control"
                                                        placeholder="Your Email..."></div>
                        <div class="input-field"><input type="text" name="subject" class="form-control"
                                                        placeholder="Subject..."></div>
                        <div class="input-field"><textarea name="message" class="form-control"
                                                           placeholder="Messages..."></textarea></div>
                        <button type="submit" id="submit" class="btn btn-blue btn-effect">Kirim</button>
                    </form>
                </div>
                <div class="col-md-5 wow animated fadeInRight">
                    <address class="contact-details"><h3>Alamat</h3>
                        <p><i class="fa fa-pencil"></i>Jl. Mahoni Raya No.24<span>Mekarjaya, Ciomas, Bogor, West Java 16610
                        <p><i class="fa fa-phone"></i>Phone: 0852 1922 5623 </p>
                        <p><i class="fa fa-envelope"></i>admin@maatloob.com</p></address>
                </div>
            </div>
        </div>
    </section> <!-- end Contact section -->
    <section id="google-map">
        <div id="map-canvas" class="wow animated fadeInUp"></div>
    </section>
</main>
<footer id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="footer-content">
                <div class="wow animated fadeInDown"><p>Copyright &copy; 2020 Design and Developed By maatloob</a> </p>
                </div>
            </div>
        </div>
</footer> <!-- Essential jQuery Plugins ================================================== --> <!-- Main jQuery -->
<script src="{{ asset('assets/front/js/jquery-1.11.1.min.js') }}"></script> <!-- Twitter Bootstrap -->
<script src="{{ asset('assets/front/js/bootstrap.min.js') }}"></script> <!-- Single Page Nav -->
<script src="{{ asset('assets/front/js/jquery.singlePageNav.min.js') }}"></script> <!-- jquery.fancybox.pack -->
<script src="{{ asset('assets/front/js/jquery.fancybox.pack.js') }}"></script> <!-- Owl Carousel -->
<script src="{{ asset('assets/front/js/owl.carousel.min.js') }}"></script> <!-- jquery easing -->
<script src="{{ asset('assets/front/js/jquery.easing.min.js') }}"></script> <!-- Fullscreen slider -->
<script src="{{ asset('assets/front/js/jquery.slitslider.js') }}"></script>
<script src="{{ asset('assets/front/js/jquery.ba-cond.min.js') }}"></script> <!-- onscroll animation -->
<script src="{{ asset('assets/front/js/wow.min.js') }}"></script> <!-- Custom Functions -->
<script src="{{ asset('assets/front/js/main.js') }}"></script>
</body>
</html>