.profile-page {
    max-width: 90%;
    margin: auto;
}

.user-profile {
    position: relative;
    box-sizing: border-box;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

.user-profile .personal-header {
    position: relative;
}

.user-profile .personal-header .profile-cover {
    height: 200px;
    background: url("../../../../assets/img/user-cover-default.png") no-repeat center;
    background-size: cover;
    position: relative;
    width: auto;
    border-radius: 5px 5px 0 0;
}

.user-profile .personal-header input[type=file] {
    display: none;
}

.user-profile .personal-header label .fa {
    width: 24px;
    height: 24px;
    text-align: center;
}

.user-profile .personal-header label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #130c0c66;
    padding: 8px 12px;
    border-radius: 50%;
    font-size: 24px;
    color: #e8edf2;
    cursor: pointer;
}

.user-profile .personal-header .profile-picture {
    position: absolute;
    width: 120px;
    height: 120px;
    display: block;
    border-radius: 50%;
    left: 30px;
    margin-top: -80px;
    background-size: 127px;
    background-image: url("../../../../assets/img/default-user.png");
    background-position: center;
    background-repeat: no-repeat;
    border: 5px solid #008fb4;
}

html[dir="rtl"] .user-profile .personal-header .profile-picture {
    right: 30px;
}

.user-profile .user-profile-personals-container {
    padding: 50px 24px 24px;
}

.user-profile .user-profile-personals-container .basic-info {
}

.user-profile .user-profile-personals-container .basic-info .name {
    font-size: 16px;
    margin-bottom: 4px;
}

#user_userType label {
    margin-right: 40px;
    margin-top: 10px;
}

#verification-box {
    padding: 0;
    height: fit-content;
}

#verification-box ul {
    list-style: none;
    margin: 0;
    padding: 0 20px 20px;
}

#verification-box ul li {
    border-bottom: 1px solid #DEDEDE;
    padding: 10px 0;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    font-size: 14px;
    line-height: 1.4;
    display: flex;
}

#verification-box ul li:last-child {
    border-bottom: none;
}

#verification-box ul li i {
    margin-right: 5px;
    font-size: 18px;
}

#verification-box .panel-title {
    border-bottom: 1px solid #DEDEDE;
    padding: 20px;
}

.nav.nav-tabs {
    border: none;
}

.nav .nav-item .nav-link.active {
    color: #008fb4;
    font-weight: 500;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid #008fb4
}

.edit-user-btn {
    color: white !important;
    padding: 10px 16px;
    background: #008fb4;
    line-height: 30px;
    border-radius: 50%;
    text-decoration: none !important;
    font-size: 18px;
    position: absolute;
    top: -26px;
    right: -12px;
    box-shadow: 0 0 5px 0px #015f77;
}

html[dir="rtl"] .edit-user-btn {
    left: -12px;
    right: inherit;
}

.review-stats {
    display: flex;
    position: absolute;
    right: 0;
    top: 30px;
}

html[dir="rtl"] .review-stats {
    left: 0;
    right: inherit;
}

[data-plugin="rating"] > span {
    width: 20px;
}