.tabs {
    background: #ffffff;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
}

.tabs > .tab {
    display: inline-flex;
}

.tabs > .tab > a {
    padding: 15px 25px 10px 25px;
    text-decoration: none;
    font-weight: 500;
    opacity: 0.6;
}

.tabs > .tab.active a {
    opacity: 1;
    color: #008fb4;
    border-bottom: 2px solid #008fb4;
}

.users-table {
    background: white;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

.row {
    margin: 0;
}

.users-table .badge {
    border-radius: 20px;
    padding: 7px 10px;
}

.users-table .badge-danger {
    background: #F5CFCC;
    color: #CE8D87;
}

.users-table .badge-success {
    background: #D1EAD1;
    color: #8AC28F;
}

.modal .delete-icon-title {
    color: #F8202D;
    background: #FFE7EB;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    vertical-align: bottom;
    display: block;
}

#balance-input-container {
    max-width: 150px;
    position: relative;
}

#new-balance {
    max-width: 200px;
    padding-left: 60px;
}

html[dir="rtl"] #new-balance {
    padding-left: inherit;
    padding-right: 60px;
}

#balance-input-container img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}

#balance-input-container .currency {
    position: absolute;
    top: 10px;
    right: 10px;
    color: lightslategray;
    opacity: 0.5;
}

html[dir="rtl"] #balance-input-container .currency {
    left: 10px;
    right: inherit;
}

html[dir="rtl"] #balance-input-container img {
    left: inherit;
    right: 10px;
}

#update-balance-modal .modal-content {
    max-width: 400px;
}

#mini-stats {
    position: absolute;
    right: 20px;
}

html[dir="rtl"] #mini-stats {
    left: 20px;
    right: inherit;
}