.flag-icon
{
    line-height: 1em; 

    position: relative;

    display: inline-block;

    width: 1.333333em;

    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-background-size: contain;
            background-size: contain;
}
.flag-icon:before
{
    content: '\00a0';
}
.dropdown-menu .flag-icon
{
    margin-right: 5px;
}

.flag-icon-ad
{
    background-image: url(../../../img/countries/ad.png);
}

.flag-icon-ae
{
    background-image: url(../../../img/countries/ae.png);
}

.flag-icon-af
{
    background-image: url(../../../img/countries/af.png);
}

.flag-icon-ag
{
    background-image: url(../../../img/countries/ag.png);
}

.flag-icon-ai
{
    background-image: url(../../../img/countries/ai.png);
}

.flag-icon-al
{
    background-image: url(../../../img/countries/al.png);
}

.flag-icon-am
{
    background-image: url(../../../img/countries/am.png);
}

.flag-icon-ao
{
    background-image: url(../../../img/countries/ao.png);
}

.flag-icon-aq
{
    background-image: url(../../../img/countries/aq.png);
}

.flag-icon-ar
{
    background-image: url(../../../img/countries/ar.png);
}

.flag-icon-as
{
    background-image: url(../../../img/countries/as.png);
}

.flag-icon-at
{
    background-image: url(../../../img/countries/at.png);
}

.flag-icon-au
{
    background-image: url(../../../img/countries/au.png);
}

.flag-icon-aw
{
    background-image: url(../../../img/countries/aw.png);
}

.flag-icon-ax
{
    background-image: url(../../../img/countries/ax.png);
}

.flag-icon-az
{
    background-image: url(../../../img/countries/az.png);
}

.flag-icon-ba
{
    background-image: url(../../../img/countries/ba.png);
}

.flag-icon-bb
{
    background-image: url(../../../img/countries/bb.png);
}

.flag-icon-bd
{
    background-image: url(../../../img/countries/bd.png);
}

.flag-icon-be
{
    background-image: url(../../../img/countries/be.png);
}

.flag-icon-bf
{
    background-image: url(../../../img/countries/bf.png);
}

.flag-icon-bg
{
    background-image: url(../../../img/countries/bg.png);
}

.flag-icon-bh
{
    background-image: url(../../../img/countries/bh.png);
}

.flag-icon-bi
{
    background-image: url(../../../img/countries/bi.png);
}

.flag-icon-bj
{
    background-image: url(../../../img/countries/bj.png);
}

.flag-icon-bl
{
    background-image: url(../../../img/countries/bl.png);
}

.flag-icon-bm
{
    background-image: url(../../../img/countries/bm.png);
}

.flag-icon-bn
{
    background-image: url(../../../img/countries/bn.png);
}

.flag-icon-bo
{
    background-image: url(../../../img/countries/bo.png);
}

.flag-icon-bq
{
    background-image: url(../../../img/countries/bq.png);
}

.flag-icon-br
{
    background-image: url(../../../img/countries/br.png);
}

.flag-icon-bs
{
    background-image: url(../../../img/countries/bs.png);
}

.flag-icon-bt
{
    background-image: url(../../../img/countries/bt.png);
}

.flag-icon-bv
{
    background-image: url(../../../img/countries/bv.png);
}

.flag-icon-bw
{
    background-image: url(../../../img/countries/bw.png);
}

.flag-icon-by
{
    background-image: url(../../../img/countries/by.png);
}

.flag-icon-bz
{
    background-image: url(../../../img/countries/bz.png);
}

.flag-icon-ca
{
    background-image: url(../../../img/countries/ca.png);
}

.flag-icon-cc
{
    background-image: url(../../../img/countries/cc.png);
}

.flag-icon-cd
{
    background-image: url(../../../img/countries/cd.png);
}

.flag-icon-cf
{
    background-image: url(../../../img/countries/cf.png);
}

.flag-icon-cg
{
    background-image: url(../../../img/countries/cg.png);
}

.flag-icon-ch
{
    background-image: url(../../../img/countries/ch.png);
}

.flag-icon-ci
{
    background-image: url(../../../img/countries/ci.png);
}

.flag-icon-ck
{
    background-image: url(../../../img/countries/ck.png);
}

.flag-icon-cl
{
    background-image: url(../../../img/countries/cl.png);
}

.flag-icon-cm
{
    background-image: url(../../../img/countries/cm.png);
}

.flag-icon-cn
{
    background-image: url(../../../img/countries/cn.png);
}

.flag-icon-co
{
    background-image: url(../../../img/countries/co.png);
}

.flag-icon-cr
{
    background-image: url(../../../img/countries/cr.png);
}

.flag-icon-cu
{
    background-image: url(../../../img/countries/cu.png);
}

.flag-icon-cv
{
    background-image: url(../../../img/countries/cv.png);
}

.flag-icon-cw
{
    background-image: url(../../../img/countries/cw.png);
}

.flag-icon-cx
{
    background-image: url(../../../img/countries/cx.png);
}

.flag-icon-cy
{
    background-image: url(../../../img/countries/cy.png);
}

.flag-icon-cz
{
    background-image: url(../../../img/countries/cz.png);
}

.flag-icon-de
{
    background-image: url(../../../img/countries/de.png);
}

.flag-icon-dj
{
    background-image: url(../../../img/countries/dj.png);
}

.flag-icon-dk
{
    background-image: url(../../../img/countries/dk.png);
}

.flag-icon-dm
{
    background-image: url(../../../img/countries/dm.png);
}

.flag-icon-do
{
    background-image: url(../../../img/countries/do.png);
}

.flag-icon-dz
{
    background-image: url(../../../img/countries/dz.png);
}

.flag-icon-ec
{
    background-image: url(../../../img/countries/ec.png);
}

.flag-icon-ee
{
    background-image: url(../../../img/countries/ee.png);
}

.flag-icon-eg
{
    background-image: url(../../../img/countries/eg.png);
}

.flag-icon-eh
{
    background-image: url(../../../img/countries/eh.png);
}

.flag-icon-er
{
    background-image: url(../../../img/countries/er.png);
}

.flag-icon-es
{
    background-image: url(../../../img/countries/es.png);
}

.flag-icon-et
{
    background-image: url(../../../img/countries/et.png);
}

.flag-icon-fi
{
    background-image: url(../../../img/countries/fi.png);
}

.flag-icon-fj
{
    background-image: url(../../../img/countries/fj.png);
}

.flag-icon-fk
{
    background-image: url(../../../img/countries/fk.png);
}

.flag-icon-fm
{
    background-image: url(../../../img/countries/fm.png);
}

.flag-icon-fo
{
    background-image: url(../../../img/countries/fo.png);
}

.flag-icon-fr
{
    background-image: url(../../../img/countries/fr.png);
}

.flag-icon-ga
{
    background-image: url(../../../img/countries/ga.png);
}

.flag-icon-gb
{
    background-image: url(../../../img/countries/us.png);
}

.flag-icon-gd
{
    background-image: url(../../../img/countries/gd.png);
}

.flag-icon-ge
{
    background-image: url(../../../img/countries/ge.png);
}

.flag-icon-gf
{
    background-image: url(../../../img/countries/gf.png);
}

.flag-icon-gg
{
    background-image: url(../../../img/countries/gg.png);
}

.flag-icon-gh
{
    background-image: url(../../../img/countries/gh.png);
}

.flag-icon-gi
{
    background-image: url(../../../img/countries/gi.png);
}

.flag-icon-gl
{
    background-image: url(../../../img/countries/gl.png);
}

.flag-icon-gm
{
    background-image: url(../../../img/countries/gm.png);
}

.flag-icon-gn
{
    background-image: url(../../../img/countries/gn.png);
}

.flag-icon-gp
{
    background-image: url(../../../img/countries/gp.png);
}

.flag-icon-gq
{
    background-image: url(../../../img/countries/gq.png);
}

.flag-icon-gr
{
    background-image: url(../../../img/countries/gr.png);
}

.flag-icon-gs
{
    background-image: url(../../../img/countries/gs.png);
}

.flag-icon-gt
{
    background-image: url(../../../img/countries/gt.png);
}

.flag-icon-gu
{
    background-image: url(../../../img/countries/gu.png);
}

.flag-icon-gw
{
    background-image: url(../../../img/countries/gw.png);
}

.flag-icon-gy
{
    background-image: url(../../../img/countries/gy.png);
}

.flag-icon-hk
{
    background-image: url(../../../img/countries/hk.png);
}

.flag-icon-hm
{
    background-image: url(../../../img/countries/hm.png);
}

.flag-icon-hn
{
    background-image: url(../../../img/countries/hn.png);
}

.flag-icon-hr
{
    background-image: url(../../../img/countries/hr.png);
}

.flag-icon-ht
{
    background-image: url(../../../img/countries/ht.png);
}

.flag-icon-hu
{
    background-image: url(../../../img/countries/hu.png);
}

.flag-icon-id
{
    background-image: url(../../../img/countries/id.png);
}

.flag-icon-ie
{
    background-image: url(../../../img/countries/ie.png);
}

.flag-icon-il
{
    background-image: url(../../../img/countries/il.png);
}

.flag-icon-im
{
    background-image: url(../../../img/countries/im.png);
}

.flag-icon-in
{
    background-image: url(../../../img/countries/in.png);
}

.flag-icon-io
{
    background-image: url(../../../img/countries/io.png);
}

.flag-icon-iq
{
    background-image: url(../../../img/countries/iq.png);
}

.flag-icon-ir
{
    background-image: url(../../../img/countries/ir.png);
}

.flag-icon-is
{
    background-image: url(../../../img/countries/is.png);
}

.flag-icon-it
{
    background-image: url(../../../img/countries/it.png);
}

.flag-icon-je
{
    background-image: url(../../../img/countries/je.png);
}

.flag-icon-jm
{
    background-image: url(../../../img/countries/jm.png);
}

.flag-icon-jo
{
    background-image: url(../../../img/countries/jo.png);
}

.flag-icon-jp
{
    background-image: url(../../../img/countries/jp.png);
}

.flag-icon-ke
{
    background-image: url(../../../img/countries/ke.png);
}

.flag-icon-kg
{
    background-image: url(../../../img/countries/kg.png);
}

.flag-icon-kh
{
    background-image: url(../../../img/countries/kh.png);
}

.flag-icon-ki
{
    background-image: url(../../../img/countries/ki.png);
}

.flag-icon-km
{
    background-image: url(../../../img/countries/km.png);
}

.flag-icon-kn
{
    background-image: url(../../../img/countries/kn.png);
}

.flag-icon-kp
{
    background-image: url(../../../img/countries/kp.png);
}

.flag-icon-kr
{
    background-image: url(../../../img/countries/kr.png);
}

.flag-icon-kw
{
    background-image: url(../../../img/countries/kw.png);
}

.flag-icon-ky
{
    background-image: url(../../../img/countries/ky.png);
}

.flag-icon-kz
{
    background-image: url(../../../img/countries/kz.png);
}

.flag-icon-la
{
    background-image: url(../../../img/countries/la.png);
}

.flag-icon-lb
{
    background-image: url(../../../img/countries/lb.png);
}

.flag-icon-lc
{
    background-image: url(../../../img/countries/lc.png);
}

.flag-icon-li
{
    background-image: url(../../../img/countries/li.png);
}

.flag-icon-lk
{
    background-image: url(../../../img/countries/lk.png);
}

.flag-icon-lr
{
    background-image: url(../../../img/countries/lr.png);
}

.flag-icon-ls
{
    background-image: url(../../../img/countries/ls.png);
}

.flag-icon-lt
{
    background-image: url(../../../img/countries/lt.png);
}

.flag-icon-lu
{
    background-image: url(../../../img/countries/lu.png);
}

.flag-icon-lv
{
    background-image: url(../../../img/countries/lv.png);
}

.flag-icon-ly
{
    background-image: url(../../../img/countries/ly.png);
}

.flag-icon-ma
{
    background-image: url(../../../img/countries/ma.png);
}

.flag-icon-mc
{
    background-image: url(../../../img/countries/mc.png);
}

.flag-icon-md
{
    background-image: url(../../../img/countries/md.png);
}

.flag-icon-me
{
    background-image: url(../../../img/countries/me.png);
}

.flag-icon-mf
{
    background-image: url(../../../img/countries/mf.png);
}

.flag-icon-mg
{
    background-image: url(../../../img/countries/mg.png);
}

.flag-icon-mh
{
    background-image: url(../../../img/countries/mh.png);
}

.flag-icon-mk
{
    background-image: url(../../../img/countries/mk.png);
}

.flag-icon-ml
{
    background-image: url(../../../img/countries/ml.png);
}

.flag-icon-mm
{
    background-image: url(../../../img/countries/mm.png);
}

.flag-icon-mn
{
    background-image: url(../../../img/countries/mn.png);
}

.flag-icon-mo
{
    background-image: url(../../../img/countries/mo.png);
}

.flag-icon-mp
{
    background-image: url(../../../img/countries/mp.png);
}

.flag-icon-mq
{
    background-image: url(../../../img/countries/mq.png);
}

.flag-icon-mr
{
    background-image: url(../../../img/countries/mr.png);
}

.flag-icon-ms
{
    background-image: url(../../../img/countries/my.png);
}

.flag-icon-mt
{
    background-image: url(../../../img/countries/mt.png);
}

.flag-icon-mu
{
    background-image: url(../../../img/countries/mu.png);
}

.flag-icon-mv
{
    background-image: url(../../../img/countries/mv.png);
}

.flag-icon-mw
{
    background-image: url(../../../img/countries/mw.png);
}

.flag-icon-mx
{
    background-image: url(../../../img/countries/mx.png);
}

.flag-icon-my
{
    background-image: url(../../../img/countries/my.png);
}

.flag-icon-mz
{
    background-image: url(../../../img/countries/mz.png);
}

.flag-icon-na
{
    background-image: url(../../../img/countries/na.png);
}

.flag-icon-nc
{
    background-image: url(../../../img/countries/nc.png);
}

.flag-icon-ne
{
    background-image: url(../../../img/countries/ne.png);
}

.flag-icon-nf
{
    background-image: url(../../../img/countries/nf.png);
}

.flag-icon-ng
{
    background-image: url(../../../img/countries/ng.png);
}

.flag-icon-ni
{
    background-image: url(../../../img/countries/ni.png);
}

.flag-icon-nl
{
    background-image: url(../../../img/countries/nl.png);
}

.flag-icon-no
{
    background-image: url(../../../img/countries/no.png);
}

.flag-icon-np
{
    background-image: url(../../../img/countries/np.png);
}

.flag-icon-nr
{
    background-image: url(../../../img/countries/nr.png);
}

.flag-icon-nu
{
    background-image: url(../../../img/countries/nu.png);
}

.flag-icon-nz
{
    background-image: url(../../../img/countries/nz.png);
}

.flag-icon-om
{
    background-image: url(../../../img/countries/om.png);
}

.flag-icon-pa
{
    background-image: url(../../../img/countries/pa.png);
}

.flag-icon-pe
{
    background-image: url(../../../img/countries/pe.png);
}

.flag-icon-pf
{
    background-image: url(../../../img/countries/pf.png);
}

.flag-icon-pg
{
    background-image: url(../../../img/countries/pg.png);
}

.flag-icon-ph
{
    background-image: url(../../../img/countries/ph.png);
}

.flag-icon-pk
{
    background-image: url(../../../img/countries/pk.png);
}

.flag-icon-pl
{
    background-image: url(../../../img/countries/pl.png);
}

.flag-icon-pm
{
    background-image: url(../../../img/countries/pm.png);
}

.flag-icon-pn
{
    background-image: url(../../../img/countries/pn.png);
}

.flag-icon-pr
{
    background-image: url(../../../img/countries/pr.png);
}

.flag-icon-ps
{
    background-image: url(../../../img/countries/ps.png);
}

.flag-icon-pt
{
    background-image: url(../../../img/countries/pt.png);
}

.flag-icon-pw
{
    background-image: url(../../../img/countries/pw.png);
}

.flag-icon-py
{
    background-image: url(../../../img/countries/py.png);
}

.flag-icon-qa
{
    background-image: url(../../../img/countries/qa.png);
}

.flag-icon-re
{
    background-image: url(../../../img/countries/re.png);
}

.flag-icon-ro
{
    background-image: url(../../../img/countries/ro.png);
}

.flag-icon-rs
{
    background-image: url(../../../img/countries/rs.png);
}

.flag-icon-ru
{
    background-image: url(../../../img/countries/ru.png);
}

.flag-icon-rw
{
    background-image: url(../../../img/countries/rw.png);
}

.flag-icon-sa
{
    background-image: url(../../../img/countries/sa.png);
}

.flag-icon-sb
{
    background-image: url(../../../img/countries/sb.png);
}

.flag-icon-sc
{
    background-image: url(../../../img/countries/sc.png);
}

.flag-icon-sd
{
    background-image: url(../../../img/countries/sd.png);
}

.flag-icon-se
{
    background-image: url(../../../img/countries/se.png);
}

.flag-icon-sg
{
    background-image: url(../../../img/countries/sg.png);
}

.flag-icon-sh
{
    background-image: url(../../../img/countries/sh.png);
}

.flag-icon-si
{
    background-image: url(../../../img/countries/si.png);
}

.flag-icon-sj
{
    background-image: url(../../../img/countries/sj.png);
}

.flag-icon-sk
{
    background-image: url(../../../img/countries/sk.png);
}

.flag-icon-sl
{
    background-image: url(../../../img/countries/sl.png);
}

.flag-icon-sm
{
    background-image: url(../../../img/countries/sm.png);
}

.flag-icon-sn
{
    background-image: url(../../../img/countries/sn.png);
}

.flag-icon-so
{
    background-image: url(../../../img/countries/so.png);
}

.flag-icon-sr
{
    background-image: url(../../../img/countries/sr.png);
}

.flag-icon-ss
{
    background-image: url(../../../img/countries/ss.png);
}

.flag-icon-st
{
    background-image: url(../../../img/countries/st.png);
}

.flag-icon-sv
{
    background-image: url(../../../img/countries/sv.png);
}

.flag-icon-sx
{
    background-image: url(../../../img/countries/sx.png);
}

.flag-icon-sy
{
    background-image: url(../../../img/countries/sy.png);
}

.flag-icon-sz
{
    background-image: url(../../../img/countries/sz.png);
}

.flag-icon-tc
{
    background-image: url(../../../img/countries/tc.png);
}

.flag-icon-td
{
    background-image: url(../../../img/countries/td.png);
}

.flag-icon-tf
{
    background-image: url(../../../img/countries/tf.png);
}

.flag-icon-tg
{
    background-image: url(../../../img/countries/tg.png);
}

.flag-icon-th
{
    background-image: url(../../../img/countries/th.png);
}

.flag-icon-tj
{
    background-image: url(../../../img/countries/tj.png);
}

.flag-icon-tk
{
    background-image: url(../../../img/countries/tk.png);
}

.flag-icon-tl
{
    background-image: url(../../../img/countries/tl.png);
}

.flag-icon-tm
{
    background-image: url(../../../img/countries/tm.png);
}

.flag-icon-tn
{
    background-image: url(../../../img/countries/tn.png);
}

.flag-icon-to
{
    background-image: url(../../../img/countries/to.png);
}

.flag-icon-tr
{
    background-image: url(../../../img/countries/tr.png);
}

.flag-icon-tt
{
    background-image: url(../../../img/countries/tt.png);
}

.flag-icon-tv
{
    background-image: url(../../../img/countries/tv.png);
}

.flag-icon-tw
{
    background-image: url(../../../img/countries/tw.png);
}

.flag-icon-tz
{
    background-image: url(../../../img/countries/tz.png);
}

.flag-icon-ua
{
    background-image: url(../../../img/countries/ua.png);
}

.flag-icon-ug
{
    background-image: url(../../../img/countries/ug.png);
}

.flag-icon-um
{
    background-image: url(../../../img/countries/um.png);
}

.flag-icon-us
{
    background-image: url(../../../img/countries/us.png);
}

.flag-icon-uy
{
    background-image: url(../../../img/countries/uy.png);
}

.flag-icon-uz
{
    background-image: url(../../../img/countries/uz.png);
}

.flag-icon-va
{
    background-image: url(../../../img/countries/va.png);
}

.flag-icon-vc
{
    background-image: url(../../../img/countries/vc.png);
}

.flag-icon-ve
{
    background-image: url(../../../img/countries/ve.png);
}

.flag-icon-vg
{
    background-image: url(../../../img/countries/vg.png);
}

.flag-icon-vi
{
    background-image: url(../../../img/countries/vi.png);
}

.flag-icon-vn
{
    background-image: url(../../../img/countries/vn.png);
}

.flag-icon-vu
{
    background-image: url(../../../img/countries/vu.png);
}

.flag-icon-wf
{
    background-image: url(../../../img/countries/wf.png);
}

.flag-icon-ws
{
    background-image: url(../../../img/countries/ws.png);
}

.flag-icon-ye
{
    background-image: url(../../../img/countries/ye.png);
}

.flag-icon-yt
{
    background-image: url(../../../img/countries/yt.png);
}

.flag-icon-za
{
    background-image: url(../../../img/countries/za.png);
}

.flag-icon-zm
{
    background-image: url(../../../img/countries/zm.png);
}

.flag-icon-zw
{
    background-image: url(../../../img/countries/zw.png);
}

.flag-icon-eu
{
    background-image: url(../../../img/countries/eu.png);
}

.flag-icon-gb-eng
{
    background-image: url(../../../img/countries/en.png);
}

.flag-icon-gb-nir
{
    background-image: url(../../../img/countries/gb-nir.png);
}

.flag-icon-gb-sct
{
    background-image: url(../../../img/countries/gb-sct.png);
}

.flag-icon-gb-wls
{
    background-image: url(../../../img/countries/gb-wls.png);
}

.flag-icon-world
{
    background-image: url(../../../img/icon/world.png);
}