:root{
    --theme-color : #008fb4;
}
html, body {
    height: 100%;
    font-size: 13px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.site-menubar {
    top: 63px;
    font-family: Poppins, sans-serif !important;
}

.site-menubar .site-menu-sub li {
    padding-left: 15px;
}

body {
    padding-top: 63px;
}

.panel {
    -webkit-box-shadow: inset 0 0 13px 0 rgba(82, 63, 105, 0.05);
    -moz-box-shadow: inset 0 0 13px 0 rgba(82, 63, 105, 0.05);
    box-shadow: inset 0 0 13px 0 rgba(82, 63, 105, 0.05);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.site-menubar-header .cover {
    height: 100%;
}

.site-menubar-header {
    height: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.overlay-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #fff;
}

.site-menubar-header .avatar {
    float: left;
    margin-right: 5px;
}

.avatar img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0 none;
    border-radius: 1000px;
}

.site-menubar-header .site-menubar-info {
    overflow: hidden;
}

.site-menubar-header .site-menubar-user {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 14px;
    color: #fff;
}

.site-menubar-header .site-menubar-email {
    margin-bottom: 0;
    font-size: 12px;
    color: rgba(255, 255, 255, .6);
}

.site-menubar-footer {
    width: 391px;
}

.site-menubar-footer > a {
    width: 50%;
}

.nav.navbar-toolbar .icon.md-notifications {
    font-size: 17px;
    font-weight: 900;
}

.site-menubar-header .cover .cover-image {
    height: 100%;
}

.site-menu .site-menu-item a {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
    padding: 10px 13px !important;
    color: #454546;
}

.site-menu .site-menu-item a .svg-inline--fa {
    margin-top: 10px;
}

.site-menu > .site-menu-item.active > a {
    color: #008fb4;
    background: transparent;
    border-left: 3px solid;
    height: 58px;
    font-weight: 600;
}

.loader-overlay {
    background-color: #008fb4;
}

.site-menubar .site-menu .site-menu-icon {
    margin-right: 14px;
    font-size: 16px;
}

.btn.btn-theme-primary {
    background-color: #008fb4;
    color: white;
}

.btn.btn-theme-secondary {
    background-color: #faca09;
    color: white;
}

.btn-theme-primary.focus, .btn-theme-primary:focus, .btn-theme-primary:hover {
    color: #fff;
    border-color: #04a2cc;
    background-color: #04a2cc;
}

.text-theme {
    color: #008fb4;
}

.btn-theme-secondary.focus, .btn-theme-secondary:focus, .btn-theme-secondary:hover {
    color: #fff;
    border-color: #faca09;
    background-color: #fad205;
}

.select2.select2-container {
    min-width: 200px !important;
}

.has-danger .error {
    color: #f44336;
}

.page-content {
    padding: 15px;
}

.container-fluid {
    margin: 0;
}

.hidden {
    display: none !important;
}

.lg-backdrop.in, .lg-outer {
    z-index: 10000 !important;
}

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
    border-color: #008fb4 !important;
}

.swal2-container {
    z-index: 10000 !important;
}

.swal2-container.swal2-top-end {
    margin-top: 80px !important;
}


.btn.btn-clean {
    border-color: transparent;
    background: transparent;
    color: #93a2dd;
}

.show > .btn.btn-clean, .btn.btn-clean.active, .btn.btn-clean:active, .btn.btn-clean:hover {
    color: #5d78ff;
    background: #f0f3ff;
}

.show > .btn.btn-clean i, .btn.btn-clean.active i, .btn.btn-clean:active i, .btn.btn-clean:hover i {
    color: #008fb4;
}

table tr th {
    color: #595d6e;
}

.table tr td, .table tr th {
    border-bottom: 1px solid #f0f3ff;
    vertical-align: middle;
    padding: 10px;
    font-size: 1rem;
}

.bootstrap-select > .dropdown-toggle {
    position: relative;
    outline: none !important;
    padding: 0.65rem 1rem;
    border-radius: 4px !important;
}

.bootstrap-select > .dropdown-toggle:focus {
    outline: none !important;
}

.bootstrap-select > .dropdown-toggle:after {
    border: 0;
    font-size: 0.6rem;
    display: inline-block;
    font-family: Flaticon2;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 0;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "";
}

.bootstrap-select > .dropdown-toggle:before {
    width: auto;
}

.bootstrap-select .dropdown-menu.inner {
    display: block;
}

.bootstrap-select .dropdown-menu.inner > li > a {
    display: block;
    position: relative;
    outline: none !important;
    padding: 10px 15px;
}

.bootstrap-select .dropdown-menu.inner > li > a:hover {
    text-decoration: none;
}

.bootstrap-select .dropdown-menu.inner > li > a [class^="la-"],
.bootstrap-select .dropdown-menu.inner > li > a [class*=" la-"] {
    font-size: 1.2rem;
}

.bootstrap-select .dropdown-menu.inner > li > a [class^="fa-"],
.bootstrap-select .dropdown-menu.inner > li > a [class*=" fa-"] {
    font-size: 1.2rem;
}

.bootstrap-select .dropdown-menu.inner > li > a [class^="flaticon-"],
.bootstrap-select .dropdown-menu.inner > li > a [class*=" flaticon-"],
.bootstrap-select .dropdown-menu.inner > li > a [class^="flaticon2-"],
.bootstrap-select .dropdown-menu.inner > li > a [class*=" flaticon2-"] {
    font-size: 1.1rem;
}

.bootstrap-select .dropdown-menu.inner > li > a i {
    vertical-align: middle;
}

.bootstrap-select .dropdown-menu.inner > li.selected > a span.check-mark {
    font-family: "LineAwesome";
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    top: 50%;
    position: absolute;
    margin-top: -0.425rem;
    font-size: 0.85rem;
    right: 1rem;
    display: inline-block;
}

.bootstrap-select .dropdown-menu.inner > li.selected > a span.check-mark:before {
    content: "";
}

.bootstrap-select .dropdown-menu.inner > li.selected > a span.check-mark:after {
    display: none;
}

.bootstrap-select .dropdown-menu.inner > li.divider {
    margin: 10px 0;
}

.bootstrap-select .dropdown-menu.inner > li.hidden {
    display: none;
}

.bootstrap-select .dropdown-menu.inner > li.no-results {
    padding: 10px 15px;
}

.bootstrap-select .popover-title {
    padding: 10px 15px;
    margin-bottom: 5px;
}

.bootstrap-select .popover-title .close {
    display: none;
}

.bootstrap-select .bs-searchbox,
.bootstrap-select .bs-actionsbox,
.bootstrap-select .bs-donebutton {
    padding: 10px 15px;
}

.bootstrap-select > .dropdown-toggle.btn-light, .bootstrap-select > .dropdown-toggle.btn-secondary {
    background: #fff !important;
    color: #595d6e;
    border-color: #e2e5ec;
    box-shadow: none;
}

.bootstrap-select > .dropdown-toggle.btn-light:focus, .bootstrap-select > .dropdown-toggle.btn-light.active, .bootstrap-select > .dropdown-toggle.btn-secondary:focus, .bootstrap-select > .dropdown-toggle.btn-secondary.active {
    background-color: transparent;
    border-color: #9aabff;
}

.bootstrap-select > .dropdown-toggle.btn-light.disabled, .bootstrap-select > .dropdown-toggle.btn-light:disabled, .bootstrap-select > .dropdown-toggle.btn-secondary.disabled, .bootstrap-select > .dropdown-toggle.btn-secondary:disabled {
    background: #f7f8fa;
    border-color: #f7f8fa;
}

.bootstrap-select > .dropdown-toggle.btn-light .filter-option [class^="la-"],
.bootstrap-select > .dropdown-toggle.btn-light .filter-option [class*=" la-"],
.bootstrap-select > .dropdown-toggle.btn-light .filter-option [class^="fa-"],
.bootstrap-select > .dropdown-toggle.btn-light .filter-option [class*=" fa-"],
.bootstrap-select > .dropdown-toggle.btn-light .filter-option [class^="flaticon-"],
.bootstrap-select > .dropdown-toggle.btn-light .filter-option [class*=" flaticon-"],
.bootstrap-select > .dropdown-toggle.btn-light .filter-option [class^="flaticon2-"],
.bootstrap-select > .dropdown-toggle.btn-light .filter-option [class*=" flaticon2-"], .bootstrap-select > .dropdown-toggle.btn-secondary .filter-option [class^="la-"],
.bootstrap-select > .dropdown-toggle.btn-secondary .filter-option [class*=" la-"],
.bootstrap-select > .dropdown-toggle.btn-secondary .filter-option [class^="fa-"],
.bootstrap-select > .dropdown-toggle.btn-secondary .filter-option [class*=" fa-"],
.bootstrap-select > .dropdown-toggle.btn-secondary .filter-option [class^="flaticon-"],
.bootstrap-select > .dropdown-toggle.btn-secondary .filter-option [class*=" flaticon-"],
.bootstrap-select > .dropdown-toggle.btn-secondary .filter-option [class^="flaticon2-"],
.bootstrap-select > .dropdown-toggle.btn-secondary .filter-option [class*=" flaticon2-"] {
    color: #74788d;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder {
    color: #74788d;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-brand {
    color: #ffffff;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-brand > .filter-option {
    opacity: 0.8;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-metal {
    color: #586272;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-metal > .filter-option {
    opacity: 0.8;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-light {
    color: #282a3c;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-light > .filter-option {
    opacity: 0.8;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark {
    color: #ffffff;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark > .filter-option {
    opacity: 0.8;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-accent {
    color: #ffffff;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-accent > .filter-option {
    opacity: 0.8;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-focus {
    color: #ffffff;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-focus > .filter-option {
    opacity: 0.8;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary {
    color: #ffffff;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary > .filter-option {
    opacity: 0.8;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success {
    color: #ffffff;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success > .filter-option {
    opacity: 0.8;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info {
    color: #ffffff;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info > .filter-option {
    opacity: 0.8;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-warning {
    color: #111111;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-warning > .filter-option {
    opacity: 0.8;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger {
    color: #ffffff;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger > .filter-option {
    opacity: 0.8;
}

.bootstrap-select.show > .dropdown-toggle.btn-light, .bootstrap-select.show > .dropdown-toggle.btn-secondary {
    border-color: #008fb4;
    box-shadow: none;
}

.bootstrap-select.is-invalid .btn.dropdown-toggle {
    border-color: #fd397a;
}

.bootstrap-select.is-valid .btn.dropdown-toggle {
    border-color: #1dc9b7;
}

.bootstrap-select .dropdown-menu.inner > li > a .text {
    color: #595d6e;
}

.bootstrap-select .dropdown-menu.inner > li > a .text small {
    color: #a2a5b9;
}

.bootstrap-select .dropdown-menu.inner > li > a span.check-mark {
    color: #74788d;
}

.bootstrap-select .dropdown-menu.inner > li > a [class^="la-"],
.bootstrap-select .dropdown-menu.inner > li > a [class*=" la-"],
.bootstrap-select .dropdown-menu.inner > li > a [class^="fa-"],
.bootstrap-select .dropdown-menu.inner > li > a [class*=" fa-"],
.bootstrap-select .dropdown-menu.inner > li > a [class^="flaticon-"],
.bootstrap-select .dropdown-menu.inner > li > a [class*=" flaticon-"],
.bootstrap-select .dropdown-menu.inner > li > a [class^="flaticon2-"],
.bootstrap-select .dropdown-menu.inner > li > a [class*=" flaticon2-"] {
    color: #a2a5b9;
}

.bootstrap-select .dropdown-menu.inner > li.selected > a, .bootstrap-select .dropdown-menu.inner > li:hover > a {
    background: #f7f8fa;
}

.bootstrap-select .dropdown-menu.inner > li.selected > a .text, .bootstrap-select .dropdown-menu.inner > li:hover > a .text {
    color: #595d6e;
}

.bootstrap-select .dropdown-menu.inner > li.selected > a [class^="la-"],
.bootstrap-select .dropdown-menu.inner > li.selected > a [class*=" la-"],
.bootstrap-select .dropdown-menu.inner > li.selected > a [class^="fa-"],
.bootstrap-select .dropdown-menu.inner > li.selected > a [class*=" fa-"],
.bootstrap-select .dropdown-menu.inner > li.selected > a [class^="flaticon-"],
.bootstrap-select .dropdown-menu.inner > li.selected > a [class*=" flaticon-"],
.bootstrap-select .dropdown-menu.inner > li.selected > a [class^="flaticon2-"],
.bootstrap-select .dropdown-menu.inner > li.selected > a [class*=" flaticon2-"], .bootstrap-select .dropdown-menu.inner > li:hover > a [class^="la-"],
.bootstrap-select .dropdown-menu.inner > li:hover > a [class*=" la-"],
.bootstrap-select .dropdown-menu.inner > li:hover > a [class^="fa-"],
.bootstrap-select .dropdown-menu.inner > li:hover > a [class*=" fa-"],
.bootstrap-select .dropdown-menu.inner > li:hover > a [class^="flaticon-"],
.bootstrap-select .dropdown-menu.inner > li:hover > a [class*=" flaticon-"],
.bootstrap-select .dropdown-menu.inner > li:hover > a [class^="flaticon2-"],
.bootstrap-select .dropdown-menu.inner > li:hover > a [class*=" flaticon2-"] {
    color: #a2a5b9;
}

.bootstrap-select .dropdown-menu.inner > li.selected > a span.check-mark, .bootstrap-select .dropdown-menu.inner > li:hover > a span.check-mark {
    color: #74788d;
}

.bootstrap-select .dropdown-menu.inner > li.dropdown-header {
    color: #74788d;
}

.bootstrap-select .dropdown-menu.inner > li.selected > a {
    background: #f7f8fa;
}

.bootstrap-select .dropdown-menu.inner > li.disabled > a {
    opacity: 0.6;
}

.bootstrap-select .dropdown-menu.inner > li.divider {
    border-bottom: 1px solid #f7f8fa;
}

.bootstrap-select .dropdown-menu.inner > li.active:not(.selected) > a {
    background: #5867dd;
}

.bootstrap-select .dropdown-menu.inner > li.active:not(.selected) > a .text {
    color: #ffffff;
}

.bootstrap-select .dropdown-menu.inner > li.active:not(.selected) > a [class^="la-"],
.bootstrap-select .dropdown-menu.inner > li.active:not(.selected) > a [class*=" la-"],
.bootstrap-select .dropdown-menu.inner > li.active:not(.selected) > a [class^="fa-"],
.bootstrap-select .dropdown-menu.inner > li.active:not(.selected) > a [class*=" fa-"],
.bootstrap-select .dropdown-menu.inner > li.active:not(.selected) > a [class^="flaticon-"],
.bootstrap-select .dropdown-menu.inner > li.active:not(.selected) > a [class*=" flaticon-"],
.bootstrap-select .dropdown-menu.inner > li.active:not(.selected) > a [class^="flaticon2-"],
.bootstrap-select .dropdown-menu.inner > li.active:not(.selected) > a [class*=" flaticon2-"] {
    color: #ffffff;
}

.bootstrap-select .dropdown-menu.inner > li.active:not(.selected) > a span.check-mark {
    color: #ffffff;
}

.bootstrap-select .dropdown-menu.inner > li.no-results {
    color: #74788d;
}

.bootstrap-select .popover-title {
    background: #f7f8fa;
    border: 0;
}

.bootstrap-select .dropdown-menu {
    margin-top: 1px;
}

.form__group--inline {
    display: table;
    padding: 0;
}

.form__group--inline > .form__label {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding-right: 1rem;
    width: 20%;
}

.form__group--inline > .form__label label {
    margin: 0;
}

.form__group--inline > .form__control {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    width: 100%;
}

.input-icon {
    position: relative;
    padding: 0;
    width: 100%;
}

.input-icon__icon {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    width: 3.2rem;
}

.input-icon > .input-icon__icon > span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.input-icon > .input-icon__icon > span i {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    font-size: 1.4em;
    color: #74788d;
}

.input-icon.input-icon--left .form-control {
    padding-left: 2.8rem;
}

.input-icon > .input-icon__icon.input-icon__icon--left {
    left: 0;
}

.bootstrap-select .dropdown-toggle .filter-option {
    position: static;
    top: 0;
    left: 0;
    float: left;
    height: 100%;
    width: 100%;
    text-align: left;
    overflow: hidden;
    flex: 0 1 auto;
}

li.site-menu-item:hover > i.site-menu-icon {
    color: #008fb4;
}

.btn-inverse {
    background: transparent;
    border-width: 2px;
}

.block-overlay {
    display: none;
}

.loader {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1em solid rgb(0, 143, 180);
    border-right: 1em solid rgb(0, 143, 180);
    border-bottom: 1em solid rgb(0, 143, 180);
    border-left: 1em solid #faca09;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.loader.loader-small {
    width: 45px;
    height: 45px;
    border-top: 5px solid rgb(0, 143, 180);
    border-right: 5px solid rgb(0, 143, 180);
    border-bottom: 5px solid rgb(0, 143, 180);
    border-left: 5px solid #faca09;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loading-overlay .block-overlay {
    display: block;
}

.user-logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-badge {
    display: table-cell;
    width: 40px;
    height: 40px;
    background: #008fb4;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    color: white;
    font-weight: 500;
    margin-right: 10px;
}

.user-name {
    display: table-cell;
    padding-left: 10px;
}

.row {
    margin: 0;
}

div.no-result {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    background: #fff;
    text-align: center;
    height: 72px;
    padding-top: 26px;
}

.bootstrap-select .dropdown-menu.inner > li > a {
    margin: 0;
    width: 100%;
}

.pager-size .dropdown-menu.inner > li > a {
    display: block;
    position: relative;
    outline: none !important;
    padding: 10px 15px;
    text-align: center;
}

.pager-size .btn.dropdown-toggle {
    font-size: 1rem;
    font-weight: 500;
    border: 0 !important;
    color: rgba(0, 143, 180, 0.82) !important;
    background: #f0f3ff !important;
}

.pager-size .btn.dropdown-toggle i {
    color: #ffffff;
}

.pager-size .btn.dropdown-toggle:focus,
.pager-size .btn.dropdown-toggle:hover,
.pager-size .show .btn.dropdown-toggle {
    background: rgba(0, 143, 180, 0.79);
}

.pager-size .btn.dropdown-toggle:focus i,
.pager-size .btn.dropdown-toggle:hover i,
.pager-size .show .btn.dropdown-toggle i {
    color: #ffffff !important;
}

.pager-size .dropdown-menu {
    z-index: 100;
}

.modal .pager-size .dropdown-menu {
    z-index: 1051;
}

.bootstrap-select .dropdown-menu.inner > li:hover > a {
    background: #f7f8fa;
}

.dropdown-menu {
    border: 0 !important;
    margin: 0;
    min-width: 14rem;
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);
    padding: 1rem 0;
    border-radius: 4px;
}

.table-pager {
    margin: 0;
    padding: 25px 25px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.table-pager .pager-nav {
    margin: 0;
    padding: 0;
    display: flex;
}

.table-pager .pager-nav > li {
    padding: 0;
    margin-right: 5px;
    display: inline-block;
}

.table-pager .pager-link {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.25rem;
    min-width: 2.25rem;
    padding: 0.5rem;
    border-radius: 3px;
    position: relative;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
    color: #93a2dd;
    transition: all 0.3s;
}

.table-pager .pager-link:hover {
    transition: all 0.3s;
    background: rgba(0, 143, 180, 0.82);
    color: #ffffff;
}

.table-pager li.disabled .pager-link:hover {
    color: rgba(0, 143, 180, 0.51);
    background: #f0f3ff;
    opacity: 0.3;
}

.table-pager .pager-link.active {
    background: rgba(0, 143, 180, 0.82);
    color: #ffffff;
}

.table-pager .pager-link > i {
    font-size: 0.6rem;
    text-align: center;
    display: inline-block;
}

.table-pager .pager-showing-info {
    line-height: 33px;
}

.dropup .nav-link.dropdown-toggle:after,
.dropup .btn.dropdown-toggle:after {
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    content: "";
}

/** User logo details in table */
.user-info {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.user-icon {
    padding-right: 10px;
}

html[dir="rtl"] .user-icon {
    padding-left: 10px;
    padding-right: inherit;
}

.user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

table a, .user-info a {
    transition: color 0.3s ease;
    display: block;
    text-decoration: none !important;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #595d6e;
}

table a:hover, .user-info a:hover {
    transition: color 0.3s ease;
    color: #5d78ff;
}

.user-info {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.user-details .rating {
    display: block;
}

.user-details .rating i {
    margin-right: 2px;
}

.modal .close {
    outline: none;
    font-size: 32px;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #B3B3B3;
    font-weight: 400;
}

@keyframes image_blur {
    0% {
        -webkit-filter: blur(0px);
    }
    100% {
        -webkit-filter: blur(2px);
    }
}

.loading-overlay.loading-shown {
    -webkit-animation: image_blur 2s infinite;
    z-index: 10000 !important;
}

.loading-overlay-content {
    letter-spacing: 0;
}

.has-danger .dropdown-toggle {
    border-color: #f44336 !important;
    color: #f44336 !important;
}

.img-circle {
    border-radius: 50%;
}

/*** table header *****/
.header-table {
    margin-bottom: 20px;
    text-align: right;
}

.table > thead th {
    font-weight: 500;
}

.table > thead th > a.sort-icon > i {
    font-weight: 900;
    margin-left: 10px;
}

.table > thead th > a {
    display: inline-block;
}

.table > thead th > a.sort-icon i {
    color: #008fb4;
}

.table > thead th > a.sort-icon.disable i {
    color: #d0d0d0;
}

.table tfoot tr td {
    font-weight: 600;
    border-top: 2px solid #d2d2d2;
}

.table tfoot tr td strong {
    font-weight: 600;
}

.table td {
    vertical-align: middle;
    height: 50px;
}

.form-input-theme input,
.form-input-theme textarea,
.form-input-theme .dropdown-toggle,
.form-input-theme .select2-selection,
.form-input-theme .select2-selection.select2-selection--multiple,
.form-input-theme select {
    background-color: #f7f9fc !important;
    color: #1a2138;
    -webkit-appearance: none;
    transition-duration: .15s;
    transition-property: border, background-color, color, box-shadow;
    transition-timing-function: ease-in;
    border: 2px solid #edf1f7;
}

.form-input-theme .select2-selection .select2-search__field {
    height: 33px;
}

.form-input-theme .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 4px;
    color: white;
}

.form-input-theme .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #008fb4;
    border: 1px solid #008fb4;
    color: white;
}

.form-input-theme input,
.form-input-theme .dropdown-toggle,
.form-input-theme .select2-selection,
.form-input-theme select {
    height: 40px;
}

.form-input-theme label {
    color: #8f9bb3;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    line-height: 16px;
}

.form-input-theme input:focus,
.form-input-theme .select2-container.select2-container--focus .select2-selection,
.form-input-theme textarea:focus {
    outline: 0;
    box-shadow: 0 0 0 6px #e4e9f2;
    border-color: #008fb4;
}

.form-input-theme input.meduim, .form-input-theme textarea.meduim {
    font-size: 15px;
    line-height: 24px;
    padding: 7px 18px;
}

.form-input-theme input.shape-rounded, .form-input-theme textarea.shape-rounded {
    border-radius: 24px;
}

.datepicker ,
.datetimepicker{
    padding: 15px !important;
}

.datepicker table tr td, .datepicker table tr th,
.datetimepicker table tr td, .datetimepicker table tr th
{
    padding: 5px !important;
}
.datetimepicker   tr td.active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active:active,
.show > .datepicker table tr td.active.dropdown-toggle,
.show > .datepicker table tr td.active.highlighted.dropdown-toggle {
    color: #fff;
    border-color: #008fb4 !important;
    background-color: #008fb4 !important;
    background-image: none;
}

.form-control.focus, .form-control:focus {
    border-color: #008fb4;
}

.radio-info input[type="radio"]:checked + label::before,
.radio-info input[type="radio"]:checked + input[type="hidden"] + label::before {
    border-color: #008fb4;
}

.rating-sm {
    font-size: 12px;
}

.rating-sm img {
    width: 12px;
}

/** RTL */
html[dir="rtl"] .float-right {
    float: left !important;
}

html[dir="rtl"] .float-left {
    float: right !important;
}

html[dir="rtl"] .checkbox-custom label::before {
    right: 0 !important;
    margin-right: -20px;
}

html[dir="rtl"] .checkbox-custom label:after {
    margin-right: -20px;
    right: 0;
    transform: scaleX(-1);
}

html[dir="rtl"] .checkbox-custom {
    padding-right: 20px;
}
.checkbox-custom label{
    line-height: 22px;
}
html[dir="rtl"] .site-menubar .site-menu .site-menu-icon {
    margin-left: 14px;
    transform: rotate(-90deg) matrix(0, -1, -1, 0, 0, 0);
}

html[dir="rtl"] .site-menubar-unfold .page, html[dir="rtl"] .site-menubar-unfold .site-footer {
    margin-right: 260px;
    margin-left: 0;
}

html[dir="rtl"] .site-menubar-fold .page, .site-menubar-fold .site-footer {
    margin-right: 90px;
    margin-left: 0;
}

html[dir="rtl"] .site-footer-legal {
    float: right;
}

html[dir="rtl"] .navbar-toolbar {
    float: right;
}

html[dir="rtl"] .navbar-right {
    float: left;
}

html[dir="rtl"] .navbar-right .dropdown-menu {
    left: 0;
    right: auto;
}

html[dir="rtl"] .site-menubar-fold .site-menu > .site-menu-item > .site-menu-sub {
    right: 90px;
    left: 0;
}

html[dir="rtl"] .site-menubar-fold .site-navbar .navbar-container {
    margin-left: 0;
}

.site-menubar-fold .site-menu > .site-menu-item > a svg.site-menu-icon{
    font-size: 40px;
}
.site-menubar-fold .site-menu > .site-menu-item > a .site-menu-icon {
    padding: 10px 13px !important;
}

html[dir="rtl"] #toggleMenubar .hamburger-arrow-left {
    transform: scale(1);
}

html[dir="rtl"] .site-menubar-unfold #toggleMenubar .hamburger-arrow-left .hamburger-bar {
    margin-right: -4px;
}

html[dir="rtl"] .site-menubar-header .avatar {
    float: right;
    margin-left: 5px;
}

@media (max-width: 767px) {
    html[dir="rtl"] body:not(.site-menubar-open) .site-menubar {
        transform: translate3d(+260px, 0, 0);
    }

    html[dir="rtl"] body:not(.site-menubar-open).site-menubar-unfold .page,
    html[dir="rtl"] body:not(.site-menubar-open).site-menubar-unfold .site-footer {
        margin-right: 0;
        margin-left: 0;
    }

    html[dir="rtl"] .site-menubar-open .page,
    html[dir="rtl"] .site-menubar-open .site-footer {
        -webkit-transform: translate3d(-260px, 0, 0);
        -ms-transform: translate(-260px, 0);
        transform: translate3d(-260px, 0, 0);
        margin-right: 0;
    }
}


html[dir="rtl"] .bootstrap-select .dropdown-toggle .filter-option {
    float: right;
    text-align: right;
}

html[dir="rtl"] .navbar-brand {
    float: right;
}

html[dir="rtl"] i[class^="flaticon"] {
    -webkit-transform: scale(-1);
    -moz-transform: scale(-1);
    -ms-transform: scale(-1);
    -o-transform: scale(-1);
    transform: scale(-1);
}

html[dir="rtl"] .form__group--inline > .form__label {
    padding-left: 1rem;
    padding-right: inherit;
}

html[dir="rtl"] .select2-container--default .select2-selection--multiple .select2-selection__clear {
    float: left;
}

html[dir="rtl"] .form-control + .input-group-addon:not(:first-child) {
    border-right: 0;
    border-left: 1px solid #e0e0e0;
    border-radius: 0;
}

html[dir="rtl"] .modal .close {
    right: inherit;
    left: 20px;
}

html[dir="rtl"] .checkbox-custom label {
    padding-right: 10px;
    padding-left: inherit;
}

.no-notifications {
    color: gainsboro;
    padding: 50px 20px;
    text-align: center;
    font-size: 14px;
}

table.table-responsive {
    display: table !important;
}

.form-input-theme .select2-selection .select2-search__field {
    margin-top: 0;
}

.datepicker.datepicker-rtl {
    left: inherit !important;
}

.datepicker.datepicker-rtl:before {
    right: 6px !important;
    left: inherit !important;
}

.datepicker.datepicker-rtl:after {
    right: 7px !important;
    left: inherit !important;
}

div[data-plugin="rating"] {
    min-width: 95px;
}

a.loading,
button.loading {
    pointer-events: none;
    opacity: 0.6;
}

html[dir="rtl"] a.loading:before,
html[dir="rtl"] button.loading:before {
    content: "";
    padding: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    left: 6px;
    margin-left: 11px;
    vertical-align: text-bottom;
    border: .15em solid currentColor;
    border-left-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

html[dir="ltr"] button.loading:after,
html[dir="ltr"] a.loading:after {
    content: "";
    padding: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    left: 6px;
    margin-left: 11px;
    vertical-align: text-bottom;
    border: .15em solid currentColor;
    border-left-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.logo-link {
    text-decoration: none !important;
    color: white !important;
}

.modal-backdrop {
    z-index: 2000;
}

.modal {
    z-index: 2001;
}

.has-error input,
.has-error textarea {
    border-color: #F46363;
}

.has-error .error-msg {
    color: #F46363;
    display: block;
}

.modal.loading-modal .modal-footer:after {
    content: "";
    padding: 0;
    display: inline-block;
    width: 25px;
    height: 25px;
    left: 6px;
    margin-left: 11px;
    vertical-align: text-bottom;
    border: 3px solid #008fb4;
    border-left-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.modal.danger-modal .modal-footer:after {
    border-color: #F8202D;
    border-left-color: transparent;
}

.modal.loading-modal .modal-body input,
.modal.loading-modal .modal-body textarea,
.modal.loading-modal .modal-body select {
    pointer-events: none;
}

.modal.loading-modal .modal-footer button, .modal.loading-modal .modal-header .close {
    display: none;
}

.ct-series-a .ct-area, .ct-series-a .ct-slice-pie {
    fill: #a5d2e1 !important;
    fill-opacity: 1 !important;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #a5d2e1 !important;
}

html[dir="rtl"] .datepicker {
    text-align: right;
}

.modal.small-modal .modal-dialog {
    max-width: 400px;
}

.modal .delete-icon-title {
    color: #F8202D;
    background: #FFE7EB;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    vertical-align: bottom;
    display: block;
}

.modal .close {
    font-size: 32px;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #B3B3B3;
    font-weight: 400;
}

.color-theme {
    color: #008fb4;
}

.translation-bar {
    border: 3px solid #444444;
    background: #444444;
}

.translation-progress {
    background: #6CEE99;
    color: #fff;
    border-radius: 7px;
    padding: 7px;
    width: 0;
}

.translation-progress-bar {
    border-radius: 20px;
    overflow: hidden;
    max-width: 300px;
    margin: auto;
}

#show-notification > .badge {
    margin: 0 !important;
    right: 7px;
    position: absolute;
    top: 13px;
}

.browse-data-filter {
    position: absolute;
    top: 50px;
    right: 27px;
}

html[dir="rtl"] .browse-data-filter {
    left: 27px;
    right: inherit;
}

.date-range {
    padding: 0.65rem 1rem;
    color: #282a3c;
    border-radius: 4px !important;
    background: #fff;
    box-shadow: none;
    border: 1px solid #e2e5ec;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.25;
    height: auto;
    cursor: pointer
}

.form-input-theme .date-range {
    background-color: #f7f9fc !important;
    color: #1a2138;
    transition-duration: .15s;
    transition-property: border, background-color, color, box-shadow;
    transition-timing-function: ease-in;
    border: 2px solid #edf1f7;
    padding: 10px;
}

.form-input-theme .input-group-addon {
    line-height: 25px;
}

.form-input-theme.input-group .input-group-addon {
    margin-right: -33px;
}

html[dir="rtl"].form-input-theme.input-group .input-group-addon {
    margin-left: -33px;
    margin-right: initial;
}

#data-date-filter .fa-caret-down {
    line-height: 19px;
}

html[dir="ltr"] .bootstrap-select:not(.table-pagination-length) > .dropdown-toggle:after {
    margin-left: 10px;
}

html[dir="rtl"] .bootstrap-select:not(.table-pagination-length) > .dropdown-toggle:after {
    margin-right: 10px;
}

body.report-inspecting {
    padding-top: 0;
}

body.report-inspecting .page {
    padding-top: 40px;
    margin: 0!important;
    max-width: 100%;
    width: 100%;
}
body.report-inspecting .page .page-content {
    margin: 0;
    max-width: 100%;
}
body.report-inspecting .page .page-content>.col-3{
    flex: 0 0 22%;
}
body.report-inspecting .page .page-content .user-profile{
    flex: 0 0 78%;
    max-width: 75%;
}

body.report-inspecting nav.site-navbar,
body.report-inspecting .site-menubar,
body.report-inspecting .page .page-header,
body.report-inspecting footer {
    display: none;
}

.error-msg {
    display: none;
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.site-menu .site-menu-sub .site-menu-item.active {
    background: rgba(0, 143, 180, 0.07);
}

.site-menu .site-menu-sub .site-menu-item.active > a {
    color: #008fb4;
}

.site-menu > .site-menu-item.active > a {
    background: #008fb421;
}

html[dir="rtl"] .site-menu-arrow, .site-menu-badge, .site-menu-label {
    transform: scaleX(-1) !important;
    left: 30px;
    right: inherit;
}

html[dir="rtl"] .site-menubar-unfold .site-menu-item.open > a .site-menu-arrow {
    transform: rotate(90deg) !important;
}

.blockui {
    background: #fff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    display: table;
    table-layout: fixed;
    border-radius: 4px;
}

.blockui > span {
    color: #74788d;
    display: table-cell;
    vertical-align: middle;
    padding: 0.75rem 1.2rem;
    font-size: 1rem;
    font-weight: 400;
}

@-webkit-keyframes spinner {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loading-spinner:before {
    content: '';
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: -10px;
    -webkit-animation: spinner .5s linear infinite;
    animation: spinner .5s linear infinite;
}

.loading-spinner.spinner-success:before {
    border: 3px solid #67f7cd;
    border-top-color: #09ac7d;
}

.loading-spinner.spinner-danger:before {
    border: 3px solid #ffd0e0;
    border-top-color: #fd2a70;
}

.loading-spinner.spinner-info:before {
    border: 3px solid #d7dbf7;
    border-top-color: #4b5bda;
}

.loading-spinner.spinner-warning:before {
    border: 3px solid #ffe9bb;
    border-top-color: #ffb313;
}

.nicescroll-rails-vr .nicescroll-cursors {
    background-color: #008fb4 !important;
}

/** Badge */
.page-content .badge {
    display: inline-block;
    padding: 6px 15px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.badge.badge-default {
    background-color: #efefef;
}

.badge-soft-warning {
    color: #c46632;
    background-color: #fde6d8;
}

.badge-soft-secondary {
    color: #7d899b;
    background-color: #e3e6ea;
}

.badge-soft-success {
    color: #00864e;
    background-color: #ccf6e4;
}

.badge-soft-danger {
    color: #932338;
    background-color: #fad7dd;
}

.badge-soft-primary {
    color: #1c4f93;
    background-color: #d5e5fa
}

.badge-soft-primary[href]:focus, .badge-soft-primary[href]:hover {
    text-decoration: none;
    color: #1c4f93;
    background-color: #a7c9f5
}

.badge-soft-secondary {
    color: #7d899b;
    background-color: #e3e6ea
}

.badge-soft-secondary[href]:focus, .badge-soft-secondary[href]:hover {
    text-decoration: none;
    color: #7d899b;
    background-color: #c6ccd4
}

.badge-soft-info {
    color: #247086;
    background-color: #d7eff6
}

.badge-soft-info[href]:focus, .badge-soft-info[href]:hover {
    text-decoration: none;
    color: #247086;
    background-color: #addeed
}

.badge-soft-light {
    color: #9fa0a2;
    background-color: #fefeff
}

.badge-soft-light[href]:focus, .badge-soft-light[href]:hover {
    text-decoration: none;
    color: #9fa0a2;
    background-color: #cbcbff
}

.badge-soft-dark {
    color: #070f19;
    background-color: #ced1d4
}

.badge-soft-dark[href]:focus, .badge-soft-dark[href]:hover {
    text-decoration: none;
    color: #070f19;
    background-color: #b3b8bc
}

.badge-rounded {
    border-radius: 3.125rem !important;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(26, 54, 126, 0.125);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom-width: 1px;
    padding-right: 0.625rem;
    height: 4.5rem;
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    text-transform: uppercase;
    color: rgba(13, 27, 62, 0.7);
    font-weight: bold;
    font-size: 1rem;
}

.card-shadow:hover {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.site-menu .site-menu-sub .site-menu-item.hover {
    background: #b7959512;
}

.site-menu-title,
.site-menubar-unfold .site-menu-title {
    max-width: 200px;
}

.rounded-capsule {
    border-radius: 3.125rem !important;
}

tr.flagged {
    background: #00bcd438!important;
}

tr.flagged i.fas.fa-flag,tr.flagged svg{
    color: #208fb4!important;
}

.icon-required {
    position: relative;
}

.icon-required:before {
    content: "*";
    position: absolute;
    left: 0;
    top: 0;
    text-indent: 0;
    color: #de350b;
    line-height: 1;
    font-size: 12px;
}

html[dir="rtl"] .icon-required:before {
    left: -8px;
}

.has-error .bootstrap-select > .dropdown-toggle {
    border-color: #F46363;
}

.site-menu .badge {
    padding: 3px 5px 3px 5px;
}

.img-preview {
    box-sizing: border-box;
    transition: all 0.6s ease;
    margin-top: 20px;
    margin-bottom: 15px;
    height: 250px;
    width: 100%;
    border-radius: 4px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.fileinput input,
.fileinput.has-img .fileinput-new,
.fileinput:not(.has-img) .fileinput-delete,
.fileinput:not(.has-img) .btn-file .fileinput-change {
    display: none;
}

.fileinput.has-img .fileinput-delete,
.fileinput.has-img .fileinput-change {
    display: inline-block;
}

.fileinput.has-img label {
    background: #008fb4;
    color: white;
}

.apple-switch input[type=checkbox] {
    display: none;
}

.apple-switch label.label-switch {
    margin: 0;
    cursor: pointer;
    text-indent: -9999px;
    width: 55px;
    height: 30px;
    background: #d8d8d8;
    display: block;
    border-radius: 100px;
    position: relative;
}

.apple-switch label.label-switch:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 28px;
    height: 28px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flex-truncate {
    min-width: 0 !important;
}


.margin-h-center {
    margin-left: auto !important;
    margin-right: auto !important;
}

.center-svg svg {
    margin: 0 auto;
}

.apexcharts-canvas {
    margin: 0 auto;
}

.apexcharts-donut {
    display: flex;
    align-items: center;
    align-content: center;
}

.alert-dismissible .close {
    top: 0;
    right: 5px;
    padding: 5px;
}


.icon-gradient {
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}


.font-size-xlg {
    font-size: 1.3rem !important;
}

.font-size-md {
    font-size: .9rem !important;
}

.font-size-lg {
    font-size: 1.1rem !important;
}


.no-shadow {
    box-shadow: 0 0 0 transparent !important;
}


.h-100 {
    height: 100vh !important;
}

.he-auto {
    height: auto !important;
}

.he-100 {
    height: 100%;
}

.h-sm {
    height: 150px;
}

.text-nowrap {
    white-space: nowrap;
}


.fsize-1 {
    font-size: .95rem !important;
}

.fsize-2 {
    font-size: 1.3rem !important;
}

.fsize-3 {
    font-size: 1.6rem !important;
}

.fsize-4 {
    font-size: 2rem !important;
}

.z-index-6 {
    z-index: 6;
}

.line-height-1 {
    line-height: 1;
}

.center-elem {
    display: flex;
    align-items: center;
    align-content: center;
}

.flex2 {
    flex: 2;
}

.apple-switch input:checked + label.label-switch {
    background: var(--primary);
}

.apple-switch input:checked + label.label-switch:after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
}

.apple-switch input:checked + label.label-switch:after:active {
    width: 30px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.03);
}

.widget-content {
    padding: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.widget-content .widget-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.widget-content .widget-content-outer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.widget-content .widget-content-left .widget-heading {
    opacity: .8;
    font-weight: bold;
}
@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0
    }
    to {
        background-position: 0 0
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0
    }
    to {
        background-position: 0 0
    }
}

.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem
}

.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: var(--primary);
    -webkit-transition: width .6s ease;
    transition: width .6s ease
}

@media screen and (prefers-reduced-motion:reduce) {
    .progress-bar {
        -webkit-transition: none;
        transition: none
    }
}

.progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem
}

.progress-bar-animated {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite
}
h1,h2,h3,h4,h5,h6{
    color: rgba(13, 27, 62, 0.7);
}
.form-control {
    height: inherit;
}
input.form-control{
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
}
@media (max-width: 990px){
    .form__group--inline.block,
    .form__group--inline.block .form__control{
        display: block;
    }
}
@media (max-width: 790px){
    .col-1>.date-range span,
    .col-1>.date-range .fa-caret-down{
        display: none;
    }
    .col-1>.date-range{
        width: 40px;
        line-height: 1.5;
    }
}
.bootstrap-datetimepicker-widget .collapse.in,
.bootstrap-datetimepicker-widget .collapse.show{
    display: block;
}
.form-control.is-invalid {
    border-color: #d92550;
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right calc(2.25rem / 4);
    background-size: calc(2.25rem / 2) calc(2.25rem / 2);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
}
.invalid-feedback ul {
    list-style: none;
    padding: 0 0.5rem;
    width: 100%;
    margin-top: 0.25rem;
    font-weight: 500;
    color: #d92550;
}
.form-control.is-valid {
    border-color: #3ac47d;
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right calc(2.25rem / 4);
    background-size: calc(2.25rem / 2) calc(2.25rem / 2);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}
#clock {
    font-family: "Share Tech Mono", monospace;
    text-align: center;
    max-width: 200px;
    position: absolute;
    right: 33px;
    top: 0px;
    color: #1694c7;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}
html[dir="rtl"] #clock{
    right: inherit;
    left: 33px;
}
#clock .time {
    letter-spacing: 0.05em;
    font-size: 36px;
    padding: 5px 0;
    line-height: 20px;
}
#clock .date {
    letter-spacing: 0.1em;
    margin-bottom: 0;
    font-size: 14px;
    margin-top: 15px;
}
.no-scroll {
    height: 100%;
    overflow: hidden;
}
.display-5 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}
.display-6 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.1;
}
.display-7 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1;
}
.bs-ok-default.check-mark{
    color: var(--theme-color) !important;
}
