<div class="col-2 col-md-1 p-md-0 pager-size">
    <select class="form-control selectpicker bootstrap-select table-pagination-length"
            data-url="{{ path('save_table_page_length') }}" data-reload="{{ updateUrl(app.request,{'page':''}) }}">
        <option {% if app.session.get('tableLength',10) ==10 %} selected {% endif %} value="10">10</option>
        <option {% if app.session.get('tableLength') ==25 %} selected {% endif %} value="25">25</option>
        <option {% if app.session.get('tableLength') ==50 %} selected {% endif %} value="50">50</option>
        <option {% if app.session.get('tableLength') ==100 %} selected {% endif %} value="100">100</option>
    </select>
</div>