<div class="input-icon input-icon--left">
    <input type="text" class="form-control" placeholder="{{ 'users.filter.search'|trans }} ..."
           data-url="{{ updateUrl(app.request,{'search':'#search#'}) }}"
           id="search" value="{{ app.request.query.get('search') }}">
    <span class="input-icon__icon input-icon__icon--left">
        <span><i class="md-search"></i></span>
    </span>
</div>