{% extends "@App/front/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block bodyClass %}
    page-reset
{% endblock %}
{% block body %}
    <div class="panel" style="width: inherit">
        <div class="logo-box">
            <a href="javascript:;">
                <img  src="{{ asset('assets/img/logo/logo_v2.png') }}" alt="...">
            </a>
        </div>
        <div class="panel-body">
            <p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime,'%email%':app.request.query.get('username')})|nl2br }}</p>
        </div>
    </div>
{% endblock %}
