{% extends "@App/front/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block bodyClass %}
    page-login-v3
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/login/login.css') }}">
{% endblock %}
{% block body %}
    <div class="panel" style="margin-top: 100px;">
        <div class="logo-box">
            <a href="javascript:;">
                <img  src="{{ asset('assets/img/logo/logo_v2.png') }}" alt="...">
            </a>
        </div>
        <div class="panel-body">
            <h2 class="brand-text">Choose a new password.</h2>
            {% include "@App/front/reset/reset_content.html.twig" %}
        </div>
    </div>
{% endblock body %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/pages/login/login.js') }}"></script>
{% endblock %}