{% extends "@App/front/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block bodyClass %}
    page-login-v3
{% endblock %}
{% block stylesheets %}
    <style>
        .panel-body{
            padding: 50px 20px 30px!important
        }
        .brand-img{
            width: 120px!important;
        }
        .notice{
            margin-bottom: 0!important;
        }
        .icons{
            font-size: 26px!important;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="panel">
        <div class="logo-box">
            <img class="brand-img" src="{{ asset('assets/img/logo/logo_v2.png') }}" alt="...">
        </div>
        <div class="panel-body">
            <div class="notice pt-20">
                <div>
                    <i class="icon-check icons"></i>
                </div>
                <div>
                    <span style="line-height: 36px">{{ 'resetting.flash.success'|trans }}</span>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

