{% extends "AppBundle:admin/parts:layout.html.twig" %}
{% block title %}{{ 'side_menu.settings'|trans }} - {{ 'pages.edit_the_page'|trans({'_page_': page.identifier }) }} {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/tinymce/skins/ui/oxide/skin.min.css') }}">
{% endblock %}
{% block body %}
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('system_general') }}">{{ 'side_menu.settings'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('system_pages') }}">{{ 'system.pages.title'|trans }}</a></li>
        <li class="breadcrumb-item active">{{ 'pages.edit_page'|trans }}</li>
    </ol>
    <h1 class="page-title">{{ 'pages.edit_page'|trans }}</h1>
</div>
<div class="page-content container-fluid">
    <div class="" data-plugin="matchHeight" data-by-row="true">
        {{ form_start(form) }}
        <div class="panel-body container-fluid">
            <div>
                <div class="text-center">
                    <label for="language-selector">{{ 'pages.edit_for_lang'|trans }}</label>
                    <select class="selectpicker bootstrap-select" id="language-selector">
                        {% for availableLanguage in availableLanguages %}
                            <option {% if language ==  availableLanguage.identifier  %} selected {% endif %}
                                    data-icon-path="{{ availableLanguage.icon }}"
                                    data-icon="flag-icon flag-icon-{{ availableLanguage.identifier=='en'?'gb':(availableLanguage.identifier=='ar'?'sa':availableLanguage.identifier) }}"
                                    value="{{ availableLanguage.identifier }}">{{ availableLanguage.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="checkbox-custom checkbox-success">
                {{ form_widget(form.published) }}
                {{ form_label(form.published) }}
            </div>
            <div class="form-group">
                <input name="page_title" class="form-control form-input-theme" value="{{ page.translate(language).title }}">
            </div>
            <div>
                <textarea name="page_content" id="page-content" cols="30" rows="50">{{ page.translate(language).content }}</textarea>
            </div>
            <div class="col-12 text-center mt-20">
                <button type="submit" class="btn btn-theme-primary">{{ 'users.edit.save'|trans }}</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock body %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/plugins/tinymce/tinymce.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            tinymce.init({
                selector: '#page-content',
                plugins: 'print preview searchreplace autolink directionality  visualblocks visualchars fullscreen  link  table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcount   imagetools  contextmenu colorpicker textpattern help',
                toolbar1: 'formatselect | bold italic underline strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat',
                height: 500,
                directionality : $('html').attr('dir'),
                language: $('html').attr('lang'),
            });
          $('#language-selector').on('change',function () {
            window.location.href = '?lang='+$(this).val();
          })
        });
    </script>
{% endblock %}