{% extends '@App/admin/system_config/config.html.twig' %}

{% block tabBody %}
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table" id="doc-type-table">
                <thead>
                <tr>
                    <th>{{ 'system.pages.table.created_at'|trans }}</th>
                    <th>{{ 'system.pages.table.name'|trans }}</th>
                    <th>{{ 'system.pages.table.last_update'|trans }}</th>
                    <th class="text-center">{{ 'system.pages.table.published'|trans }}</th>
                    <th class="text-nowrap"></th>
                </tr>
                </thead>
                <tbody>
                {% for page in pages %}
                    <tr data-id="{{ page.id }}">
                        <td> {{ page.createdAt|date('Y-m-d H:i') }} </td>
                        <td> {{ page.translate(app.request.locale).title }} </td>
                        <td> {{ page.updatedAt|date('Y-m-d H:i') }} </td>
                        <td class="text-center">
                            <i class="fas fa-toggle-{% if page.published %}on text-success {% else %}off{% endif %}"
                               aria-hidden="true"></i>
                        </td>
                        <td class="text-nowrap">
                            <button data-url="{{ url('pages',{'pageName':page.identifier,'lang':app.request.locale}) }}"
                                    data-page-identifier="{{ page.identifier }}"
                                    class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic btn-preview-page">
                                <i data-toggle="tooltip" data-original-title="{{ 'system.pages.table.preview'|trans }}"
                                   class="fas fa-eye"
                                   aria-hidden="true"></i>
                            </button>
                            <a href="{{ path('system_page_update', {'identifier': page.identifier}) }}"
                               class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic btn-edit-page">
                                <i data-toggle="tooltip" data-original-title="{{ 'system.pages.table.edit'|trans }}"
                                   class="fas fa-cog" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!--Modal: Name-->
    <div class="modal fade" id="preview-page-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <!--Content-->
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <div class="text-center">
                        <label for="language-selector">{{ 'system.language.pick_language'|trans }}</label>
                        <select class="selectpicker bootstrap-select" id="language-selector">
                            {% for availableLanguage in languages %}
                                <option data-url="{{ url('pages',{'pageName':"_identifier_",'_locale':availableLanguage.identifier}) }}"
                                        {% if app.request.locale == availableLanguage.identifier %} selected {% endif %}
                                        data-icon-path="{{ availableLanguage.icon }}"
                                        data-icon="flag-icon flag-icon-{{ availableLanguage.identifier=='en'?'gb':(availableLanguage.identifier=='ar'?'sa':availableLanguage.identifier) }}"
                                        value="{{ availableLanguage.identifier }}">{{ availableLanguage.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!--Body-->
                <div class="modal-body mb-0 p-0">
                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                        <iframe id="iframe-preview-page" src="" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                            data-dismiss="modal">{{ 'reports.modal.close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
  $(document).ready(function () {
    let currentPageIdentifier = "";
    $('.btn-preview-page').on('click', function (e) {
      currentPageIdentifier = $(this).data('page-identifier');
      $('#iframe-preview-page').attr('src', $(this).data('url'));
      $('#preview-page-modal').modal('show');
    });
    $('#language-selector').on('change', function () {
      let url = $(this).find('option:selected').data('url').replace('_identifier_', currentPageIdentifier);
      $('#iframe-preview-page').attr('src', url);
    });
  })
</script>
{% endblock %}