.task-steps .step {
    text-transform: uppercase;
    white-space: nowrap;
    border-radius: 10px;
    padding: 6px 15px;
    display: inline-block;
    line-height: 16px;
    letter-spacing: 0.25px;
    text-align: center;
    font-size: 14px;
    margin-right: 5%;
    background: #f1f4f5;
    color: rgb(187, 194, 220);
    z-index: 2;
}

.task-steps .step:not(:last-child):before {
    content: '';
    display: block;
    position: absolute;
    left: 80%;
    top: 12px;
    background-color: #f1f4f5;
    height: 6px;
    width: 100%;
    z-index: -1;
}
html[dir="rtl"] .task-steps .step:not(:last-child):before{
    right: 80%;
}
.task-steps .step:not(.complete):not(.step-cancelled) i {
    display: none;
}

.task-steps .step > i {
    padding-right: 5px;
}

.task-steps .step.complete, .task-steps .step.active {
    background-color: rgb(229, 240, 217) !important;
    color: rgb(125, 179, 67);
    font-weight: 600;
}

.task-steps .step.complete:before, .task-steps .step.active:before {
    background-color: rgb(229, 240, 217) !important;
}

.task-steps .step.step-cancelled {
    background-color: rgba(240, 0, 24, 0.19) !important;
    color: rgb(255, 8, 39);
    font-weight: 600;
}

.task-title {
    color: #314459;
    font-size: 22px;
}

.task-info {
    list-style: none;
    padding: 0;
}

.task-info i {
    padding-right: 3px;
}
html[dir="rtl"] .task-info i {
    padding-left: 3px;
}
.task-info li {
    font-size: 12px !important;
    display: inline-block;
    padding-right: 5px;
}

.heada__title {
    margin: 0;
    padding: 7px;
    line-height: 1.84;
    font-size: 18px;
}

.brd--b, .brd--b-imp, .heada, .heada__page_title {
    border: 0 solid #eaeaea;
    border-bottom-width: 1px;
    line-height: 1.84;
    padding: 7px;
}

.user-badge {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 25px;
    margin-right: 15px;
}

.user-badge.mini-badge {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 23px;
}

#task-informations table td {
    border: none !important;
}

.u-avatar {
    border-radius: 50%;
}

.task-attachment {
    display: inline-block;
}

.task-attachment a {
    font-size: 14px;
    text-decoration: none !important;
    letter-spacing: 1px;
}

.task-attachment i {
    color: #208fb4;
    padding-right: 5px;
    font-size: 18px;
}

.offer-item:not(:last-child) {
    border-bottom: 1px solid lightgray;
}

.rating .icon {
    margin-right: 3px;
}
#delete-task-modal .modal-dialog{
    max-width: 400px;
}
#delete-task-modal .delete-icon-title{
    color: #F8202D;
    background: #FFE7EB;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    vertical-align: bottom;
    display: block;
}
#delete-task-modal .close{
    font-size: 32px;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #B3B3B3;
    font-weight: 400;
}
.badge-accepted-offer{
    font-size: 12px;
    background: #009688;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 10px;
    color: #fff;
    padding: 1px 8px;
    position: absolute;
    right: 20px;
}
html[dir="rtl"]  .badge-accepted-offer{
    left:20px;
    right: inherit;
}
.badge-poster{
    background-color: #bbc2dc;
    padding: 1px 4px;
    font-size: 10px;
    font-weight: 500;
    border-radius: 10px;
}
.task-basic-info>div{
    display: flex;
    margin-bottom: 15px;
    color: #97a9bf;
}
.task-basic-info>div b,
.task-basic-info>div .price,
.task-basic-info>div span{
    color: #0D0A0A;
    font-weight: 700;
}
.offer-text{
    background: lavender;
    border-radius: 10px;
    margin-top: 10px;
}
.offer-reply-owner{
    background: #f1f4f5;
}
#map{
    height: 400px;
}