<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add message</title>
    <style>
        .box{
            padding: 10px;
            font-weight: 700;
            font-size: 16px;
            border-radius: 11px;
            max-width: 200px;
            margin-bottom: 20px;
            text-align: center;
        }
        input{
            margin-bottom: 20px;
            margin-left: 20px;
            padding: 7px;
            border-radius: 5px;
            border: 1px solid gainsboro;
        }
        .box.error{
            background: #f443364d;
            color: #ff3d00;
        }
        .box.success{
            background: #4caf505e;
            color: #009688;
        }
        button{
            margin-left: 20px;
            padding: 10px 50px;
            background: lightgray;
            color: white;
            border: 1px solid lightgray;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div>
        <h1>Add Message</h1>
        <form method="post">

            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="box error">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="box success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <input type="text" placeholder="message key" name="messageKey" required><br>
            <input type="text" placeholder="message arabic" name="messageArabic" required><br>
            <input type="text" placeholder="message english" name="messageEnglish" required><br>
            <input type="text" placeholder="message indonesian" name="messageIndonesian" required><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>