<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1 class="text-center">Hyper pay payment</h1>
<br>
<form action="{{ url('hyperpay_payment_redirect') }}" class="paymentWidgets" data-brands="VISA MASTER AMEX"></form>
<script src="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId={{ checkoutId }}"></script>
</body>
</html>