<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add message</title>
    <style>
        .box{
            padding: 10px;
            font-weight: 700;
            font-size: 16px;
            border-radius: 11px;
            max-width: 200px;
            margin-bottom: 20px;
            text-align: center;
        }
        .box.error{
            background: #f443364d;
            color: #ff3d00;
        }
        .box.success{
            background: #4caf505e;
            color: #009688;
        }
    </style>
</head>
<body>
<div>
    <h1>Test send notification Message</h1>
    <form method="post">
        <input type="text" name="token" placeholder="fcm token">
        <input type="text" placeholder="Title" name="title" required>
        <textarea type="text" placeholder="message" name="message" required></textarea>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>