.user-profile {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

.user-profile .personal-header {
    position: relative;
}

.user-profile .personal-header .profile-cover {
    height: 200px;
    background: url("../../../../assets/img/user-cover-default.png") no-repeat center;
    background-size: cover;
    position: relative;
    width: auto;
    border-radius: 5px 5px 0 0;
}

.user-profile .personal-header input[type=file] {
    display: none;
}

.user-profile .personal-header label .fa {
    width: 24px;
    height: 24px;
    text-align: center;
}

.user-profile .personal-header label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #130c0c66;
    padding: 8px 12px;
    border-radius: 50%;
    font-size: 24px;
    color: #e8edf2;
    cursor: pointer;
}

.user-profile .personal-header .profile-picture {
    position: absolute;
    width: 120px;
    height: 120px;
    display: block;
    border-radius: 50%;
    left: 30px;
    margin-top: -80px;
    background-size: 127px;
    background-image: url("../../../../assets/img/default-user.png");
    background-position: center;
    background-repeat: no-repeat;
    border: 5px solid #008fb4;
}

.user-profile .user-profile-personals-container {
    padding: 50px 24px 24px;
}

.user-profile .profile-block-info {
    border-radius: 24px;
    border: 2px solid #e8edf2;
    padding: 24px;
    position: relative;
}

.user-profile .profile-block-info.active {
    border: 2px solid #008fb4;
}

.user-profile .block-title {
    position: absolute;
    top: -26px;
    background: white;
    color: #8f9bb3;
    padding: 5px 20px;
}

#user_userType label {
    margin-right: 40px;
    margin-top: 10px;
}

.error-msg {
    font-family: 'OpenSans', sans-serif;
    font-size: 11px;
    color: #F46363;
    line-height: 18px;
    height: 18px;
    margin-top: 5px;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}
.has-error .error-msg {
    opacity: 1;
}
.has-error input {
    border-color: #F46363;
}
#password-block{
    display: none;
}
#password-block.active{
    display: block;
}
.required-msg,.format-msg{
    display: none;
}
.error-msg ul{
    padding: 0;
    list-style: none;
}