{% extends '@App/admin/system_config/config.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block tabBody %}
<div class="col-md-12">
    <div class="col-md-12 text-right p-0 mb-20">
        <a class="btn btn-theme-primary" href="{{ path('tasks_category_new') }}">
            <i class="fa fa-plus"></i> {{ 'system.category.add_category'|trans }}
        </a>
    </div>
    <div class="table-responsive">
        <table class="table" id="category-table" data-update-position-url="{{ path('tasks_category_update_position') }}">
            <thead>
                <tr>
                    <th>{{'system.category.table.created_at'|trans}}</th>
                    <th>{{'system.category.table.name'|trans}}</th>
                    <th>{{'system.category.table.description'|trans}}</th>
                    <th>{{ 'system.category.table.required_documents'|trans }}</th>
                    <th class="text-nowrap text-center"></th>
                </tr>
            </thead>
            <tbody>
            {% for countryCategory in categories %}
            <tr data-id="{{ countryCategory.id }}">
                <td>{{ countryCategory.category.createdAt|date('Y-m-d H:i') }} </td>
                <td>{{ countryCategory.category.translate().name }}</td>
                <td>{{ (countryCategory.category.translate().description|length > 50 ? countryCategory.category.translate().description|slice(0, 50) ~ '…' : countryCategory.category.translate().description??'-')  }}</td>
                <td class="doc-categories">
                    {% for document in countryCategory.requiredDocuments %}
                        <div class="badge badge-default">{{ document.translate.name }}</div>
                    {% endfor %}
                </td>
                <td class="text-nowrap text-right">
                    <a class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic" href="{{ path('tasks_category_edit', {'id': countryCategory.category.id}) }}"
                       data-toggle="tooltip" data-original-title="{{'btn.edit'|trans}}">
                        <i class="fas fa-cog" aria-hidden="true"></i>
                    </a>
                    <button class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic disable-cat-btn text-success {% if not countryCategory.enabled %} hidden {% endif %}"
                            data-url="{{ path('tasks_category_update_enable') }}" data-cat-id="{{ countryCategory.id }}"  data-toggle="tooltip" data-original-title="{{'system.category.table.disable'|trans}}">
                        <i class="fas fa-toggle-on" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic enable-cat-btn {% if countryCategory.enabled %} hidden {% endif %}"
                            data-url="{{ path('tasks_category_update_enable') }}" data-cat-id="{{ countryCategory.id }}" data-toggle="tooltip" data-original-title="{{'system.category.table.enable'|trans}}">
                        <i class="fas fa-toggle-off" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js"
            integrity="sha256-0vBSIAi/8FxkNOSKyPEfdGQzFDak1dlqFKBYqBp1yC4="
            crossorigin="anonymous"></script>
    <script>
      function updateCategoryPositions() {
        let newOrder = [];
        $.each($('#category-table tbody tr'),function (i,elem) {
          newOrder.push({index:i+1,id:$(elem).data('id')});
        });
        $.ajax({
          method: 'POST',
          url: $('#category-table').data('update-position-url'),
          data: {positions:newOrder}
        });
      }
      $(document).ready(function(){
        // Sortable rows
        $('#category-table tbody').sortable({
          placeholder: '<tr class="placeholder"/>',
          update: function  (e, elem) {
            updateCategoryPositions();
          }
        });
        $('.enable-cat-btn').on('click', function () {
          let elem = $(this);
          $.ajax({
            url: elem.data('url'),
            method: 'POST',
            data: {category: elem.data('cat-id')},
            beforeSend: function () {
              elem.closest('tr').loading()
            },
            success: function (response) {
              elem.closest('tr').loading('stop');
              elem.addClass('hidden');
              elem.closest('tr').find('.disable-cat-btn').removeClass('hidden');
              miniToaster.fire({
                type: 'success',
                title: response.message
              });
            },
            error: function (e) {
              elem.closest('tr').loading('stop')
            }
          });
        });
        $('.disable-cat-btn').on('click', function () {
          let elem = $(this);
          $.ajax({
            url: elem.data('url'),
            method: 'POST',
            data: {category: elem.data('cat-id')},
            beforeSend: function () {
              elem.closest('tr').loading()
            },
            success: function (response) {
              elem.closest('tr').loading('stop');
              elem.addClass('hidden');
              elem.closest('tr').find('.enable-cat-btn').removeClass('hidden');
              miniToaster.fire({
                type: 'success',
                title: response.message
              });
            },
            error: function (e) {
              elem.closest('tr').loading('stop')
            }
          });
        });
      });
    </script>
{% endblock %}