{% extends "AppBundle:admin/parts:layout.html.twig" %}
{% block title %}{{ 'side_menu.settings'|trans }} - {{ 'system.documents.edit.title'|trans }} {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/fonts/icons/icon.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/semantic-dropdown/dropdown.min.css') }}">
    <style>
        .flag-input {
            width: 26px;
            position: absolute;
            margin-top: 10px;
        }

        .img-preview {
            width: 128px;
            height: 128px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('system_general') }}">{{ 'side_menu.settings'|trans }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('system_task_categories') }}">{{ 'system.category.title'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">{{ 'system.category.edit.title'|trans }}</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="panel" data-plugin="matchHeight" data-by-row="true">
            <div class="panel-body container-fluid">
                {{ form_start(form,{attr:{class:'col-xs-12 col-md-6 offset-md-3',novalidate:true,enctype:"multipart/form-data"}}) }}
                <div class="form-group  text-center">
                    <div class="fileinput text-center">
                        <div class="img-preview" data-background="{{ asset('assets/img/image-placeholder.jpg') }}"
                             style="background-image: url({% if taskCategory.icon is null %}
                                 {{ asset('assets/img/image-placeholder.jpg') }}
                             {% else %}
                                 {{ taskCategory.icon.path }}
                             {% endif %})">
                        </div>
                        <div class="col-12 text-center fileinput-controls">
                            <label class="btn btn-default btn-round btn-file mb-0">
                                <span>{{ 'btn.select_img'|trans }}</span>
                                <input id="icon-file" type="file" name="icon"
                                       accept="image/png,image/jpeg,image/jpg,image/svg"/>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mt-40 form-input-theme">
                    <label for="">{{ 'system.documents.table.name'|trans }}</label>
                    {% for language in languages %}
                        <div class="form-group mb-10">
                            <img class="flag-input ml-10" src="{{ language.icon }}" alt="">
                            <input type="text" class="pl-40 form-control validate"
                                   value="{{ taskCategory.translate(language.identifier).name }}"
                                   placeholder="category name for {{ language.name }}"
                                   name="category[name][{{ language.identifier }}]">
                            <span class="error-msg">{{ 'validation.required'|trans }}</span>
                        </div>
                        <div class="form-group mb-10">
                            <img class="flag-input ml-10" src="{{ language.icon }}" alt="">
                            <textarea type="text" class="pl-40 form-control"
                                      placeholder="category description for {{ language.name }}" rows="4"
                                      name="category[description][{{ language.identifier }}]">
                            {{ taskCategory.translate(language.identifier).description }}
                        </textarea>
                            <span class="error-msg">{{ 'validation.required'|trans }}</span>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group mt-30 form-input-theme">
                    {{ form_label(form.requiredDocuments) }}
                    {{ form_widget(form.requiredDocuments,{attr:{class:'ui fluid search dropdown p-10 col-12',"data-live-search":"true"}}) }}
                </div>
                <div class="form-group mt-30 form-input-theme apple-switch">
                    <label for="{{form.enabled.vars.id}}">{{ 'system.category.enabled_for_country'|trans }} {{ currentCountry.name }}</label>
                    <div>
                        {{ form_widget(form.enabled) }}
                        <label class="label-switch" for="{{form.enabled.vars.id}}"></label>
                    </div>
                </div>
                <div class="col-12 mt-40 text-center">
                    <button class="btn btn-theme-primary">{{ 'system.category.add.save'|trans }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/plugins/semantic-dropdown/dropdown.min.js') }}"></script>
    <script>
      $(document).ready(function () {
        $('#icon-file').on('change', function (e) {
          previewFile(e.currentTarget, $(e.currentTarget).closest('.fileinput').find('.img-preview'))
        });
        $('.ui.dropdown').dropdown();
        $('form').on('submit', function (e) {
          if (!formIsValid($(this))) {
            e.preventDefault();
          }
        })
      });
    </script>
{% endblock %}