{% extends '@App/admin/parts/layout.html.twig' %}
{% block title %} {{ 'side_menu.dashboard'|trans }} {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/OwlCarousel2-2.3.4/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/chartist/chartist.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/admin/plugins/datatable/datatables.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/emoji-css/emoji.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/dashboard/dashboard.css') }}">
{% endblock %}

{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">{{ 'side_menu.dashboard'|trans }}</li>
        </ol>
    </div>
    {% include '@App/admin/parts/clock.html.twig' %}
    <div class="page-content container-fluid row">
        {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERVISOR') %}
        <div class="row m-20 p-20 mt--10" id="profits-chart">
            <div class="col text-white">
                <h4 class="mb-0 mt-0 white">{{ 'dashboard.widget.profits.total_profits'|trans }}
                    <span id="total-profits">00.00</span> {{ currentRegion().currencySymbol }}</h4>
                <p class="fs--1 font-weight-semi-bold">{{ 'dashboard.widget.profits.net_profits'|trans }}
                    <span id="net-profits" class="text-300">00.00 </span> {{ currentRegion().currencySymbol }}</p>
            </div>
            <div>
                <div class="btn-group" id="profits-time">
                    <button type="button" data-type="today"
                            class="btn btn-theme-primary">{{ 'dashboard.widget.profits.today_profits'|trans }}</button>
                    <button type="button" data-type="week"
                            class="btn btn-theme-primary">{{ 'dashboard.widget.profits.week_profits'|trans }}</button>
                    <button type="button" data-type="month"
                            class="btn btn-theme-primary active">{{ 'dashboard.widget.profits.month_profits'|trans }}</button>
                    <button type="button" data-type="year"
                            class="btn btn-theme-primary">{{ 'dashboard.widget.profits.year_profits'|trans }}</button>
                </div>
                <div class="btn-group" id="profits-series-filter"></div>
            </div>
            <div class="col-12">
                <canvas data-total="{{ 'dashboard.widget.profits.total_profits'|trans }}"
                        data-country-tax="{{ 'dashboard.widget.profits.country_tax'|trans }}"
                        dir="{{ app.request.locale=='ar'?'rtl':'ltr' }}" width="700" id="chart-line"
                        height="190"></canvas>
            </div>
        </div>
        {% endif %}
        <div class="col-xl-3 col-md-6">
            <!-- Widget users -->
            <div class="card card-shadow" id="stats-users-widget"
                 data-evolution="{{ userStats['userEvolution']|json_encode }}">
                <div class="card-block p-20 pt-10">
                    <div class="clearfix">
                        <div class="grey-800 float-left py-10 ws-5">
                            <i class="icon md-account grey-600 font-size-24 vertical-align-bottom "></i> {{ 'dashboard.widget.users'|trans }}
                        </div>
                        <span class="float-right grey-700 font-size-30">{{ userStats['totalUser'] }}</span>
                    </div>
                    {% set userEvolution =  userStats['lastYearUsers']>0?userStats['newUsers']/userStats['lastYearUsers'] * 100: null %}
                    <div class="mb-20 grey-500 font-size-12">
                        <i class="icon {% if userEvolution>0 %} md-long-arrow-up green-500 {% elseif userEvolution<0 %}md-long-arrow-down red-500 {% endif %}font-size-16"></i> {{ userEvolution?userEvolution|round~' % '~'dashboard.widget.from_last_year'|trans:'dashboard.widget.no_data_last_year'|trans }}
                    </div>
                    <div class="ct-chart h-50"></div>
                </div>
            </div>
            <!-- End Widget users -->
        </div>
        <div class="col-xl-3 col-md-6">
            <!-- Widget tasks  -->
            <div class="card card-shadow" id="stats-task-widget"
                 data-evolution="{{ taskStats['taskEvolution']|json_encode }}">
                <div class="card-block p-20 pt-10">
                    <div class="clearfix">
                        <div class="grey-800 float-left py-10 ws-5">
                            <i class="icon md-view-list grey-600 font-size-24 vertical-align-bottom "></i> {{ 'dashboard.widget.tasks'|trans }}
                        </div>
                        <span class="float-right grey-700 font-size-30">{{ taskStats['totalTask'] }}</span>
                    </div>
                    {% set taskEvolution =  taskStats['lastYearTasks']>0?taskStats['newTasks']/taskStats['lastYearTasks'] * 100: null %}
                    <div class="mb-20 grey-500 font-size-12">
                        <i class="icon {% if taskEvolution>0 %} md-long-arrow-up green-500 {% elseif taskEvolution<0 %}md-long-arrow-down red-500 {% endif %}font-size-16"></i> {{ taskEvolution?taskEvolution|round~' % '~'dashboard.widget.from_last_year'|trans:'dashboard.widget.no_data_last_year'|trans }}
                    </div>
                    <div class="ct-chart h-50"></div>
                </div>
            </div>
            <!-- End Widget tasks -->
        </div>
        <div class="col-xl-3 col-md-6">
            <!-- Widget transactions -->
            <div class="card card-shadow" id="stats-transaction-widget"
                 data-evolution="{{ transactionStats['transactionEvolution']|json_encode }}">
                <div class="card-block p-20 pt-10">
                    <div class="clearfix">
                        <div class="grey-800 float-left py-10 ws-5">
                            <i class="icon md-flash grey-600 font-size-24 vertical-align-bottom "></i> {{ 'dashboard.widget.transactions'|trans }}
                        </div>
                        <span class="float-right grey-700 font-size-30">{{ transactionStats['totalTransactions'] }}</span>
                    </div>
                    {% set transactionEvolution =  transactionStats['lastYearTransactions']>0?transactionStats['newTransactions']/transactionStats['lastYearTransactions'] * 100: null %}
                    <div class="mb-20 grey-500 font-size-12">
                        <i class="icon {% if transactionEvolution>0 %} md-long-arrow-up green-500 {% elseif transactionEvolution<0 %}md-long-arrow-down red-500 {% endif %}font-size-16"></i> {{ transactionEvolution?transactionEvolution|round~' % '~'dashboard.widget.from_last_year'|trans:'dashboard.widget.no_data_last_year'|trans }}
                    </div>
                    <div class="ct-chart h-50"></div>
                </div>
            </div>
            <!-- End Widget transactions Two -->
        </div>
        {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN')%}
        <div class="col-xl-3 col-md-6">
            <!-- Widget Revenue -->
            <div class="card card-shadow" id="stats-revenue-widget"
                 data-evolution="{{ revenueStats['revenueEvolution']|json_encode }}">
                <div class="card-block p-20 pt-10">
                    <div class="clearfix">
                        <div class="grey-800 float-left py-10 ws-5">
                            <i class="icon md-chart grey-600 font-size-24 vertical-align-bottom "></i> {{ 'dashboard.widget.revenue'|trans }}
                        </div>
                        <span class="float-right grey-700 font-size-30">{{ revenueStats['totalRevenue']|number_format(2,'.',',') }} {{ currentRegion().currencySymbol }}</span>
                    </div>
                    {% set revenueEvolution =  revenueStats['lastYearRevenue']>0?revenueStats['newRevenue']/revenueStats['lastYearRevenue'] * 100: null %}
                    <div class="mb-20 grey-500 font-size-12">
                        <i class="icon {% if revenueEvolution>0 %} md-long-arrow-up green-500 {% elseif revenueEvolution<0 %}md-long-arrow-down red-500 {% endif %}font-size-16"></i> {{ revenueEvolution?revenueEvolution|round~' % '~'dashboard.widget.from_last_year'|trans:'dashboard.widget.no_data_last_year'|trans }}
                    </div>
                    <div class="ct-chart h-50"></div>
                </div>
            </div>
            <!-- End Widget Revenue -->
        </div>
        {% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERVISOR') %}
        <div class="col-xl-3 col-md-6">
            <div class="card card-shadow">
                <div class="card-body position-relative">
                    <h5 class="mt-0">{{ 'dashboard.widget.completed_tasks'|trans }}</h5>
                    <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-success">{{ completedTasks['totalTasks'] }}</div>
                    <div class="text-muted">{{ 'dashboard.widget.completed_tasks_receipts'|trans }} :<span
                                class="ml-2">{{ completedTasks['receipts']|number_format(2,'.',',') }} {{ currentRegion().currencySymbol }}</span>
                    </div>
                    <a class="font-weight-semi-bold fs--1 text-nowrap mt-10"
                       href="{{ path('task_index',{status:'completed'}) }}">
                        <small>{{ 'dashboard.widget.more_details'|trans }} <i class="fa fa-chevron-right"></i></small>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-xl-3 col-md-6">
            <div class="card card-shadow">
                <div class="card-body position-relative">
                    <h5 class="mt-0">{{ 'dashboard.widget.cancelled_tasks'|trans }}</h5>
                    <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-danger">{{ cancelledTasks['totalTasks'] }}</div>
                    <div class="text-muted">{{ 'dashboard.widget.delayed_tasks_losses'|trans }} :<span
                                class="ml-2">{{ cancelledTasks['losses']|number_format(2,'.',',') }} {{ currentRegion().currencySymbol }}</span>
                    </div>
                    <a class="font-weight-semi-bold fs--1 text-nowrap mt-10"
                       href="{{ path('task_index',{status:'cancelled'}) }}">
                        <small>{{ 'dashboard.widget.more_details'|trans }} <i class="fa fa-chevron-right"></i></small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card card-shadow">
                <div class="card-body position-relative">
                    <h5 class="mt-0">{{ 'dashboard.widget.delayed_tasks'|trans }}</h5>
                    <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-warning mb-25">{{ delayedTasks|length }}</div>
                    <a class="font-weight-semi-bold fs--1 text-nowrap mt-10"
                       href="{{ path('task_index',{status:'overdue'}) }}">
                        <small>{{ 'dashboard.widget.more_details'|trans }} <i class="fa fa-chevron-right"></i></small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card card-shadow">
                <div class="card-body position-relative">
                    <h5 class="mt-0">{{ 'dashboard.widget.banned_user'|trans }}</h5>
                    <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-info mb-25">{{ totalBannedUsers }}</div>
                    <a class="font-weight-semi-bold fs--1 text-nowrap mt-10" href="{{ path('user_banned') }}">
                        <small>{{ 'dashboard.widget.more_details'|trans }} <i class="fa fa-chevron-right"></i></small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card card-shadow">
                <div class="card-body position-relative">
                    <h5 class="mt-0">{{ 'dashboard.widget.wallet_balance'|trans }}</h5>
                    <div class="display-6 fs-4 mb-2 font-weight-normal text-sans-serif text-info mb-25">{{ (balanceStats['freeBalance'] + balanceStats['lockedBalance']) |number_format(2,'.',',')}}{{  currentRegion().currencySymbol }}</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card card-shadow">
                <div class="card-body position-relative">
                    <h5 class="mt-0">{{ 'dashboard.widget.wallet_balance_free'|trans }}</h5>
                    <div class="display-6 fs-4 mb-2 font-weight-normal text-sans-serif text-info mb-25">{{ balanceStats['freeBalance']|number_format(2,'.',',') }}{{  currentRegion().currencySymbol }}</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card card-shadow">
                <div class="card-body position-relative">
                    <h5 class="mt-0">{{ 'dashboard.widget.wallet_balance_locked'|trans }}</h5>
                    <div class="display-6 fs-4 mb-2 font-weight-normal text-sans-serif text-info mb-25">{{ balanceStats['lockedBalance']|number_format(2,'.',',') }} {{  currentRegion().currencySymbol }}</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card card-shadow">
                <div class="card-body position-relative">
                    <h5 class="mt-0">{{ 'dashboard.widget.wallet_lost_balance'|trans }}</h5>
                    <div class="display-6 fs-4 mb-2 font-weight-normal text-sans-serif text-info mb-25">{{ (balanceStats['lostBalance'] * -1)|number_format(2,'.',',') }}{{  currentRegion().currencySymbol }}</div>
                </div>
            </div>
        </div>
        {% if delayedTasks|length>0 %}
            <div class="col-12">
                <div class="card card-shadow">
                    <div class="card-body">
                        <h5 class="ml-20">{{ 'dashboard.widget.delayed_tasks'|trans }}</h5>
                        <table id="delay-tasks-table" class="table table-responsive headed">
                            <thead class="bg-200 text-900">
                            <tr>
                                <th>{{ 'dashboard.delay_task_table.poster'|trans }}</th>
                                <th>{{ 'dashboard.delay_task_table.title'|trans }}</th>
                                <th>{{ 'dashboard.delay_task_table.tasker'|trans }}</th>
                                <th>{{ 'dashboard.delay_task_table.due_date'|trans }}</th>
                                <th>{{ 'dashboard.delay_task_table.delay_time'|trans }}</th>
                                <th>{{ 'dashboard.delay_task_table.price'|trans }}</th>
                                <th></th>
                            </tr>

                            </thead>
                            <tbody>
                            {% for task in delayedTasks %}
                                {% if task.acceptedOffer %}
                                    <tr>
                                        <td><a class="user-link"
                                               href="{{ path('user_details', {'id': task.user.id}) }}">{{ task.user.fullName }}</a>
                                        </td>
                                        <td>{{ task.title }}</td>
                                        <td><a class="user-link"
                                               href="{{ path('user_details', {'id': task.acceptedOffer.user.id}) }}">{{ task.acceptedOffer.user.fullName }}</a>
                                        </td>
                                        <td>{{ task.date|date('d-m-Y') }} <i class="far fa-calendar ml-5"></i></td>
                                        <td class="text-danger">{{ task.date|time_diff(date('now')) }}<i
                                                    class="em em-clock4 ml-5"></i></td>
                                        <td>{{ task.acceptedOffer.price }} {{ currentRegion().currencySymbol }} <i
                                                    class="em em-moneybag ml-5"></i></td>
                                        <td>
                                            <a href="{{ path('task_show', { 'id': task.id }) }}"
                                               data-toggle="tooltip" data-title="{{ "task.table.show_details"|trans }}"
                                               class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic">
                                                <i class="far fa-file-alt"></i>
                                            </a>
                                            <button class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic btn-send-reminder-email"
                                                    data-url="{{ path('admin_send_delayed_task_email', {'task': task.id}) }}"
                                                    data-toggle="tooltip"
                                                    data-title="{{ 'table.user.actions.send_remember_delayed_task'|trans }}">
                                                <i class="far fa-envelope"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="col-sm-12 col-md-6 col-xl-6">
            <div class="card card-shadow">
                <div class="card-block p-30">
                    <h3 class="text-center mt-0">{{ 'dashboard.widget.top_five_tasker'|trans }}</h3>
                    <div id="top-tasker"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-6">
            <div class="card card-shadow">
                <div class="card-block p-30">
                    <h3 class="text-center mt-0">{{ 'dashboard.widget.top_five_poster'|trans }}</h3>
                    <div id="top-poster"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-6 widget">
            <div class="card card-shadow  owl-carousel">
                <div class="item">
                    <div class="card-header">
                        {{ 'dashboard.widget.top_five_cancellar'|trans }}
                        <div class="btn-actions-pane-right">
                            <button class="btn-slide btn-slide-prev"><i class="fas fa-chevron-left fa-2x"></i></button>
                            <button class="btn-slide btn-slide-next"><i class="fas fa-chevron-right fa-2x"></i></button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>{{ 'table.user.name'|trans }}</th>
                                <th class="text-center">{{ 'documents.table.status'|trans }}</th>
                                <th class="text-center">{{ 'layout.review'|trans }}</th>
                                <th class="text-center">{{ 'dashboard.widget.top_five_cancellar_total'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for stats in topFiveCanceller %}
                                <tr>
                                    <td class="text-center text-muted">{{ stats.user.id }}</td>
                                    <td>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left mr-3">
                                                    <div class="widget-content-left">
                                                        <img width="40" class="rounded-circle avatar-img"
                                                             onerror="loadDefaultAvatar(this)"
                                                             src="{{ asset( stats.user.picture.path??'assets/admin/images/default-user.png') }}">
                                                    </div>
                                                </div>
                                                <div class="widget-content-left flex2">
                                                    <div class="widget-heading">{{ stats.user.fullName }}</div>
                                                    <div class="widget-subheading opacity-7">{{ stats.user.suburb }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        {% if stats.user.isBanned %}
                                            <span class="badge badge-danger">{{ 'user.status.banned'|trans }}</span>
                                        {% else %}
                                            <span class="badge badge-success">{{ 'user.status.active'|trans }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <div class="m-auto" data-plugin="rating" data-readonly="true"
                                             data-score="{{ stats.user.reviewNoteAsaPoster|number_format(1,'.') }}"></div>
                                    </td>
                                    <td class="text-center">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-outer">
                                                <div class="widget-content-wrapper">
                                                    <div class="widget-progress-wrapper m-auto">
                                                        <div class="progress-bar-sm progress-bar-animated-alt progress mb-0"
                                                             style="width: 120px">
                                                            <div aria-valuemax="100" aria-valuemin="0"
                                                                 aria-valuenow="43"
                                                                 class="progress-bar bg-primary" role="progressbar"
                                                                 style="width: {{ (stats.cancelledTasks /  stats.totalTasks) *100 }}%;"></div>
                                                        </div>
                                                        <div class="progress-sub-label">
                                                            <span class="text-danger">{{ stats.cancelledTasks }} </span>
                                                            / <b>{{ stats.totalTasks }}</b>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% if topFiveCanceller|length<5 %}
                                {% for i in range(1,5-topFiveCanceller|length) %}
                                    <tr>
                                        <td class="text-center" colspan="5">
                                            -
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="item">
                    <div class="card-header">
                        {{ 'dashboard.widget.top_five_decreasing'|trans }}
                        <div class="btn-actions-pane-right">
                            <button class="btn-slide btn-slide-prev"><i class="fas fa-chevron-left fa-2x"></i></button>
                            <button class="btn-slide btn-slide-next"><i class="fas fa-chevron-right fa-2x"></i></button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>{{ 'table.user.name'|trans }}</th>
                                <th class="text-center">{{ 'documents.table.status'|trans }}</th>
                                <th class="text-center">{{ 'layout.review'|trans }}</th>
                                <th class="text-center">{{ 'dashboard.widget.top_five_decreaded_total'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for stats in topFiveDecreasing %}
                                <tr>
                                    <td class="text-center text-muted">{{ stats.user.id }}</td>
                                    <td>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left mr-3">
                                                    <div class="widget-content-left">
                                                        <img width="40" class="rounded-circle avatar-img"
                                                             onerror="loadDefaultAvatar(this)"
                                                             src="{{ asset( stats.user.picture.path??'assets/admin/images/default-user.png') }}">
                                                    </div>
                                                </div>
                                                <div class="widget-content-left flex2">
                                                    <div class="widget-heading">{{ stats.user.fullName }}</div>
                                                    <div class="widget-subheading opacity-7">{{ stats.user.suburb }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        {% if stats.user.isBanned %}
                                            <span class="badge badge-danger">{{ 'user.status.banned'|trans }}</span>
                                        {% else %}
                                            <span class="badge badge-success">{{ 'user.status.active'|trans }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <div class="m-auto" data-plugin="rating" data-readonly="true"
                                             data-score="{{ stats.user.reviewNoteAsaPoster|number_format(1,'.') }}"></div>
                                    </td>
                                    <td class="text-center">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-outer">
                                                <div class="widget-content-wrapper">
                                                    <div class="widget-progress-wrapper m-auto">
                                                        <div class="progress-bar-sm progress-bar-animated-alt progress mb-0"
                                                             style="width: 120px">
                                                            <div aria-valuemax="100" aria-valuemin="0"
                                                                 aria-valuenow="43"
                                                                 class="progress-bar bg-primary" role="progressbar"
                                                                 style="width: {{ (stats.totalRequests /  stats.totalTasks) *100 }}%;"></div>
                                                        </div>
                                                        <div class="progress-sub-label">
                                                            <span class="text-danger">{{ stats.totalRequests }} </span>
                                                            / <b>{{ stats.totalTasks }}</b>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% if topFiveDecreasing|length<5 %}
                                {% for i in range(1,5-topFiveDecreasing|length) %}
                                    <tr>
                                        <td class="text-center" colspan="5">
                                            -
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="item">
                    <div class="card-header">
                        {{ 'dashboard.widget.top_five_increasing'|trans }}
                        <div class="btn-actions-pane-right">
                            <button class="btn-slide btn-slide-prev"><i class="fas fa-chevron-left fa-2x"></i></button>
                            <button class="btn-slide btn-slide-next"><i class="fas fa-chevron-right fa-2x"></i></button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>{{ 'table.user.name'|trans }}</th>
                                <th class="text-center">{{ 'documents.table.status'|trans }}</th>
                                <th class="text-center">{{ 'layout.review'|trans }}</th>
                                <th class="text-center">{{ 'dashboard.widget.top_five_increaded_total'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for stats in topFiveIncreasing %}
                                <tr>
                                    <td class="text-center text-muted">{{ stats.user.id }}</td>
                                    <td>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left mr-3">
                                                    <div class="widget-content-left">
                                                        <img width="40" class="rounded-circle avatar-img"
                                                             onerror="loadDefaultAvatar(this)"
                                                             src="{{ asset( stats.user.picture.path??'assets/admin/images/default-user.png') }}">
                                                    </div>
                                                </div>
                                                <div class="widget-content-left flex2">
                                                    <div class="widget-heading">{{ stats.user.fullName }}</div>
                                                    <div class="widget-subheading opacity-7">{{ stats.user.suburb }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        {% if stats.user.isBanned %}
                                            <span class="badge badge-danger">{{ 'user.status.banned'|trans }}</span>
                                        {% else %}
                                            <span class="badge badge-success">{{ 'user.status.active'|trans }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <div class="m-auto" data-plugin="rating" data-readonly="true"
                                             data-score="{{ stats.user.reviewNoteAsaPoster|number_format(1,'.') }}"></div>
                                    </td>
                                    <td class="text-center">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-outer">
                                                <div class="widget-content-wrapper">
                                                    <div class="widget-progress-wrapper m-auto">
                                                        <div class="progress-bar-sm progress-bar-animated-alt progress mb-0"
                                                             style="width: 120px">
                                                            <div aria-valuemax="100" aria-valuemin="0"
                                                                 aria-valuenow="43"
                                                                 class="progress-bar bg-primary" role="progressbar"
                                                                 style="width: {{ (stats.totalRequests /  stats.totalTasks) *100 }}%;"></div>
                                                        </div>
                                                        <div class="progress-sub-label">
                                                            <span class="text-danger">{{ stats.totalRequests }} </span>
                                                            / <b>{{ stats.totalTasks }}</b>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% if topFiveIncreasing|length<5 %}
                                {% for i in range(1,5-topFiveIncreasing|length) %}
                                    <tr>
                                        <td class="text-center" colspan="5">
                                            -
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxs-12 col-lg-6 col-sm-6">
            <div class="card card-shadow card-completed-options">
                <div class="card-block pb-0 pt-0">
                    <div id="server-storage" data-total="{{ totalServerStorage|round }}"
                         data-used="{{ usersDataSize|round }}" data-title="{{ 'dashboard.widget.storage.title'|trans }}"
                         data-metric="{{ 'dashboard.widget.storage.metric'|trans }}"
                         data-info="{{ 'dashboard.widget.storage.info'|trans }}">
                        <span class="pie-progress-number blue-grey-700 font-size-20">
                          {{ ((usersDataSize/totalServerStorage)*100)|number_format(2,'.',',') }}
                            % ( {{ usersDataSize|number_format(1,'.',',') }} Mbts )
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card card-shadow">
                <div class="card-block p-30">
                    <div id="task-offers" data-title="{{ 'dashboard.widget.task_offer.title'|trans }}"
                         data-xaxis="{{ 'dashboard.widget.task_offer.xAxis'|trans }}"
                         data-yaxis="{{ 'dashboard.widget.task_offer.yAxis'|trans }}"
                         data-offers="{{ 'dashboard.widget.task_offer.offers'|trans }}"
                         data-tasks="{{ 'dashboard.widget.task_offer.tasks'|trans }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card card-shadow">
                <div class="card-block p-30">
                    <div id="top-categories" data-title="{{ 'dashboard.widget.task_offer.title'|trans }}"
                         data-yaxis="{{ 'dashboard.widget.top_category.yaxis'|trans }}"
                         data-serie-offer="{{ 'dashboard.widget.task_offer.offers'|trans }}"
                         data-serie-task="{{ 'dashboard.widget.task_offer.tasks'|trans }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/admin/plugins/chartist/chartist.min.js') }}"></script>
    <script src="{{ asset('assets/admin/plugins/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js') }}"></script>
    <script src="{{ asset('assets/admin/plugins/highchart/highcharts.js') }}"></script>
    <script src="{{ asset('assets/admin/plugins/highchart/gauge.type.js') }}"></script>
    <script src="{{ asset('assets/admin/plugins/amcharts/core.js') }}"></script>
    <script src="{{ asset('assets/admin/plugins/amcharts/charts.js') }}"></script>
    <script src="{{ asset('assets/admin/plugins/charjs/Chart.min.js') }}"></script>
    <script src="{{ asset('assets/admin/plugins/charjs/datalabels.min.js') }}"></script>
    {% if app.request.locale == "ar" %}
        <script src="{{ asset('assets/admin/plugins/amcharts/lang/ar.js') }}"></script>
    {% endif %}
    <script src="{{ asset('assets/admin/plugins/amcharts/themes/animated.js') }}"></script>
    <script src="{{ asset('assets/admin/plugins/amcharts/themes/material.js') }}"></script>
    <script>
      let taskData = {{ taskPerDay|json_encode|raw }};
      let offerData = {{ offerPerDay|json_encode|raw }};
      let topCategory = {{ topCategories|json_encode|raw }};
      let profitsStats = {{ profits|json_encode|raw }};
      let topFivePoster = {{ topFivePoster|json_encode|raw }}.map(user => {
        if (!user.picture) user.picture = "{{ asset('assets/admin/images/default-user.png') }}";
        return user
      });
      let topFiveTasker = {{ topFiveTasker|json_encode|raw }}.map(user => {
        if (!user.picture) user.picture = "{{ asset('assets/admin/images/default-user.png') }}";
        return user
      });
      let currencySymbol = "{{ currentRegion().currencySymbol }}";
    </script>
    <script src="{{ asset('assets/admin/plugins/datatable/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/admin/plugins/OwlCarousel2-2.3.4/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/admin/pages/dashboard/dashboard.js') }}"></script>
{% endblock %}
