{% extends "AppBundle:admin/parts:layout.html.twig" %}
{% block title %}{{ 'navbar.notifications.title'|trans }}{% endblock %}
{% block stylesheets %}
    <style>
        #notification-container {
            max-width: 800px;
            margin: auto;
        }

        #notification-list {
            list-style: none;
            padding: 0;
        }

        #notification-list > li {
            border-bottom: 1px solid #dddfe2;
        }

        #notification-list > li > a {
            text-decoration: none;
            color: #1d2129;
            display: block;
            padding: 6px 30px 5px 12px;
            position: relative;
        }

        html[dir=rtl] #notification-list > li > a {
            padding: 6px 12px 5px 30px;
        }

        #notification-list .notification-info {
            color: #90949c;
            margin-top: -1px;
            padding-top: 3px;
        }

        #notification-list .notification-info img {
            width: 16px;
            height: 16px;
        }

        #notification-container .loader-index > div {
            background: #008fb4;
        }
        #notification-list > li:hover {
            background: aliceblue;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">{{ 'navbar.notifications.title'|trans }}</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div id="notification-container" class="panel" data-plugin="matchHeight" data-by-row="true">
            <div class="panel-body p-0">
                {% if notifications|length>0 %}
                    <ul id="notification-list">
                        {% for notification in notifications %}
                            <li>
                                <a href="{{ notification.link }}">
                                    <div class="user-icon float-left">
                                        {% if notification.fromUser.picture %}
                                            <img src="{{ asset( notification.fromUser.picture.path??'assets/admin/images/default-user.png') }}"
                                                 alt="">
                                        {% else %}
                                            <div class="user-badge">
                                                {{ notification.fromUser.firstname|first|upper~notification.fromUser.lastname|first|upper }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div>
                                        <span>{{ notification.body }}</span>
                                        <div class="notification-info">
                                            <img src="{{ notification.icon }}" alt="">
                                            {{ notification.createdAt|time_ago_in_words }}
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% set totalPages = notifications.totalItemCount/notifications.itemNumberPerPage|round %}
                    {% if  totalPages>1 %}
                        <div id="notification-loader" data-total-pages="{{ totalPages }}" data-page="2"
                             class="loader-index text-center pb-10 hidden">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="no-notifications">
                        <i class="fa fa-bell-slash fa-3x"></i>
                        <p>{{ 'navbar.notifications.empty'|trans }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            let notificationLoader = $('#notification-loader');
            if (notificationLoader.length > 0) {
                $(window).scroll(function () {
                    if ($(window).scrollTop() === $(document).height() - $(window).height() && notificationLoader.length > 0 && notificationLoader.hasClass('hidden')) {
                        $.ajax({
                            data: {page: notificationLoader.data('page')},
                            beforeSend: function () {
                                notificationLoader.removeClass('hidden')
                            },
                            success: function (data) {
                                let currentPage = parseInt(notificationLoader.data('page')) + 1;
                                if (currentPage == notificationLoader.data('pages') || !data.notifications.length) {
                                    notificationLoader.remove();
                                } else {
                                    notificationLoader.data('page', currentPage);
                                    notificationLoader.addClass('hidden');
                                    for (let j = 0; j < data.notifications.length; j++) {
                                        let notification = data.notifications[j];
                                        let userIcon = null;
                                        if (notification.from_user.picture) {
                                            userIcon = `<img src="${notification.from_user.picture.path ?notification.from_user.picture.path :'assets/admin/images/default-user.png'}">`;
                                        } else {
                                            userIcon = `<div class="user-badge">${notification.from_user.logo_name}</div>`;
                                        }
                                        $('#notification-list').append(`
                                        <li>
                                            <a href="${notification.link}">
                                                <div class="user-icon float-left">
                                                         ${userIcon}
                                                </div>
                                                <div>
                                                    <span>${notification.body}</span>
                                                    <div class="notification-info">
                                                        <img src="${notification.icon}" alt="">
                                                        ${moment(notification.created_at,'YYYY-MM-DDTHH:mm').fromNow()}
                                                    </div>
                                                </div>
                                            </a>
                                        </li>`)
                                    }
                                }
                            }
                        })
                    }
                });
            }

        });
    </script>
{% endblock %}