{% extends "AppBundle:admin/parts:layout.html.twig" %}
{% block title %}{{ 'navbar.profile'|trans }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/profile/profile.css') }}">
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a></li>
            <li class="breadcrumb-item active">{{ 'navbar.profile'|trans }}</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="user-profile">
            {{ form_start(detailsForm, { attr: {novalidate: 'novalidate'} }) }}
            <div class="personal-header">
                <div class="profile-cover" {% if app.user.coverPicture %} style="background-image: url('{{ app.user.coverPicture.path }}')" {% endif %}>
                    <label for="{{ detailsForm.coverPicture.file.vars.id }}">
                        <i class="fa fa-camera"></i>
                    </label>
                    {{ form_widget(detailsForm.coverPicture.file) }}
                </div>
                <div class="profile-picture" {% if app.user.picture %} style="background-image: url('{{ app.user.picture.path }}')" {% endif %}>
                    <label for="{{ detailsForm.picture.file.vars.id }}">
                        <i class="fa fa-camera"></i>
                    </label>
                    {{ form_widget(detailsForm.picture.file) }}
                </div>
            </div>
            <div class="user-profile-personals-container">
                <div class="profile-block-info mt-30">
                    <h4 class="block-title">{{ 'users.edit.account_information'|trans }}</h4>
                    <div class="form-input-theme mt-5">
                        {{ form_label(detailsForm.email) }}
                        {{ form_widget(detailsForm.email,{attr:{class:"form-control meduim",autocomplete:"newEmail"}}) }}
                    </div>
                    <div class="form-input-theme mt-10">
                        {{ form_label(detailsForm.firstName) }}
                        {{ form_widget(detailsForm.firstName,{attr:{class:'form-control meduim'}}) }}
                    </div>
                    <div class="form-input-theme mt-5">
                        {{ form_label(detailsForm.lastName) }}
                        {{ form_widget(detailsForm.lastName,{attr:{class:'form-control meduim'}}) }}
                    </div>
                    <div class="form-input-theme mt-10">
                        {{ form_label(detailsForm.phone) }}
                        {{ form_widget(detailsForm.phone,{attr:{class:'form-control meduim'}}) }}
                    </div>
                </div>
            </div>
            <div class="row pb-20">
                <button type="submit" class="btn btn-theme-primary float-right offset-5 col-2">{{ 'users.edit.save'|trans }} </button>
            </div>
            {{ form_widget(detailsForm._token) }}
            {{ form_end(detailsForm,{render_rest:false}) }}
            {{ form_start(resetPasswordForm, { attr: {novalidate: 'novalidate',id:'reset-password-form'}}) }}
            <div class="user-profile-personals-container">
                <div class="profile-block-info mt-30 pwd-block">
                    <h4 class="block-title"><a href="" id="change-password">{{ 'profile.update_password.title'|trans }}</a></h4>
                    <div id="password-block" class="row {% if form_errors(resetPasswordForm.oldPassword) %}active {% endif %}">
                        <div class="form-input-theme mt-5 {% if form_errors(resetPasswordForm.oldPassword) %} has-error {% endif %}">
                            <label for="password"> {{ 'profile.update_password.old_password'|trans }} </label>
                            {{ form_widget(resetPasswordForm.oldPassword,{'attr': {'class': 'form-control meduim current-password','type':'password','placeholder':'profile.update_password.old_password_placeholder','autocomplete': 'new-password'}}) }}
                            <div class="error-msg">
                                <span class="required-msg">{{ 'profile.update_password.is_required'|trans }}</span>
                                <span class="server-msg"></span>
                            </div>
                        </div>
                        <div class="form-input-theme mt-5">
                            <label for="password">{{ 'profile.update_password.password'|trans }}</label>
                            {{ form_widget(resetPasswordForm.newPassword.first,{'attr': {'class': 'form-control password meduim','type':'password','name':'password','id':'password','placeholder':'profile.update_password.password_placeholder'}}) }}
                            <div class="error-msg">
                                <span class="required-msg">{{ 'profile.update_password.is_required'|trans }}</span>
                                <span class="format-msg">{{ 'profile.update_password.password_validation'|trans }}</span>
                            </div>
                        </div>
                        <br/>
                        <div class="form-input-theme mt-5">
                            <label for="password-confirm">{{ 'profile.update_password.confirm_password'|trans }} </label>
                            {{ form_widget(resetPasswordForm.newPassword.second,{'attr': {'class': 'form-control  meduim password-confirm','type':'password','name':'password-confirm','id':'password-confirm','placeholder':'profile.update_password.confirm_password_placeholder'}}) }}
                            <div class="error-msg">
                                <span class="required-msg">{{ 'profile.update_password.is_required'|trans }}</span>
                                <span class="conform-msg">{{ 'profile.update_password.password_not_confirm'|trans }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" id="reset-pwd-btn" class="btn btn-theme-primary float-right offset-5 col-2">{{ 'profile.update_password.save'|trans }} </button>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_widget(resetPasswordForm._token) }}
            {{ form_end(resetPasswordForm,{render_rest:false}) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/pages/profile/profile.js') }}"></script>
{% endblock %}