.panel-group .panel-title:before,
.panel-group .panel-title:after{
    content: none;
}
.notification-actions .fa-trash-alt:hover{
    color: #F44336;
}
.notification-actions .fa-bell-on:hover{
    color: var(--success);
}
.notification-actions .fa-edit:hover{
    color: var(--primary);
}
.notification-actions .fa-plus:hover,
.notification-actions .fa-minus:hover{
    color: var(--theme-color);
}
.tooltip.fade{
    left: 15px!important;
}
.panel-title a{
    text-decoration: none;
}
.img-preview{
    max-width: 100px;
    max-height: 100px;
    margin: 25px auto 15px;
}