.panel-group .panel-title:before,
.panel-group .panel-title:after {
    content: none;
}

.notification-actions a {
    color: inherit;
}

.notification-actions .fa-trash-alt:hover {
    color: #F44336;
}

.notification-actions .fa-bell-on:hover {
    color: var(--success);
}

.notification-actions .fa-edit:hover {
    color: var(--primary);
}

.notification-actions .fa-plus:hover,
.notification-actions .fa-minus:hover {
    color: var(--theme-color);
}

.panel-title a {
    text-decoration: none;
}

.table-pager > .row {
    display: none;
}
.more-less{
    cursor: pointer;
}