{% extends "@App/front/layout.html.twig" %}
{% block bodyClass %}page-reset{% endblock %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock body %}
