#action-report-modal .icon-title {
    color: #008fb4;
    background: rgba(0, 167, 208, 0.31);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    vertical-align: bottom;
    display: block;
}
.modal-title span{
    display: inline-block!important;
    line-height: 50px;
}
.report-details{
    border-radius: 3px;
}
.user-info.reporter-user>div,.report-details{
    background: whitesmoke;
    padding-bottom: 3px!important;
}
html[dir="ltr"] .user-info.reporter-user .user-icon {
    border-top-left-radius: 50%;
}
html[dir="rtl"] .user-info.reporter-user .user-icon {
    border-top-right-radius: 50%;
}
html[dir="ltr"] .user-info.reporter-user .user-details {
    padding-right: 15px;
    border-top-right-radius: 15px;
}
html[dir="rtl"] .user-info.reporter-user .user-details {
    padding-left: 15px;
    border-top-left-radius: 15px;
}

#close-report-modal{
    display: none;
}
#action-report-modal.treated .modal-footer button{
    display: none;
}
#action-report-modal.treated .modal-footer button#close-report-modal{
    display: none;
}
#action-report-modal.treated .modal-content .dropdown-toggle,#action-report-modal.treated .modal-content textarea{
    pointer-events: none!important;
    background-color: whitesmoke;
}
.report-status .badge{
    font-size: 12px;
}