{% macro sort(order_by=null) %}
    {% if order_by %}
        {% if app.request.query.get('order')=='DESC' %}
            <a class="sort-icon {% if  order_by != app.request.query.get('sort_by') %} disable {% endif %}"
               href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({'order':'ASC','sort_by':order_by}))) }}">
                <i class="fa fa-chevron-down"></i>
            </a>
        {% else %}
            <a class="sort-icon {% if  order_by != app.request.query.get('sort_by') %} disable {% endif %}"
               href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({'order':'DESC','sort_by':order_by}))) }}">
                <i class="fa fa-chevron-up"></i>
            </a>
        {% endif %}
    {% else %}
        {% if app.request.query.get('order')=='DESC' %}
            <a class="sort-icon"
               href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({'order':'ASC'}))) }}">
                <i class="fa fa-chevron-down"></i>
            </a>
        {% else %}
            <a class="sort-icon"
               href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({'order':'DESC'}))) }}">
                <i class="fa fa-chevron-up"></i>
            </a>
        {% endif %}
    {% endif %}
{% endmacro %}