{% extends 'AppBundle:admin/parts:layout.html.twig' %}
{% block title %}
    {{ 'reports.details.title'|trans }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet"
          href="{{ asset('assets/admin/plugins/bootstrapdatetimepicker/css/bootstrap-datetimepicker.css') }}">
    <style>
        #action-report-modal .icon-title {
            color: #008fb4;
            background: rgba(0, 167, 208, 0.31);
            border-radius: 50%;
            width: 50px;
            height: 50px;
            text-align: center;
            font-size: 24px;
            line-height: 50px;
            vertical-align: bottom;
            display: block;
        }

        .modal-title span {
            display: inline-block !important;
            line-height: 50px;
        }

        .report-details {
            border-radius: 3px;
        }

        .user-info.reporter-user > div, .report-details {
            background: whitesmoke;
            padding-bottom: 3px !important;
        }

        html[dir="ltr"] .user-info.reporter-user .user-icon {
            border-top-left-radius: 50%;
        }

        html[dir="rtl"] .user-info.reporter-user .user-icon {
            border-top-right-radius: 50%;
        }

        html[dir="ltr"] .user-info.reporter-user .user-details {
            padding-right: 15px;
            border-top-right-radius: 15px;
        }

        html[dir="rtl"] .user-info.reporter-user .user-details {
            padding-left: 15px;
            border-top-left-radius: 15px;
        }

        #close-report-modal {
            display: none;
        }

        #action-report-modal.treated .modal-footer button {
            display: none;
        }

        #action-report-modal.treated .modal-footer button#close-report-modal {
            display: none;
        }

        #action-report-modal.treated .modal-content .dropdown-toggle, #action-report-modal.treated .modal-content textarea {
            pointer-events: none !important;
            background-color: whitesmoke;
        }

        .report-status .badge {
            font-size: 12px;
        }

        .report-header {
            border-bottom: 1px solid #DADADA;
            padding-bottom: 13px;
        }

        .user-badge {
            width: 45px;
            height: 45px;
            line-height: 45px;
            font-size: 18px;
        }

        .report-msg {
            background: #F9F9F9;
            color: black;
            border: 1px solid #DADADA;
            border-top: 0;
        }

        .btn-delete-report {
            margin-top: 5px;
            border-radius: 12px;
            background: #f9f9f9;
            color: #008fb4;
        }

        .treated-bg {
            background: #31AF64;
        }

        .untreated-bg {
            background: #ffc107;
        }

        .refused-bg {
            background: #f44336;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            </li>
            <li class="breadcrumb-item "><a href="{{ path('admin_reports') }}">{{ 'side_menu.reports'|trans }}</a></li>
            <li class="breadcrumb-item active">{{ 'reports.details.title'|trans }}</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="panel" data-plugin="matchHeight" data-by-row="true">
            <div class="panel-heading untreated-bg text-center
                {% if report.status != constant('STATUS_UNTREATED',report) %} hidden {% endif %}">
                <h4 class="text-white font-size-16 p-15 m-0">
                    {{ "reports.table.status_untreated"|trans }}
                </h4>
            </div>
            <div class="panel-heading treated-bg text-center
                {% if report.status != constant('STATUS_TREATED',report) %} hidden {% endif %}">
                <h4 class="text-white font-size-16 p-15 m-0">
                    {{ "reports.table.status_treated"|trans }}
                </h4>
            </div>
            <div class="panel-heading refused-bg text-center
                {% if report.status != constant('STATUS_REFUSED',report) %} hidden {% endif %}">
                <h4 class="text-white font-size-16 p-15 m-0">
                    {{ "reports.table.status_refused"|trans }}
                </h4>
            </div>
            <div class="panel-body container-fluid pt-20 row">
                <div class="col-5">
                    <h4>{{ 'reports.table.accused'|trans }}</h4>
                    <div class="media bidder mrg--an col-10 p-0">
                        <div class="media-object pull-right">
                            <a href="{{ path('user_details', {'id': report.reportedUser.id}) }}">
                                {% if report.reportedUser.picture %}
                                    <img class="img-circle" src="{{ report.reportedUser.picture.path }}"
                                         width="45" height="45" alt="{{ report.reportedUser.fullName }}">
                                {% else %}
                                    <div class="user-badge mini-badge"> {{ report.reportedUser.logoName }}</div>
                                {% endif %}
                            </a>
                        </div>
                        <div class="media-body pl-15">
                            <h4 class="m-0">
                                <a href="{{ path('user_details',{'id':report.reportedUser.id}) }}">
                                    <bdi>{{ report.reportedUser.fullName }}</bdi>
                                </a>
                            </h4>
                            <div class="mt-5">
                                {{ 'users.details.member_since'|trans }} {{ report.reportedUser.createdAt|date('d-m-Y') }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <h4>{{ 'reports.table.type'|trans }}</h4>
                    <p class="font-size-14">
                        {{ report.type.translate.name }}
                    </p>
                </div>
                <div class="col-2">
                    <h4>{{ 'reports.table.total_reporters'|trans }}</h4>
                    <div>{{ report.reporters|length }}</div>
                </div>
                <div class="col-12 mt-10 text-center">
                    <a data-toggle="modal" data-target="#inspect-report"
                       class="btn btn-primary text-white"><i
                                class="fa fa-eye"></i> {{ 'reports.details.inspect'|trans }}</a>
                </div>
            </div>
        </div>
        {% if not is_granted('ROLE_ACCOUNTANT') and report.status == constant('STATUS_UNTREATED',report) %}
            <div id="treat-report-block" class="panel mt-30 mb-30" data-plugin="matchHeight" data-by-row="true">
                <div class="panel-body container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h4>{{ 'reports.details.treat.treat_report'|trans }}</h4>
                            <div class="col-12 p-0">
                                <label for="">{{ 'reports.details.treat.take_action'|trans }}</label>
                                <select data-url="{{ path('admin_transactions',{'status':'_status_'}) }}"
                                        id="report-treat-action"
                                        class="form-control selectpicker bootstrap-select">
                                    <option style="display: none" disabled selected value></option>
                                    <option value="ACTION_WARN">{{ 'reports.details.treat.actions.send_warning_msg'|trans }}</option>
                                    <option value="ACTION_BAN">{{ 'reports.details.treat.actions.ban_user'|trans }}</option>
                                    <option value="ACTION_REMOVE_STAR">{{ 'reports.details.treat.actions.remove_star'|trans }}</option>
                                    <option value="ACTION_REFUSE">{{ 'reports.details.treat.actions.refuse'|trans }}</option>
                                </select>
                            </div>
                            <div id="ban-action" class="hidden treatment-block mt-15">
                                <div class="form-input-theme mb-10">
                                    <select class="col-md-6 pl-0 form-control selectpicker bootstrap-select"
                                            name="banDuration" id="ban-type">
                                        <option selected
                                                value="permanent">{{ 'users.modal.block_user.ban_duration_permanent'|trans }}</option>
                                        <option value="temporary">{{ 'users.modal.block_user.ban_duration_temporary'|trans }}</option>
                                    </select>
                                </div>
                                <div class="form-input-theme form-group hidden mb-20 mt-20">
                                    <div class="input-group">
                                        <input type="text" class="pl-10"  id="ban-duration"
                                               placeholder="{{ 'users.modal.block_user.select_block_period'|trans }}">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="far fa-clock"></i></span>
                                        </div>
                                    </div>
                                    <span class="error-msg">{{ 'users.modal.block_user.validation.ban_reason'|trans }}</span>
                                </div>
                                <div class="checkbox-custom checkbox-primary col-md-12 mt-20 mb-20">
                                    <input type="checkbox" id="unban-with-penalty">
                                    <label for="unban-with-penalty">{{ 'users.modal.block_user.unban_with_penalty'|trans }}</label>
                                </div>
                                <div class="form-input-theme form-group hidden mb-15">
                                    <div class="input-group">
                                        <input type="number" data-min="0" class="number-validate pl-10"
                                               id="unban-penalty"
                                               placeholder="{{ 'users.modal.block_user.unban_penalty_value'|trans }}">
                                        <div class="input-group-append">
                                            <span class="input-group-text">{{ currentRegion().currencySymbol }}</span>
                                        </div>
                                    </div>
                                    <span class="error-msg">{{ 'validation.required'|trans }}</span>
                                </div>
                                <div class="form-input-theme form-group mb-10">
                                <textarea name="reason" id="ban-reason" cols="30" rows="10" class="form-control"
                                          placeholder="{{ 'users.modal.block_user.ban_reason_placeholder'|trans }}"></textarea>
                                    <span class="error-msg">{{ 'validation.required'|trans }}</span>
                                </div>
                            </div>
                            <div id="warn-action" class="hidden treatment-block mt-15">
                                <div class="form-input-theme form-group mb-10">
                                <textarea name="warning-msg" id="warning-msg" cols="30" rows="10" class="form-control"
                                          placeholder="{{ 'reports.details.treat.enter_warning'|trans }}"></textarea>
                                    <span class="error-msg">{{ 'validation.required'|trans }}</span>
                                </div>
                            </div>
                            <div class="col-12 mt-15 p-0 hidden">
                                <button id="execute-report"
                                        class="btn btn-theme-primary">{{ 'reports.details.treat.execute'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="panel" data-plugin="matchHeight" data-by-row="true">
            <div class="panel-body container-fluid">
                <h4>{{ 'reports.details.reporters'|trans }}</h4>
                {% for reporter in report.reporters %}
                    <div class="row">
                        <div class="col-sm-12 p-0 report-header pb-15 row">
                            <div class="media bidder mrg--an col-10 p-0">
                                <div class="media-object pull-right">
                                    <a href="{{ path('user_details', {'id': reporter.user.id}) }}">
                                        {% if reporter.user.picture %}
                                            <img class="img-circle" src="{{ reporter.user.picture.path }}"
                                                 width="45" height="45" alt="{{ reporter.user.fullName }}">
                                        {% else %}
                                            <div class="user-badge mini-badge"> {{ reporter.user.logoName }}</div>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="media-body pl-15">
                                    <h4 class="m-0">
                                        <a href="{{ path('user_details',{'id':reporter.user.id}) }}">
                                            <bdi>{{ reporter.user.fullName }}</bdi>
                                        </a>
                                    </h4>
                                    <div class="mt-5">
                                        <span><i class="text-theme far fa-calendar"></i> {{ reporter.createdAt|date('d-m-Y') }}</span>
                                        <span class="ml-5"><i
                                                    class="text-theme far fa-clock"></i> {{ reporter.createdAt|date('H:i A') }}</span>
                                    </div>
                                </div>
                            </div>
                            {#<div class="report-action col-2 text-right">#}
                            {#<a class="btn btn-inverse btn-delete-report" href="">Delete</a>#}
                            {#</div>#}
                        </div>
                        <div class="offer-details col-12 pl-60">
                            <p class="report-msg p-25">{{ reporter.message }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="inspect-report" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Body-->
                <div class="modal-body mb-0 p-0">
                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                        <iframe id="iframe-preview-page"
                                src="{{ path('admin_report_details_inspect',{'id':report.id}) }}"
                                allowfullscreen></iframe>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                            data-dismiss="modal">{{ 'reports.modal.close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/plugins/bootstrapdatetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
    {% if app.request.locale=='ar' %}
        <script src="{{ asset('assets/admin/plugins/bootstrapdatetimepicker/js/locales/bootstrap-datetimepicker.ar.js') }}"></script>
    {% endif %}
    <script>
      $(document).ready(function () {
        $('#iframe-preview-page').load(function () {
          $(this).contents().find("body").addClass("report-inspecting");
        });
        let banDuration = $('#ban-duration');
        let banType = $('#ban-type');
        let unbanWithPenalty = $('#unban-with-penalty');
        let unbanPenalty = $('#unban-penalty');

        banDuration.datetimepicker({
          fontAwesome: true,
          language: moment.locale(),
          defaultDate: moment(),
          startDate: moment().add('1 hour').format('YYYY-MM-DD HH:mm'),
          locale: moment.locale(),
          autoclose: true,
          icons: {
            leftArrow: "fas fa-chevron-left",
            rightArrow: "fas fa-chevron-right"
          }
        });


        banType.on('change', function (e) {
          if ($(this).val() === 'permanent') {
            banDuration.closest('.form-group').addClass('hidden')
          } else {
            banDuration.closest('.form-group').removeClass('hidden')
          }
        });
        unbanWithPenalty.on('change', function (e) {
          if ($(this).is(':checked')) {
            unbanPenalty.closest('.form-group').removeClass('hidden')
          } else {
            unbanPenalty.closest('.form-group').addClass('hidden')
          }
        });
        $('#report-treat-action').on('change', function () {
          $('.treatment-block').addClass('hidden');
          $('#execute-report').parent().removeClass('hidden');
          if ($(this).val() === "ACTION_BAN") {
            $('#ban-action').removeClass('hidden');
          }
          if ($(this).val() === "ACTION_WARN") {
            $('#warn-action').removeClass('hidden');
          }
        });
        $('#execute-report').on('click', function (e) {
          let reportForm = reportValidateAndGetData();
          if (reportForm) {
            $.ajax({
              'method': 'post',
              data: reportForm,
              beforeSend: function () {
                $('body').loading();
              },
              success: function (data) {
                $('.untreated-bg').addClass('hidden');
                if (reportForm.action === 'ACTION_REFUSE') {
                  $('.refused-bg').removeClass('hidden').attr('style', null)
                } else {
                  $('.treated-bg').removeClass('hidden').attr('style', null)
                }
                $('#treat-report-block').remove();
                miniToaster.fire({
                  type: "success",
                  title: data.message
                })
                $('body').loading('stop');
              },
              error: function (error) {
                $('body').loading('stop');
                miniToaster.fire({
                  type: 'error',
                  title: error.responseJSON.message
                });
              }
            })
          }
        });

        function reportValidateAndGetData() {
          let valid = true;
          let data = {};
          let warningMsg = $('#warning-msg');
          let banReason = $('#ban-reason');
          let action = $('#report-treat-action').val();
          data.action = action;
          if (action === "ACTION_WARN") {
            if (_.isEmpty(warningMsg.val())) {
              warningMsg.closest('.form-group').addClass('has-error');
              valid = false;
            }
            data.warningMessage = warningMsg.val();
          }
          if (action === "ACTION_BAN") {
            data.ban = {};
            if (_.isEmpty(banReason.val())) {
              banReason.closest('.form-group').addClass('has-error');
              valid = false;
            } else {
              data.ban.reason = banReason.val();
            }
            data.ban.type = banType.val();
            if (banType.val() === "temporary" && _.isEmpty(banDuration.val())) {
              banDuration.closest('.form-group').addClass('has-error');
              valid = false;
            } else if (banType.val() === "temporary") {
              data.ban.duration = banDuration.val()
            }
            if (unbanWithPenalty.is(':checked') && _.isEmpty(unbanPenalty.val())) {
              unbanPenalty.closest('.form-group').addClass('has-error');
              valid = false;
            } else if (!_.isEmpty(unbanPenalty.val())) {
              data.ban.unbanPenalty = unbanPenalty.val()
            }
          }
          return valid ? data : false;
        }
      })
    </script>
{% endblock %}
