{% extends 'AppBundle:admin/parts:layout.html.twig' %}
{% import ":macro:sort.macro.html.twig" as sort_column %}
{% block title %}
    {{ 'side_menu.reports'|trans }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/reports/reports.css') }}">
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a></li>
            <li class="breadcrumb-item active">{{ 'side_menu.reports'|trans }}</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="panel" data-plugin="matchHeight" data-by-row="true">
            <div class="panel-heading">
                <div class="pt-20 mb-10">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="row align-items-center">
                               {% include '@App/admin/widget/page-length.html.twig' %}
                                <div class="col-5 col-md-4">
                                  {% include '@App/admin/widget/search.html.twig' %}
                                </div>
                                <div class="col-4 col-md-3 pl-sm-0">
                                    <div class="form__group--inline">
                                        <div class="form__label">
                                            <label for="users-status">{{ 'users.filter.status'|trans }}</label>
                                        </div>
                                        <div class="form__control">
                                            <select id="users-status" class="form-control selectpicker bootstrap-select filter-selector">
                                                <option {% if not app.request.query.has('status')%} selected {% endif %}
                                                        value="{{ updateUrl(app.request,{'status':''}) }}">{{ 'document.status.all'|trans }}</option>
                                                <option {% if app.request.query.get('status') == 0 %} selected {% endif %}
                                                        value="{{ updateUrl(app.request,{'status':0}) }}">{{ 'reports.table.status_untreated'|trans }}</option>
                                                <option {% if app.request.query.get('status') == 1 %} selected {% endif %}
                                                        value="{{ updateUrl(app.request,{'status':1}) }}">{{ 'reports.table.status_accepted'|trans }}</option>
                                                <option {% if app.request.query.get('status') == 2 %} selected {% endif %}
                                                        value="{{ updateUrl(app.request,{'status':2}) }}">{{ 'reports.table.status_refused'|trans }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1 col-md-4 col-lg-3 pl-sm-0">
                                    <div class="date-range"  id="data-date-filter"
                                         data-start="{{ app.request.query.get('s_date') }}" data-end="{{ app.request.query.get('e_date') }}"
                                         data-url="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'s_date':'_start_','e_date':'_end_'})) }}">
                                        <i class="far fa-calendar-alt mr-10"></i>
                                        <span></span> <i class="fa fa-caret-down float-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body container-fluid">
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'reports.table.date'|trans }} {{ sort_column.sort("date") }}</th>
                            <th>{{ 'reports.table.accused'|trans }} {{ sort_column.sort("user") }}</th>
                            <th>{{ 'reports.table.type'|trans }} {{ sort_column.sort("type") }}</th>
                            <th class="text-center">{{ 'reports.table.status'|trans }} {{ sort_column.sort("status") }}</th>
                            <th class="text-center">{{ 'reports.table.total_reporters'|trans }} {{ sort_column.sort("reports") }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for report in reports %}
                            <tr class="{% if report.id in indicator.items %}flagged{% endif %}">
                                <td>{{ report.createdAt|date('d-m-Y H:i:s') }}</td>
                                <td>
                                    <div class="user-info">
                                        <div class="user-icon hidden-sm-down">
                                            {% if report.reportedUser.picture %}
                                                <img onerror="loadDefaultAvatar(this)" src="{{ asset( report.reportedUser.picture.path??'assets/admin/images/default-user.png') }}"
                                                     alt="">
                                            {% else %}
                                                <div class="user-badge">
                                                    {{ report.reportedUser.firstname|first|upper~report.reportedUser.lastname|first|upper }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="user-details">
                                            <a href="{{ path('user_details', {'id': report.reportedUser.id}) }}">{{ report.reportedUser.firstname~' '~report.reportedUser.lastname }}</a>
                                            <div data-plugin="rating" data-readonly="true"
                                                 data-score="{{ report.reportedUser.note|number_format(1,'.') }}"
                                                 data-toggle="tooltip"
                                                 data-title="{{ (report.reportedUser.userType == constant('TYPE_TASKER',report.reportedUser)?report.reportedUser.reviewAsaTasker:report.reportedUser.reviewAsaPoster)|length }} {{ 'layout.reviews'|trans }}">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ report.type.translate.name }}</td>
                                <td class="report-status text-center">
                                    {% if report.status == constant('STATUS_UNTREATED',report) %}
                                        <span class="badge badge-warning badge-round badge-status text-white">{{ "reports.table.status_untreated"|trans }}</span>
                                    {% elseif report.status == constant('STATUS_TREATED',report) %}
                                        <span class="badge badge-success badge-round badge-status  text-white"> {{ "reports.table.status_accepted"|trans }}</span>
                                    {% elseif report.status == constant('STATUS_REFUSED',report) %}
                                        <span class="badge badge-danger badge-round badge-status  text-white">{{ "reports.table.status_refused"|trans }}</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">{{ report.reporters|length }}</td>
                                <td class="text-right">
                                        <a href="{{ path('admin_report_details', {'id': report.id}) }}" data-show-msg="{{ "reports.table.show"|trans }}" data-toggle="tooltip" data-title="{% if report.status != constant('STATUS_UNTREATED',report) %} {{ "reports.table.show"|trans }} {% else  %} {{ "reports.table.treat"|trans }} {% endif %}" data-url="{{ path('admin_report_details',{id:report.id}) }}"
                                           class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic btn-action-report">
                                            <i class="flaticon2-notepad font-size-14"></i>
                                        </a>
                                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                                    <button data-toggle="tooltip" data-title="{{ "reports.table.delete"|trans }}"
                                            data-url="{{ path("admin_delete_report",{id:report.id}) }}"
                                            class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic btn-delete-report">
                                        <i class="fa fa-trash-alt"></i>
                                    </button>
                                    {% endif %}
                                    {% include '@App/admin/parts/btn-flag-item.html.twig' with {'item': report.id ,'indicator':indicator} %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="row table-nav">
                    {{ knp_pagination_render(reports, ':KnpPaginatorBundle/Pagination:site_defaut_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade small-modal danger-modal" id="delete-report-modal" aria-labelledby="delete-report-modal" role="dialog"
         tabindex="-1" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-simple modal-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalTitle">
                        <span class="delete-icon-title">
                            <i class="fa fa-trash-alt"></i>
                        </span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h4>{{ 'reports.delete_modal.title'|trans }}</h4>
                    <p>{{ 'reports.delete_modal.warning_msg'|trans }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-inverse"  data-dismiss="modal">{{ 'reports.delete_modal.cancel'|trans }}
                    </button>
                    <button type="button" id="btn-delete-report" class="btn btn-danger">{{ 'reports.delete_modal.delete'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/pages/reports/reports.js') }}"></script>
{% endblock %}
