<a class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic btn-flag-item"
   data-title="{{ 'table.btn_indicator'|trans }}" data-toggle="tooltip" data-list="{{indicator.list}}" data-item="{{ item }}">
    <i class="{% if item in indicator.items %}fad{% else %}fal{% endif %} fa-flag"></i>
</a>