<!DOCTYPE html>
<html class="no-js css-menubar" lang="{{ app.request.locale }}" dir="{% if app.request.locale=='ar' %}rtl{% else %}ltr{% endif %}">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="maatloob administration space">
    <meta name="description" content="maatloob administration space">
    <meta name="author" content="maatloob">
    <!-- Favicon-->
    <link rel="icon" href="{{ asset('assets/img/logo/logo_v2.png')}}" type="image/x-icon">
    <title>{{ 'layout.app_name'|trans }} - {% block title %} {% endblock %}</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/animsition/animsition.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/bootstrap/css/bootstrap'~(app.request.locale=='ar'?'.rtl':'')~'.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/css/bootstrap-extend'~(app.request.locale=='ar'?'.rtl':'')~'.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/css/site.css') }}">
    <!-- Plugins -->
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/asscrollable/asScrollable.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/switchery/switchery.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/slidepanel/slidePanel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/flag-icon-css/flag-icon.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/waves/waves.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/bootstrap-select/css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/daterangepicke/daterangepicker'~(app.request.locale=='ar'?'.rtl':'')~'.css') }}">
    <!-- Fonts -->
    <link rel="stylesheet" href="{{ asset('assets/admin/fonts/material-design/material-design.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/fonts/brand-icons/brand-icons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/fonts/flaticons/flaticons.css') }}">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <link href="{{ asset('assets/admin/fonts/line-awesome/line-awesome-font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/admin/fonts/line-awesome/line-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/admin/plugins/font-awsome-pro/css/all.min.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/select2/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/jquery-loading/jquery.loading.min.css') }}">
    <link href="{{ asset('assets/admin/fonts/poppins/poppins.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/raty/jquery.raty.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/layout/layout.css') }}">
    <!--load all styles -->

    {% block stylesheets %}

    {% endblock %}
    <script >
        function loadDefaultAvatar(image) {
            image.src = "{{ asset('assets/img/default-user.png') }}";
        }
    </script>
    <!--[if lt IE 9]>
    <script src="{{ asset('assets/admin/plugins/html5shiv/html5shiv.min.js') }}"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="{{ asset('assets/admin/plugins/media-match/media.match.min.js') }}"></script>
    <script src="{{ asset('assets/admin/plugins/respond/respond.min.js') }}"></script>
    <![endif]-->
    <!-- Scripts -->
    <script src="{{ asset('assets/admin/plugins/breakpoints/breakpoints.min.js') }}"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="animsition dashboard">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
{% include '@App/admin/parts/navbar.html.twig' %}
{% include '@App/admin/parts/side-menu.html.twig' %}

<!-- Page -->
<div class="page">
{% block body %}
{% endblock %}
</div>

{% include '@App/admin/parts/footer.html.twig' %}

<!-- Core  -->
<script src="{{ asset('assets/admin/plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/animsition/animsition.min.js') }}"></script>
<script>
    $('body').animsition({
        inClass: 'fade-in',
        outClass: 'fade-out',
        loading: true,
        loadingClass: 'loader-overlay',
        loadingParentElement: 'html',
        loadingInner: '\n      <div class="loader-content">\n        <div class="loader-index">\n          <div></div>\n          <div></div>\n          <div></div>\n          <div></div>\n          <div></div>\n          <div></div>\n        </div>\n      </div>',
        onLoadEvent: true
    }).on('animsition.inEnd',function () {
        {% for flashMessage in app.session.flashbag.get('error') %}
          miniToaster.fire({
            type: "error",
            title: "{{ flashMessage }}"
          });
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
          miniToaster.fire({
            type: "success",
            title: "{{ flashMessage }}"
          });
        {% endfor %}
    });
</script>
<script src="{{ asset('assets/admin/plugins/babel-external-helpers/babel-external-helpers.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/tether/tether.min.js') }}"></script>
<script src="{{ asset('assets/admin/js/popper.min.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/jquery-mousewheel/jquery.mousewheel.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/asscrollbar/jquery-asScrollbar.min.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/asscrollable/jquery-asScrollable.min.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/ashoverscroll/jquery-asHoverScroll.min.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/waves/waves.min.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/jquery-debounce/jquery-debounce.min.js') }}"></script>
<script src="{{ asset('assets/admin/js/lodash.js') }}"></script>


<!-- Scripts -->
<script src="{{ asset("assets/admin/js/config/State.min.js") }}"></script>
<script src="{{ asset('assets/admin/js/config/Component.min.js') }}"></script>
<script src="{{ asset('assets/admin/js/config/Plugin.min.js') }}"></script>
<script src="{{ asset('assets/admin/js/config/Base.min.js') }}"></script>
<script src="{{ asset('assets/admin/js/config/Config.min.js') }}"></script>
<script src="{{ asset('assets/admin/js/section/Menubar.min.js') }}"></script>
<script src="{{ asset('assets/admin/js/section/GridMenu.min.js') }}"></script>
<script src="{{ asset('assets/admin/js/section/Sidebar.min.js') }}"></script>
<script src="{{ asset('assets/admin/js/section/PageAside.min.js') }}"></script>
<script src="{{ asset('assets/admin/js/plugin/menu.min.js') }}"></script>
<script src="{{ asset('assets/admin/js/config/colors.min.js') }}"></script>
<script src="{{ asset('assets/admin/js/config/tour.min.js') }}"></script>
<!-- Plugins -->
<script src="{{ asset('assets/admin/plugins/jquery-nice-scroll/jquery.nicescroll.min.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/slidepanel/jquery-slidePanel.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/jquery-match-height/jquery.matchHeight-min.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/peity/jquery.peity.min.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/bootstrap-select/js/bootstrap-select.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/moment/moment.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/select2/js/select2.full.min.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/sweetalert/sweetalert.min.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/jquery-loading/jquery.loading.min.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/raty/jquery.raty.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/daterangepicke/daterangepicker.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/jquery-blockui/jquery.blockUI.min.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/infinit-scroll/infinite-scroll.min.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/font-awsome-pro/js/all.min.js') }}"></script>
<!-- Page -->
<script src="{{ asset('assets/admin/js/site.js') }}"></script>
<script src="{{ asset('assets/admin/js/plugin/asscrollable.min.js') }}"></script>
<script src="{{ asset('assets/admin/js/plugin/slidepanel.min.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/switchery/switchery.min.js') }}"></script>
<script src="{{ asset('assets/admin/js/plugin/matchheight.js') }}"></script>
<script src="{{ asset('assets/admin/js/plugin/peity.min.js') }}"></script>
<script src="{{ asset('assets/admin/js/axios/axios.min.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/moment/moment-timezone.js') }}"></script>
{% if app.request.locale=='ar' %}
<script src="{{ asset('assets/admin/plugins/moment/locales/ar.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/bootstrap-select/js/i18n/defaults-ar_AR.min.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/daterangepicke/daterangepicker-locale-ar.js') }}"></script>
<script>
    moment.locale('ar')
</script>
{% else %}
<script src="{{ asset('assets/admin/plugins/daterangepicke/daterangepicker-locale-en.js') }}"></script>
{% endif %}
<script>
  moment.tz.setDefault("{{ date()|date('e') }}");
  Site.run();
</script>
<script>
    $.fn.raty.defaults.starHalf  = "{{ asset('assets/admin/plugins/raty/images/star-half.png') }}";
    $.fn.raty.defaults.starOff = "{{ asset('assets/admin/plugins/raty/images/star-off.png') }}";
    $.fn.raty.defaults.starOn = "{{ asset('assets/admin/plugins/raty/images/star-on.png') }}";
</script>
<script src="{{ asset('assets/admin/pages/layout/layout.js') }}"></script>
<script>
    const miniToaster = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000
    });
    $.Loading.setDefaults({message:'{{ 'layout.loader_msg'|trans }}'});
</script>
<script src="{{ asset('assets/admin/js/app.utils.js') }}"></script>

{% block javascripts %}
{% endblock %}
</body>
</html>
