<!DOCTYPE html>
<html class="no-js css-menubar" lang="{{ app.request.locale }}" dir="{% if app.request.locale=='ar' %}rtl{% else %}ltr{% endif %}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="maatloob administration authentication">
    <meta name="author" content="maatloob">
    <!-- Favicon-->
    <link rel="icon" href="{{ asset('assets/img/logo/logo_v2.png')}}" type="image/x-icon">
    <title>Maatloob</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/css/bootstrap-extend.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/css/site.min.css') }}">
    <!-- Plugins -->
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/animsition/animsition.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/asscrollable/asScrollable.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/switchery/switchery.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/login/login.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/admin/fonts/simple-icons/simple-line-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/fonts/web-icons/web-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/fonts/material-design/material-design.min.css') }}">
    <!-- Fonts -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/layout/layout.css') }}">
    {% block stylesheets %}
    {% endblock %}
</head>
<body class="animsition page-login-v3 layout-full" id="login-page">
<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">

    <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
        <!-- Page -->
        {% block fos_user_content %}
        {% endblock fos_user_content %}
        <!-- End Page -->
    </div>

</div>
<!-- Core  -->
<script src="{{ asset('assets/admin/plugins/babel-external-helpers/babel-external-helpers.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/animsition/animsition.js') }}"></script>
<script>
    $('body').animsition({
        inClass: 'fade-in',
        outClass: 'fade-out',
        inDuration: 800,
        outDuration: 500,
        loading: true,
        loadingClass: 'loader-overlay',
        loadingParentElement: 'html',
        loadingInner: '\n      <div class="loader-content">\n        <div class="loader-index">\n          <div></div>\n          <div></div>\n          <div></div>\n          <div></div>\n          <div></div>\n          <div></div>\n        </div>\n      </div>',
        onLoadEvent: true
    });
</script>
<script src="{{ asset('assets/admin/plugins/tether/tether.min.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/admin/plugins/waves/waves.min.js') }}"></script>
{% block javascripts %}

{% endblock %}
</body>
</html>
