{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}
{% set params = route_params|merge(app.request.query.all) %}
<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
                data-toggle="menubar">
            <span class="sr-only">Toggle navigation</span>
            <span class="hamburger-bar"></span>
        </button>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
                data-toggle="collapse">
            <i class="icon md-more" aria-hidden="true"></i>
        </button>
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
            <a class="logo-link" href="{{ path('admin_dashboard') }}">
                <img class="navbar-brand-logo" src="{{ asset('assets/img/logo/logo_v2.png') }}" title="Maatloob.com">
                <span class="navbar-brand-text hidden-xs-down">{{ 'layout.app_name'|trans }}.com</span>
            </a>
        </div>
    </div>
    <div class="navbar-container container-fluid pl-0">
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
            <!-- Navbar Toolbar -->
            <ul class="nav navbar-toolbar">
                <li class="nav-item hidden-float" id="toggleMenubar">
                    <a class="nav-link" data-toggle="menubar" href="#" role="button">
                        <i class="icon hamburger hamburger-arrow-left">
                            <span class="sr-only">Toggle menubar</span>
                            <span class="hamburger-bar"></span>
                        </i>
                    </a>
                </li>
            </ul>
            <!-- End Navbar Toolbar -->
            <!-- Navbar Toolbar Right -->
            <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                <li class="nav-item dropdown">
                    <div class="mr-20" style="padding-top: 12px">
                        <select class="selectpicker bootstrap-select col-12 p-0" name="browse-country" id="region-selector"
                                title="{{ 'layout.browsing_data_country'|trans }}">
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                {% for country in supportedCountries() %}
                                <option data-url="{{ path('admin_switch_region',{identifier:country.identifier}) }}"
                                        {% if currentRegion().identifier == country.identifier %} selected {% endif %}
                                        data-icon="flag-icon flag-icon-{{ country.identifier|lower }}" value="{{ country.identifier }}">{{ country.name}} </option>
                                {% endfor %}
                            {% else %}
                                {% for country in app.user.assignedCountries %}
                                    <option data-url="{{ path('admin_switch_region',{identifier:country.identifier}) }}"
                                            {% if currentRegion().identifier == country.identifier %} selected {% endif %}
                                            data-icon="flag-icon flag-icon-{{ country.identifier|lower }}" value="{{ country.identifier }}">{{ country.name}} </option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up"
                       aria-expanded="false" role="button">
                        <span class="flag-icon flag-icon-{% if app.request.locale=='ar' %}sa{% else %}gb{% endif %}"></span>
                    </a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="{{ path(route, params|merge({ _locale: "en" })) }}" role="menuitem">
                            <span class="flag-icon flag-icon-gb"></span> {{ 'navbar.languages.english'|trans }}</a>
                        <a class="dropdown-item" href="{{ path(route, params|merge({ _locale: "ar" })) }}" role="menuitem">
                            <span class="flag-icon flag-icon-sa"></span> {{ 'navbar.languages.arabic'|trans }}</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    {% set notificationsList = notifications() %}
                    {% set newNotificationsList = newNotifications() %}
                    <a id="show-notification" data-url="{{ path('admin_mark_notification_seen') }}" class="nav-link"
                       data-toggle="dropdown" href="javascript:void(0)" title="Notifications"
                       aria-expanded="false" data-animation="scale-up" role="button">
                        <i class="icon md-notifications" aria-hidden="true"></i>
                        {% if newNotificationsList|length>0 %}
                        <span class="badge badge-pill badge-danger up">{{ newNotificationsList|length }}</span>
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-media  pb-0" role="menu">
                        <div class="dropdown-menu-header">
                            <h5>{{ 'navbar.notifications.title'|trans }}</h5>
                            {% if newNotificationsList|length>0 %}
                            <span id="new-notification" class="badge badge-round badge-danger">New {{ newNotificationsList|length }}</span>
                            {% endif %}
                        </div>
                        {% if notificationsList|length > 0 %}
                        <div class="list-group">
                            <div data-role="container">
                                <div data-role="content">
                                    {% for notification in notificationsList %}
                                    <a class="list-group-item dropdown-item" href="{{ notification.link }}" role="menuitem">
                                        <div class="media">
                                            <div class="pr-10">
                                                {% if notification.type == constant('ADMIN_NEW_REPORT',notification) %}
                                                    <i class="icon md-receipt bg-red-600 white fa fa-bullhorn" aria-hidden="true"></i>
                                                {% else %}
                                                    <i class="icon md-receipt bg-red-600 white fa fa-user-check" aria-hidden="true"></i>
                                                {% endif %}
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">{{ notification.body }}</h6>
                                                <time class="media-meta" datetime="{{ notification.createdAt|date('m-d-Y H:i') }}">{{ notification.createdAt|time_ago_in_words }}</time>
                                            </div>
                                        </div>
                                    </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% else %}
                            <div class="no-notifications">
                                <i class="fa fa-bell-slash fa-3x"></i>
                                <p>{{ 'navbar.notifications.empty'|trans }}</p>
                            </div>
                        {% endif %}
                        <div class="dropdown-menu-footer">
                            <a  href="{{ path('admin_notifications') }}" role="button">
                                <i class="icon md-settings" aria-hidden="true"></i>
                                {{ 'navbar.notifications.all'|trans }}
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
                       data-animation="scale-up" role="button">
                        <span class="avatar avatar-online">
                            <img src="{{ asset(app.user.picture?app.user.picture.path:'assets/img/default-user.png') }}" alt="{{ app.user.fullName }}">
                    <i></i>
              </span>
                    </a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="{{ path('admin_profile') }}" role="menuitem">
                            <i class="icon md-account"  aria-hidden="true"></i>
                            {{ 'navbar.profile'|trans }}</a>
                        <a class="dropdown-item" href="{{ path('system_general') }}" role="menuitem">
                            <i class="icon md-settings" aria-hidden="true"></i>
                            {{ 'navbar.settings'|trans }}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('admin_logout') }}" role="menuitem">
                            <i class="far fa-sign-out-alt"></i>
                            {{ 'navbar.logout'|trans }}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
