<div class="site-menubar">
    <div class="site-menubar-body">
        <div>
            <div class="site-menubar-header">
                <div class="cover overlay">
                    <img class="cover-image" src="{{ asset(app.user.coverPicture?app.user.coverPicture.path:'assets/img/dashboard-header.jpg') }}"
                         alt="...">
                    <div class="overlay-panel vertical-align overlay-background">
                        <div class="vertical-align-middle">
                            <a class="avatar avatar-lg" href="{{ path('admin_profile') }}">
                                <img src="{{ asset(app.user.picture?app.user.picture.path:'assets/img/default-user.png') }}" alt="{{ app.user.fullName }}">
                            </a>
                            <div class="site-menubar-info">
                                <h5 class="site-menubar-user">{{ app.user.fullName }}</h5>
                                <p class="site-menubar-email">{{ app.user.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <ul class="site-menu" data-plugin="menu">
                    <li class="site-menu-item {% if app.request.attributes.get('_route') in ["admin_dashboard","admin_home"]  %}active{% endif %}">
                        <a class="animsition-link" href="{{ path('admin_dashboard') }}">
                            <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
                            <span class="site-menu-title">{{ 'side_menu.dashboard'|trans }}</span>
                        </a>
                    </li>
                    {% set menuStats = menuStats() %}
                    <li class="site-menu-item has-sub {% if app.request.attributes.get('_route') in ["users","inactive_users","user_banned","user_documents","user_discussions"]  %} active open {% endif %}">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon fad fa-users" aria-hidden="true"></i>
                            <span class="site-menu-title">{{ 'side_menu.users.all'|trans }}</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub p-0">
                            <li class="site-menu-item {% if app.request.attributes.get('_route') in ["users"]  %}active{% endif %}">
                                <a class="animsition-link" href="{{ path('users') }}">
                                    <i class="site-menu-icon fad fa-users-cog" aria-hidden="true"></i>
                                    <span class="site-menu-title">{{ 'side_menu.users.active'|trans }}
                                        <span class="badge badge-info badge-round ml-5">{{ menuStats['usersCount']['active'] }}</span>
                                    </span>
                                </a>
                            </li>
                            <li class="site-menu-item {% if app.request.attributes.get('_route') in ["inactive_users"]  %}active{% endif %}">
                                <a class="animsition-link" href="{{ path('inactive_users') }}">
                                    <i class="site-menu-icon fad fa-users-cog" aria-hidden="true"></i>
                                    <span class="site-menu-title">{{ 'users.inactive'|trans }}
                                        <span class="badge badge-info badge-round ml-5">{{ menuStats['usersCount']['inactive'] }}</span>
                                    </span>
                                </a>
                            </li>
                            <li class="site-menu-item {% if app.request.attributes.get('_route') in ["user_banned"]  %}active{% endif %}">
                                <a class="animsition-link" href="{{ path('user_banned') }}">
                                    <i class="site-menu-icon fad fa-user-lock" aria-hidden="true"></i>
                                    <span class="site-menu-title">{{ 'side_menu.users.blacklisted'|trans }}
                                    <span class="badge badge-info badge-round ml-5">{{ menuStats['usersCount']['banned'] }}</span>
                                    </span>
                                </a>
                            </li>
                            <li class="site-menu-item {% if app.request.attributes.get('_route') in ["user_documents"]  %}active{% endif %}">
                                <a class="animsition-link" href="{{ path('user_documents') }}">
                                    <i class="site-menu-icon fad fa-user-check" aria-hidden="true"></i>
                                    <span class="site-menu-title">{{ 'side_menu.users.documents'|trans }}</span>
                                </a>
                            </li>
                            <li class="site-menu-item {% if app.request.attributes.get('_route') in ["user_discussions"]  %}active{% endif %}">
                                <a class="animsition-link" href="{{ path('user_discussions') }}">
                                    <i class="site-menu-icon fad fa-comments" aria-hidden="true"></i>
                                    <span class="site-menu-title">{{ 'side_menu.users.discussions'|trans }}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item {% if app.request.attributes.get('_route') in ["task_index"]  %}active{% endif %}">
                        <a href="{{ path('task_index') }}">
                            <i class="site-menu-icon fad fa-tasks-alt"></i>
                            <span class="site-menu-title">{{ 'side_menu.tasks'|trans }}</span>
                        </a>
                    </li>
                    <li class="site-menu-item {% if app.request.attributes.get('_route') in ["admin_task_with_issues"]  %}active{% endif %}">
                        <a href="{{ path('admin_task_with_issues') }}">
                            <i class="site-menu-icon fad fa-tools" aria-hidden="true"></i>
                            <span class="site-menu-title">{{ 'side_menu.refused_cancelled_task'|trans }}
                                <span class="badge badge-info badge-round ml-5">{{ menuStats['cancelRequest'] }}</span>
                            </span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub  {% if app.request.attributes.get('_route') in ["admin_transactions","admin_withdrawal_request","admin_transactions_deposit"]  %}active open{% endif %}">
                        <a>
                            <i class="site-menu-icon fad fa-hands-usd"></i>
                            <span class="site-menu-title">{{ 'side_menu.transactions.all'|trans }}</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub p-0">
                            <li class="site-menu-item {% if app.request.attributes.get('_route') == "admin_transactions"  %}active{% endif %}">
                                <a class="animsition-link" href="{{ path('admin_transactions') }}">
                                    <span class="site-menu-title m-0">{{ 'side_menu.transactions.completed'|trans }}</span>
                                </a>
                            </li>
                            <li class="site-menu-item {% if app.request.attributes.get('_route') =="admin_transactions_deposit"  %}active{% endif %}">
                                <a class="animsition-link" href="{{ path('admin_transactions_deposit') }}">
                                    <span class="site-menu-title m-0">{{ 'side_menu.transactions.deposit'|trans }}</span>
                                </a>
                            </li>
                            <li class="site-menu-item {% if app.request.attributes.get('_route') == "admin_withdrawal_request"  %}active{% endif %}">
                                <a class="animsition-link" href="{{ path('admin_withdrawal_request') }}">
                                    <span class="site-menu-title m-0">{{ 'side_menu.transactions.withdraw_requests'|trans }}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item  {% if app.request.attributes.get('_route') in ["admin_reports"]  %}active{% endif %}">
                        <a href="{{ path('admin_reports') }}">
                            <i class="site-menu-icon fad fa-bullhorn" aria-hidden="true"></i>
                            <span class="site-menu-title">{{ 'side_menu.reports'|trans }}</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub {% if app.request.attributes.get('_route') in ["admin_stats_users","admin_stats_tasks","admin_stats_revenues"]  %} active open {% endif %}">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon fad fa-analytics"></i>
                            <span class="site-menu-title">{{ 'side_menu.statistics'|trans }}</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub p-0">
                            <li class="site-menu-item {% if app.request.attributes.get('_route') in ["admin_stats_users"]  %}active{% endif %}">
                                <a class="animsition-link"  href="{{ path('admin_stats_users') }}">
                                    <span class="site-menu-title m-0">{{ 'side_menu.statistics_users'|trans }}</span>
                                </a>
                            </li>
                            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') or is_granted('ROLE_ACCOUNTANT') %}
                            <li class="site-menu-item {% if app.request.attributes.get('_route') in ["admin_stats_tasks"]  %}active{% endif %}">
                                <a class="animsition-link"  href="{{ path('admin_stats_tasks') }}">
                                    <span class="site-menu-title m-0">{{ 'side_menu.statistics_tasks'|trans }}</span>
                                </a>
                            </li>
                            {% endif %}
                            {#<li class="site-menu-item {% if app.request.attributes.get('_route') in ["admin_stats_revenues"]  %}active{% endif %}">#}
                                {#<a class="animsition-link"  href="{{ path('admin_stats_revenues') }}">#}
                                    {#<span class="site-menu-title">{{ 'side_menu.statistics_revenues'|trans }}</span>#}
                                {#</a>#}
                            {#</li>#}
                        </ul>
                    </li>
                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                    <li class="site-menu-item {% if '/system_notifications' in app.request.pathInfo  %}active{% endif %}">
                        <a href="{{ path('system_notifications') }}">
                            <i class="site-menu-icon fad fa-bells" aria-hidden="true"></i>
                            <span class="site-menu-title">{{ 'side_menu.system_notification'|trans }}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="site-menu-item  {% if '/system/' in app.request.pathInfo  %}active{% endif %}">
                        <a href="{{ path('system_general') }}">
                            <i class="site-menu-icon fad fa-cogs"></i>
                            <span class="site-menu-title">{{ 'side_menu.settings'|trans }}</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
