{% extends "AppBundle:admin/parts:layout.html.twig" %}
{% block title %}{{ 'side_menu.users.blacklisted'|trans }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/users/banned.css') }}">
{% endblock %}
{% block body %}

    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            </li>
            <li class="breadcrumb-item"><a href="{{ path('users') }}">{{ 'side_menu.users.all'|trans }}</a></li>
            <li class="breadcrumb-item active">{{ 'side_menu.users.blacklisted'|trans }}</li>
        </ol>
        <h1 class="page-title">{{ 'side_menu.users.blacklisted'|trans }}</h1>
    </div>

    <div class="page-content container-fluid">
        <div class="panel" data-plugin="matchHeight" data-by-row="true">
            <div class="panel-heading">
                <div class="pt-20 mb-10">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="row align-items-center">
                                {% include '@App/admin/widget/page-length.html.twig' %}
                                <div class="col-5 col-md-4">
                                    {% include '@App/admin/widget/search.html.twig' %}
                                </div>
                                <div class="col-4 col-md-3 pl-sm-0">
                                    <div class="form__group--inline block">
                                        <div class="form__label hidden-md-down">
                                            <label for="status-filter">{{ 'users.filter.status'|trans }}</label>
                                        </div>
                                        <div class="form__control">
                                            <select data-url="" class="form-control selectpicker bootstrap-select filter-selector" id="status-filter">
                                                <option {% if not app.request.query.has('status')%} selected {% endif %}
                                                        value="{{ updateUrl(app.request,{'status':''}) }}">{{ 'document.status.all'|trans }}
                                                </option>
                                                <option {% if app.request.query.get('status') == "verified" %} selected {% endif %}
                                                        value="{{ updateUrl(app.request,{'status':'verified'}) }}">{{ 'users.filter.status_verified'|trans }}</option>
                                                <option {% if app.request.query.get('status') == "unverified" %} selected {% endif %}
                                                        value="{{ updateUrl(app.request,{'status':'unverified'}) }}">{{ 'users.filter.status_not_verified'|trans }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1 col-md-4 col-lg-3 pl-sm-0">
                                    <div id="data-date-filter" class="date-range"
                                         data-start="{{ app.request.query.get('s_date') }}" data-end="{{ app.request.query.get('e_date') }}"
                                         data-url="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'s_date':'_start_','e_date':'_end_'})) }}">
                                        <i class="far fa-calendar-alt mr-10"></i>
                                        <span></span> <i class="fa fa-caret-down float-right"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body container-fluid pt-0">
                <div class="table-responsive">
                    <table class="users-table table mt-0">
                        <thead>
                        <tr>
                            <th>{{ 'table.user.join_date'|trans }}</th>
                            <th>{{ 'table.user.photo'|trans }}</th>
                            <th>{{ 'table.user.name'|trans }}</th>
                            <th>{{ 'table.user.balance'|trans }}</th>
                            <th>{{ 'table.user.ban_date'|trans }}</th>
                            <th>{{ 'table.user.unban_date'|trans }}</th>
                            <th>{{ 'table.user.unban_penalty'|trans }}</th>
                            <th>{{ 'table.user.ban_reason'|trans }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr class="{% if user.id in indicator.items %}flagged{% endif %}">
                                <td>{{ user.createdAt|date('m-d-Y') }}</td>
                                <td class="user-logo">
                                    {% if user.picture %}
                                        <img src="{{ asset( user.picture.path??'assets/admin/images/default-user.png') }}"
                                             alt="">
                                    {% else %}
                                        <div class="user-badge">
                                            {{ user.firstname|first|upper~user.lastname|first|upper }}
                                        </div>
                                    {% endif %}
                                </td>
                                <td>{{ user.firstname ~' '~user.lastname }}</td>
                                <td><span class="user-balance">{{ user.wallet.balance }}</span> {{ currentRegion().currencySymbol }}</td>
                                <td>{{ user.activeBan.date|date('m-d-Y H:i') }}</td>
                                <td>{{ user.activeBan.permanent?'users.banned.unban_date_undefied'|trans:user.activeBan.unbanDate|date('m-d-Y H:i') }}</td>
                                <td>{{ user.activeBan.unbanPenalty}} {{  currentRegion().currencySymbol  }}</td>
                                <td class="description-cell">
                                    <a class="read-reason" style="cursor: pointer">
                                        <img src="{{ asset('assets/img/icon/notepad.png') }}" alt="">
                                        <div class="hidden reason-text">
                                            {{ user.activeBan.banReason }}
                                        </div>
                                    </a>
                                </td>
                                <td class="text-right actions-btn">
                                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERVISOR') or is_granted('ROLE_ACCOUNTANT') %}
                                    <button class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic restore-user"
                                            data-toggle="tooltip" data-title="{{ 'users.banned.modal.restore'|trans }}"
                                            data-penalty="{{ user.activeBan.unbanPenalty }}"
                                            data-url="{{ path('user_restore_access', { 'id': user.id }) }}">
                                        <i class="fa fa-lock-open"></i>
                                    </button>
                                    {% endif %}
                                    <a class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic waves-effect waves-classic"
                                       data-toggle="tooltip" data-title="{{ 'table.user.actions.transactions'|trans }}"
                                       href="{{ path('user_transactions', { 'id':user.id }) }}"><i class="fas fa-university"></i></a>
                                    {% include '@App/admin/parts/btn-flag-item.html.twig' with {'item': user.id ,'indicator':indicator} %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row table-nav">
                    {{ knp_pagination_render(users, ':KnpPaginatorBundle/Pagination:site_defaut_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ban-reason-modal" aria-labelledby="ban-reason-modal" role="dialog"
         tabindex="-1" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-simple modal-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <img class="mt-10 position-absolute" src="{{ asset('assets/img/icon/notepad.png') }}" alt="">
                    <h4 class="ml-40">{{ 'table.user.ban_reason'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-inverse"
                            data-dismiss="modal">{{ 'reports.modal.close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="restore-user-modal" aria-labelledby="restore-user-modal" role="dialog"
         tabindex="-1" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-simple modal-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalTitle">
                        <span class="modal-icon-title">
                            <i class="fa fa-lock-open"></i>
                        </span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h4>{{ 'users.banned.modal.title'|trans }}</h4>
                    <p>{{ 'users.banned.modal.info'|trans }}</p>
                    <p class="text-info font-weight-bold">{{ 'users.banned.modal.unban_penalty'|trans }}</p>
                    <div class="input-group col-md-8 p-0">
                        <input type="number" class="form-control" placeholder="{{ 'users.banned.modal.penalty'|trans }}" id="penalty">
                        <div class="input-group-append">
                            <span class="input-group-text img-input-addon">
                                <img src="{{ asset('assets/img/icon/money.png') }}" alt="">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-inverse" data-dismiss="modal">{{ 'task.delete_modal.cancel'|trans }}</button>
                    <button type="button" id="btn-restore-account" class="btn btn-primary">{{ 'users.banned.modal.restore'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    {% block javascripts %}
        <script src="{{ asset('assets/admin/js/readmore.min.js') }}"></script>
        <script src="{{ asset('assets/admin/pages/users/banned.js') }}"></script>
    {% endblock %}
