{% extends 'AppBundle:admin/parts:layout.html.twig' %}
{% block title %}{{ 'side_menu.users.discussions'|trans }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/lightgallery/css/lightgallery.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/discussions/discussions.css') }}">
{% endblock %}

{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            </li>
            <li class="breadcrumb-item"><a href="{{ path('users') }}">{{ 'side_menu.users.all'|trans }}</a></li>
            <li class="breadcrumb-item active">{{ 'side_menu.users.discussions'|trans }}</li>
        </ol>
    </div>
    <div class="page-content container-fluid row">
        <div class="col-4 pr-0  {% if activeDiscussion %} hidden {% endif %}">
            <div class="panel discussion-list" data-plugin="matchHeight" data-by-row="true">
                <div class="panel-heading pb-20">
                    <div class="input-group input-search-group p-25">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa fa-search search-icon"></i>
                            </span>
                        </div>
                        <input id="search-discussion" type="search" class="form-control pl-10"
                               placeholder="{{ 'users.discussions.search'|trans }}">
                    </div>
                </div>
                <div class="panel-body container-fluid p-0">
                    <ul class="p-0 {% if discussions.pageCount>0 %} has-more {% endif %}" data-page=1
                        id="discussions-list">
                        {% for discussion in discussions %}
                            <li class="row discussion p-10 pr-10" data-id="{{ discussion.id }}"
                                data-poster="{{ discussion.task.user.id }}">
                                <div class="col-3 avatars pl-0">
                                    <div class="avatar-icon" data-toggle="tooltip"
                                         title="{{ discussion.from.fullName }}">
                                        <img onerror="loadDefaultAvatar(this)"
                                             src="{{ discussion.from.picture?discussion.from.picture.path:'/assets/img/default-user.png' }}"
                                             alt="">
                                    </div>
                                    <div class="avatar-icon ml--20" data-toggle="tooltip"
                                         title="{{ discussion.to.fullName }}">
                                        <img onerror="loadDefaultAvatar(this)"
                                             src="{{ discussion.to.picture?discussion.to.picture.path:'/assets/img/default-user.png' }}"
                                             alt="">
                                    </div>
                                </div>
                                <div class="col-9 pl-0">
                                    <div class="subject">{{ discussion.task.title }}</div>
                                    <small class="mr-10">
                                        <i class="far fa-clock"></i> {{ discussion.task.createdAt|date('d-m-Y H:i') }}
                                    </small>
                                    {% if discussion.task.status == constant('STATUS_ASSIGNED',discussion.task) %}
                                        <span class="badge badge-info">{{ "task.status.assigned"|trans }}</span>
                                    {% elseif discussion.task.status == constant('STATUS_WAITING_PAYMENT',discussion.task) %}
                                        <span class="badge badge-warning">{{ "task.status.waiting_payment"|trans }}</span>
                                    {% elseif discussion.task.status >= constant('STATUS_PAID',discussion.task) and
                                        discussion.task.status <= constant('STATUS_COMPLETED',discussion.task) %}
                                        <span class="badge badge-success">{{ "task.status.completed"|trans }}</span>
                                    {% elseif discussion.task.status == constant('STATUS_CANCELLED',discussion.task) %}
                                        <span class="badge badge-danger">{{ "task.status.cancelled"|trans }}</span>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                        <li class="p-30 position-relative text-center invisible" id="discussion-load">
                            <div class="loading-spinner spinner-success"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-8 {% if activeDiscussion %} col-12 {% endif %}">
            <div class="panel" data-plugin="matchHeight" data-by-row="true">
                <div class="panel-heading">

                </div>
                <div class="panel-body container-fluid p-0" id="chat-wrapper">
                    {% if activeDiscussion is not defined or activeDiscussion is null %}
                        <div class="p-40 pt-70 text-center no-chat-message">
                            <img width="100" src="https://image.flaticon.com/icons/svg/1141/1141031.svg" alt="">
                            <p class="mt-15">{{ 'users.discussions.sealect_discussion'|trans }}</p>
                        </div>
                    {% else %}
                        {% if activeDiscussion.messages|length == 0 %}
                            <div class="p-40 pt-70 text-center no-chat-message">
                                <p class="mt-15">{{ 'users.discussions.no_messages'|trans }}</p>
                            </div>
                        {% endif %}
                        {% for message in activeDiscussion.messages|reverse %}
                            {% if message.user.id == activeDiscussion.from.id %}
                                <div class="chat-box-wrapper col-12 row">
                                    <div class="avatar-icon avatar-icon-lg rounded" style="width: 60px"
                                         data-toggle="tooltip" title="{{ message.user.fullName }}">
                                        <img onerror="loadDefaultAvatar(this)" class="m-auto"
                                             src="{{ message.user.picture ? message.user.picture.path : '/assets/img/default-user.png' }}"
                                             alt="">
                                        <div class="text-center position-absolute" style="width: 60px">{{ 'users.type_poster'|trans }}</div>
                                    </div>
                                    <div class="mr-auto ml-5 p-0 mt-5" style="max-width: 75%;">
                                        <div class="chat-box">
                                            {{ message.text }}
                                            <ul class="message-img">
                                                {% for file in message.files %}
                                                    {% if file.extension in ['gif','jpe','jepg','tiff','png','webp','bmp'] %}
                                                        <li data-src="{{ file.path }}"><img src="{{ file.path }}"></li>
                                                    {% else %}
                                                        <li><a href="{{ file.path }}" download><i class="far fa-file-alt fa-2x indigo"></i></a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <small class="opacity-6 pl-10">
                                            <i class="fa fa-calendar-alt mr-1"></i>
                                            {{ message.createdAt|date('H:i | d M Y') }}
                                        </small>
                                    </div>
                                </div>
                            {% else %}
                                <div class="float-right col-12">
                                    <div class="chat-box-wrapper chat-box-wrapper-right row">
                                        <div class="ml-auto mr-5 p-0 mt-5" style="max-width: 75%;">
                                            <div class="chat-box">
                                                {{ message.text }}
                                                <ul class="message-img">
                                                    {% for file in message.files %}
                                                        {% if file.extension in ['gif','jpe','jepg','tiff','png','webp','bmp'] %}
                                                            <li data-src="{{ file.path }}"><img src="{{ file.path }}"></li>
                                                        {% else %}
                                                            <li><a href="{{ file.path }}" download><i class="far fa-file-alt fa-2x indigo"></i></a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <small class="opacity-6 pl-5">
                                                <i class="fa fa-calendar-alt mr-1"></i>
                                                {{ message.createdAt|date('H:i | d M Y') }}
                                            </small>
                                        </div>
                                        <div class="avatar-icon avatar-icon-lg rounded" style="width: 60px" data-toggle="tooltip"
                                             title="{{ message.user.fullName }}">
                                            <img onerror="loadDefaultAvatar(this)" class="m-auto"
                                                 src="{{ message.user.picture ? message.user.picture.path : '/assets/img/default-user.png' }}"
                                                 alt="">
                                            <div class="text-center position-absolute" style="width: 60px">{{ 'users.type_tasker'|trans }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/admin/plugins/lightgallery/js/lightgallery.min.js') }}"></script>
    <script>
      let taskStatusAssigned = "{{ 'task.status.assigned'|trans }}";
      let taskStatusWaitingPayment = "{{ 'task.status.waiting_payment'|trans }}";
      let taskStatusCompleted = "{{ 'task.status.completed'|trans }}";
      let taskStatusCancelled = "{{ 'task.status.cancelled'|trans }}";
      let showMoreText = "{{ 'users.discussions.show_more'|trans }}";
      let poster = "{{ 'users.type_poster'|trans }}";
      let tasker = "{{ 'users.type_tasker'|trans }}";
    </script>
    <script src="{{ asset('assets/admin/pages/discussions/discussions.js') }}"></script>
{% endblock %}
