{% import ":macro:sort.macro.html.twig" as sort_column %}
{% extends 'AppBundle:admin/parts:layout.html.twig' %}
{% block title %}{{ 'side_menu.users.documents'|trans }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/lightgallery/css/lightgallery.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/select2/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/users/documents.css') }}">
{% endblock %}

{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('users') }}">{{ 'side_menu.users.all'|trans }}</a></li>
            <li class="breadcrumb-item active">{{ 'side_menu.users.documents'|trans }}</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="panel" data-plugin="matchHeight" data-by-row="true">
            <div class="panel-heading">
                <div class="pt-20 mb-10">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="row align-items-center">
                                {% include '@App/admin/widget/page-length.html.twig' %}
                                <div class="col-md-3">
                                    {% include '@App/admin/widget/search.html.twig' %}
                                </div>
                                <div class="col-4 col-md-3 pl-sm-0">
                                    <div class="form__group--inline block">
                                        <div class="form__label hidden-md-down">
                                            <label for="document-type">{{ 'documents.table.type'|trans }}</label>
                                        </div>
                                        <div class="form__control">
                                            <select class="form-control selectpicker bootstrap-select filter-selector" id="document-type" >
                                                <option {% if not app.request.query.has('type') %} selected {% endif %}
                                                        value="{{ updateUrl(app.request,{'type':''}) }}">{{ 'document.type.all'|trans }}</option>
                                                {% for documentTypes in documentsTypes %}
                                                    <option {% if app.request.query.get('type') == documentTypes.id %} selected {% endif %}
                                                            value="{{ updateUrl(app.request,{'type':documentTypes.id}) }}">{{documentTypes.translate.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 col-md-3 pl-sm-0">
                                    <div class="form__group--inline block">
                                        <div class="form__label hidden-md-down">
                                            <label for="document-status">{{ 'documents.table.status'|trans }}</label>
                                        </div>
                                        <div class="form__control">
                                            <select class="form-control selectpicker bootstrap-select filter-selector" id="document-status">
                                                <option {% if not app.request.query.has('status') %} selected {% endif %}
                                                        value="{{ updateUrl(app.request,{'status':''}) }}">{{ 'document.status.all'|trans }}</option>
                                                <option {% if app.request.query.get('status') == "verified" %} selected {% endif %}
                                                        value="{{ updateUrl(app.request,{'status':'verified'}) }}">{{ 'users.filter.status_verified'|trans }}</option>
                                                <option {% if app.request.query.get('status') == "not-verified" %} selected {% endif %}
                                                        value="{{ updateUrl(app.request,{'status':'not-verified'}) }}">{{ 'users.filter.status_not_verified'|trans }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body container-fluid pt-0">
                <div class="table-responsive">
                    <table class="users-table table mt-0">
                        <thead>
                        <tr>
                            <th>{{ 'reports.table.date'|trans }} {{ sort_column.sort("date") }}</th>
                            <th>{{ 'documents.table.user'|trans }} {{ sort_column.sort("user") }}</th>
                            <th>{{ 'documents.table.type'|trans }} {{ sort_column.sort("type") }}</th>
                            <th>{{ 'documents.table.description'|trans }}</th>
                            <th class="text-center">{{ 'system.documents.table.required_for_verification'|trans }}</th>
                            <th class="text-center">{{ 'documents.table.status'|trans }} {{ sort_column.sort("status") }}</th>
                            <th class="text-center"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for document in documents %}
                            <tr class="user-doc {% if document.id in indicator.items %}flagged{% endif %}" data-id="{{ document.id }}">
                                <td>
                                    {{ document.requestVerificationDate|date('Y-m-d h:i') }}
                                </td>
                                <td>
                                    <div class="user-info">
                                        <div class="user-icon hidden-sm-down">
                                            {% if document.user.picture %}
                                                <img src="{{ asset( document.user.picture.path??'assets/admin/images/default-user.png') }}"
                                                     alt="">
                                            {% else %}
                                                <div class="user-badge">
                                                    {{ document.user.firstname|first|upper~document.user.lastname|first|upper }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="user-details">
                                            <a href="{{ path('user_details', {'id': document.user.id}) }}">{{ document.user.firstname~' '~document.user.lastname }}</a>
                                            <div data-plugin="rating" data-readonly="true" class="rating-sm"
                                                 data-score="{{ document.user.note|number_format(1,'.') }}"
                                                 data-toggle="tooltip" data-title="{{ (document.user.userType == constant('TYPE_TASKER',document.user)?document.user.reviewAsaTasker:document.user.reviewAsaPoster)|length }} {{ 'layout.reviews'|trans }}">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ document.type.translate().name }}</td>
                                <td class="description-cell">
                                    <div>
                                        {{ document.description }}
                                    </div>
                                </td>
                                <td class="text-center doc-status">
                                    {% if  document.type.requiredForVerification %}
                                        <span class="badge badge-success ">{{ 'documents.table.required'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger ">{{ 'documents.table.not_required'|trans }}</span>
                                    {% endif %}
                                </td>
                                <td class="text-center doc-status">
                                    <span class="badge badge-success {% if not document.verified %} hidden {% endif %}">{{ 'users.filter.status_verified'|trans }}</span>
                                    <span class="badge badge-danger {% if document.verified %} hidden {% endif %}">{{ 'users.filter.status_not_verified'|trans }}</span>
                                </td>
                                <td class="text-right actions-btn">
                                    {% if document.files|length>0 %}
                                        <div class="doc-files hidden">
                                            {% for file in document.files %}
                                                <a href="{{ '/administration'~file.path }}" title="{{ file.name }}">
                                                    <img src="{{ '/administration'~file.path }}">
                                                </a>
                                            {% endfor %}
                                        </div>
                                        <a class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic show-doc-files"
                                           data-toggle="tooltip" data-title="{{ 'documents.table.show'|trans }}"
                                           href="javascript:;">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    {% endif %}
                                    {% if not is_granted('ROLE_ACCOUNTANT') %}
                                        {% if not document.verified %}
                                            <a data-url="{{ path('user_document_verification') }}"
                                               class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic verify-doc"
                                               data-toggle="tooltip" data-title="{{ 'documents.table.confirm'|trans }}" href="javascript:;"><i
                                                        class="fa fa-check"></i></a>
                                            <a class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic refuse-doc-verification"
                                               data-toggle="tooltip"
                                               data-title="{{ 'documents.table.refuse'|trans }}" href="javascript:;"><i class="fa fa-ban"></i></a>
                                        {% endif %}
                                    {% endif %}
                                    {% include '@App/admin/parts/btn-flag-item.html.twig' with {'item': document.id ,'indicator':indicator} %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row table-nav">
                    {{ knp_pagination_render(documents, ':KnpPaginatorBundle/Pagination:site_defaut_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="refuseVerificationModal" aria-labelledby="refuseVerification" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-simple">
            <form class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="exampleFormModalLabel">{{ 'system.documents.modal.refuse_title'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12 form-group">
                            <textarea class="form-control" rows="8" placeholder="{{ 'system.documents.modal.enter_reason'|trans }}" id="refuseReason"></textarea>
                        </div>
                        <div class="col-md-12 float-right">
                            <button data-url="{{ path('user_document_verification') }}" id="refuseVerificationBtn"
                                    class="btn btn-primary waves-effect waves-classic" data-dismiss="modal"
                                    type="button">{{ 'system.documents.modal.confirm'|trans }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/plugins/lightgallery/js/lightgallery.min.js') }}"></script>
    <script src="{{ asset('assets/admin/js/readmore.min.js') }}"></script>
    <script src="{{ asset('assets/admin/plugins/select2/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('assets/admin/js/plugin/select2.min.js') }}"></script>
    <script src="{{ asset('assets/admin/pages/users/documents.js') }}"></script>
{% endblock %}
