{% extends "AppBundle:admin/parts:layout.html.twig" %}
{% block title %}{{ 'side_menu.users.edit_user'|trans }}-{{ user.fullName }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/user/edit.css') }}">
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a></li>
            <li class="breadcrumb-item">
                {% if user.isSimpleUser() %}
                    <a href="{{ path('users') }}">{{ 'side_menu.users.all'|trans }}</a>
                {% else %}
                    <a href="{{ path('system_administrators') }}">{{ 'system.administrator.title'|trans }}</a>
                {% endif %}
            </li>
            <li class="breadcrumb-item active">
                {% if user.isSimpleUser() %}
                    {{ 'side_menu.users.edit_user'|trans }}
                {% else %}
                    {{ 'system.administrator.edit'|trans }}
                {% endif %}
            </li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="user-profile">
            {{ form_start(form, { attr: {novalidate: 'novalidate',enctype:"multipart/form-data"} }) }}
            <div class="personal-header">
                <div class="profile-cover" {% if user.coverPicture %} style="background-image: url('{{ user.coverPicture.path }}')" {% endif %}>
                    <label for="{{ form.coverPicture.file.vars.id }}">
                        <i class="fa fa-camera"></i>
                    </label>
                    {{ form_widget(form.coverPicture.file) }}
                </div>
                <div class="profile-picture" {% if user.picture %} style="background-image: url('{{ user.picture.path }}')" {% endif %}>
                    <label for="{{ form.picture.file.vars.id }}">
                        <i class="fa fa-camera"></i>
                    </label>
                    {{ form_widget(form.picture.file) }}
                </div>
            </div>
            <div class="user-profile-personals-container">
               <div class="profile-block-info mt-30">
                   <h4 class="block-title">{{ 'users.edit.account_information'|trans }}</h4>
                   <div class="form-input-theme mt-5">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email,{attr:{class:"form-control meduim "~(form.email.vars.errors|length>0?"is-invalid":'')}}) }}
                       <div class="invalid-feedback">
                           {{ form_errors(form.email) }}
                       </div>
                    </div>
               </div>
                <div class="profile-block-info mt-40">
                    <h4 class="block-title">{{ 'users.edit.personal_information'|trans }}</h4>
                    <div class="form-input-theme mt-10">
                        {{ form_label(form.firstName) }}
                        {{ form_widget(form.firstName,{attr:{class:'form-control meduim '~(form.firstName.vars.errors|length>0?"is-invalid":'')}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.firstName) }}
                        </div>
                    </div>
                    <div class="form-input-theme mt-5">
                        {{ form_label(form.lastName) }}
                        {{ form_widget(form.lastName,{attr:{class:'form-control meduim '~(form.lastName.vars.errors|length>0?"is-invalid":'')}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.lastName) }}
                        </div>
                    </div>
                    {% if user.isSimpleUser() %}
                    <div class="form-input-theme mt-10">
                        {{ form_label(form.birth_date) }}
                        {{ form_widget(form.birth_date,{attr:{class:'datepicker form-control meduim'}}) }}
                    </div>
                    {% endif %}
                </div>
                <div class="profile-block-info mt-40">
                    <h4 class="block-title">{{ 'users.edit.address_information'|trans }}</h4>
                    <div class="form-input-theme mt-5">
                        {{ form_label(form.location) }}
                        {{ form_widget(form.location,{attr:{class:'form-control meduim'}}) }}
                    </div>
                    <div class="form-input-theme mt-15">
                        {{ form_label(form.suburb) }}
                        {{ form_widget(form.suburb,{attr:{class:'form-control meduim'}}) }}
                    </div>
                    <div class="form-input-theme mt-10">
                        {{ form_label(form.phone) }}
                        {{ form_widget(form.phone,{attr:{class:'form-control meduim'}}) }}
                    </div>
                </div>
                {% if user.isSimpleUser() %}
                <div class="profile-block-info mt-40">
                    <h4 class="block-title">{{ 'users.edit.other_details'|trans }}</h4>
                    <div class="form-input-theme mt-5">
                        {{ form_label(form.tagLine) }}
                        {{ form_widget(form.tagLine,{attr:{class:'form-control meduim'}}) }}
                    </div>
                    <div class="form-input-theme mt-10">
                        {{ form_label(form.about) }}
                        {{ form_widget(form.about,{attr:{rows:10,class:'form-control shape-rounded'}}) }}
                    </div>
                </div>
                <div class="profile-block-info mt-40">
                    <h4 class="block-title">{{ 'users.details.skills.title'|trans }}</h4>
                    <div class="col-12 form-input-theme">
                       {{ form_widget(form.skills) }}
                    </div>
                </div>
                <div class="profile-block-info mt-40">
                    <h4 class="block-title">{{ 'users.details.portfolio'|trans }}</h4>
                    <div class="col-12">
                        {% for portfolio in user.portfolio %}
                            <div>
                                <img width="100" src="{{ portfolio.path }}" alt="{{ portfolio.name~portfolio.extension }}">
                            </div>
                        {% endfor %}
                        <div class="hidden">
                            {{ form_widget(form.portfolio) }}
                        </div>
                        {% if user.portfolio|length==0 %}
                            <div>
                                <i class="far fa-file-image fa-5x"></i>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="row pb-20">
                <button type="submit" class="btn btn-theme-primary float-right offset-5 col-2">{{ 'users.edit.save'|trans }}</button>
            </div>
            {{ form_widget(form._token) }}
            {{ form_end(form, {render_rest: false}) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js') }}"></script>
    <script src="{{ asset('assets/admin/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
    {% if app.request.locale == 'ar' %}
    <script src="{{ asset('assets/admin/plugins/bootstrap-datepicker/bootstrap-datepicker.ar.min.js') }}"></script>
    {% endif %}
    <script src="{{ asset('assets/admin/pages/user/edit.js') }}"></script>
{% endblock %}