{% extends "AppBundle:admin/parts:layout.html.twig" %}
{% block title %}{{ 'users.inactive'|trans }}{% endblock %}
{% block stylesheets %}
    <style>
        .tabs {
            background: #ffffff;
            border-radius: 10px;
            padding-left: 15px;
            padding-right: 15px;
            display: inline-block;
        }

        .tabs > .tab {
            display: inline-flex;
        }

        .tabs > .tab > a {
            padding: 15px 25px 10px 25px;
            text-decoration: none;
            font-weight: 500;
            opacity: 0.6;
        }

        .tabs > .tab.active a {
            opacity: 1;
            color: #008fb4;
            border-bottom: 2px solid #008fb4;
        }

        .users-table {
            background: white;
            margin-top: 20px;
            border-radius: 10px;
            padding: 10px;
        }

        .row {
            margin: 0;
        }
        #delete-user-modal .modal-dialog{
            max-width: 400px;
        }
        #delete-user-modal .delete-icon-title{
            color: #F8202D;
            background: #FFE7EB;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            text-align: center;
            font-size: 24px;
            line-height: 50px;
            vertical-align: bottom;
            display: block;
        }
        #delete-user-modal .close{
            font-size: 32px;
            position: absolute;
            top: 10px;
            right: 20px;
            color: #B3B3B3;
            font-weight: 400;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="page-header row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('users') }}">{{ 'side_menu.users.all'|trans }}</a></li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="panel" data-plugin="matchHeight" data-by-row="true">
            <div class="panel-heading">
                <div class="pt-20 mb-10">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="row align-items-center">
                                <div class="col-2 col-md-1 p-md-0 pager-size">
                                    <select class="form-control selectpicker bootstrap-select table-pagination-length"
                                            data-url="{{ path('save_table_page_length') }}"
                                            data-reload="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page':1})) }}">
                                        <option {% if app.session.get('tableLength',10) ==10 %} selected {% endif %} value="10">10</option>
                                        <option {% if app.session.get('tableLength') ==25 %} selected {% endif %}value="25">25</option>
                                        <option {% if app.session.get('tableLength') ==50 %} selected {% endif %}value="50">50 </option>
                                        <option {% if app.session.get('tableLength') ==100 %} selected {% endif %}value="100">100</option>
                                    </select>
                                </div>
                                <div class="col-5 col-md-4">
                                    <div class="input-icon input-icon--left">
                                        <input type="text" class="form-control" placeholder="{{ 'users.filter.search'|trans }} ..."
                                               data-url="{{ path('inactive_users') }}"
                                               id="search" value="{{ app.request.query.get('search') }}">
                                        <span class="input-icon__icon input-icon__icon--left">
							                <span><i class="md-search"></i></span>
						                </span>
                                    </div>
                                </div>
                                <div class="col-5 col-md-4">
                                    <div id="data-date-filter" class="date-range"
                                         data-start="{{ app.request.query.get('s_date') }}" data-end="{{ app.request.query.get('e_date') }}"
                                         data-url="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'s_date':'_start_','e_date':'_end_'})) }}">
                                        <i class="far fa-calendar-alt mr-10"></i>
                                        <span></span> <i class="fa fa-caret-down float-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body container-fluid pt-0">
                <div class="table-responsive">
                    <table class="users-table table mt-0">
                        <thead>
                        <tr>
                            <th>{{ 'table.user.join_date'|trans }}</th>
                            <th>{{ 'table.user.email'|trans }}</th>
                            <th>{{ 'table.user.location'|trans }}</th>
                            <th ></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr class="{% if user.id in indicator.items %}flagged{% endif %}">
                                <td>{{ user.createdAt|date('m-d-Y') }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.location??'-' }}</td>
                                <td class="text-right actions-btn">
                                    <button class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic btn-send-activation-email"
                                            data-url="{{ path('admin_send_activation_email', {'user': user.id}) }}"
                                            data-toggle="tooltip" data-title="{{ 'table.user.actions.send_activiation_email'|trans }}">
                                        <i class="far fa-envelope"></i>
                                    </button>
                                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERVISOR') %}
                                    <button data-toggle="modal" data-target="#delete-user-modal"
                                            data-url="{{ path('admin_delete_inactive_account', {'user': user.id}) }}"
                                            class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic btn-delete-account" >
                                        <i data-toggle="tooltip" data-title="{{ 'table.user.actions.delete_account'|trans }}" class="fas fa-trash-alt"></i>
                                    </button>
                                    {% endif %}
                                    {% include '@App/admin/parts/btn-flag-item.html.twig' with {'item': user.id ,'indicator':indicator} %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row table-nav">
                    {{ knp_pagination_render(users, ':KnpPaginatorBundle/Pagination:site_defaut_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete-user-modal" aria-labelledby="delete-user-modal" role="dialog"
         tabindex="-1" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-simple modal-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalTitle">
                        <span class="delete-icon-title">
                            <i class="fa fa-trash-alt"></i>
                        </span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h4>{{ 'delete_user_modal.title'|trans }}</h4>
                    <p>{{ 'delete_user_modal.info_1'|trans }}</p>
                    <p class="text-danger font-weight-bold">{{ 'delete_user_modal.info_2'|trans }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-inverse" data-dismiss="modal">{{ 'delete_user_modal.btn_cancel'|trans }}</button>
                    <button type="button" id="btn-delete-account" class="btn btn-danger">{{ 'delete_user_modal.btn_delete'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
  {% block javascripts %}
        <script>
            $(document).ready(function () {
                $('.btn-delete-account').click(function () {
                    $('.btn-delete-account.active').removeClass('active');
                    $(this).addClass('active')
                });
                $('#btn-delete-account').click(function () {
                   let elem = $('.btn-delete-account.active');
                   let url = elem.data('url');
                   let modalContent = $(this).closest('.modal-content');
                    $.ajax({
                        url:url,
                        method:'DELETE',
                        beforeSend:function(){
                            modalContent.loading({zIndex:1800})
                        },
                        success:function (data) {
                            miniToaster.fire({
                                type: 'success',
                                title: data.message
                            });
                            modalContent.find('.close').click();
                            modalContent.loading('stop');
                            elem.closest('tr').remove();
                        },
                        error:function (error) {
                            Swal.showValidationMessage(
                                `Request failed: ${error}`
                            );
                            modalContent.loading('stop');
                        }
                    });
                });
                $(document).on('click','.btn-send-activation-email:not(.disabled)',function () {
                    let elem = $(this);
                    let url = elem.data('url');
                    $.ajax({
                        url:url,
                        method:'POST',
                        beforeSend:function(){
                            elem.closest('tr').loading()
                        },
                        success:function (data) {
                            miniToaster.fire({
                                type: 'success',
                                title: data.message
                            });
                            elem.addClass('disabled');
                            elem.closest('tr').loading('stop');
                        },
                        error:function (error) {
                            miniToaster.fire({
                                type: 'error',
                                title: error
                            });
                            elem.closest('tr').loading('stop');
                        }
                    });
                });
                $(document).on('keypress','#search',function (e) {
                    if(e.which === 13){
                        let search= $(this).val();
                        if(search.length>0)
                            window.location=$('#search').data('url')+'?search='+search;
                        else
                            window.location=$('#search').data('url');

                    }
                });
            });
        </script>
    {% endblock %}
