{% extends "AppBundle:admin/parts:layout.html.twig" %}
{% block title %}{% if user.isSimpleUser() %}{{ 'users.add_user'|trans }}{% else %} {{ 'system.administrator.add'|trans }} {% endif %}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/user/new.css') }}">
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            </li>
            <li class="breadcrumb-item">
                {% if user.isSimpleUser() %}<a
                    href="{{ path('users') }}">{{ 'side_menu.users.all'|trans }}</a>{% else %}
                    <a href="{{ path('system_administrators') }}">{{ 'system.administrator.title'|trans }}</a>
                {% endif %}
            </li>
            <li class="breadcrumb-item active">{% if user.isSimpleUser() %}{{ 'users.add_user'|trans }}{% else %} {{ 'system.administrator.add'|trans }} {% endif %}</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="user-profile">
            {{ form_start(form, { attr: {novalidate: 'novalidate',enctype:"multipart/form-data"} }) }}
            <div class="personal-header">
                <div class="profile-cover pic-bg-display">
                    <label for="{{ form.coverPicture.vars.id }}_file">
                    {{ form_widget(form.coverPicture) }}
                    </label>
                </div>
                <div class="profile-picture pic-bg-display">
                    <label for="{{ form.picture.vars.id }}_file">
                    {{ form_widget(form.picture) }}
                    </label>
                </div>
            </div>
            <div class="user-profile-personals-container">
                <div class="profile-block-info mt-30">
                    <h4 class="block-title">{{ 'users.edit.account_information'|trans }}</h4>
                    <div class="form-input-theme mt-5">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email,{attr:{class:"form-control meduim "~(form.email.vars.errors|length>0?"is-invalid":'')}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                </div>
                <div class="profile-block-info mt-40">
                    <h4 class="block-title">{{ 'users.edit.personal_information'|trans }}</h4>
                    <div class="form-input-theme mt-10">
                        {{ form_label(form.firstName) }}
                        {{ form_widget(form.firstName,{attr:{class:'form-control meduim '~(form.firstName.vars.errors|length>0?"is-invalid":'')}}) }}
                        <div class="invalid-feedback">
                        {{ form_errors(form.firstName) }}
                        </div>
                    </div>
                    <div class="form-input-theme mt-5">
                        {{ form_label(form.lastName) }}
                        {{ form_widget(form.lastName,{attr:{class:'form-control meduim '~(form.lastName.vars.errors|length>0?"is-invalid":'')}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.lastName) }}
                        </div>
                    </div>
                    {% if user.isSimpleUser() %}
                        <div class="form-input-theme mt-10">
                            {{ form_label(form.birth_date) }}
                            {{ form_widget(form.birth_date,{attr:{class:'datepicker form-control meduim'},required:false}) }}
                        </div>
                    {% endif %}
                </div>
                <div class="profile-block-info mt-40">
                    <h4 class="block-title">{{ 'users.edit.address_information'|trans }}</h4>
                    <div class="form-input-theme mt-5">
                        {{ form_label(form.location) }}
                        {{ form_widget(form.location,{attr:{class:'form-control meduim'}}) }}
                    </div>
                    <div class="form-input-theme mt-15">
                        {{ form_label(form.suburb) }}
                        {{ form_widget(form.suburb,{attr:{class:'form-control meduim'}}) }}
                    </div>
                    <div class="form-input-theme mt-10">
                        {{ form_label(form.phone) }}
                        {{ form_widget(form.phone,{attr:{class:'form-control meduim'}}) }}
                    </div>
                </div>
                {% if user.isSimpleUser() %}
                    <div class="profile-block-info mt-40">
                        <h4 class="block-title">{{ 'users.edit.other_details'|trans }}</h4>
                        <div class="form-input-theme mt-5">
                            {{ form_label(form.tagLine) }}
                            {{ form_widget(form.tagLine,{attr:{class:'form-control meduim'}}) }}
                        </div>
                        <div class="form-input-theme mt-10">
                            {{ form_label(form.about) }}
                            {{ form_widget(form.about,{attr:{rows:10,class:'form-control shape-rounded'}}) }}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="row pb-20">
                <button type="submit"
                        class="btn btn-theme-primary float-right offset-5 col-2">{{ 'users.new_user.save'|trans }}</button>
            </div>
            {{ form_widget(form._token) }}
            {{ form_end(form,{render_rest:false}) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
    {% if app.request.locale == 'ar' %}
        <script src="{{ asset('assets/admin/plugins/bootstrap-datepicker/bootstrap-datepicker.ar.min.js') }}"></script>
    {% endif %}
    <script>
      $(document).ready(function () {
        $('.datepicker').datepicker({
          language: $('html').attr('lang'),
        });
        $('#user_coverPicture_file,#user_picture_file').on('change', e => {
          previewFile(e.currentTarget, $(e.currentTarget).closest('.pic-bg-display'))
        });
        $(document).on('click', 'label.reset-file', function (e) {
          e.preventDefault();
          $(this).parent().find('input[type=file]').val("").trigger('change');
        })
      });
    </script>
{% endblock %}
