{% extends "AppBundle:admin/parts:layout.html.twig" %}
{% block title %}{{ 'users.details.title'|trans }} {{ user.fullName }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/lightgallery/css/lightgallery.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/user/show.css') }}">
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            </li>
            <li class="breadcrumb-item"><a href="{{ path('users') }}">{{ 'side_menu.users.all'|trans }}</a></li>
            <li class="breadcrumb-item active">{{ 'users.details.title'|trans }}</li>
        </ol>
    </div>
    <div class="page-content container-fluid profile-page row">
        <div class="user-profile {% if user.isSimpleUser() %} col-md-8 {% else %} col-12 {% endif %} p-0">
            <div class="personal-header">
                <div class="profile-cover" {% if user.coverPicture %} style="background-image: url('{{ user.coverPicture.path }}')" {% endif %}></div>
                <div class="profile-picture" {% if user.picture %} style="background-image: url('{{ user.picture.path }}')" {% endif %}></div>
                <a data-toggle="tooltip" data-title="{{ 'users.details.edit_user'|trans }}"
                   class="btn btn-flat edit-user-btn"
                   href="{{ path('user_edit', {'id': user.id}) }}">
                    <i class="fa fa-pencil-alt"></i></a>
            </div>
            <div class="user-profile-personals-container">
                <div class="mt-30 row basic-info">
                    <div class="col-md-5">
                        <span class="name">{{ user.fullName }}</span><br>
                        <span class="name"> <i class="fal fa-envelope"></i> {{ user.email }}</span><br>
                        <span><i class="fal fa-clock"></i> {{ 'users.details.last_online'|trans }} {{ user.lastLogin|time_ago_in_words }}</span><br>
                        {% if user.location %}<span><i class="la la-map-marker"></i> {{ user.location }}</span><br>{% endif %}
                        <span> <i class="fad fa-calendar-plus"></i> {{ 'users.details.member_since'|trans }} {{ user.createdAt|date('d M Y') }}</span>
                        {% if user.phone %}
                            <br>
                            <i class="fal fa-phone"></i>&nbsp;&nbsp;{{ user.phone }}
                            {% if user.oldPhones %}
                                <button type="button" class="btn btn-sm"  data-toggle="popover" data-html="true" data-content='{{ 'user.old_phones'|trans }} : <ul class="pl-10">{% for phone in user.oldPhones %}<li>{{ phone.phoneNumber }}</li>{% endfor %}</ul>'>
                                    <i class="fad fa-archive"></i>
                                </button>
                            {% endif %}
                            <br>
                        {% endif %}
                    </div>
                    {% if user.isSimpleUser() %}
                        <div class="offset-md-2 col-md-5 font-size-12">
                        <div class="stats nav-tabs-horizontal">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link {% if user.userType != constant('TYPE_POSTER',user) %} active {% endif %}"
                                       data-toggle="tab" href="#reviewAsaTaskerTop" role="tab"
                                       aria-selected="true"
                                       id="show-tasker-reviews-top">{{ 'users.details.as_a_tasker'|trans }}</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link {% if user.userType == constant('TYPE_POSTER',user) %} active {% endif %}"
                                       data-toggle="tab" href="#reviewAsaPosterTop" role="tab"
                                       aria-selected="false"
                                       id="show-poster-reviews-top">{{ 'users.details.as_a_poster'|trans }}</a>
                                </li>
                            </ul>
                            <div class="tab-content pt-20">
                                <div class="tab-pane {% if user.userType != constant('TYPE_POSTER',user) %} active {% endif %}"
                                     id="reviewAsaTaskerTop" role="tabpanel">
                                    {% if taskerReviews['totalReviews']==0 %}
                                        <p class="no-reviews">{{ 'users.details.no_reviews'|trans }}</p>
                                    {% else %}
                                        <div data-plugin="rating" data-readonly="true"
                                             data-score="{{ taskerReviews['totalReviewsNote']|number_format(1,'.') }}"></div>
                                        <p class="font-size-14 m-0">
                                            {{ taskerReviews['totalReviewsNote']|number_format(1,'.')|replace({'.0':''}) }}
                                            {{ 'reviews.stars'|trans }}
                                            {{ taskerReviews['totalReviews']>1?'reviews.from_reviews'|trans({'_nbr_':taskerReviews['totalReviews']}):'reviews.from_review'|trans }}</p>
                                        <small>
                                            {{ (taskerReviews['completedTasks']>1?'reviews.competed_tasks':'reviews.competed_task')|trans({'_nbr_':taskerReviews['completedTasks']}) }}
                                        </small>
                                    {% endif %}
                                </div>
                                <div class="tab-pane {% if user.userType == constant('TYPE_POSTER',user) %} active {% endif %}"
                                     id="reviewAsaPosterTop" role="tabpanel">
                                    {% if posterReviews['totalReviews']==0 %}
                                        <p class="no-reviews">{{ 'users.details.no_reviews'|trans }}</p>
                                    {% else %}
                                        <div data-plugin="rating" data-readonly="true"
                                             data-score="{{ posterReviews['totalReviewsNote']|number_format(1,'.') }}"></div>
                                        <p class="font-size-14 m-0">
                                            {{ posterReviews['totalReviewsNote']|number_format(1,'.')|replace({'.0':''}) }}
                                            {{ 'reviews.stars'|trans }}
                                            {{ posterReviews['totalReviews']>1?'reviews.from_reviews'|trans({'_nbr_':posterReviews['totalReviews']}):'reviews.from_review'|trans }}</p>
                                        <small>
                                            {{ (posterReviews['completedTasks']>1?'reviews.competed_tasks':'reviews.competed_task')|trans({'_nbr_':posterReviews['completedTasks']}) }}
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% if user.isSimpleUser() %}
                <div class="mt-30 row">
                    {% if user.about %}
                        <div class="col-12">
                            <h5>{{ 'users.details.about'|trans }}</h5>
                            <div>{{ user.about }}</div>
                        </div>
                    {% endif %}
                    <div class="col-12 mt-30">
                        <h5>{{ 'users.details.portfolio'|trans }}</h5>
                        <div class="col-12 portfolio-images">
                            {% for image in user.portfolio %}
                                <div class="inline-block" href="{{ image.path }}" title="{{ image.name }}">
                                    <img width="150" class="mr-10" src="{{ image.path }}" alt="{{ image.name }}">
                                </div>
                            {% endfor %}
                            {% if user.portfolio|length == 0 %}
                                <p>{{ 'users.details.no_portfolio'|trans }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 mt-30">
                        <h5>{{ 'users.details.skills.title'|trans }}</h5>
                        <div class="row">
                            {% if user.skills.languages|length>0 %}
                                <div class="col-4">
                                    <div>{{ 'users.details.skills.languages'|trans }}</div>
                                    <div>
                                        {% for language in  user.skills.languages %}
                                            <span class="badge badge-info mt-5">{{ language }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            {% if user.skills.education|length>0 %}
                                <div class="col-4">
                                    <div>{{ 'users.details.skills.educations'|trans }}</div>
                                    <div>
                                        {% for education in  user.skills.education %}
                                            <span class="badge badge-info mt-5">{{ education }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if user.skills.experience|length>0 %}
                                <div class="col-4">
                                    <div>{{ 'users.details.skills.experience'|trans }}</div>
                                    <div>
                                        {% for experience in  user.skills.experience %}
                                            <span class="badge badge-info mt-5">{{ experience }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if user.skills.goodAt|length>0 %}
                                <div class="col-4">
                                    <div>{{ 'users.details.skills.good_at'|trans }}</div>
                                    <div>
                                        {% for goodAt in  user.skills.goodAt %}
                                            <span class="badge badge-info mt-5">{{ goodAt }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if user.skills.qualifications|length>0 %}
                                <div class="col-4">
                                    <div>{{ 'users.details.skills.qualifications'|trans }}</div>
                                    <div>
                                        {% for qualifications in  user.skills.qualifications %}
                                            <span class="badge badge-info mt-5">{{ qualifications }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if user.skills.getAround|length>0 %}
                                <div class="col-4">
                                    <div>{{ 'users.details.skills.get_around'|trans }}</div>
                                    <div>
                                        {% for getAround in  user.skills.getAround %}
                                            <span class="badge badge-info mt-5">{{ getAround }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if user.skills.languages|length==0 and user.skills.education|length==0 and user.skills.experience|length==0
                                and user.skills.goodAt|length==0  and user.skills.qualifications|length==0 and user.skills.getAround|length==0 %}
                                <p> <h5>{{ 'users.details.no_skills'|trans }}</h5></p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 mt-30">
                        <h5>{{ 'users.details.reviews'|trans }}</h5>
                        <div class="stats nav-tabs-horizontal">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link {% if user.userType != constant('TYPE_POSTER',user) %} active {% endif %}"
                                       data-toggle="tab" href="#reviewAsaTasker" role="tab"
                                       aria-selected="true"
                                       id="show-tasker-reviews">{{ 'users.details.as_a_tasker'|trans }}</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link {% if user.userType == constant('TYPE_POSTER',user) %} active {% endif %}"
                                       data-toggle="tab" href="#reviewAsaPoster" role="tab"
                                       aria-selected="false"
                                       id="show-poster-reviews">{{ 'users.details.as_a_poster'|trans }}</a>
                                </li>
                            </ul>
                            <div class="tab-content pt-20">
                                <div class="tab-pane {% if user.userType != constant('TYPE_POSTER',user) %} active {% endif %}"
                                     id="reviewAsaTasker" role="tabpanel">
                                    {% if taskerReviews['totalReviews']==0 %}
                                        <p class="no-reviews">{{ 'users.details.no_reviews'|trans }}</p>
                                    {% else %}
                                        <div class="review-stats">
                                            <div>
                                                <div data-plugin="rating" data-readonly="true"
                                                     data-score="{{ taskerReviews['totalReviewsNote']|number_format(1,'.') }}"></div>
                                                <p class="font-size-14 m-0">
                                                    {{ taskerReviews['totalReviewsNote']|number_format(1,'.')|replace({'.0':''}) }}
                                                    {{ 'reviews.stars'|trans }}
                                                    {{ taskerReviews['totalReviews']>1?'reviews.from_reviews'|trans({'_nbr_':taskerReviews['totalReviews']}):'reviews.from_review'|trans }}</p>
                                                <small>
                                                    {{ (taskerReviews['completedTasks']>1?'reviews.competed_tasks':'reviews.competed_task')|trans({'_nbr_':taskerReviews['completedTasks']}) }}
                                                </small>
                                            </div>
                                            <div class="text-right">
                                                <div class="rating-sm" data-plugin="rating"
                                                     data-score="{{ taskerReviews['reviewsNotes'][5]>0?5:0 }}"
                                                     data-readonly="true" data-stars="5">
                                                    <span class="float-right">{{ taskerReviews['reviewsNotes'][5] }}</span>
                                                </div>
                                                <div class="rating-sm" data-plugin="rating"
                                                     data-score="{{ taskerReviews['reviewsNotes'][4]>0?4:0 }}"
                                                     data-readonly="true" data-stars="4">
                                                    <span class="float-right">{{ taskerReviews['reviewsNotes'][4] }}</span>
                                                </div>
                                                <div class="rating-sm" data-plugin="rating"
                                                     data-score="{{ taskerReviews['reviewsNotes'][3]>0?3:0 }}"
                                                     data-readonly="true" data-stars="3">
                                                    <span class="float-right">{{ taskerReviews['reviewsNotes'][3] }}</span>
                                                </div>
                                                <div class="rating-sm" data-plugin="rating"
                                                     data-score="{{ taskerReviews['reviewsNotes'][2]>0?2:0 }}"
                                                     data-readonly="true" data-stars="2">
                                                    <span class="float-right">{{ taskerReviews['reviewsNotes'][2] }}</span>
                                                </div>
                                                <div class="rating-sm" data-plugin="rating"
                                                     data-score="{{ taskerReviews['reviewsNotes'][1]>0?1:0 }}"
                                                     data-readonly="true" data-stars="1">
                                                    <span class="float-right">{{ taskerReviews['reviewsNotes'][1] }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        {% for review in taskerReviews['reviews'] %}
                                            <div class="review row mb-10">
                                                <div class="reviewer-picture col-2">
                                                    <a href="{{ path('user_details',{'id':review.createdBy.id}) }}">
                                                        {% if review.createdBy.picture %}
                                                            <img class="img-circle"
                                                                 src="{{ review.createdBy.picture.path }}"
                                                                 width="62" height="62"
                                                                 alt="{{ review.createdBy.fullName }}">
                                                        {% else %}
                                                            <div class="user-badge"> {{ review.createdBy.logoName }}</div>
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <div class="review-content col-10 p-0">
                                                    <div data-plugin="rating" data-readonly="true"
                                                         data-score="{{ review.note }}"></div>
                                                    <time class="date"
                                                          datetime="{{ review.createdAt|date('d-m-Y H:i:s') }}"
                                                          itemprop="datePublished"
                                                          data-toggle="tooltip"
                                                          data-original-title="{{ review.createdAt|date('d-m-Y H:i:s') }}">{{ review.createdAt|time_ago_in_words }}</time>
                                                    <br>
                                                    <a href="{{ path('task_show', {'id': review.task.id}) }}"
                                                       class="font-size-14 font-weight-600">{{ review.task.title }}</a>
                                                    <div class="review-msg">
                                                        <span>
                                                            <a href="{{ path('user_details',{'id':review.createdBy.id}) }}"
                                                               class="reviewer-name">{{ review.createdBy.fullName }}</a>
                                                        </span>
                                                        :
                                                        "<span class="msg-body">{{ review.description }}</span>"
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="tab-pane {% if user.userType == constant('TYPE_POSTER',user) %} active {% endif %}"
                                     id="reviewAsaPoster" role="tabpanel">
                                    {% if posterReviews['totalReviews']==0 %}
                                        <p class="no-reviews">{{ 'users.details.no_reviews'|trans }}</p>
                                    {% else %}
                                        <div class="review-stats">
                                            <div>
                                                <div data-plugin="rating" data-readonly="true"
                                                     data-score="{{ posterReviews['totalReviewsNote']|number_format(1,'.') }}"></div>
                                                <p class="font-size-14 m-0">
                                                    {{ posterReviews['totalReviewsNote']|number_format(1,'.')|replace({'.0':''}) }}
                                                    {{ 'reviews.stars'|trans }}
                                                    {{ posterReviews['totalReviews']>1?'reviews.from_reviews'|trans({'_nbr_':posterReviews['totalReviews']}):'reviews.from_review'|trans }}</p>
                                                <small>
                                                    {{ (posterReviews['completedTasks']>1?'reviews.competed_tasks':'reviews.competed_task')|trans({'_nbr_':posterReviews['completedTasks']}) }}
                                                </small>
                                            </div>
                                            <div class="text-right">
                                                <div class="rating-sm" data-plugin="rating"
                                                     data-score="{{ posterReviews['reviewsNotes'][5]>0?5:0 }}"
                                                     data-readonly="true" data-stars="5">
                                                    <span class="float-right">{{ posterReviews['reviewsNotes'][5] }}</span>
                                                </div>
                                                <div class="rating-sm" data-plugin="rating"
                                                     data-score="{{ posterReviews['reviewsNotes'][4]>0?4:0 }}"
                                                     data-readonly="true" data-stars="4">
                                                    <span class="float-right">{{ posterReviews['reviewsNotes'][4] }}</span>
                                                </div>
                                                <div class="rating-sm" data-plugin="rating"
                                                     data-score="{{ posterReviews['reviewsNotes'][3]>0?3:0 }}"
                                                     data-readonly="true" data-stars="3">
                                                    <span class="float-right">{{ posterReviews['reviewsNotes'][3] }}</span>
                                                </div>
                                                <div class="rating-sm" data-plugin="rating"
                                                     data-score="{{ posterReviews['reviewsNotes'][2]>0?2:0 }}"
                                                     data-readonly="true" data-stars="2">
                                                    <span class="float-right">{{ posterReviews['reviewsNotes'][2] }}</span>
                                                </div>
                                                <div class="rating-sm" data-plugin="rating"
                                                     data-score="{{ posterReviews['reviewsNotes'][1]>0?1:0 }}"
                                                     data-readonly="true" data-stars="1">
                                                    <span class="float-right">{{ posterReviews['reviewsNotes'][1] }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        {% for review in posterReviews['reviews'] %}
                                            <div class="review row mb-10">
                                                <div class="reviewer-picture col-2">
                                                    <a href="{{ path('user_details',{'id':review.createdBy.id}) }}">
                                                        {% if review.createdBy.picture %}
                                                            <img class="img-circle"
                                                                 src="{{ review.createdBy.picture.path }}"
                                                                 width="62" height="62"
                                                                 alt="{{ review.createdBy.fullName }}">
                                                        {% else %}
                                                            <div class="user-badge"> {{ review.createdBy.logoName }}</div>
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <div class="review-content col-10 p-0">
                                                    <div data-plugin="rating" data-readonly="true"
                                                         data-score="{{ review.note }}"></div>
                                                    <time class="date"
                                                          datetime="{{ review.createdAt|date('d-m-Y H:i:s') }}"
                                                          itemprop="datePublished"
                                                          data-toggle="tooltip"
                                                          data-original-title="{{ review.createdAt|date('d-m-Y H:i:s') }}">{{ review.createdAt|time_ago_in_words }}</time>
                                                    <br>
                                                    <a href="{{ path('task_show', {'id': review.task.id}) }}"
                                                       class="font-size-14 font-weight-600">{{ review.task.title }}</a>
                                                    <div class="review-msg">
                                                        <span>
                                                            <a href="{{ path('user_details',{'id':review.createdBy.id}) }}"
                                                               class="reviewer-name">{{ review.createdBy.fullName }}</a>
                                                        </span>
                                                        :
                                                        "<span class="msg-body">{{ review.description }}</span>"
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% if user.isSimpleUser() %}
        <div class="col-3 ml-20 p-0">
            <div class="panel" id="verification-box">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">{{ 'table.user.balance'|trans }}</h3>
                </div>
                <div class="panel-body p-20 text-center ">
                    <h4>
                        <span>{{ user.wallet.balance|number_format(2,'.',' ') }} </span>
                        <span>{{ currentRegion().currencySymbol }}</span>
                    </h4>
                </div>
            </div>
            <div class="panel" id="verification-box">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">{{ 'table.user.locked_balance'|trans }}</h3>
                </div>
                <div class="panel-body p-20 text-center ">
                    <h4>
                        <span>{{ user.wallet.lockedBalance|number_format(2,'.',' ') }} </span>
                        <span>{{ currentRegion().currencySymbol }}</span>
                    </h4>
                </div>
            </div>
            {% if haveToPay>0 %}
                <div class="panel" id="verification-box">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">{{ 'users.details.have_to_pay'|trans }}</h3>
                    </div>
                    <div class="panel-body p-20 text-center">
                        <h4>
                            <span>{{ haveToPay|number_format(2,'.',' ') }} </span>
                            <span>{{ currentRegion().currencySymbol }}</span>
                        </h4>
                    </div>
                </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/admin/plugins/bootstrap-datepicker/bootstrap-datepicker.en-GB.min.js') }}"></script>
    <script src="{{ asset('assets/admin/plugins/lightgallery/js/lightgallery.min.js') }}"></script>
    <script src="{{ asset('assets/admin/pages/user/show.js') }}"></script>
{% endblock %}
