{% import ":macro:sort.macro.html.twig" as sort_column %}
{% extends "AppBundle:admin/parts:layout.html.twig" %}
{% block title %}{{ 'side_menu.users.active'|trans }} - {{ user.fullName }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/user/transactions.css') }}">
{% endblock %}
{% block body %}
    <div class="page-header row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            </li>
            <li class="breadcrumb-item"><a href="{{ path('users') }}">{{ 'side_menu.users.active'|trans }}</a></li>
            <li class="breadcrumb-item active">{{ user.fullName() }}</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body position-relative">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <div class="icon-warning">
                                    <img width="61" src="{{ asset('assets/admin/images/dollar.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-7 p-0">
                            <div class="numbers">
                                <div>
                                    <p class="card-category">{{ 'transaction.type.total_balance'|trans }}</p>
                                    <h3 class="card-title text-info"> {{ user.wallet.totalBalance }} {{ user.country.currencySymbol }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title"></h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body position-relative">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <div class="icon-warning">
                                    <img width="61" src="{{ asset('assets/admin/images/pay-per-click.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-7 p-0">
                            <div class="numbers">
                                <div>
                                    <p class="card-category">{{ 'transaction.type.free_balance'|trans }}</p>
                                    <h3 class="card-title text-success"> {{ user.wallet.balance }} {{ user.country.currencySymbol }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title"></h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body position-relative">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <div class="icon-warning">
                                    <img width="61" src="{{ asset('assets/admin/images/deposit.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-7 p-0">
                            <div class="numbers">
                                <div>
                                    <p class="card-category">{{ 'transaction.type.locked_balance'|trans }}</p>
                                    <h3 class="card-title text-danger"> {{ user.wallet.lockedBalance }} {{ user.country.currencySymbol }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title"></h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body position-relative">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <div class="icon-warning">
                                    <img width="61" src="{{ asset('assets/admin/images/withdraw.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-7 p-0">
                            <div class="numbers">
                                <div>
                                    <p class="card-category">{{ 'transaction.type.credit'|trans }}</p>
                                    <h3 class="card-title text-warning"> {{ user.wallet.credit }} {{ user.country.currencySymbol }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title"></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content container-fluid">
        <div class="panel" data-plugin="matchHeight" data-by-row="true">
            <div class="panel-heading">
                <div class="pt-20 mb-10">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="row align-items-center">
                                {% include '@App/admin/widget/page-length.html.twig' %}
                                <div class="col-4">
                                    <select title="{{ 'transactions.filter.type'|trans }}" id="transaction-type"
                                            class="form-control selectpicker bootstrap-select filter-selector">
                                        {% if app.request.query.get('type') %}
                                            <option selected value="{{ updateUrl(app.request,{'type':''}) }}">{{ 'transactions.filter.all'|trans }}</option>
                                        {% else %}
                                            <option disabled selected value>{{ 'transactions.filter.type'|trans }}</option>
                                        {% endif %}
                                        <option {% if app.request.query.get('type') == "task_complete" %} selected {% endif %}
                                                value="{{ updateUrl(app.request,{'type':'task_complete'}) }}">{{ 'transaction.type.task_complete'|transDb }}</option>
                                        <option {% if app.request.query.get('type') == "deal_cancelled" %} selected {% endif %}
                                                value="{{ updateUrl(app.request,{'type':'deal_cancelled'}) }}">{{ 'transaction.type.deal_cancelled'|transDb }}</option>
                                        <option {% if app.request.query.get('type') == "fees" %} selected {% endif %}
                                                value="{{ updateUrl(app.request,{'type':'fees'}) }}">{{ 'transaction.type.fees'|transDb }}</option>
                                        <option {% if app.request.query.get('type') == "country_tax" %} selected {% endif %}
                                                value="{{ updateUrl(app.request,{'type':'country_tax'}) }}">{{ 'transaction.type.country_tax'|transDb }}</option>
                                        <option {% if app.request.query.get('type') == "support_correction" %} selected {% endif %}
                                                value="{{ updateUrl(app.request,{'type':'support_correction'}) }}">{{ 'transaction.type.support_correction'|transDb }}</option>
                                        <option {% if app.request.query.get('type') == "compensation" %} selected {% endif %}
                                                value="{{ updateUrl(app.request,{'type':'compensation'}) }}">{{ 'transaction.type.compensation'|transDb }}</option>
                                        <option {% if app.request.query.get('type') == "task_tip" %} selected {% endif %}
                                                value="{{ updateUrl(app.request,{'type':'task_tip'}) }}">{{ 'transaction.type.task_tip'|transDb }}</option>
                                        <option {% if app.request.query.get('type') == "referral" %} selected {% endif %}
                                                value="{{ updateUrl(app.request,{'type':'referral'}) }}">{{ 'transaction.type.referral'|transDb }}</option>
                                    </select>
                                </div>
                                <div id="data-date-filter" class="col-5 col-sm-4 col-md-4 col-lg-3 date-range"
                                     data-start="{{ app.request.query.get('s_date') }}"
                                     data-end="{{ app.request.query.get('e_date') }}"
                                     data-url="{{ updateUrl(app.request,{'s_date':'_start_','e_date':'_end_'}) }}">
                                    <i class="far fa-calendar-alt mr-10"></i>
                                    <span></span> <i class="fa fa-caret-down float-right"></i>
                                </div>
                                <div class="col-1 col-md-3 col-lg-4 p-0">
                                    <a class="btn btn-outline-primary float-right" id="export-user-transaction"
                                       href="{{ path('user_transactions_export',{'id':user.id}) }}" download>
                                        <i class="far fa-file-pdf mr-5"></i>
                                        <span class="hidden-sm-down">{{ 'users.transactions.export'|trans }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body container-fluid  table-responsive">
                <table class="align-middle mb-0 table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{{ 'transaction.table.date'|trans }}  {{ sort_column.sort("date") }}</th>
                        <th>{{ 'transaction.table.from'|trans }}  {{ sort_column.sort("from") }}</th>
                        <th>{{ 'transaction.table.to'|trans }}  {{ sort_column.sort("for") }}</th>
                        <th>{{ 'transaction.table.type'|trans }}  {{ sort_column.sort("type") }}</th>
                        <th class="text-center">{{ 'task.table.payment_type'|trans }}  </th>
                        <th>{{ 'transaction.table.price'|trans }}  {{ sort_column.sort("price") }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td style="min-width: 100px">{{ transaction.createdAt|date('d-m-Y H:i') }}</td>
                            <td>
                                <div class="user-info">
                                    {% if transaction.fromUser %}
                                        <div class="user-icon">
                                            {% if transaction.fromUser.picture %}
                                                <img src="{{ asset( transaction.fromUser.picture.path??'assets/admin/images/default-user.png') }}"
                                                     alt="{{ transaction.fromUser.fullName }}">
                                            {% else %}
                                                <div class="user-badge">
                                                    {{ transaction.fromUser.firstname|first|upper~transaction.fromUser.lastname|first|upper }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="user-details">
                                            <a href="{{ path('user_details', {'id': transaction.fromUser.id}) }}">{{ transaction.fromUser.firstname~' '~transaction.fromUser.lastname }}</a>
                                            <div data-plugin="rating" data-readonly="true" class="rating-sm"
                                                 data-score="{{ transaction.fromUser.note|number_format(1,'.') }}"
                                                 data-toggle="tooltip"
                                                 data-title="{{ (transaction.fromUser.userType == constant('TYPE_TASKER',transaction.fromUser)?transaction.fromUser.reviewAsaTasker:transaction.fromUser.reviewAsaPoster)|length }} {{ 'layout.reviews'|trans }}">
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="user-icon">
                                            <img src="{{ asset('assets/img/logo/logo_v2.png') }}" alt="">
                                        </div>
                                        <div class="user-details">
                                            {{ 'layout.app_name'|trans }}
                                        </div>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="user-info">
                                    {% if transaction.toUser %}
                                        <div class="user-icon">
                                            {% if transaction.toUser.picture %}
                                                <img src="{{ asset( transaction.toUser.picture.path??'assets/admin/images/default-user.png') }}"
                                                     alt="">
                                            {% else %}
                                                <div class="user-badge">
                                                    {{ transaction.toUser.firstname|first|upper~transaction.toUser.lastname|first|upper }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="user-details">
                                            <a href="{{ path('user_details', {'id': transaction.toUser.id}) }}">{{ transaction.toUser.firstname~' '~transaction.toUser.lastname }}</a>
                                            <div data-plugin="rating" data-readonly="true" class="rating-sm"
                                                 data-score="{{ transaction.toUser.note|number_format(1,'.') }}"
                                                 data-toggle="tooltip"
                                                 data-title="{{ (transaction.toUser.userType == constant('TYPE_TASKER',transaction.toUser)?transaction.toUser.reviewAsaTasker:transaction.toUser.reviewAsaPoster)|length }} {{ 'layout.reviews'|trans }}">
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="user-icon">
                                            <img src="{{ asset('assets/img/logo/logo_v2.png') }}" alt="">
                                        </div>
                                        <div class="user-details">
                                            {{ 'layout.app_name'|trans }}
                                        </div>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                {{ ('transaction.type.'~transaction.type)|transDb }}
                                {% if transaction.task is not null %}
                                    <div>
                                        <a href="{{ path('task_show', {'id': transaction.task.id}) }}">
                                            {{ transaction.task.title|length > 20 ? transaction.task.title|slice(0, 20) ~ '...' : transaction.task.title }}</a>
                                    </div>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if  transaction.paymentType == 1 %}
                                    <img data-toggle="tooltip" title="{{ 'task.payment_type.cash'|trans }}"
                                         width="28" src="{{ asset('assets/img/icon/cash.png') }}" alt="">
                                {% elseif transaction.paymentType == 2 %}
                                    <img data-toggle="tooltip" title="{{ 'task.payment_type.wallet'|trans }}"
                                         width="28" src="{{ asset('assets/img/icon/wallet.png') }}" alt="">
                                {% elseif transaction.paymentType == 3 %}
                                    <img data-toggle="tooltip" title="{{ 'task.payment_type.card'|trans }}"
                                         width="28" src="{{ asset('assets/img/icon/master-card.png') }}" alt="">
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="{% if transaction.toUser is not null and transaction.toUser.id == user.id %} text-success {% else %} text-danger {% endif %}">{{ transaction.price(user) }} {{ user.country.currencySymbol }}</td>
                        </tr>
                    {% endfor %}
                    {% if transactions|length==0 %}
                        <tr>
                            <td colspan="6"
                                class="text-center p-30 font-size-14">{{ 'transaction.table.no_data'|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <div class="row table-nav">
                    {{ knp_pagination_render(transactions, ':KnpPaginatorBundle/Pagination:site_defaut_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    {% if lockedBalance|length>0 %}
    <div class="page-content container-fluid">
        <div class="panel" data-plugin="matchHeight" data-by-row="true">
            <div class="panel-body container-fluid">
                <h3>{{ 'table.user.locked_balance'|trans }}</h3>
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th>{{ 'transaction.table.date'|trans }}</th>
                        <th>{{ 'transaction.table.locked_operation'|trans }}</th>
                        <th>{{ 'transaction.table.price'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for locked in lockedBalance %}
                        <tr>
                            <td>{{ locked.createdAt|date('d-m-Y H:i') }}</td>
                            <td>
                                {% if instanceOfTask(locked) %}
                                    <h6 class="mb-0">{{ 'transaction.table.locked_operation_task'|trans }}</h6>
                                    <a class="text-primary" href="{{ path('task_show',{'id':locked.id}) }}">{{ locked.title }}</a>
                                {% elseif  locked.type == constant('TYPE_TASK_INVOICE',locked) %}
                                    <h6>{{ 'transaction.type.task_invoice'|transDb }}</h6>
                                    <a class="text-primary" href="{{ path('task_show',{'id':locked.task.id}) }}">{{ locked.task.title }}</a>
                                {% else %}
                                    <a href="{{ path('admin_withdraw_request_details',{id:locked.id}) }}">
                                        {{ 'transaction.table.locked_operation_withdraw'|trans }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ locked.price }} {{ currentRegion().currencySymbol() }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
