{% import ":macro:sort.macro.html.twig" as sort_column %}
{% extends "AppBundle:admin/parts:layout.html.twig" %}
{% block title %}{{ 'side_menu.users.active'|trans }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/bootstrapdatetimepicker/css/bootstrap-datetimepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/users/users.css') }}">
{% endblock %}
{% block body %}
    <div class="page-header row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('users') }}">{{ 'side_menu.users.all'|trans }}</a></li>
            <li class="breadcrumb-item active">{{ 'side_menu.users.active'|trans }}</li>
        </ol>
        <div id="mini-stats">
            <ul style="list-style: none">
                <li>{{ 'users.totlal_members'|trans }} : <b>{{ totalAccount }}</b></li>
                <li>{{ 'users.verified_members'|trans }} : <b>{{ verifiedUserNumber }}</b></li>
            </ul>
        </div>
    </div>
    <div class="page-content container-fluid">
        <div class="table-controls col-12 mt-20 mb-10 p-0 text-right">
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERVISOR') %}
                <a href="{{ path('user_add') }}" class="btn btn-outline-primary">{{ 'users.add_user'|trans }}</a>
                {% if not is_granted('ROLE_SUPERVISOR') %}
                    <a class="btn btn-outline-primary" href="{{ path('admin_export_active_users_csv') }}" download><i class="fa fa-file-download"></i> {{ 'users.exports'|trans }}</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="panel" data-plugin="matchHeight" data-by-row="true">
            <div class="panel-heading">
                <div class="pt-20 mb-10">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="row align-items-center">
                                {% include '@App/admin/widget/page-length.html.twig' %}
                                <div class="col-5 col-md-4">
                                    {% include '@App/admin/widget/search.html.twig' %}
                                </div>
                                <div class="col-4 col-md-3 pl-sm-0">
                                    <div class="form__group--inline block">
                                        <div class="form__label hidden-md-down">
                                            <label for="status-filter">{{ 'users.filter.status'|trans }}</label>
                                        </div>
                                        <div class="form__control">
                                            <select data-url="" class="form-control selectpicker bootstrap-select filter-selector" id="status-filter">
                                                <option {% if not app.request.query.has('status')%} selected {% endif %}
                                                        value="{{ updateUrl(app.request,{'status':''}) }}">{{ 'document.status.all'|trans }}
                                                </option>
                                                <option {% if app.request.query.get('status') == "verified" %} selected {% endif %}
                                                        value="{{ updateUrl(app.request,{'status':'verified'}) }}">{{ 'users.filter.status_verified'|trans }}</option>
                                                <option {% if app.request.query.get('status') == "unverified" %} selected {% endif %}
                                                        value="{{ updateUrl(app.request,{'status':'unverified'}) }}">{{ 'users.filter.status_not_verified'|trans }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1 col-md-4 col-lg-3 pl-sm-0">
                                    <div id="data-date-filter" class="date-range"
                                         data-start="{{ app.request.query.get('s_date') }}" data-end="{{ app.request.query.get('e_date') }}"
                                         data-url="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'s_date':'_start_','e_date':'_end_'})) }}">
                                        <i class="far fa-calendar-alt mr-10"></i>
                                        <span></span> <i class="fa fa-caret-down float-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body container-fluid pt-0">
                <div class="table-responsive">
                    <table class="users-table table mt-0">
                        <thead class="header-table">
                        <tr>
                            <th class="text-center">{{ 'table.user.join_date'|trans }} {{ sort_column.sort("join") }}</th>
                            <th class="text-center hidden-sm-down">{{ 'table.user.photo'|trans }}</th>
                            <th class="text-left">{{ 'table.user.name'|trans }} {{ sort_column.sort("name") }}</th>
                            <th class="text-center">{{ 'table.user.status'|trans }} {{ sort_column.sort("status") }}</th>
                            <th class="text-center">{{ 'table.user.last_login'|trans }} {{ sort_column.sort("lastLogin") }}</th>
                            <th class="text-right">{{ 'table.user.balance'|trans }} {{ sort_column.sort("balance") }}</th>
                            <th class="text-right">{{ 'table.user.locked_balance'|trans }} {{ sort_column.sort("locked_balance") }}</th>
                            <th ></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr class="{% if user.id in indicator.items %}flagged{% endif %}">
                                <td class="text-center">{{ user.createdAt|date('d-m-Y') }}</td>
                                <td class="user-logo hidden-sm-down text-center">
                                    {% if user.picture %}
                                        <img src="{{ asset( user.picture.path??'assets/img/default-user.png') }}"
                                             alt="">
                                    {% else %}
                                        <div class="user-badge d-block m-auto">
                                            {{ user.firstname|first|upper~user.lastname|first|upper }}
                                        </div>
                                    {% endif %}
                                </td>
                                <td class="text-left">{{ user.firstname ~' '~user.lastname }}</td>
                                <td class="text-center">
                                    {% if user.verified %}
                                        <span class="badge badge-success">{{ 'users.filter.status_verified'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ 'users.filter.status_not_verified'|trans }}</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">{{ user.lastLogin|date('d-m-Y H:i') }}</td>
                                <td class="text-right"><span class="user-balance">{{ user.wallet.balance }}</span> {{ currentRegion().currencySymbol }}</td>
                                <td class="text-right">{{ user.wallet.lockedBalance }} {{ currentRegion().currencySymbol }}</td>
                                <td class="text-right actions-btn" style="min-width: 120px">
                                    <a class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic waves-effect waves-classic"
                                       data-toggle="tooltip" data-title="{{ 'table.user.actions.show_details'|trans }}"
                                       href="{{ path('user_details', {'id': user.id }) }}"><i class="fa fa-user-edit"></i></a>
                                    <button class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic btn-ban-user"
                                            data-toggle="tooltip" data-title="{{ 'table.user.actions.block_access'|trans }}"
                                            data-url="{{ path('user_ban', { 'id': user.id }) }}"><i class="fa fa-lock"></i>
                                    </button>
                                    {% if user.blockedStars > 0 %}
                                    <button class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic unlock-stars"
                                            data-toggle="tooltip" data-title="{{ 'table.user.actions.unlock_stars'|trans }}"
                                            data-url="{{ path('admin_unlock_user_stars', { 'user':user.id }) }}">
                                        <i class="fas fa-star"></i>
                                    </button>
                                    {% endif %}
                                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERVISOR') or is_granted('ROLE_ACCOUNTANT') %}
                                        <button data-toggle="tooltip" data-title="{{ 'table.user.actions.update_balance'|trans }}"
                                                data-url="{{ path('admin_set_balance', {'user': user.id}) }}"
                                                class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic btn-update-balance">
                                            <i class="fas fa-hand-holding-usd"></i>
                                        </button>
                                    {% endif %}
                                    <a class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic waves-effect waves-classic"
                                       data-toggle="tooltip" data-title="{{ 'table.user.actions.transactions'|trans }}"
                                       href="{{ path('user_transactions', { 'id':user.id }) }}"><i class="fas fa-university"></i></a>
                                    {% include '@App/admin/parts/btn-flag-item.html.twig' with {'item': user.id ,'indicator':indicator} %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="no-result d-none">
                    <span>No data</span>
                </div>
                <div class="row table-nav">
                    {{ knp_pagination_render(users, ':KnpPaginatorBundle/Pagination:site_defaut_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="block-user-modal" aria-labelledby="block-user-modal" role="dialog"
         tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-simple modal-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalTitle">
                        <span class="delete-icon-title">
                            <i class="fa fa-user-lock"></i>
                        </span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h4>{{ 'users.modal.block_user.title'|trans }}</h4>
                    <p>{{ 'users.modal.block_user.warning_msg'|trans }}</p>
                    <div class="form-input-theme mb-10">
                        <select class="col-md-6 pl-0 form-control selectpicker bootstrap-select" name="banDuration" id="ban-type">
                            <option selected value="permanent">{{ 'users.modal.block_user.ban_duration_permanent'|trans  }}</option>
                            <option value="temporary">{{ 'users.modal.block_user.ban_duration_temporary'|trans  }}</option>
                        </select>
                    </div>
                    <div class="form-group form-input-theme input-group hidden mb-20 mt-20">
                        <div class="input-group">
                            <input type="text" data-min="0" class="number-validate pl-10" id="ban-duration"
                                   placeholder="{{ 'users.modal.block_user.select_block_period'|trans }}">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="far fa-clock"></i></span>
                            </div>
                        </div>
                        <span class="error-msg">{{ 'users.modal.block_user.validation.ban_reason'|trans }}</span>
                    </div>
                    <div class="checkbox-custom checkbox-primary col-md-12 mt-20 mb-20">
                        <input type="checkbox" id="unban-with-penalty">
                        <label for="unban-with-penalty">{{ 'users.modal.block_user.unban_with_penalty'|trans }}</label>
                    </div>
                    <div class="form-input-theme form-group input-group hidden mb-15">
                        <div class="input-group">
                            <input type="number" data-min="0" class="number-validate pl-10" id="unban-penalty"
                                   placeholder="{{ 'users.modal.block_user.unban_penalty_value'|trans }}">
                            <div class="input-group-append">
                                <span class="input-group-text">{{ currentRegion().currencySymbol }}</span>
                            </div>
                        </div>
                        <span class="error-msg">{{ 'users.modal.block_user.validation.ban_reason'|trans }}</span>
                    </div>
                    <div class="form-input-theme form-group mb-10">
                        <textarea name="reason" id="ban-reason" cols="30" rows="10" class="form-control"
                         placeholder="{{ 'users.modal.block_user.ban_reason_placeholder'|trans  }}"></textarea>
                        <span class="error-msg">{{ 'users.modal.block_user.validation.ban_reason'|trans }}</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-inverse" data-dismiss="modal">{{ 'users.modal.block_user.cancel'|trans }}</button>
                    <button type="button" id="btn-ban-user" class="btn btn-danger">{{ 'users.modal.block_user.block'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="update-balance-modal" aria-labelledby="update-balance-modal" role="dialog"
         tabindex="-1" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-simple modal-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalTitle">
                        <img src="{{ asset('assets/img/icon/balance-icon.png') }}" width="40" height="40">
                    </h4>
                </div>
                <div class="modal-body">
                    <h4>{{ 'users.modal.update_balance.title'|trans }}</h4>
                    <p>{{ 'users.modal.update_balance.warning_msg'|trans }}</p>
                    <div class="row">
                        <div class="form-input-theme mr-10">
                            <select name="" id="balance-update-operation" class="form-control selectpicker bootstrap-select">
                                <option selected value="deposit">{{ 'users.modal.update_balance.deposit'|trans }}</option>
                                <option value="withdraw">{{ 'users.modal.update_balance.withdraw'|trans }}</option>
                            </select>
                        </div>
                        <div id="balance-input-container" class="form-input-theme">
                            <img src="{{ asset('assets/img/icon/money.png') }}" alt="">
                            <input type="number" id="new-balance" class="form-control number-validate" min="0">
                            <span class="currency">{{ currentRegion().currencySymbol }}</span>
                            <span class="error-msg">{{ 'users.modal.update_balance.invalid_balance'|trans }}</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-inverse" data-dismiss="modal">{{ 'users.modal.update_balance.cancel'|trans }}</button>
                    <button type="button" id="btn-update-balance" class="btn btn-primary">{{ 'users.modal.update_balance.update'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/plugins/bootstrapdatetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
    {% if app.request.locale=='ar' %}
    <script src="{{ asset('assets/admin/plugins/bootstrapdatetimepicker/js/locales/bootstrap-datetimepicker.ar.js') }}"></script>
    {% endif %}
    <script src="{{ asset('assets/admin/pages/users/users.js') }}"></script>
{% endblock %}
