{% extends ':emails:base_mail.html.twig' %}
{% block body %}
    <td>
        <h3>{{ 'hello'|transDb }} {{ name }} !</h3>
        {{ 'account_unbanned_email'|transDb }} <br>
    </td>
{% endblock body %}