{% extends ':emails:base_mail.html.twig' %}
{% block body %}
    <td>
        <h3>{{ 'hello'|transDb }} {{ name }} !</h3>
        {{ 'account_banned_for'|transDb }} <br>
        <p style="font-size: 16px;color: lightslategray;">{{ reason }}</p>
    </td>
{% endblock body %}