{% extends "@App/admin/parts/mini_layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block bodyClass %}
    page-login-v3
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block fos_user_content %}
    <div class="panel" style="margin-top: 100px;">
        <div class="logo-box">
            <a href="{{ path('admin_login') }}">
                <img src="{{ asset('assets/img/logo/logo_v2.png') }}" alt="...">
            </a>
        </div>
        <div class="panel-body">
            <form action="{{ path("admin_security_check") }}" method="post" novalidate>
                <div class="form-group {% if error %} has-error {% endif %} mt-20">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" class="form-control email" name="_username" value="{{ last_username }}"
                           id="email" placeholder="{{ 'security.login.email_placeholder'|trans }}"/>
                    <div class="error-msg">
                        <span class="required-msg">{{ 'fos_user.email.blank'|trans({},'validators')}}</span>
                        <span class="conform-msg">{{ 'reset_password.request.invalid_email.format'|trans }}</span>
                    </div>
                </div>
                <div class="form-group {% if error %} has-error {% endif %} mt-20">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" class="form-control password" name="_password" id="password"
                           placeholder="{{ 'security.login.password_placeholder'|trans }}"/>
                    <div class="error-msg">
                        <span class="required-msg">{{ 'fos_user.password.blank'|trans({},'validators') }}</span>
                    </div>
                </div>
                {% if error %}
                    <div class="alert alert-danger alert-dismissible">
                        <span class="server-msg"> {{ error.message }}</span>
                    </div>
                {% endif %}
                <div class="checkbox-custom checkbox-primary float-left mt-0 mt-20">
                    <input type="checkbox" name="_remember_me" id="remember_me">
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-lg mt-12">{{ 'security.login.submit'|trans }}</button>
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}
            </form>
            <p><a href="{{ path('admin_resetting_request') }}">{{ 'layout.forgot_password'|trans }}</a></p>
        </div>
    </div>
    <footer class="page-copyright page-copyright-inverse">
        <p class="white">{{ 'layout.copyright'|trans|replace({'_year_':date()|date('Y')}) }}</p>
    </footer>

    <!-- End Page -->
    <!-- Core  -->
{% endblock fos_user_content %}

{% block javascripts %}
    <script src="{{ asset('assets/admin/pages/login/login.js') }}"></script>
{% endblock %}
