{% extends '@App/admin/system_config/config.html.twig' %}

{% block tabBody %}
    <div class="col-md-12">
        <div class="col-md-12 text-right p-0 mb-20">
            <a class="btn btn-theme-primary" href="{{ path('system_document_new') }}">
                <i class="fa fa-plus"></i> {{ 'system.documents.add_document'|trans }}
            </a>
        </div>
        <div class="table-responsive">
            <table class="table" id="doc-type-table">
                <thead>
                <tr>
                    <th>{{ 'system.documents.table.created_at'|trans }}</th>
                    <th>{{ 'system.documents.table.name'|trans }}</th>
                    <th class="text-center">{{ 'system.documents.table.required_for_verification'|trans }}</th>
                    <th class="text-nowrap"></th>
                </tr>
                </thead>
                <tbody>
                {% for documentType in documentTypes %}
                    <tr data-value="{{ documentType.id }}"
                        data-status-url="{{ path('system_document_switch_status') }}">
                        <td> {{ documentType.createdAt|date('Y-m-d H:i') }} </td>
                        <td data-value="{{ documentType.translate(app.request.locale).name }}"
                            class="doc-type"> {{ documentType.translate(app.request.locale).name }} </td>
                        <td data-value="{{ documentType.requiredForVerification }}"
                            class="text-center doc-status doc-req">
                            {% if  documentType.requiredForVerification %}
                                <span class="badge badge-success ">{{ 'documents.table.required'|trans }}</span>
                            {% else %}
                                <span class="badge badge-danger ">{{ 'documents.table.not_required'|trans }}</span>
                            {% endif %}
                        </td>
                        <td class="text-nowrap">
                            <a href="{{ path('system_document_edit', {'id': documentType.id }) }}"
                               class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic btn-edit-doc">
                                <i data-toggle="tooltip" data-original-title="{{ 'system.documents.table.edit'|trans }}"
                                   class="fas fa-edit" aria-hidden="true"></i>
                            </a>
                            {% if not documentType.disabled %}
                                <button class="btn btn-sm btn-clean btn-icon btn-flat text-success waves-effect waves-classic btn-status-doc status-disable"
                                        data-toggle="tooltip"
                                        data-original-title="{{ 'system.documents.table.disable'|trans }}">
                                    <i class="fas fa-toggle-on" aria-hidden="true"></i>
                                </button>
                            {% else %}
                                <button class="btn btn-sm btn-clean btn-icon btn-flat text-danger waves-effect waves-classic btn-status-doc status-enable"
                                        data-toggle="tooltip"
                                        data-original-title="{{ 'system.documents.table.enable'|trans }}">
                                    <i class="fas fa-toggle-off" aria-hidden="true"></i>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
      $(document).ready(function () {
        $(document).on('click', '.btn-status-doc', function (e) {
          let elem = $(this);
          $.ajax({
            url: elem.closest('tr').data('status-url'),
            data: {id: elem.closest('tr').data('value')},
            method: 'PUT',
            beforeSend: function () {
              elem.closest('tr').loading();
            },
            success: function (data) {
              if (elem.hasClass('status-disable')) {
                elem.removeClass('status-disable text-success').addClass('status-enable text-danger').attr('data-original-title', 'Enable')
                  .find('.fas').removeClass('fa-toggle-on').addClass('fa-toggle-off');
              } else {
                elem.removeClass('status-enable text-danger').addClass('status-disable text-success').attr('data-original-title', 'Disable')
                  .find('.fas').removeClass('fa-toggle-off').addClass('fa-toggle-on');
              }
              miniToaster.fire({
                type: 'success',
                title: data.message
              });
              elem.closest('tr').loading('stop');
            }
          })
        });
      });
    </script>
{% endblock %}