{% extends "AppBundle:admin/parts:layout.html.twig" %}
{% block title %}{{ 'side_menu.settings'|trans }} - {{ 'system.documents.add.title'|trans }} {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/fonts/icons/icon.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/semantic-dropdown/dropdown.min.css') }}">
    <style>
        .flag-input{
            width: 26px;
            position: absolute;
            margin-top: 10px;
        }

    </style>
{% endblock %}
{% block body %}
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('system_general') }}">{{ 'side_menu.settings'|trans }}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('system_documents') }}">{{ 'system.documents.title'|trans }}</a>
        </li>
        <li class="breadcrumb-item active">{{ 'system.documents.add.title'|trans }}</li>
    </ol>
</div>
<div class="page-content container-fluid">
    <div class="panel" data-plugin="matchHeight" data-by-row="true">
        <div class="panel-body container-fluid">
            {{ form_start(form,{attr:{class:'col-xs-12 col-md-6 offset-md-3',novalidate:true}}) }}
                    <div class="text-center">
                        <img width="100" src="{{ asset('assets/img/icon/document.png') }}" alt="">
                    </div>
                    <div class="mt-40 form-input-theme">
                        <label for="">{{ 'system.documents.table.name'|trans }}</label>
                    {% for language in languages %}
                        <div class="form-group mb-10">
                            <img class="flag-input ml-10" src="{{ language.icon }}" alt="">
                            <input type="text" class="pl-40 form-control validate"
                                   placeholder="document name for {{ language.name }}"
                                   name="document[name][{{ language.identifier }}]">
                            <span class="error-msg">{{ 'validation.required'|trans }}</span>
                        </div>
                        <div class="form-group mb-10">
                            <img class="flag-input ml-10" src="{{ language.icon }}" alt="">
                            <textarea type="text" class="pl-40 form-control"
                                      placeholder="document description for {{ language.name }}" rows="4"
                                      name="document[description][{{ language.identifier }}]"></textarea>
                            <span class="error-msg">{{ 'validation.required'|trans }}</span>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="checkbox-custom checkbox-primary col-md-12 mt-30 form-input-theme">
                        {{ form_widget(form.requiredForVerification) }}
                        {{ form_label(form.requiredForVerification) }}
                    </div>
                    <div class="col-12 mt-40 text-center">
                        <button class="btn btn-theme-primary">{{ 'system.documents.add.save'|trans }}</button>
                    </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/plugins/semantic-dropdown/dropdown.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.ui.dropdown').dropdown()
           $('form').on('submit',function (e) {
               if(!formIsValid($(this))){
                   e.preventDefault();
               }
           })
        });
    </script>
{% endblock %}