.users-table {
    background: white;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

.users-table .user-logo img {
    max-width: 40px;
    border-radius: 50%;
}

.description-cell {
    max-width: 35px;
}

#restore-user-modal .modal-dialog {
    max-width: 400px;
}

#restore-user-modal .modal-icon-title {
    color: rgba(39, 222, 142, 0.91);
    background: rgba(129, 255, 223, 0.18);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    vertical-align: bottom;
    display: block;
}

#restore-user-modal .close {
    font-size: 32px;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #B3B3B3;
    font-weight: 400;
}

.img-input-addon {
    padding: 5px 10px;
}

.img-input-addon img {
    width: 20px;
}