.table {
    background: white;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}
.table .badge {
    border-radius: 20px;
    padding: 7px 10px;
}

.table .badge-danger {
    background: #F5CFCC;
    color: #CE8D87;
}
.table .badge-success {
    background: #D1EAD1;
    color: #8AC28F;
}
.description-cell {
    max-width: 35px;
}