{% extends '@App/front/layout.html.twig' %}
{% block title %}
    {{ (notification.type=='UPDT_NEWS'?'updatesNewsletters':'helpfulInformation'|transDb)~' - '~notification.title }}
{% endblock %}
{% block stylesheets %}
    <style>
        .panel {
            width: 100% !important;
        }
        @media (max-width: 600px) {
            .page .page-content {
                vertical-align: top!important;
            }
        }
    </style>
{% endblock %}
{% block body %}
    <div class="panel p-10">
        <div class="logo-box">
            <a href="{{ path('homepage') }}">
                <img width="100" src="{{ asset('assets/img/logo/logo_v2.png') }}" alt="...">
            </a>
        </div>
        <h3 class="mt-45">
            {{ notification.title }}
        </h3>
    </div>
    <div class="panel">
        <div class="panel-body pt-20">
            <p class="font-size-14">{{ notification.body }}</p>
            {% if notification.image is not null %}
                <div style="margin: 30px auto auto;text-align: center">
                    <img style="max-width: 200px" src="{{ notification.image.path }}">
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}


