{% extends "@App/front/layout.html.twig" %}
{% block title %}
    {{ page.translate(app.request.locale).title }}
{% endblock %}
{% block stylesheets %}
    <style>
        .panel {
            width: 70% !important;
            margin: auto;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        @media (max-width: 500px) {
            h1 {
                font-size: 28px;
            }

            h2 {
                font-size: 24px;
            }

            h3 {
                font-size: 18px;
            }

            h4 {
                font-size: 16px;
            }

            .panel {
                width: 90% !important;
            }

            .page-login-v3 .panel .panel-body {
                padding: 25px !important;
            }
        }
    </style>
{% endblock %}
{% block body %}
    <div class="panel" data-plugin="matchHeight" data-by-row="true">
        <div class="panel-body container-fluid">
            <h1>{{ page.translate(app.request.locale).title }}</h1>
            <div class="tc-content">
                {{ page.translate(app.request.locale).content|raw }}
            </div>
        </div>
    </div>
{% endblock %}