@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type="checkbox"],
    input[type="radio"] {
        --active: #275efe;
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, 0.3);
        --border: #bbc1e1;
        --border-hover: #275efe;
        --background: #fff;
        --disabled: #f6f8ff;
        --disabled-inner: #e1e6f9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        -webkit-transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
        margin-top: 7px;
        margin-right: 10px;
    }

    input[type="checkbox"]:after,
    input[type="radio"]:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
        transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    }

    input[type="checkbox"]:checked,
    input[type="radio"]:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: 0.3s;
        --d-t: 0.6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }

    input[type="checkbox"]:disabled,
    input[type="radio"]:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
    }

    input[type="checkbox"]:disabled:checked,
    input[type="radio"]:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }

    input[type="checkbox"]:disabled + label,
    input[type="radio"]:disabled + label {
        cursor: not-allowed;
    }

    input[type="checkbox"]:hover:not(:checked):not(:disabled),
    input[type="radio"]:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }

    input[type="checkbox"]:focus,
    input[type="radio"]:focus {
        box-shadow: 0 0 0 var(--focus);
    }

    input[type="checkbox"]:not(.switch),
    input[type="radio"]:not(.switch) {
        width: 21px;
    }

    input[type="checkbox"]:not(.switch):after,
    input[type="radio"]:not(.switch):after {
        opacity: var(--o, 0);
    }

    input[type="checkbox"]:not(.switch):checked,
    input[type="radio"]:not(.switch):checked {
        --o: 1;
    }

    input[type="checkbox"] + label,
    input[type="radio"] + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }

    input[type="checkbox"]:not(.switch) {
        border-radius: 7px;
    }

    input[type="checkbox"]:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        -webkit-transform: rotate(var(--r, 20deg));
        transform: rotate(var(--r, 20deg));
    }

    input[type="checkbox"]:not(.switch):checked {
        --r: 43deg;
    }

    input[type="checkbox"].switch {
        width: 38px;
        border-radius: 11px;
    }

    input[type="checkbox"].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        -webkit-transform: translateX(var(--x, 0));
        transform: translateX(var(--x, 0));
    }

    input[type="checkbox"].switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
    }

    input[type="checkbox"].switch:disabled:not(:checked):after {
        opacity: 0.6;
    }

    input[type="radio"] {
        border-radius: 50%;
    }

    input[type="radio"]:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        -webkit-transform: scale(var(--s, 0.7));
        transform: scale(var(--s, 0.7));
    }

    input[type="radio"]:checked {
        --s: 0.5;
    }
}

input:not([type]), input[type="text"],
input[type="password"], input[type="month"],
input[type="week"], input[type="email"],
input[type="number"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 0.875rem;
    height: 2.3125rem;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color 0.15s linear, background 0.15s linear;
    transition: border-color 0.15s linear, background 0.15s linear;
}

.row {
    margin: 0 auto;
    max-width: 62.5rem;
    width: 100%;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.row.collapse > .column, .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0;
}

.row.collapse .row {
    margin-left: 0;
    margin-right: 0;
}

.row .row {
    margin: 0 -0.9375rem;
    max-width: none;
    width: auto;
}

.row .row:before, .row .row:after {
    content: " ";
    display: table;
}

.row .row:after {
    clear: both;
}

.row .row.collapse {
    margin: 0;
    max-width: none;
    width: auto;
}

.row .row.collapse:before, .row .row.collapse:after {
    content: " ";
    display: table;
}

.row .row.collapse:after {
    clear: both;
}

.column, .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
}

.column + .column:last-child, .columns + .columns:last-child {
    float: right;
}

.column + .column.end, .columns + .columns.end {
    float: left;
}

@media only screen {
    .column, .columns {
        position: relative;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        float: left;
    }

    .small-3 {
        width: 25%;
    }

    .small-6 {
        width: 50%;
    }
}

.postfix {
    border-style: solid;
    border-width: 1px;
    display: block;
    font-size: 0.875rem;
    height: 2.3125rem;
    line-height: 2.3125rem;
    overflow: visible;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 2;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem 1.0625rem 2rem;
    font-size: 1rem;
    background-color: #008CBA;
    border-color: #007295;
    color: #FFFFFF;
    -webkit-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}

.postfix.button {
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
}

button:hover, button:focus, .button:hover, .button:focus {
    color: #FFFFFF;
    background-color: #007295;
}

.form-container {
    width: 350px;
    margin: 30px auto;
    margin-top: 40px;
}

.active p.small {
    font-size: 12px;
    margin-bottom: 0;
    color: #aaa;
}
ul {
    list-style: none;
    padding: 0;
}

li.tab-style {
    border: 1px solid grey;
    padding: 10px;
    margin-top: 10px;
}

li.tab-style:hover,
li.tab-style:focus,
li.tab-style:active {
    background: rgb(244, 244, 244);
}

.pay-now-btn {
    background: #5acf9b;
    color: white;
    border-radius: 20px;
    padding: 15px 30px;
    width: 85%;
    border: none;
}

input[type="tel"] {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    align-self: flex-end;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px 16px 6px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 30px;
    margin-top: 10px;
}
input[type="tel"]:focus {
    outline: none;
    border-bottom: 2px solid #5acf9b;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

#three-ds-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#three-ds-container iframe{
    background: white;
    z-index: 999;
    position: absolute;
    top: 40%;
    left: 50%;
    min-height: 500px;
    min-width: 400px;
    transform: translate(-50%, -50%);
}
input.jp-card-invalid{
    outline: none!important;
    border-radius: 4px;
    border: 2px solid #ff3d44 !important;
}
.jp-card-cvc{
    margin-top: 10px;
    font-size: 18px;
    -webkit-text-security: disc;
}
fieldset{
    border: none;
}


@media (max-width: 400px) {
    body{
        padding: 0!important;
    }
    .jp-card-container{
        max-width: 90% !important;
        height: 180px!important;
        margin: 0!important;
    }
    #payment-card-container{
        padding: 0;
        margin: 0;
    }
}
