
/* Helpers
-----------------------------------*/
.mg-0 {
    margin: 0;
}

.pd-0 {
    padding: 0;
}

.h-85 {
    height: 85px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-20 {
    margin-top: 20px;
}

@keyframes refresh {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.page-login-v3 {
    /**** tooltip ***/
}

.page-login-v3:before {
    background: #f9f9f9;
}

.page-login-v3 .page-content .brand h2.brand-text {
    font-family: 'OpenSans-Light', sans-serif;
    font-size: 18px;
    color: #06102A;
    margin: 26px 0 25px;
}

.page-login-v3 .page-content .brand img {
    max-width: 282px;
}

.page-login-v3 .panel {
    width: 380px;
    margin-top: 24px;
    margin-bottom: 0;
    -webkit-box-shadow: 0px 1px 14px 1px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 1px 14px 1px rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0px 1px 14px 1px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 14px 1px rgba(0, 0, 0, 0.16);
}

.page-login-v3 .panel .panel-body {
    padding: 70px 40px 30px;
}

.page-login-v3 .panel .panel-body form {
    margin: 0;
}

.page-login-v3 .panel .panel-body form .form-group {
    margin-bottom: 5px;
}

.page-login-v3 .panel .panel-body form .form-group label {
    float: left;
    font-family: 'OpenSans', sans-serif;
    font-size: 12px;
    color: #646D82;
    line-height: 17px;
    margin-bottom: 8px;
}

.page-login-v3 .panel .panel-body form .form-group label a[data-toggle="tooltip"] {
    margin-left: 0;
}

.page-login-v3 .panel .panel-body form .form-group label a[data-toggle="tooltip"] i {
    display: inline-block;
    margin-left: 4px;
    font-size: 10px;
    color: #99a6bc;
}

.page-login-v3 .panel .panel-body form .form-group input.form-control {
    font-family: 'OpenSans', sans-serif;
    font-size: 15px;
    color: #040E28;
    height: 46px;
    padding: 12px 12px 14px;
    border-color: #DCE1EA;
}

.page-login-v3 .panel .panel-body form .form-group input.form-control:focus {
    border-color: #008fb4;
}

.page-login-v3 .panel .panel-body form .form-group .error-msg {
    font-family: 'OpenSans', sans-serif;
    font-size: 11px;
    color: #F46363;
    text-align: left;
    line-height: 18px;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.page-login-v3 .panel .panel-body form .form-group .error-msg span {
    display: none;
}

.page-login-v3 .panel .panel-body form .form-group .error-msg span.server-msg {
    display: block;
}

.page-login-v3 .panel .panel-body form .form-group.has-error input {
    border-color: #F46363;
}

.page-login-v3 .panel .panel-body form .form-group.has-error .error-msg {
    opacity: 1;
}

.page-login-v3 .panel .panel-body form .btn {
    font-family: 'OpenSans', sans-serif;
    font-size: 15px;
    color: #fff;
    background: #008fb4;
    border-color: #0083a7;
    height: 47px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.page-login-v3 .panel .panel-body form .btn:hover {
    background: #257792;
}

.page-login-v3 .panel .panel-body form a.btn {
    margin: 0;
    line-height: 30px;
}

.page-login-v3 .panel .panel-body form .checkbox-custom label {
    font-family: 'OpenSans', sans-serif;
    font-size: 12px;
    color: #939EAB;
    line-height: 20px;
    text-align: left;
    padding-left: 0;
    margin-bottom: 0;
}

.page-login-v3 .panel .panel-body form .checkbox-custom label:before, .page-login-v3 .panel .panel-body form .checkbox-custom label:after {
    width: 16px;
    height: 16px;
    margin-top: 3px;
}

.page-login-v3 .panel .panel-body form .checkbox-custom label:after {
    font-size: 10px;
    line-height: 14px;
    font-weight: 700;
}

.page-login-v3 .panel .panel-body form .checkbox-custom label a {
    margin-left: 0;
    color: #008fb4;
}

.page-login-v3 .panel .panel-body form .checkbox-custom input[type=checkbox]:checked + label:before {
    border-width: 8px;
    background-color: #fff;
    border: 1px solid #008fb4;
}

.page-login-v3 .panel .panel-body form .checkbox-custom input[type=checkbox]:checked + label:after {
    color: #008fb4;
}

.page-login-v3 .panel .panel-body form .checkbox-custom.error label:before {
    border: 1px solid #F46363;
}

.page-login-v3 .panel .panel-body p {
    font-family: 'OpenSans', sans-serif;
    font-size: 12px;
    line-height: 27px;
    margin-top: 16px;
}

.page-login-v3 .panel .panel-body div.notice {
    text-align: left;
    margin-bottom: 40px;
}

.page-login-v3 .panel .panel-body div.notice > div {
    display: inline-block;
}

.page-login-v3 .panel .panel-body div.notice > div:first-child {
    width: 10%;
    vertical-align: top;
    padding-top: 3px;
}

.page-login-v3 .panel .panel-body div.notice > div:first-child i {
    font-size: 18px;
    color: #22CE8B;
}

.page-login-v3 .panel .panel-body div.notice > div:last-child {
    width: 86%;
}

.page-login-v3 .panel .panel-body div.notice > div:last-child span {
    font-family: 'OpenSans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #646D82;
}

.page-login-v3 footer {
    margin-top: 24px;
}

.page-login-v3 footer p {
    font-family: 'OpenSans', sans-serif;
    font-size: 12px;
    color: #939EAB;
    line-height: 27px;
}

.page-login-v3 footer p a {
    color: #939EAB;
}

.page-login-v3.forgotten-password .panel .panel-body {
    padding: 47px 40px 30px;
}

.page-login-v3.page-confirm-message .panel {
    margin-top: 32px;
}

.page-login-v3 .tooltip {
    -webkit-transition: opacity 0.4s ease-in-out !important;
    -moz-transition: opacity 0.4s ease-in-out !important;
    -ms-transition: opacity 0.4s ease-in-out !important;
    transition: opacity 0.4s ease-in-out !important;
}

.page-login-v3 .tooltip .tooltip-inner {
    max-width: 208px;
    min-height: 66px;
    padding: 9px 36px 9px 14px;
    text-align: left;
    font-family: 'OpenSans-Light', sans-serif;
    font-size: 10px;
    color: #646D82;
    background-color: #fff;
    border-radius: 0;
    margin-left: 12px;
    opacity: 1;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.26);
    -ms-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.26);
}

.page-login-v3 .tooltip .tooltip-inner:before {
    border-right-color: #fff !important;
    border-width: 10px 10px 10px 0 !important;
    margin-top: -10px !important;
    top: 50%;
    z-index: 1;
    margin-left: 6px;
}

.page-login-v3 .tooltip .tooltip-inner:after {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    top: 50%;
    left: 0;
    margin-top: -10px;
    margin-left: 5px;
    content: '';
    border-width: 10px 10px 10px 0;
    border-right-color: rgba(0, 0, 0, 0.16);
    z-index: 0;
}

.page-login-v3 .tooltip.show {
    opacity: 1;
}

/*# sourceMappingURL=login.css.map */
.page-login-v3:before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    background: #008fb4;
}

.logo-box {
    background: #008fb4;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 2;
}

/** RTL */
html[dir="rtl"] .page-login-v3 .panel .panel-body form .form-group label,
html[dir="rtl"] .page-login-v3 .panel .panel-body form .form-group .error-msg {
    float: right;
}
