{% extends "@App/admin/parts/mini_layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block bodyClass %}
    page-reset
{% endblock %}
{% block fos_user_content %}
    <div class="panel" style="width: inherit">
        <div class="logo-box">
            <a href="{{ path('admin_login') }}">
                <img  src="{{ asset('assets/img/logo/logo_v2.png') }}" alt="...">
            </a>
        </div>
        <div class="panel-body">
            <p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime,'%email%':app.request.query.get('username')})|nl2br }}</p>
            <p><a href="{{ path('admin_login') }}">Back to login ?</a></p>
        </div>
    </div>
{% endblock %}
