{% extends "@App/admin/parts/mini_layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block bodyClass %}
    page-reset
{% endblock %}
{% block fos_user_content %}
    <div class="panel" style="width: inherit">
        <div class="panel-body">
            <p>     Password Reset Error
                It has not been possible to reset your password. This can be caused by:

                The password reset link has already been used and is now expired.
                The reset link must be opened in the same browser that the request to reset was made.
                If you are still having issues please contact</p>
        </div>
    </div>
{% endblock %}
