{% extends "@App/admin/parts/mini_layout.html.twig" %}
{% block bodyClass %}page-forgot-password{% endblock %}
{% block fos_user_content %}
{% include "@App/admin/reset/request_content.html.twig" %}
{% endblock fos_user_content %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/login/forgot-password.css') }}">
{% endblock %}
