<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<body class="animsition page-login-v3 forgotten-password layout-full" id="login-page">
{% trans_default_domain 'FOSUserBundle' %}
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Page -->
<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
        <div class="panel">
            <div class="logo-box">
                <a href="{{ path('admin_login') }}">
                    <img  src="{{ asset('assets/img/logo/logo_v2.png') }}" alt="...">
                </a>
            </div>
            <div class="panel-body">
                <form action="{{ path('admin_resetting_send_email') }}" method="POST" novalidate>
                    <div class="form-group">
                        <label for="email">{{ 'form.email'|trans }}</label>
                        <input type="text" class="form-control email" name="username" id="inputEmail" placeholder="{{ 'reset_password.request.form.email_placeholder'|trans }}"/>
                        <div class="error-msg">
                            <span class="required-msg">This field is required</span>
                            <span class="conform-msg">Mail invalid</span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-lg mt-12">{{ 'reset_password.request.form.submit'|trans }}</button>
                </form>
                <p><a href="{{ path('admin_login') }}">{{ 'reset_password.request.back_to_login'|trans }}</a></p>
            </div>
        </div>
        <footer class="page-copyright page-copyright-inverse">
            <p class="white">{{ 'layout.copyright'|trans|replace({'_year_':date()|date('Y')}) }}</p>
        </footer>
    </div>
</div>
<!-- End Page -->
<!-- Core  -->
</body>
</html>