{% extends "@App/admin/parts/mini_layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block bodyClass %}
    page-login-v3
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/login/login.css') }}">
{% endblock %}
{% block fos_user_content %}
    <div class="panel" style="margin-top: 100px;">
        <div class="logo-box">
            <a href="{{ path('admin_login') }}">
                <img  src="{{ asset('assets/img/logo/logo_v2.png') }}" alt="...">
            </a>
        </div>
        <div class="panel-body">
            <h2 class="brand-text">Choose a new password.</h2>
            {% include "@App/admin/reset/reset_content.html.twig" %}
        </div>
    </div>
    <footer class="page-copyright page-copyright-inverse">
        <p><a href="">Privacy Policy</a> | <a href="">CGU / CGV</a></p>
    </footer>
{% endblock fos_user_content %}
