
{{ form_start(form, {'method': 'post', 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="form-group">
        <label for="password">Password</label>
        {{ form_widget(form.plainPassword.first,{attr:{class:'form-control password',type:'password',name:'password',id:'password', placeholder:'Enter your new password'}}) }}

        <div class="error-msg">
            <span class="required-msg">This field is required</span>
            <span class="format-msg">Must contain at least 8 characters, 1 uppercase and a special character.</span>
        </div>
    </div>
    <div class="form-group">
        <label for="password-confirm">Password</label>
        {{ form_widget(form.plainPassword.second,{attr:{class:'form-control password-confirm',type:'password',name:'password-confirm',id:'password-confirm', placeholder:'Confirm password'}}) }}

        <div class="error-msg">
            <span class="required-msg">This field is required</span>
            <span class="conform-msg">The password must be the same</span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block btn-lg mt-12">Reset password</button>
{{ form_end(form) }}

