{% extends '@App/admin/system_config/config.html.twig' %}
{% block tabBody %}
    <div class="col-md-12">
        <div class="col-md-12 text-right p-0 mb-20">
            <a class="btn btn-theme-primary" href="{{ path('system_new_administrator') }}">
                <i class="fa fa-plus"></i> {{ 'system.administrator.add'|trans }}
            </a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-left" style="width: 150px">{{ 'table.user.created_at'|trans }}</th>
                    <th class="text-left" style="width: 150px">{{ 'table.user.photo'|trans }}</th>
                    <th class="text-left" style="width: 300px">{{ 'table.user.email'|trans }}</th>
                    <th class="text-left" style="width: 300px">{{ 'system.documents.table.name'|trans }}</th>
                    <th class="text-left" style="width: 300px">{{ 'system.documents.table.fonction'|trans }}</th>
                    <th class="text-nowrap"></th>
                </tr>
                </thead>
                <tbody>
                {% for administrator in administrators %}
                        <tr>
                            <td class="text-left">{{ administrator.createdAt|date('d-m-Y') }}</td>
                            <td class="user-logo text-center">
                                {% if administrator.picture %}
                                    <img src="{{ asset( administrator.picture.path??'assets/img/default-user.png') }}"
                                         alt="">
                                {% else %}
                                    <div class="user-badge">
                                        {{ administrator.firstname|first|upper~administrator.lastname|first|upper }}
                                    </div>
                                {% endif %}
                            </td>
                            <td class="text-left">{{ administrator.email }}</td>
                            <td class="text-left">{{ administrator.firstname ~' '~administrator.lastname }}</td>
                            <td class="text-left">{{ ('users.'~(administrator.roles|first)|lower)|trans}}</td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic waves-effect waves-classic"
                                   data-toggle="tooltip" data-title="{{ 'table.user.actions.show_details'|trans }}"
                                   href="{{ path('admin_edit', { 'name':administrator.fullName|slugify,'id': administrator.id }) }}"><i
                                            class="fa fa-user-edit"></i></a>
                                <a href="javascript:;" data-toggle="tooltip"
                                   data-title="{{ "system.administrator.delete_modal.title"|trans }}"
                                   data-url="{{ path('system_delete_administrator',{id:administrator.id}) }}"
                                   class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic btn-delete-administrator">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade small-modal danger-modal" id="delete-administrator-modal"
         aria-labelledby="delete-administrator-modal"
         role="dialog"
         tabindex="-1" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-simple modal-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalTitle">
                        <span class="delete-icon-title">
                            <i class="fa fa-trash-alt"></i>
                        </span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h4>{{ 'system.administrator.delete_modal.title'|trans }}</h4>
                    <p>{{ 'system.administrator.delete_modal.warning_msg'|trans }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-inverse" id="btn-administrator-administrator"
                            data-dismiss="modal">{{ 'task.delete_modal.cancel'|trans }}</button>
                    <button type="button" id="btn-delete-task"
                            class="btn btn-danger">{{ 'task.delete_modal.delete'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
      $(document).ready(function () {
        let deleteAdminModal = $('#delete-administrator-modal');
        $('.btn-delete-administrator').click(function () {
          $('.btn-delete-administrator.processing').removeClass('processing');
          $(this).addClass('processing');
          deleteAdminModal.modal("show");
        });

        $('#btn-delete-task').on('click', function () {
          let administrator = $('.btn-delete-administrator.processing');
          $.ajax({
            url: administrator.data('url'),
            method: 'DELETE',
            beforeSend: function () {
              deleteAdminModal.addClass("loading-modal");
            },
            success: function (data) {
              administrator.closest('tr').remove();
              deleteAdminModal.modal("hide");
              deleteAdminModal.removeClass("loading-modal");
              miniToaster.fire({
                type: 'success',
                title: data.message
              });
            },
            error: function (error) {
              $('#delete-task-modal').modal("hide");
              deleteAdminModal.removeClass("loading-modal");
              miniToaster.fire({
                type: 'error',
                title: error.responseJSON.message
              });
            }
          })
        })
      });
    </script>
{% endblock %}
