{% extends "AppBundle:admin/parts:layout.html.twig" %}
{% block title %}{{ 'system.administrator.add'|trans }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/fonts/icons/icon.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/semantic-dropdown/dropdown.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/user/new.css') }}">
    <style>
        form{
            padding-top: 20px;
        }
        .personal-header{
            width: 120px;
            height: 120px;
            margin: auto;
        }
        .personal-header .profile-picture{
            position: relative;
            left: 0;
            margin: 0!important;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('system_administrators') }}">{{ 'system.administrator.title'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">{{ 'system.administrator.add'|trans }}</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="user-profile">
            {{ form_start(form, { attr: {novalidate: 'novalidate',enctype:"multipart/form-data"} }) }}
            <div class="personal-header">
                <div class="profile-picture pic-bg-display">
                    <label for="{{ form.picture.vars.id }}_file">
                        {{ form_widget(form.picture) }}
                    </label>
                </div>
            </div>
            <div class="user-profile-personals-container">
                <div class="profile-block-info mt-30">
                    <h4 class="block-title">{{ 'users.edit.account_information'|trans }}</h4>
                    <div class="form-input-theme mt-5">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email,{attr:{class:"form-control meduim "~(form.email.vars.errors|length>0?"is-invalid":'')}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                </div>
                <div class="profile-block-info mt-40">
                    <h4 class="block-title">{{ 'users.edit.personal_information'|trans }}</h4>
                    <div class="form-input-theme mt-10">
                        {{ form_label(form.firstName) }}
                        {{ form_widget(form.firstName,{attr:{class:'form-control meduim '~(form.firstName.vars.errors|length>0?"is-invalid":'')}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.firstName) }}
                        </div>
                    </div>
                    <div class="form-input-theme mt-5">
                        {{ form_label(form.lastName) }}
                        {{ form_widget(form.lastName,{attr:{class:'form-control meduim '~(form.lastName.vars.errors|length>0?"is-invalid":'')}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.lastName) }}
                        </div>
                    </div>
                    <div class="form-input-theme mt-5">
                        {{ form_label(form.phone) }}
                        {{ form_widget(form.phone,{attr:{class:'form-control meduim'}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.phone) }}
                        </div>
                    </div>
                    <div class="form-input-theme mt-5">
                        {{ form_label(form.roles) }}
                        {{ form_widget(form.roles,{attr:{class:'selectpicker bootstrap-select form-control meduim'}}) }}
                    </div>
                    <div class="form-group mt-30 form-input-theme">
                        {{ form_label(form.assignedCountries) }}
                        {{ form_widget(form.assignedCountries,{attr:{class:'ui fluid search dropdown p-10 col-12',"data-live-search":"true"}}) }}
                    </div>
                </div>
            </div>
            <div class="row pb-20">
                <button type="submit"
                        class="btn btn-theme-primary float-right offset-5 col-2">{{ 'users.new_user.save'|trans }}</button>
            </div>
            {{ form_widget(form._token) }}
            {{ form_end(form,{render_rest:false}) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/plugins/semantic-dropdown/dropdown.min.js') }}"></script>
    <script>
      $(document).ready(function () {
        $('.ui.dropdown').dropdown();
        $('#admin_picture_file').on('change', e => {
          previewFile(e.currentTarget, $(e.currentTarget).closest('.pic-bg-display'))
        });
        $(document).on('click', 'label.reset-file', function (e) {
          e.preventDefault();
          $(this).parent().find('input[type=file]').val("").trigger('change');
        })
      });
    </script>
{% endblock %}
