{% import ":macro:sort.macro.html.twig" as sort_column %}
{% extends "AppBundle:admin/parts:layout.html.twig" %}
{% block title %}{{ 'side_menu.tasks'|trans }}{% endblock %}
{% block stylesheets %}
    <style>
        .badge.badge-status {
            min-width: 55px;
            font-size: 12px;
            padding: 5px 15px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">{{ 'side_menu.tasks'|trans }}</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="panel" data-plugin="matchHeight" data-by-row="true">
            <div class="panel-heading">
                <div class="pt-20 mb-10">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="row align-items-center">
                                {% include '@App/admin/widget/page-length.html.twig' %}
                                <div class="col-5 col-md-4">
                                    {% include '@App/admin/widget/search.html.twig' %}
                                </div>
                                <div class="col-4 col-md-3 pl-sm-0">
                                    <div class="form__group--inline block">
                                        <div class="form__label hidden-md-down">
                                            <label for="task-status">{{ 'table.user.status'|trans }}</label>
                                        </div>
                                        <div class="form__control">
                                            <select class="form-control selectpicker bootstrap-select filter-selector" id="task-status">
                                                <option {% if not app.request.query.has('status') %} selected {% endif %}
                                                        value="{{ updateUrl(app.request,{'status':''}) }}">{{ 'task.status.all'|trans }}</option>
                                                <option {% if app.request.query.get('status') == "draft" %} selected {% endif %}
                                                        value="{{ updateUrl(app.request,{'status':'draft'}) }}">{{ 'task.status.draft'|trans }}</option>
                                                <option {% if app.request.query.get('status') == "published" %} selected {% endif %}
                                                        value="{{ updateUrl(app.request,{'status':'published'}) }}">{{ 'task.status.published'|trans }}</option>
                                                <option {% if app.request.query.get('status') == "assigned" %} selected {% endif %}
                                                        value="{{ updateUrl(app.request,{'status':'assigned'}) }}">{{ 'task.status.assigned'|trans }}</option>
                                                <option {% if app.request.query.get('status') == "waiting_payment" %} selected {% endif %}
                                                        value="{{ updateUrl(app.request,{'status':'waiting_payment'}) }}">{{ 'task.status.waiting_payment'|trans }}</option>
                                                <option {% if app.request.query.get('status') == "completed" %} selected {% endif %}
                                                        value="{{ updateUrl(app.request,{'status':'completed'}) }}">{{ 'task.status.completed'|trans }}</option>
                                                <option {% if app.request.query.get('status') == "cancelled" %} selected {% endif %}
                                                        value="{{ updateUrl(app.request,{'status':'cancelled'}) }}">{{ 'task.status.cancelled'|trans }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1 col-md-4 col-lg-3 pl-sm-0">
                                    <div class="date-range" id="data-date-filter"
                                         data-start="{{ app.request.query.get('s_date') }}"
                                         data-end="{{ app.request.query.get('e_date') }}"
                                         data-url="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'s_date':'_start_','e_date':'_end_'})) }}">
                                        <i class="far fa-calendar-alt mr-10"></i>
                                        <span></span> <i class="fa fa-caret-down float-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body container-fluid">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{{ "task.table.created_at"|trans }} {{ sort_column.sort("date") }}</th>
                            <th>{{ "task.table.poster"|trans }} {{ sort_column.sort("poster") }}</th>
                            <th>{{ "task.table.title"|trans }} {{ sort_column.sort("title") }}</th>
                            <th>{{ "task.table.price"|trans }} {{ sort_column.sort("price") }}</th>
                            <th>{{ "task.table.due_date"|trans }} {{ sort_column.sort("due_date") }}</th>
                            <th>{{ "task.table.payment_type"|trans }}</th>
                            <th>{{ "task.table.maatloob_profits"|trans }} {{ sort_column.sort("maatloob_tax") }}</th>
                            <th class="text-center">{{ "task.table.status"|trans }} {{ sort_column.sort("status") }}</th>
                            <th class="text-center"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                            <tr class="{% if task.id in indicator.items %}flagged{% endif %}">
                                <td>{{ task.createdAt | date('d-m-Y') }}</td>
                                <td>
                                    <div class="user-info">
                                        <div class="user-icon hidden-sm-down">
                                            {% if task.user.picture %}
                                                <img onerror="loadDefaultAvatar(this)" src="{{ asset( task.user.picture.path??'assets/admin/images/default-user.png') }}"
                                                     alt="">
                                            {% else %}
                                                <div class="user-badge">
                                                    {{ task.user.firstname|first|upper~task.user.lastname|first|upper }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="user-details">
                                            <a href="{{ path('user_details', {'id': task.user.id}) }}">{{ task.user.firstname~' '~task.user.lastname }}</a>
                                            <div data-plugin="rating" data-readonly="true"
                                                 data-score="{{ task.user.note|number_format(1,'.') }}"
                                                 data-toggle="tooltip"
                                                 data-title="{{ (task.user.userType == constant('TYPE_TASKER',task.user)?task.user.reviewAsaTasker:task.user.reviewAsaPoster)|length }} {{ 'layout.reviews'|trans }}">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="min-width: 150px">
                                    <b>{{ task.title|length > 20 ? task.title|slice(0, 20) ~ '...' : task.title }}</b>
                                </td>
                                <td>{{ task.price }} {{ currentRegion().currencySymbol }}</td>
                                <td>{{ task.date | date('d-m-Y H:i') }}</td>
                                <td class="text-center">
                                    {% if task.paymentType == constant('PAYMENT_TYPE_CASH',task)  %}
                                        <img data-toggle="tooltip" title="{{ 'task.payment_type.cash'|trans }}"
                                             width="28" src="{{ asset('assets/img/icon/cash.png') }}" alt="">
                                    {% elseif  task.paymentType == constant('PAYMENT_TYPE_CARD',task) %}
                                        <img data-toggle="tooltip" title="{{ 'task.payment_type.card'|trans }}"
                                             width="28" src="{{ asset('assets/img/icon/master-card.png') }}" alt="">
                                    {% else %}
                                        <img data-toggle="tooltip" title="{{ 'task.payment_type.wallet'|trans }}"
                                             width="28" src="{{ asset('assets/img/icon/wallet.png') }}" alt="">
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if task.status >= constant('STATUS_ASSIGNED',task) and task.status <= constant('STATUS_COMPLETED',task) %}
                                        {% if task.tasker.country.identifier != task.user.country.identifier %}
                                            <i data-toggle="tooltip" data-title="{{ task.tasker.country.name }}">
                                                {{ 'task.table.maatloob_profits_for_tasker_country'|trans }}
                                            </i>
                                        {% else %}
                                            {{ currentRegion().currencySymbol }} {{ task.maatloobTax }}
                                        {% endif %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if task.status == constant('STATUS_DRAFT',task) %}
                                        <span class="badge badge-default badge-round badge-status">{{ "task.status.draft"|trans }}</span>
                                    {% elseif task.status == constant('STATUS_PUBLISHED',task) %}
                                        <span class="badge badge-info badge-round badge-status"> {{ "task.status.published"|trans }}</span>
                                    {% elseif task.status == constant('STATUS_ASSIGNED',task) %}
                                        <span class="badge badge-info badge-round badge-status">{{ "task.status.assigned"|trans }}</span>
                                    {% elseif task.status == constant('STATUS_WAITING_PAYMENT',task) %}
                                        <span class="badge badge-warning badge-round badge-status">{{ "task.status.waiting_payment"|trans }}</span>
                                    {% elseif task.status >= constant('STATUS_PAID',task) and task.status <= constant('STATUS_COMPLETED',task) %}
                                        <span class="badge badge-success badge-round badge-status">{{ "task.status.completed"|trans }}</span>
                                    {% elseif task.status == constant('STATUS_CANCELLED',task) %}
                                        <span class="badge badge-danger badge-round badge-status">{{ "task.status.cancelled"|trans }}</span>
                                    {% endif %}
                                </td>
                                <td class="text-right" style="min-width: 120px">
                                    {% if task.status != constant('STATUS_DRAFT',task) %}
                                        <a href="{{ path('task_show', { 'id': task.id }) }}"
                                           data-toggle="tooltip" data-title="{{ "task.table.show_details"|trans }}"
                                           class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic">
                                            <i class="far fa-file-alt"></i>
                                        </a>
                                    {% endif %}
                                    {% if not is_granted('ROLE_ACCOUNTANT') %}
                                        {% if task.status in  [constant('STATUS_DRAFT',task),constant('STATUS_PUBLISHED',task),constant('STATUS_ASSIGNED',task)] %}
                                        <a href="javascript:;" data-toggle="tooltip"
                                           data-title="{{ "task.table.delete_task"|trans }}"
                                           data-url="{{ path('admin_delete_task',{id:task.id}) }}"
                                           class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic btn-delete-task">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                        {% endif %}
                                    {% endif %}
                                    {% include '@App/admin/parts/btn-flag-item.html.twig' with {'item': task.id ,'indicator':indicator} %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        {% if maatloobTax is defined %}
                            <tr>
                                <td colspan="8" class="text-right">
                                    {% if app.request.query.get('status') == 'completed' %}
                                        {{ 'dashboard.widget.revenue'|trans }}
                                    {% else %}
                                        {{ 'stats.task.expected_revenue'|trans }}
                                    {% endif %} :
                                </td>
                                <td colspan="1" class="text-right text-success">
                                    <h3> {{ maatloobTax }} {{ currentRegion().currencySymbol }}</h3>
                                </td>
                            </tr>
                        {% endif %}
                        {% if countryTax is defined %}
                            <tr>
                                <td colspan="8" class="text-right">
                                    {% if app.request.query.get('status') == 'completed' %}
                                        {{ 'stats.task.total_country_tax'|trans }}
                                    {% else %}
                                        {{ 'stats.task.expected_country_tax'|trans }}
                                    {% endif %} :
                                </td>
                                <td colspan="1" class="text-right text-warning">
                                    <h3>{{ countryTax }} {{ currentRegion().currencySymbol }}</h3>
                                </td>
                            </tr>
                        {% endif %}
                        </tfoot>
                    </table>
                </div>

                <div class="no-result d-none">
                    <span>No data</span>
                </div>
                <div class="row table-nav">
                    {{ knp_pagination_render(tasks, ':KnpPaginatorBundle/Pagination:site_defaut_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade small-modal danger-modal" id="delete-task-modal" aria-labelledby="delete-task-modal"
         role="dialog"
         tabindex="-1" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-simple modal-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalTitle">
                        <span class="delete-icon-title">
                            <i class="fa fa-trash-alt"></i>
                        </span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h4>{{ 'task.delete_modal.title'|trans }}</h4>
                    <p>{{ 'task.delete_modal.warning_msg'|trans }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-inverse" id="btn-cancel-delete-task"
                            data-dismiss="modal">{{ 'task.delete_modal.cancel'|trans }}</button>
                    <button type="button" id="btn-delete-task"
                            class="btn btn-danger">{{ 'task.delete_modal.delete'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/pages/tasks/tasks.js') }}"></script>
{% endblock %}
