{% extends 'AppBundle:admin/parts:layout.html.twig' %}
{% block title %}
    {{ 'task.details.title'|trans }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/lightgallery/css/lightgallery.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/tasks/show.css') }}">
    <style>
        .map-marker-label {
            position: absolute;
            color: blue;
            font-size: 16px;
            font-weight: bold;
            background: white;
            padding: 10px;
            border-radius: 20px;
            margin-left: -70px !important;
            margin-top: 10px;
        }
    </style>
{% endblock stylesheets %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            </li>
            <li class="breadcrumb-item"><a href="{{ path('task_index') }}">{{ 'side_menu.tasks'|trans }}</a></li>
            <li class="breadcrumb-item active">{{ 'task.details.title'|trans }}</li>
        </ol>
    </div>
    <div class="page-content container-fluid row">
        <div class="card col-12">
            <div class="row">
                <div class="col-9">
                    <h1 class="task-title">{{ task.title }}</h1>
                    <ul class="task-info">
                        <li>
                            <i class="fa fa-fw fa-tags  text-muted"></i>
                            <a href="#">
                                {{ task.category.translate.name }}
                            </a>
                        </li>
                        <li class="text-muted">
                            <time datetime="{{ task.createdAt|date('d-m-Y H:i:s') }}" title="" itemprop="datePublished"
                                  data-toggle="tooltip" data-original-title="{{ task.createdAt|date('d-m-Y H:i:s') }}">
                                <i class="fa fa-clock"></i>{{ task.createdAt|time_ago_in_words }}
                            </time>
                        </li>
                    </ul>
                </div>
                {% if not is_granted('ROLE_ACCOUNTANT')  and task.status in  [constant('STATUS_DRAFT',task),constant('STATUS_PUBLISHED',task),constant('STATUS_ASSIGNED',task)] %}
                    <div class="col-3 mt-20 ">
                        <button data-toggle="modal" data-target="#delete-task-modal"
                                class="btn btn-danger btn-icon btn-sm btn-round">
                            <i class="fa fa-trash-alt"></i> {{ 'task.table.delete_task'|trans }}
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4 float-md-right pl-0" id="task-informations">
            <div class="panel panel-default mrg--bm" id="project-meta">
                <div class="heada text-center">
                    <h4 class="heada__title">{{ 'task.details.information'|trans }}</h4>
                </div>
                <div class="panel-body pr-5">
                    <div class="task-basic-info">
                        <div>
                            <div>
                                <i class="fas fa-dollar-sign fa-2x"></i>
                            </div>
                            <div class="mt--3 ml-10">
                                <h5 class="mb-0">{{ 'task.table.price'|trans }}</h5>
                                <h4 class="mt-0 mb-0 price">{{ task.price }} {{ task.user.country.currencySymbol }}</h4>
                            </div>
                        </div>
                        <div>
                            <div>
                                <i class="fas fa-users fa-2x"></i>
                            </div>
                            <div class="mt--3 ml-10">
                                <h5 class="mb-0">{{ 'task.details.needed_tasker'|trans }}</h5>
                                <b>{{ task.tasksCount }}</b>
                            </div>
                        </div>
                        <div>
                            <div>
                                <i class="far fa-calendar-check fa-2x"></i>
                            </div>
                            <div class="mt--3 ml-10">
                                <h5 class="mb-0">{{ 'task.details.due_date'|trans }}</h5>
                                <b>{{ task.date|date('d-m-Y') }}</b>
                            </div>
                        </div>
                        <div>
                            <div>
                                <i class="fas fa-map-marker-alt fa-2x"></i>
                            </div>
                            {% if task.deliveryAddress is null %}
                                <div class="mt--3 ml-10">
                                    <h5 class="mb-0">{{ 'task.details.location'|trans }}</h5>
                                    {% if task.isOnlineWork %}
                                        <span>{{ 'task.details.is_remote'|trans }}</span>
                                    {% else %}
                                        <a class="view-map"
                                           href="https://www.google.com/maps/search/?api=1&query={{ task.address.place }}"
                                           target="_blank">
                                            <span>{{ task.address.place }}</span>
                                        </a>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="mt--3 ml-10">
                                    <h5 class="mb-0">{{ 'task.details.address'|trans }}</h5>
                                    <a class="view-map"
                                       href="https://www.google.com/maps/search/?api=1&query={{ task.address.place }}"
                                       target="_blank">
                                        <span>{{ task.address.place }}</span>
                                    </a>
                                </div>
                            {% endif %}

                        </div>
                        {% if task.deliveryAddress is not null %}
                            <div>
                                <div>
                                    <i class="fas fa-truck fa-2x"></i>
                                </div>
                                <div class="mt--3 ml-10">
                                    <h5 class="mb-0">{{ 'task.details.address_delivery'|trans }}</h5>
                                    <a class="view-map"
                                       href="https://www.google.com/maps/search/?api=1&query={{ task.deliveryAddress.place }}"
                                       target="_blank">
                                        <span>{{ task.deliveryAddress.place }}</span>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <hr class="hidden-sm mrg--vt">
                    <div id="task-poster">
                        <div class="row">
                            <div class="col-md-12 col-sm-6">
                                <div class="profile_card">
                                    <h5 class="mrg--bt-reset"> {{ 'task.details.poster'|trans }} </h5>
                                    <div class="media mrg--an">
                                        <div class="float-right">
                                            <a href="{{ path('user_details', {'id': task.user.id}) }}">
                                                {% if task.user.picture %}
                                                    <img class="img-circle" src="{{ task.user.picture.path }}"
                                                         width="68" height="68" alt="{{ task.user.fullName }}">
                                                {% else %}
                                                    <div class="user-badge"> {{ task.user.logoName }}</div>
                                                {% endif %}
                                            </a>

                                        </div>
                                        <div class="media-body pl-15">
                                            <div class="profile-details mt-5">
                                                <h5 class="m-0">
                                                    <a href="{{ path('user_details', {'id': task.user.id}) }}">
                                                        <bdi class="font-size-16">{{ task.user.fullName }}</bdi>
                                                    </a>
                                                </h5>
                                                <ul class="list-unstyled copy text-zeta clr-gray-hard mrg--an wb">
                                                    <li>
                                                        <div data-plugin="rating" data-readonly="true"
                                                             data-score="{{ task.user.note|number_format(1,'.') }}"
                                                             data-toggle="tooltip"
                                                             data-title="{{ (task.user.userType == constant('TYPE_TASKER',task.user)?task.user.reviewAsaTasker:task.user.reviewAsaPoster)|length }} reviews">
                                                        </div>
                                                    </li>
                                                    {% if task.user.location %}
                                                        <li>
                                                            <i class="fas fa-map-marker-alt"></i> {{ task.user.location }}
                                                        </li>
                                                    {% else %}
                                                        <li>
                                                            <span>{{ 'users.details.member_since'|trans }} {{ task.user.createdAt|date('d-m-Y') }}</span>
                                                        </li>
                                                    {% endif %}

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 pr-0">
            <div class="panel panel-default mrg--bm" id="project-brief">
                <div class="panel-body container-fluid">
                    <div class="task-steps col-12 p-0 text-center">
                        {% if  task.status != constant('STATUS_CANCELLED',task) %}
                            <span class="step step-published {% if task.status == constant('STATUS_PUBLISHED',task) %}active{% elseif task.status > constant('STATUS_PUBLISHED',task) %} complete {% endif %}">
                                <i class="fa fa-check-circle"></i>
                                {{ 'task.status.open'|trans }}
                            </span>
                            <span class="step step-assigned {% if task.status == constant('STATUS_ASSIGNED',task) %}active{% elseif task.status > constant('STATUS_ASSIGNED',task) %}complete{% endif %}">
                                <i class="fa fa-check-circle"></i>
                                {{ 'task.status.assigned'|trans }}
                            </span>
                            <span class="step step-completed {% if task.status > constant('STATUS_WAITING_PAYMENT',task) %}complete{% endif %}">
                                <i class="fa fa-check-circle"></i>
                                {{ 'task.status.completed'|trans }}
                            </span>
                        {% else %}
                            <span class="step step-cancelled">
                                <i class="far fa-times-circle"></i>
                                {{ 'task.status.cancelled'|trans }}
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel-group" id="task-tabs" aria-multiselectable="true" role="tablist">
                <div class="panel">
                    <div class="panel-heading" role="tab">
                        <a class="panel-title collapsed font-size-16" data-toggle="collapse"
                           href="#task-description-panel" data-parent="#task-tabs" aria-expanded="true">
                            {{ 'task.details.description'|trans }}
                        </a>
                    </div>
                    <div class="panel-collapse collapse show" id="task-description-panel" role="tabpanel" style="">
                        <div class="panel-body">
                            <p>{{ task.description }}</p>
                        </div>
                    </div>
                </div>
                {% if task.deliveryAddress is not null %}
                    <div class="panel">
                        <div class="panel-heading" role="tab">
                            <a class="panel-title collapsed font-size-16" data-toggle="collapse"
                               href="#task-map-panel" data-parent="#task-tabs" aria-expanded="true">
                                {{ 'task.details.map'|trans }}
                            </a>
                        </div>
                        <div class="panel-collapse collapse show" id="task-map-panel" role="tabpanel" style="">
                            <div class="panel-body">
                                <div id="map" data-receiving="{{ task.address|json_encode }}"
                                     data-delievery="{{ task.deliveryAddress|json_encode }}"></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if task.mustHave|length>0 %}
                    <div class="panel">
                        <div class="panel-heading" role="tab">
                            <a class="panel-title collapsed font-size-16" data-toggle="collapse"
                               href="#task-skill-panel"
                               data-parent="#task-tabs" aria-expanded="false">
                                {{ 'task.details.needed_skills'|trans }}
                            </a>
                        </div>
                        <div class="panel-collapse collapse" id="task-skill-panel" role="tabpanel" style="">
                            <div class="panel-body">
                                <ul class="skills text-zeta list-tags">
                                    {% for skill in task.mustHave %}
                                        <li class="skills__item">
                                            <a href="#" class="badge badge-primary"> <i class="fa fa-fw fa-tag"></i>
                                                <bdi>{{ skill }}</bdi>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if task.files|length>0 %}
                    <div class="panel">
                        <div class="panel-heading" role="tab">
                            <a class="panel-title collapsed font-size-16" data-toggle="collapse"
                               href="#task-files-panel" data-parent="#task-tabs" aria-expanded="true">
                                {{ 'task.details.joined_files'|trans }}
                            </a>
                        </div>
                        <div class="panel-collapse collapse show" id="task-files-panel" role="tabpanel">
                            <div class="panel-body">
                                <ul class="list-group task-files">
                                    {% for file in task.files %}
                                        <li class="list-group-item task-attachment" data-src="{{ file.path }}"
                                            data-file-type="{{ file.extension }}">
                                            <a href="{{ file.path }}" title="{{ file.name }}.{{ file.extension }}"
                                               class="fancybox" rel="lightbox">
                                                <i class="fas {% if file.extension|lower in ['png','jpeg','jpg'] %}fa-file-image {% else %} fa-file-alt {% endif %}"></i>
                                                {{ file.name }}.{{ file.extension }}
                                                <small class="text-muted">({{ file.size|file_size_format }})</small>
                                                {% if file.extension|lower in ['png','jpeg','jpg'] %}
                                                    <img class="hidden" src="{{ file.path }}"
                                                         alt="{{ file.name }}.{{ file.extension }}">
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if task.invoices|length>0 %}
                      <div class="panel">
                        <div class="panel-heading" role="tab">
                            <a class="panel-title collapsed font-size-16" data-toggle="collapse"
                               href="#task-invoices-panel" data-parent="#task-tabs" aria-expanded="true">
                                {{ 'task.details.invoices'|trans }}
                            </a>
                        </div>
                        <div class="panel-collapse collapse show" id="task-invoices-panel" role="tabpanel">
                            <div class="panel-body">
                                {% for invoice in task.invoices %}
                                    <div style="border:1px solid rgba(16,60,45,0.29);padding: 10px">
                                        <div>
                                            <div><b>{{ 'task.details.invoice_price'|trans }} : {{ invoice.price }} {{ currentRegion().currencySymbol }}</b></div>
                                            <div>{{ 'task.details.invoice_satus'|trans }} :
                                                {% if invoice.status == constant('STATUS_PENDING',invoice) %}
                                                    <span class="badge badge-warning badge-round badge-status">{{ "task.details.invoice.status.pending"|trans }}</span>
                                                {% elseif invoice.status == constant('STATUS_PROCESSED',invoice) %}
                                                    <span class="badge badge-info badge-round badge-status">{{ "task.details.invoice.status.processing"|trans }}</span>
                                                {% else %}
                                                    <span class="badge badge-success badge-round badge-status">{{ "task.details.invoice.status.paid"|trans }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <br>
                                        <div class="invoice_images">
                                            {% for image in invoice.files %}
                                                <div class="inline-block" href="{{ image.path }}"
                                                     title="{{ image.name }}">
                                                    <img width="150" class="mr-10" src="{{ image.path }}"
                                                         alt="{{ image.name }}">
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="panel">
                    <div class="panel-heading" role="tab">
                        <a class="panel-title collapsed font-size-16" data-toggle="collapse" href="#task-offers-panel"
                           data-parent="#task-tabs" aria-expanded="true">
                            {{ 'task.details.offers'|trans }}
                        </a>
                    </div>
                    <div class="panel-collapse collapse show" id="task-offers-panel" role="tabpanel">
                        <div class="panel-body p-0">
                            {% for offer in task.offers %}
                                <div class="offer-item p-20">
                                    {% if offer.status == constant('STATUS_ACCEPTED',offer) %}
                                        <span class="badge-accepted-offer"> {{ 'task.status.assigned'|trans }}</span>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-sm-10 p-0">
                                            <div class="media bidder mrg--an">
                                                <div class="media-object pull-right">
                                                    <a href="{{ path('user_details', {'id': offer.user.id}) }}">
                                                        {% if offer.user.picture %}
                                                            <img class="img-circle" src="{{ offer.user.picture.path }}"
                                                                 width="50" height="50" alt="{{ offer.user.fullName }}">
                                                        {% else %}
                                                            <div class="user-badge mini-badge"> {{ offer.user.logoName }}</div>
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <div class="media-body pl-10">
                                                    <h5 class="m-0">
                                                        <a href="{{ path('user_details',{'id':offer.user.id}) }}">
                                                            <bdi>{{ offer.user.fullName }}</bdi>
                                                        </a>
                                                    </h5>
                                                    <div data-plugin="rating" data-readonly="true"
                                                         data-score="{{ offer.user.note|number_format(1,'.') }}"
                                                         data-toggle="tooltip"
                                                         data-title="{{ (offer.user.userType == constant('TYPE_TASKER',offer.user)?offer.user.reviewAsaTasker:offer.user.reviewAsaPoster)|length }} reviews"></div>
                                                    <div class="text-muted">
                                                        <time datetime="{{ offer.createdAt|date('d-m-Y H:i:s') }}"
                                                              title="" itemprop="datePublished"
                                                              data-toggle="tooltip"
                                                              data-original-title="{{ offer.createdAt|date('d-m-Y H:i:s') }}">
                                                            <i class="fa fa-clock pr-5"></i>{{ offer.createdAt|time_ago_in_words }}
                                                        </time>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="offer-details col-11 p-10 offset-1 offer-text">
                                        <p>{{ offer.text }}</p>
                                    </div>
                                    <div class="col-11 offset-1 p-0 mt-10">
                                        {% for offerReply in offer.replies %}
                                            <div>
                                                <div class="row">
                                                    <div class="col-sm-10 p-0">
                                                        <div class="media bidder mrg--an">
                                                            <div class="media-object pull-right">
                                                                <a href="{{ path('user_details', {'id': offerReply.user.id}) }}">
                                                                    {% if offerReply.user.picture %}
                                                                        <img class="img-circle"
                                                                             src="{{ offerReply.user.picture.path }}"
                                                                             width="40" height="40"
                                                                             alt="{{ offerReply.user.fullName }}">
                                                                    {% else %}
                                                                        <div class="user-badge mini-badge"> {{ offerReply.user.logoName }}</div>
                                                                    {% endif %}
                                                                </a>
                                                            </div>
                                                            <div class="media-body pl-10">
                                                                <h6 class="m-0">
                                                                    <a href="{{ path('user_details', {'id':offerReply.user.id}) }}">
                                                                        <bdi>{{ offerReply.user.fullName }}</bdi>
                                                                    </a>
                                                                </h6>
                                                                <div data-plugin="rating" data-readonly="true"
                                                                     data-score="{{ offerReply.user.note|number_format(1,'.') }}"
                                                                     data-toggle="tooltip"
                                                                     data-title="{{ (offerReply.user.userType == constant('TYPE_TASKER',offerReply.user)?offerReply.user.reviewAsaTasker:offerReply.user.reviewAsaPoster)|length }} reviews">
                                                                </div>
                                                                <div class="text-muted">
                                                                    <time datetime="{{ offerReply.createdAt|date('d-m-Y H:i:s') }}"
                                                                          title="" itemprop="datePublished"
                                                                          data-toggle="tooltip"
                                                                          data-original-title="{{ offerReply.createdAt|date('d-m-Y H:i:s') }}">
                                                                        <i class="fa fa-clock pr-5"></i>{{ offerReply.createdAt|time_ago_in_words }}
                                                                    </time>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if offerReply.user == task.user %}
                                                    <span class="badge-poster ml--5"> {{ 'task.table.poster'|trans }}</span>
                                                {% endif %}
                                                <div class="offer-details col-11 offset-1 p-10 offer-text {% if offerReply.user == task.user %} offer-reply-owner {% endif %}">
                                                    <p>{{ offerReply.text }}</p>
                                                    <div class="row">
                                                        {% for file in offerReply.files %}
                                                            <div class="list-group-item task-attachment col-sm-6 col-3"
                                                                 data-src="{{ file.path }}"
                                                                 data-file-type="{{ file.extension }}">
                                                                <a href="{{ file.path }}"
                                                                   title="{{ file.name }}.{{ file.extension }}"
                                                                   class="fancybox" rel="lightbox">
                                                                    <i class="fas {% if file.extension|lower in ['png','jpeg','jpg'] %}fa-file-image {% else %} fa-file-alt {% endif %}"></i>
                                                                    {{ file.name }}.{{ file.extension }}
                                                                    <small class="text-muted">({{ file.size|file_size_format }}
                                                                        )</small>
                                                                    {% if file.extension|lower in ['png','jpeg','jpg'] %}
                                                                        <img class="hidden" src="{{ file.path }}"
                                                                             alt="{{ file.name }}.{{ file.extension }}">
                                                                    {% endif %}
                                                                </a>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                            {% if task.offers|length == 0 %}
                                <div class="no-offers col-md-12 text-center p-20">
                                    <img src="{{ asset('assets/img/waiting-for-offers.jpg') }}" alt="">
                                    <p>{{ 'task.details.no_offers_yet'|trans }}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading" role="tab">
                        <a class="panel-title collapsed font-size-16" data-toggle="collapse"
                           href="#task-questions-panel" data-parent="#task-tabs" aria-expanded="false">
                            {{ 'task.details.questions'|trans }}
                        </a>
                    </div>
                    <div class="panel-collapse collapse" id="task-questions-panel" role="tabpanel">
                        <div class="panel-body p-0">
                            {% for question in task.questions %}
                                {% if question.replyFor is null %}
                                    <div class="offer-item p-20">
                                        <div class="row">
                                            <div class="col-sm-10 p-0">
                                                <div class="media bidder mrg--an">
                                                    <div class="media-object pull-right">
                                                        <a href="{{ path('user_details', {'id': question.user.id}) }}">
                                                            {% if question.user.picture %}
                                                                <img class="img-circle"
                                                                     src="{{ question.user.picture.path }}"
                                                                     width="50" height="50"
                                                                     alt="{{ question.user.fullName }}">
                                                            {% else %}
                                                                <div class="user-badge mini-badge"> {{ question.user.logoName }}</div>
                                                            {% endif %}
                                                        </a>
                                                    </div>
                                                    <div class="media-body pl-10">
                                                        <h5 class="m-0">
                                                            <a href="{{ path('user_details', {'id':question.user.id}) }}">
                                                                <bdi>{{ question.user.fullName }}</bdi>
                                                            </a>
                                                        </h5>
                                                        <div data-plugin="rating" data-readonly="true"
                                                             data-score="{{ question.user.note|number_format(1,'.') }}"
                                                             data-toggle="tooltip"
                                                             data-title="{{ (question.user.userType == constant('TYPE_TASKER',question.user)?question.user.reviewAsaTasker:question.user.reviewAsaPoster)|length }} reviews">
                                                        </div>
                                                        <div class="text-muted">
                                                            <time datetime="{{ question.createdAt|date('d-m-Y H:i:s') }}"
                                                                  title="" itemprop="datePublished"
                                                                  data-toggle="tooltip"
                                                                  data-original-title="{{ question.createdAt|date('d-m-Y H:i:s') }}">
                                                                <i class="fa fa-clock pr-5"></i>{{ question.createdAt|time_ago_in_words }}
                                                            </time>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="offer-details col-11 offset-1 p-10 offer-text">
                                            <p>{{ question.text }}</p>
                                        </div>
                                        <div class="col-11 offset-1">
                                            {% for questionReply in question.replies %}
                                                <div>
                                                    <div class="row">
                                                        <div class="col-sm-10 p-0">
                                                            <div class="media bidder mrg--an">
                                                                <div class="media-object pull-right">
                                                                    <a href="{{ path('user_details', {'id': questionReply.user.id}) }}">
                                                                        {% if questionReply.user.picture %}
                                                                            <img class="img-circle"
                                                                                 src="{{ questionReply.user.picture.path }}"
                                                                                 width="50" height="50"
                                                                                 alt="{{ questionReply.user.fullName }}">
                                                                        {% else %}
                                                                            <div class="user-badge mini-badge"> {{ questionReply.user.logoName }}</div>
                                                                        {% endif %}
                                                                    </a>
                                                                </div>
                                                                <div class="media-body pl-10">
                                                                    <h5 class="m-0">
                                                                        <a href="{{ path('user_details', {'id':questionReply.user.id}) }}">
                                                                            <bdi>{{ questionReply.user.fullName }}</bdi>
                                                                        </a>
                                                                    </h5>
                                                                    <div data-plugin="rating" data-readonly="true"
                                                                         data-score="{{ questionReply.user.note|number_format(1,'.') }}"
                                                                         data-toggle="tooltip"
                                                                         data-title="{{ (questionReply.user.userType == constant('TYPE_TASKER',questionReply.user)?questionReply.user.reviewAsaTasker:questionReply.user.reviewAsaPoster)|length }} reviews">
                                                                    </div>
                                                                    <div class="text-muted">
                                                                        <time datetime="{{ questionReply.createdAt|date('d-m-Y H:i:s') }}"
                                                                              title="" itemprop="datePublished"
                                                                              data-toggle="tooltip"
                                                                              data-original-title="{{ questionReply.createdAt|date('d-m-Y H:i:s') }}">
                                                                            <i class="fa fa-clock pr-5"></i>{{ questionReply.createdAt|time_ago_in_words }}
                                                                        </time>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% if questionReply.user == task.user %}
                                                        <span class="badge-poster ml--5"> {{ 'task.table.poster'|trans }}</span>
                                                    {% endif %}
                                                    <div class="offer-details col-11 offset-1 p-10 offer-text {% if questionReply.user == task.user %} offer-reply-owner {% endif %}">
                                                        <p>{{ questionReply.text }}</p>
                                                        <div class="row">
                                                            {% for file in questionReply.files %}
                                                                <div class="list-group-item task-attachment col-sm-6 col-3"
                                                                     data-src="{{ file.path }}"
                                                                     data-file-type="{{ file.extension }}">
                                                                    <a href="{{ file.path }}"
                                                                       title="{{ file.name }}.{{ file.extension }}"
                                                                       class="fancybox" rel="lightbox">
                                                                        <i class="fas {% if file.extension|lower in ['png','jpeg','jpg'] %}fa-file-image {% else %} fa-file-alt {% endif %}"></i>
                                                                        {{ file.name }}.{{ file.extension }}
                                                                        <small class="text-muted">({{ file.size|file_size_format }}
                                                                            )</small>
                                                                        {% if file.extension|lower in ['png','jpeg','jpg'] %}
                                                                            <img class="hidden" src="{{ file.path }}"
                                                                                 alt="{{ file.name }}.{{ file.extension }}">
                                                                        {% endif %}
                                                                    </a>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% if task.questions|length == 0 %}
                                <div class="col-md-12 text-center p-20">
                                    <img width="100" src="{{ asset('assets/img/icon-faq.png') }}" alt="">
                                    <p>{{ 'task.details.no_questions'|trans }}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if not is_granted('ROLE_ACCOUNTANT')  and task.status in  [constant('STATUS_DRAFT',task),constant('STATUS_PUBLISHED',task),constant('STATUS_ASSIGNED',task)] %}
    <div class="modal fade" id="delete-task-modal" aria-labelledby="delete-task-modal" role="dialog"
         tabindex="-1" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-simple modal-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalTitle">
                        <span class="delete-icon-title">
                            <i class="fa fa-trash-alt"></i>
                        </span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h4>{{ 'task.delete_modal.title'|trans }}</h4>
                    <p>{{ 'task.delete_modal.warning_msg'|trans }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-inverse" id="btn-cancel-delete-task"
                            data-dismiss="modal">{{ 'task.delete_modal.cancel'|trans }}
                    </button>
                    <button type="button" id="btn-delete-task" data-url="{{ path('admin_delete_task',{id:task.id}) }}"
                            data-target-url="{{ path('task_index') }}"
                            class="btn btn-danger">{{ 'task.delete_modal.delete'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock body %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/plugins/lightgallery/js/lightgallery.min.js') }}"></script>
    <script src="{{ asset('assets/admin/pages/tasks/show.js') }}"></script>
    {% if task.deliveryAddress is not null %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-database.js"></script>
    <script src="https://cdn.sobekrepository.org/includes/gmaps-markerwithlabel/1.9.1/gmaps-markerwithlabel-1.9.1.min.js"></script>
    <script>
      // Your web app's Firebase configuration
      let firebaseConfig = {
        apiKey: "AIzaSyAeqsogHmIcpUMI8DCnrHyfE11N9NNU9fQ",
        authDomain: "matloob-c2014.firebaseapp.com",
        databaseURL: "https://matloob-c2014.firebaseio.com",
        projectId: "matloob-c2014",
        storageBucket: "matloob-c2014.appspot.com",
        messagingSenderId: "792577326224",
        appId: "1:792577326224:web:6ca6779350e2de3fb9ac15",
        measurementId: "G-QES06NWZNV"
      };
      let map = null;
      let taskerAddress = null;
      let taskAddress = {lat:{{ task.address.latitude }}, lng:{{ task.address.longitude }}};
      let taskDeliveryAddress = {lat:{{ task.deliveryAddress.latitude }}, lng:{{ task.deliveryAddress.longitude }}};
      $(document).ready(function () {
        initMap();
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        let database = firebase.database();
        let tracking = database.ref('/Tasks/' + {{ task.id }});
        tracking.on('value', function (snapshot) {
          if (snapshot.val()) {
            moveTaskerMarker(snapshot.val())
          }
        });

        $('.invoice_images').lightGallery({
          share: false,
          autoplayControls: false,
          autoplay: false
        });
      });

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'),
          {
            zoom: 16,
            center: taskAddress,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          });
        new MarkerWithLabel({
          position: taskAddress,
          animation: google.maps.Animation.DROP,
          labelContent: "{{ 'task.details.address'|trans }}",
          labelClass: "map-marker-label",
          map: map,
          icon: '{{ asset('assets/img/icon/marker.png') }}'
        });
        new MarkerWithLabel({
          position: taskDeliveryAddress,
          animation: google.maps.Animation.DROP,
          labelContent: "{{ 'task.details.address_delivery'|trans }}",
          labelClass: "map-marker-label",
          icon: '{{ asset('assets/img/icon/delivery-marker.png') }}',
          map: map,
        });
      }


      function moveTaskerMarker(position) {
        if (taskerAddress) {
          taskerAddress.setPosition(new google.maps.LatLng(position.lat, position.lng));
          map.panTo(new google.maps.LatLng(position.lat, position.lng));
        } else {
          taskerAddress = new MarkerWithLabel({
            position: position,
            labelContent: "{{ task.tasker?task.tasker.fullName:'' }}",
            icon: '{{ asset('assets/img/icon/user-marker.png') }}',
            map: map
          });
        }

      }
    </script>
  </script>
        {% endif %}
{% endblock %}
