{% import ":macro:sort.macro.html.twig" as sort_column %}
{% extends "AppBundle:admin/parts:layout.html.twig" %}
{% block title %}{{ 'side_menu.refused_cancelled_task'|trans }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/cancelRequests/cancelRequest.css') }}">
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">{{ 'side_menu.refused_cancelled_task'|trans }}</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="panel" data-plugin="matchHeight" data-by-row="true">
            <div class="panel-heading">
                <div class="pt-20 mb-10">
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="row align-items-center">
                                {% include '@App/admin/widget/page-length.html.twig' %}
                                <div class="col-5 col-md-4">
                                    {% include '@App/admin/widget/search.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body container-fluid">
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th>{{ "task.table.assgined_at"|trans }}</th>
                        <th>{{ "transaction.table.price"|trans }}</th>
                        <th>{{ "task.table.payment_type"|trans }}</th>
                        <th>{{ "task.table.due_date"|trans }}</th>
                        <th>{{ "task.table.cancel_create_by"|trans }}</th>
                        <th>{{ "task.table.cancel_for_user"|trans }}</th>
                        <th>{{ "task.table.request_cancel_created_at"|trans }}</th>
                        <th>{{ "task.table.request_cancel_reason"|trans }}</th>
                        <th class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}
                        <tr class="{% if task.cancelRequest.id in indicator.items %}flagged{% endif %}">
                            <td>{{ task.acceptedOffer.acceptedAt | date('d-m-Y h:i') }}</td>
                            <td>{{ task.price }} {{ currentRegion().currencySymbol }}</td>
                            <td class="text-center">
                                {% if task.paymentType == constant('PAYMENT_TYPE_CASH',task)  %}
                                    <img data-toggle="tooltip" title="{{ 'task.payment_type.cash'|trans }}"
                                         width="28" src="{{ asset('assets/img/icon/cash.png') }}" alt="">
                                {% elseif  task.paymentType == constant('PAYMENT_TYPE_CARD',task) %}
                                    <img data-toggle="tooltip" title="{{ 'task.payment_type.card'|trans }}"
                                         width="28" src="{{ asset('assets/img/icon/master-card.png') }}" alt="">
                                {% else %}
                                    <img data-toggle="tooltip" title="{{ 'task.payment_type.wallet'|trans }}"
                                         width="28" src="{{ asset('assets/img/icon/wallet.png') }}" alt="">
                                {% endif %}
                            </td>
                            <td>{{ task.date | date('d-m-Y h:i') }}</td>
                            <td>
                                <div class="user-info">
                                    <div class="user-icon">
                                        {% if task.cancelRequest.fromUser.picture %}
                                            <img src="{{ asset( task.cancelRequest.fromUser.picture.path??'assets/admin/images/default-user.png') }}"
                                                 alt="">
                                        {% else %}
                                            <div class="user-badge">
                                                {{ task.cancelRequest.fromUser.firstname|first|upper~task.cancelRequest.fromUser.lastname|first|upper }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="user-details">
                                        <a href="{{ path('user_details', {'id': task.cancelRequest.fromUser.id}) }}">{{ task.cancelRequest.fromUser.firstname~' '~task.cancelRequest.fromUser.lastname }}</a>
                                        <div data-plugin="rating" data-readonly="true"
                                             data-score="{{ task.cancelRequest.fromUser.note|number_format(1,'.') }}"
                                             data-toggle="tooltip"
                                             data-title="{{ (task.cancelRequest.fromUser.userType == constant('TYPE_TASKER',task.cancelRequest.fromUser)?task.cancelRequest.fromUser.reviewAsaTasker:task.cancelRequest.fromUser.reviewAsaPoster)|length }} {{ 'layout.reviews'|trans }}">
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="user-info">
                                    <div class="user-icon">
                                        {% if task.cancelRequest.forUser.picture %}
                                            <img src="{{ asset( task.cancelRequest.forUser.picture.path??'assets/admin/images/default-user.png') }}"
                                                 alt="">
                                        {% else %}
                                            <div class="user-badge">
                                                {{ task.cancelRequest.forUser.firstname|first|upper~task.cancelRequest.forUser.lastname|first|upper }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="user-details">
                                        <a href="{{ path('user_details', {'id': task.cancelRequest.forUser.id}) }}">{{ task.cancelRequest.forUser.firstname~' '~task.cancelRequest.forUser.lastname }}</a>
                                        <div data-plugin="rating" data-readonly="true"
                                             data-score="{{ task.cancelRequest.forUser.note|number_format(1,'.') }}"
                                             data-toggle="tooltip"
                                             data-title="{{ (task.cancelRequest.forUser.userType == constant('TYPE_TASKER',task.cancelRequest.forUser)?task.cancelRequest.forUser.reviewAsaTasker:task.cancelRequest.forUser.reviewAsaPoster)|length }} {{ 'layout.reviews'|trans }}">
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>{{ task.cancelRequest.createdAt | date('d-m-Y h:i') }}</td>
                            <td class="description-cell">
                                {% if task.cancelRequest.reason is not empty %}
                                    <a class="read-reason" style="cursor: pointer"
                                       data-reason="{{ task.cancelRequest.reason }}">
                                        <img src="{{ asset('assets/img/icon/notepad.png') }}" alt="">
                                    </a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td class="text-right">
                                <a href="{{ path('task_show', { 'id': task.id }) }}"
                                   data-toggle="tooltip" data-title="{{ "task.table.show_details"|trans }}"
                                   class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic">
                                    <i class="far fa-file-alt"></i>
                                </a>
                                <button data-url="{{ path('user_discussions', { 'id': task.discussion.id }) }}"
                                        data-toggle="tooltip" data-title="{{ "show_users_discussion"|trans }}"
                                        class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic show-discussion">
                                    <i class="far fa-comments"></i>
                                </button>
                                <a href="javascript:;" data-toggle="tooltip" data-id="{{ task.cancelRequest.id }}"
                                   data-title="{{ "task.table.take_action"|trans }}"
                                   data-users="{{ {fromUser: {name:task.cancelRequest.fromUser.fullName,id:task.cancelRequest.fromUser.id},
                                       forUser: {name:task.cancelRequest.forUser.fullName,id:task.cancelRequest.forUser.id}}|json_encode }}"
                                   data-task-price="{{ task.price }}"
                                   class="btn btn-sm btn-clean btn-icon btn-flat waves-effect waves-classic take-action-btn">
                                    <i class="flaticon2-notepad font-size-14"></i>
                                </a>
                                {% include '@App/admin/parts/btn-flag-item.html.twig' with {'item': task.cancelRequest.id ,'indicator':indicator} %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="no-result d-none">
                    <span>No data</span>
                </div>
                <div class="row table-nav">
                    {{ knp_pagination_render(tasks, ':KnpPaginatorBundle/Pagination:site_defaut_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="cancel-reason-modal" aria-labelledby="cancel-reason-modal" role="dialog"
         tabindex="-1" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-simple modal-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <img class="mt-10 position-absolute" src="{{ asset('assets/img/icon/notepad.png') }}" alt="">
                    <h4 class="ml-40">{{ 'task.table.request_cancel_reason'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-inverse"
                            data-dismiss="modal">{{ 'reports.modal.close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="discussion-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Body-->
                <div class="modal-body mb-0 p-0">
                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                        <iframe id="iframe-preview-page" src="" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                            data-dismiss="modal">{{ 'reports.modal.close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade take-action" id="task-action-modal" tabindex="-1" role="dialog"
         aria-labelledby="takeActionModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Body-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h2 class="modal-title" id="exampleModalTitle">
                        {{ 'task.table.take_action'|trans }}
                    </h2>
                </div>
                <div class="modal-body">
                    <form method="post" id="form-cancel-action" onsubmit="preventDefault(event)">
                        <input type="hidden" name="id" id="cancel-request-token">
                        <div class="form-group field-group">
                            <label for="cancel-type">{{'task_cancel.modal.action_type'|trans}} <i class="icon-required"></i></label>
                            <select name="cancelType" id="cancel-type" data-error-msg="{{ 'validation.required'|trans }}"
                                    class="form-control selectpicker bootstrap-select required">
                                <option value="" selected disabled>{{'layout.select_placeholder'|trans}}</option>
                                <option value="request">{{'task_cancel.modal.cancel_request'|trans}}</option>
                                <option value="task">{{'task_cancel.modal.cancel_task'|trans}}</option>
                            </select>
                        </div>
                        <div class="form-group field-group hidden to-reset">
                            <label for="guilty-user">{{'task_cancel.modal.guilty'|trans}} <i class="icon-required"></i></label>
                            <select name="guiltyUser" id="guilty-user" data-error-msg="{{ 'validation.required'|trans }}"
                                    class="form-control selectpicker bootstrap-select required">
                                <option value="" selected disabled>{{'layout.select_placeholder'|trans}}</option>
                                <option class="none" value="none">{{'task_cancel.modal.no_one'|trans}}</option>
                            </select>
                            <div class="description text-info hidden">
                                <i class="fa fa-exclamation-triangle mr-5"></i>
                                {{'task_cancel.modal.profits_ignored'|trans}}
                            </div>
                        </div>
                        <div class="form-group field-group hidden to-reset">
                            <div class="checkbox-custom checkbox-primary col-md-12 mt-20 mb-20">
                                <input type="checkbox" id="caused-damage">
                                <label for="caused-damage">{{'task_cancel.modal.take_compensation'|trans}}</label>
                            </div>
                            <div class="description mt--20">
                                {{'task_cancel.modal.take_compensation_info'|trans}}
                            </div>
                        </div>
                        <div class="form-group field-group hidden to-reset">
                            <label for="damage-amount">{{'task_cancel.modal.compensation_amount'|trans}} <i class="icon-required"></i></label>
                            <input type="number" step=".01" min="0" name="compensation" id="damage-amount"
                                   class="form-control number-validate required" data-error-msg="{{ 'validation.required'|trans }}"
                                   placeholder="0 {{ currentRegion().currencySymbol }}">
                            <div class="description">{{'task_cancel.modal.compensation_amount_info'|trans}}</div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-inverse"
                            data-dismiss="modal">{{ 'reports.delete_modal.cancel'|trans }}
                    </button>
                    <button type="button" id="btn-submit-action"
                            data-url="{{ path('admin_process_cancel_task_request') }}"
                            class="btn btn-theme-primary">{{ 'modal.footer.submit'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/pages/cancelRequests/cancelRequest.js') }}"></script>
{% endblock %}
