{% extends 'AppBundle:admin/parts:layout.html.twig' %}
{% block title %}
    {% if notification.id is null %}
        {{ 'system.notification.new'|trans }}
    {% else %}
        {{ 'system.notification.edit'|trans }}
    {% endif %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/systemNotifications/form.css') }}">
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            <li class="breadcrumb-item"><a href="{{ path('system_notifications') }}">{{ 'side_menu.system_notification'|trans }}</a></li>
            <li class="breadcrumb-item active">
                {% if notification.id is null %}
                    {{ 'system.notification.new'|trans }}
                {% else %}
                    {{ 'system.notification.edit'|trans }}
                {% endif %}
            </li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="panel"  data-plugin="matchHeight" data-by-row="true">
            <div class="panel-body container-fluid">
                {{ form_start(form,{attr:{novalidate:true,enctype:"multipart/form-data"}}) }}
                <div class="form-group mt-30 form-input-theme">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title,{attr:{class:'form-control',"data-live-search":"true"}}) }}
                </div>
                <div class="row">
                    <div class="form-group  text-center col-3 col-lg-2 col-xl-1 pl-0">
                        <div class="fileinput text-center">
                            <div class="img-preview"  data-background="{{ notification.image?notification.image.path: asset('assets/img/img-preview.png') }}"
                                 style="background-image: url({{  notification.image?notification.image.path:asset('assets/img/img-preview.png') }})">
                            </div>
                            <div class="col-12 text-center fileinput-controls p-0">
                                <label class="btn btn-default btn-round btn-file mb-0">
                                    {% if notification.id is null or notification.image is null%}
                                        <span>{{ 'system.notification.form.image'|trans }}</span>
                                    {% else %}
                                        <span>{{ 'system.notification.form.update_image'|trans }}</span>
                                    {% endif %}
                                    <input id="icon-file" type="file" name="image" data-max-size="1" data-over-size-msg="{{ 'system.notification.form.error_image'|trans }}"
                                           accept="image/png,image/jpeg,image/jpg,image/svg"/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-9 col-lg-10 col-xl-11 pr-0">
                        <div class="form-group form-input-theme col-12 col-lg-5 p-0">
                            {{ form_label(form.type) }}
                            {{ form_widget(form.type,{attr:{class:'ui fluid search dropdown p-10 col-12',"data-live-search":"true"}}) }}
                        </div>
                        <div class="form-group mt-30 form-input-theme">
                            {{ form_label(form.body) }}
                            {{ form_widget(form.body,{attr:{class:'form-control',"rows":"6"}}) }}
                        </div>
                        <div class="checkbox-custom checkbox-primary mt-30 form-input-theme">
                            <input type="checkbox" name="send" id="sendNotification"/>
                            <label for="sendNotification">
                                {% if notification.id is null %}
                                    {{ 'system.notification.form.send_after'|trans }}
                                {% else %}
                                    {{ 'system.notification.form.send_after_edit'|trans }}
                                {% endif %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-40 text-center">
                    <button class="btn btn-theme-primary">
                        {% if notification.id is null %}
                            {{ 'system.notification.form.save_btn'|trans }}
                        {% else %}
                            {{ 'system.notification.form.update_btn'|trans }}
                        {% endif %}
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
          $('#icon-file').on('change', function (e) {
            const target = e.target;
            if (target.files && target.files[0]) {
              const maxAllowedSize = $(target).data('maxSize')*1024 * 1024;
              if (target.files[0].size > maxAllowedSize) {
                target.value = '';
                alert($(target).data('overSizeMsg'))
              }else{
                previewFile(e.currentTarget, $(target).closest('.fileinput').find('.img-preview'))
              }
            }
          });
        })
    </script>
{% endblock %}