{% extends 'AppBundle:admin/parts:layout.html.twig' %}
{% import ":macro:sort.macro.html.twig" as sort_column %}
{% block title %}
    {{ 'side_menu.system_notification'|trans }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/systemNotifications/index.css') }}">
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            <li class="breadcrumb-item active">{{ 'side_menu.system_notification'|trans }}</li>
        </ol>
    </div>
    <div class="page-content container-fluid">
        <div class="panel panel-transparent" data-plugin="matchHeight" data-by-row="true">
            <div class="panel-body container-fluid pt-0">
                <div class="col text-right p-0 mb-10">
                    <a href="{{ path('system_notification_new') }}" class="btn btn-outline-primary font-size-14">
                        <i class="far fa-bell-plus mr-5"></i>
                        {{ 'system.notification.new'|trans }}
                    </a>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {% for notification in notifications %}
                        <div class="panel panel-default mb-20">
                            <div class="panel-heading" role="tab" id="heading-{{notification.id}}">
                                <h3 class="panel-title  pr-10">
                                    <a class="font-size-14" role="button" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapse-{{notification.id}}" aria-expanded="true"
                                       aria-controls="collapse-{{notification.id}}">
                                        #{{ notification.id }} {{ notification.title }}
                                        <div class="float-right font-size-20 notification-actions">
                                            <a class="btn-delete-notification  mr-10"
                                               href="{{ path('system_notification_delete', {'id': notification.id}) }}"><i
                                                        data-toggle="tooltip"
                                                        data-title="{{ 'system.notification.delete'|trans }}"
                                                        class="fad fa-trash-alt"></i></a>
                                            <a class="mr-10" href="{{ path('system_notification_edit', {'id': notification.id}) }}"><i
                                                        data-toggle="tooltip"
                                                        data-title="{{ 'system.notification.edit'|trans }}"
                                                        class="fad fa-edit"></i></a>
                                            <a class="send-notification-btn  mr-50"
                                               href="{{ path('system_notification_send', {'id': notification.id}) }}"><i
                                                        data-toggle="tooltip"
                                                        data-title="{{ 'system.notification.send'|trans }}"
                                                        class="fad fa-bell-on"></i></a>
                                            <i  data-toggle="collapse" data-parent="#accordion" href="#collapse-{{notification.id}}"
                                                class="more-less fad fa-minus"></i>
                                        </div>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapse-{{notification.id}}" class="panel-collapse collapse show" role="tabpanel"
                                 aria-labelledby="heading-{{notification.id}}">
                                <div class="panel-body row">
                                    <div style="max-width: 80px">
                                        <img style="max-width: 80px"
                                             src="{{ notification.image?notification.image.path:asset('assets/img/img-preview.png') }}"
                                             alt="">
                                    </div>
                                    <div class="col-9 col-lg-10 col-xl-11">
                                        <div class="col p-0">
                                            <span class="badge badge-success badge-round mb-10">{{ ('system.notification.types.'~notification.type)|trans }}</span>
                                            <span class="ml-15">
                                                <i class="fad fa-calendar-check mr-5 color-theme"></i>
                                                <b>{{ 'system.notification.last_send'|trans }} :</b>
                                                <span class="last-send-date">
                                                    {% if notification.lastSend %} {{ notification.lastSend|date("d-m-Y H:i:s") }} {% else %} {{ 'system.notification.not_send_yet'|trans }} {% endif %}
                                                </span>
                                            </span>
                                        </div>
                                        <p>
                                            {{ notification.body }}
                                        </p>
                                    </div>
                                    <div class="col-12 text-right">
                                        <a href="{{ path('system_notification_send', {'id': notification.id}) }}"
                                           class="btn btn-outline-primary font-size-12 send-notification-btn">
                                            <i class="fad fa-bell-on mr-5"></i>
                                            {{ 'system.notification.send'|trans }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {{ knp_pagination_render(notifications, ':KnpPaginatorBundle/Pagination:site_defaut_pagination.html.twig') }}
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete-notification-modal" aria-labelledby="delete-notification-modal" role="dialog"
         tabindex="-1" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-simple modal-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalTitle">
                        <span class="delete-icon-title">
                            <i class="fa fa-trash-alt"></i>
                        </span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h4>{{ 'system.notification.modal_delete.title'|trans }}</h4>
                    <p>{{ 'system.notification.modal_delete.info'|trans }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-inverse"
                            data-dismiss="modal">{{ 'delete_user_modal.btn_cancel'|trans }}</button>
                    <button type="button" id="btn-delete-notification"
                            class="btn btn-danger">{{ 'system.notification.modal_delete.delete_btn'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/pages/systemNotifications/index.js') }}"></script>
{% endblock %}