{% extends "AppBundle:admin/parts:layout.html.twig" %}
{% block title %}{{ 'side_menu.settings'|trans }} - {{ 'system.language.add'|trans }} {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/languages/language.edit.css') }}">
    <style>
        form{
            overflow: inherit;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            </li>
            <li class="breadcrumb-item"><a href="{{ path('system_general') }}">{{ 'side_menu.settings'|trans }}</a>
            </li>
            <li class="breadcrumb-item"><a
                        href="{{ path('system_languages') }}">{{ 'system.language.title'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">{{ 'system.language.add'|trans }}</li>
        </ol>
        <h1 class="page-title">{{ 'system.language.add'|trans }}</h1>
    </div>
    <div class="page-content container-fluid">
        <div class="panel" data-plugin="matchHeight" data-by-row="true">
            {{ form_start(form,{attr:{enctype:"multipart/form-data"},novalidate:true}) }}
            <div class="panel-body container-fluid">
                <div class="text-center">
                    <select class="selectpicker bootstrap-select" name="" id="language-selector" title="{{ 'system.language.choose_language'|trans }}">
                        {% for availableLanguage in availableLanguages %}
                            <option data-icon-path="{{ availableLanguage['icon'] }}"
                                    data-icon="flag-icon flag-icon-{{ availableLanguage['identifier'] }}"
                                    value="{{ availableLanguage['identifier'] }}">{{ availableLanguage['name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="hidden row p-20" id="messages-container">
                    <div class="col-12 text-center">
                        <div class="translation-progress-bar">
                            <div class="translation-bar">
                                <div class="translation-progress"></div>
                            </div>
                        </div>
                        <p id="progression-percent">0%</p>
                    </div>
                    <div class="table-controls col-12 mt-20 mb-10 p-0 text-right">
                        <a class="btn btn-outline-primary" id="btn-import-translation" data-toggle="tooltip" data-title="{{ 'file_excel_import'|trans }}"><i class="fa fa-file-upload"></i> {{ 'btn.import'|trans }}</a>
                    </div>
                    <p class="col-12 text-info font-size-16">
                        <i class="fa fa-info-circle mr-1"></i>{{ 'system.language.translate_word'|trans }}
                    </p>
                    <p class="col-12 text-danger font-size-16">
                        <i class="md-alert-triangle mr-1"></i><b>{{ 'system.language.dynamic_words'|trans }}</b>
                    </p>
                    <input type="file" class="hidden" id="import-file" name="importFileMessages" accept=".csv">
                    {% for messageForm in form.messages %}
                        <div class="row col-12 message-block pr-0 pl-0">
                            <div class="col-6 pl-0">
                <span class="old-text-header"><i
                            class="flag-icon flag-icon-gb mr-1"></i><b>{{ 'system.language.source_text'|trans }}</b></span>
                                <textarea class="old-text form-control disabled"
                                          readonly>{{ englishMessages[messageForm.vars.value.identifier] }}</textarea>
                            </div>
                            <div class="col-6 pr-0">
                <span class="new-text-header"><i class="flag-icon flag-icon-gb"></i><b
                            class="ml-2">{{ 'system.language.translated_text'|trans }}</b></span>
                                {{ form_widget(messageForm.message,{attr:{class:'form-control new-translation empty',placeholder:'system.language.type_translation_here'|trans}}) }}
                                <img src="{{ asset('assets/img/cancel.png') }}" class="error-trans" alt="">
                                <img src="{{ asset('assets/img/checked.png') }}" class="success-trans" alt="">
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                    <h3>{{ 'system.language.translate_reports'|trans }}</h3>
                    {% for report in reports %}
                        <input value="{{ report.id }}" type="hidden" name="reports_translations[{{ loop.index }}][id]" readonly>
                        <div class="row col-12 message-block pr-0 pl-0">
                            <div class="col-6 pl-0">
                                <span class="old-text-header">
                                    <i class="flag-icon flag-icon-gb mr-1"></i><b>{{ 'system.language.source_text'|trans }}</b>
                                </span>
                                <textarea class="old-text form-control disabled" readonly>{{ report.translate('en').name }}</textarea>
                            </div>
                            <div class="col-6 pr-0">
                                <span class="new-text-header">
                                    <i class="flag-icon flag-icon-gb"></i><b class="ml-2">{{ 'system.language.translated_text'|trans }}</b>
                                </span>
                                <textarea name="reports_translations[{{ loop.index }}][name]"
                                          class="form-control new-translation empty" placeholder="{{ 'system.language.type_translation_here'|trans }}"></textarea>
                                <img src="{{ asset('assets/img/cancel.png') }}" class="error-trans" alt="">
                                <img src="{{ asset('assets/img/checked.png') }}" class="success-trans" alt="">
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                    <div class="col-12 text-center mt-20">
                        <button type="submit" class="btn btn-theme-primary" id="btn-save-language"
                                data-save="{{ 'system.language.save_draft_btn'|trans }}"
                                data-publish="{{ 'system.language.publish_btn'|trans }}">{{ 'system.language.save_draft_btn'|trans }}</button>
                    </div>
                </div>
                <div class="hidden">
                    {{ form_row(form) }}
                </div>

            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/pages/languages/language.new.js') }}"></script>
{% endblock %}