{% extends "AppBundle:admin/parts:layout.html.twig" %}
{% block title %}{{ 'side_menu.settings'|trans }} - {{ 'system.language.edit'|trans }} {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin/pages/languages/language.edit.css') }}">
{% endblock %}
{% block body %}
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">{{ 'side_menu.dashboard'|trans }}</a>
            </li>
            <li class="breadcrumb-item"><a href="{{ path('system_general') }}">{{ 'side_menu.settings'|trans }}</a>
            </li>
            <li class="breadcrumb-item"><a href="{{ path('system_languages') }}">{{ 'system.language.title'|trans }}</a>
            </li>
            <li class="breadcrumb-item active">{{ 'system.language.edit'|trans }}</li>
        </ol>
        <h1 class="page-title">{{ 'system.language.edit'|trans }}</h1>
    </div>
    <div class="page-content container-fluid">
        <div class="panel" data-plugin="matchHeight" data-by-row="true">
            {{ form_start(form,{attr:{enctype:"multipart/form-data",novalidate:"novalidate"}}) }}
            <div class="panel-body container-fluid">
                <div class="row p-20" id="messages-container">
                    <div class="col-12 text-center">
                        <div class="translation-progress-bar">
                            <div class="translation-bar">
                                <div style="width: {{ translationsCompletionRate(language) }}%"
                                     class="translation-progress"></div>
                            </div>
                        </div>
                        <p id="progression-percent">{{ translationsCompletionRate(language) }}%</p>
                    </div>
                    <div class="table-controls col-12 mt-20 mb-10 p-0 text-right">
                        <a class="btn btn-outline-primary" id="btn-import-translation" data-toggle="tooltip" data-title="{{ 'file_excel_import'|trans }}"><i class="fa fa-file-upload"></i> {{ 'btn.import'|trans }}</a>
                        <a class="btn btn-outline-primary" data-toggle="tooltip" data-title="{{ 'file_excel_export'|trans }}" href="{{ path('system_language_export',{'identifier':language.identifier}) }}">
                            <i class="fa fa-file-download"></i> {{ 'btn.export'|trans }}</a>
                    </div>
                    <p class="col-12 text-info font-size-16">
                        <i class="fa fa-info-circle mr-1"></i>{{ 'system.language.translate_word'|trans }}
                    </p>
                    <p class="col-12 text-danger font-size-16">
                        <i class="md-alert-triangle mr-1"></i><b>{{ 'system.language.dynamic_words'|trans }}</b>
                    </p>
                    <div class="col-12 form-group ">
                        <div class="input-group text-center">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                            </div>
                            <input id="search-msg" class="form-control config-input " type="text"
                                   placeholder="{{ 'users.filter.search'|trans }}">
                        </div>
                    </div>
                    <input type="file" class="hidden" id="import-file" name="importFileMessages" accept=".csv">
                    {% for messageForm in form.messages %}
                        <div class="row col-12 message-block pr-0 pl-0">
                            <div class="col-6 pl-0">
                                <span class="old-text-header"><i
                                            class="flag-icon flag-icon-gb mr-1"></i><b>{{ 'system.language.source_text'|trans }}</b></span>
                                <textarea class="old-text form-control disabled"
                                          readonly>{{ englishMessages[messageForm.vars.value.identifier]['message'] }}</textarea>
                            </div>
                            <div class="col-6 pr-0">
                                <span class="new-text-header"><i
                                            class="flag-icon flag-icon-{{ language.identifier=='en'?'gb':(language.identifier=='ar'?'sa':language.identifier) }}"></i><b
                                            class="ml-2">{{ 'system.language.translated_text'|trans }}</b></span>
                                {{ form_widget(messageForm.message,{attr:{class:'form-control new-translation '~(messageForm.vars.value.message|length==0?'empty':'valid'),placeholder:'system.language.type_translation_here'|trans,'data-key':messageForm.vars.value.identifier}}) }}
                                <img src="{{ asset('assets/img/cancel.png') }}" class="error-trans" alt="">
                                <img src="{{ asset('assets/img/checked.png') }}" class="success-trans" alt="">
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                    <h3>{{ 'system.language.translate_reports'|trans }}</h3>
                    {% for report in reports %}
                        <input value="{{ report.id }}" type="hidden" name="reports_translations[{{ loop.index }}][id]"
                               readonly>
                        <div class="row col-12 message-block pr-0 pl-0">
                            <div class="col-6 pl-0">
                                <span class="old-text-header">
                                    <i class="flag-icon flag-icon-gb mr-1"></i><b>{{ 'system.language.source_text'|trans }}</b>
                                </span>
                                <textarea class="old-text form-control disabled"
                                          readonly>{{ report.translate('en').name }}</textarea>
                            </div>
                            <div class="col-6 pr-0">
                                <span class="new-text-header">
                                    <i class="flag-icon flag-icon-{{ language.identifier=='en'?'gb':(language.identifier=='ar'?'sa':language.identifier) }}"></i><b
                                            class="ml-2">{{ 'system.language.translated_text'|trans }}</b>
                                </span>
                                <textarea name="reports_translations[{{ loop.index }}][name]"
                                          class="form-control new-translation {{ (report.translate(language.identifier,false).name|length==0?'empty':'valid') }}"
                                          placeholder="{{ 'system.language.type_translation_here'|trans }}"
                                >{{ report.translate(language.identifier,false).name }}</textarea>
                                <img src="{{ asset('assets/img/cancel.png') }}" class="error-trans" alt="">
                                <img src="{{ asset('assets/img/checked.png') }}" class="success-trans" alt="">
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                    <div class="col-12 text-center mt-20" id="submit-block">
                        <button type="submit" class="btn btn-theme-primary">{{ 'system.language.save_btn'|trans }}</button>
                    </div>
                </div>
                <div class="hidden">
                    {{ form_row(form) }}
                </div>

            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}
{% block javascripts %}
    <script src="{{ asset('assets/admin/pages/languages/language.edit.js') }}"></script>
{% endblock %}