{% extends '@App/admin/system_config/config.html.twig' %}
{% block tabBody %}
<div class="col-12 row">
    {% for language in languages %}
   <div class="col-2 language-box">
       <a href="{{ path('system_languages_edit', {'identifier': language.identifier}) }}" data-toggle="tooltip" data-title="{{ 'system.pages.table.edit'|trans }}" class="btn-setting"><i class="md-settings"></i></a>
       <img src="{{ asset(language.icon) }}" alt="">
       <h4 class="mb-2">{{ language.name }}</h4>
       {% if language.active %}
            <img data-toggle="tooltip" data-title="{{ 'system.language.active'|trans }}" style="width:24px" src="{{ asset('assets/img/switch-on.png') }}" alt="">
       {% else %}
           <div class="translation-progress-bar" data-toggle="tooltip" data-title="{{ 'system.language.complete_percent'|trans({'_percent_':translationsCompletionRate(language)}) }}">
               <div class="translation-bar">
                   <div  style="width: {{ translationsCompletionRate(language) }}%;padding: 4px" class="translation-progress"></div>
               </div>
           </div>
       {% endif %}
   </div>
    {% endfor %}
    <div class="col-2 language-box">
        <a id="add-language" href="{{ path('system_languages_add') }}" class="color-theme">
            <i class="fa fa-plus-circle fa-3x"></i>
            <h5 class="mb-0 color-theme" >{{ 'system.language.add'|trans }}</h5>
        </a>
    </div>
</div>
{% endblock %}