.input-search-group .input-group-text {
    color: #87a4b5;
    border: unset;
}

.input-search-group input {
    outline: none;
}

.avatar-icon img {
    display: block;
    width: 44px;
    height: 44px;
    transition: all .2s;
    opacity: 1;
    border-radius: 50px;
    border: #f2f3f7 solid 3px;
    overflow: hidden;
}

.input-search-group input {
    background-color: #f2f3f7;
    border-radius: 7px;
    border: 1px solid #e9ecef;
    box-shadow: none !important;
}

.discussion {
    cursor: pointer;
}

.discussion .avatars {
    display: flex;
}

.discussion .avatars .avatar-icon:nth-of-type(1) {
    z-index: 1;
}

.discussion .avatars .avatar-icon:hover {
    z-index: 2;
}

.discussion:last-child {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.discussion:first-child {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.discussion:hover, .discussion:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #e0f3ff;
}

.discussion .subject {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
}

.discussion.active {
    color: #fff;
    text-decoration: none;
    background-color: #008fb4;
}

.discussion-list .panel-heading {
    border-bottom: 1px solid #dee2e6;
}

#chat-wrapper {
    min-height: 508px;
    max-height: 500px;
}

.chat-box-wrapper {
    padding: 1.5rem;
}

.chat-box-wrapper .chat-box {
    width: fit-content;
    box-shadow: 0 0 0 transparent;
    position: relative;
    opacity: 1;
    background: rgba(0, 143, 180, 0.3);
    border: 0;
    padding: .75rem 1.5rem;
    border-radius: .35rem 30px 30px 30px;
    text-align: left;
}

html[dir="rtl"] .chat-box-wrapper .chat-box {
    border-radius: 30px .35rem 30px 30px;
    text-align: right;
}

.chat-box-wrapper.chat-box-wrapper-right .chat-box {
    border-radius: 30px .35rem 30px 30px;
    margin-left: auto;
    background: rgba(252, 204, 9, 0.37);
}

html[dir="rtl"] .chat-box-wrapper.chat-box-wrapper-right .chat-box {
    border-radius: .35rem 30px 30px 30px;
    margin-right: auto;
    margin-left: inherit;
    max-width: calc(70%);
}

.chat-box-wrapper:not(.chat-box-wrapper-right) .avatar-icon {
    padding: 0;
}

html[dir="rtl"] .chat-box-wrapper:not(.chat-box-wrapper-right) .avatar-icon img {
    margin-right: 5px;
}

.chat-box-wrapper .chat-box + small {
    padding: .5rem 0 0;
    margin-left: 1.5rem;
    display: block;
    opacity: 0.6;
}

.chat-box-wrapper.chat-box-wrapper-right .chat-box + small {
    text-align: right;
    margin-right: 1.5rem;
    margin-left: 0;
}

html[dir="rtl"] .chat-box-wrapper.chat-box-wrapper-right .chat-box + small {
    text-align: left;
    margin-left: 1.5rem;
}

.chat-box {
    height: auto;
}

#discussions-list {
    max-height: 400px;
}
.message-img {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.message-img img {
    max-width: 200px;
}
@media (max-width: 860px ) {
    .avatar-icon img{
        width: 28px;
        height: 28px;
    }
    .chat-box-wrapper{
        padding: 5px;
    }
    .avatar-icon{
        width: 30px!important;
    }
    .avatar-icon div{
        display: none;
    }
    .message-img img {
        max-width: 170px;
    }
    html[dir="rtl"] .chat-box-wrapper.chat-box-wrapper-right .chat-box{
        max-width: calc(95%);
    }
}