.badge.badge-status {
    min-width: 55px;
    font-size: 12px;
    padding: 5px 15px;
}

.modal.take-action .modal-dialog {
    top: 70px;
}

.modal.take-action .modal-header {
    background: #fff;
    border-bottom: 2px solid #ebecf0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 56px;
    margin: 0;
    overflow: hidden;
    padding: 15px 20px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal.take-action .modal-header .modal-title {
    color: #172b4d;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal.take-action .modal-header .close {
    top: 0;
}

.field-group {
    box-sizing: border-box;
    clear: both;
    padding: 10px 0 10px 145px;
    position: relative;
    margin: 1px 0;
    width: 100%;
}
html[dir="rtl"] .field-group{
    padding: 10px 145px 10px 0;
}
.field-group > label {
    float: left;
    margin-left: -145px;
    padding: 5px 0 0;
    position: relative;
    text-align: right;
    width: 130px;
    color: #6b778c;
    font-weight: 500;
    font-size: 14px;
    word-wrap: break-word;
}
html[dir="rtl"] .field-group > label {
    float: right;
    margin-right: -145px;
    margin-left: 0;
    text-align: left;
}
.field-group:before {
    content: " ";
    display: table;
}

.field-group input,
.field-group > .dropdown {
    max-width: 300px;
}

.field-group > .description {
    font-size: 11px;
    line-height: 1.81818182;
    color: #6b778c;
    margin: 5px 0 0;
}

.field-group .description.text-danger {
    font-weight: 400;
}
.field-group.has-error .error-msg{
    margin-top: 5px;
    font-weight: 400;
}
.field-group .bootstrap-select{
    height: 38px;
}